<div class="be-wrapper be-fixed-sidebar">
  <%= render partial: 'admin/panel/partials/header' %>

  <%= render partial: 'admin/panel/partials/sidebar' %>

  <div class="be-content">
    <div class="page-head">
      <h2 class="page-head-title">Term conditions</h2>
      <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb page-head-nav">
          <li class="breadcrumb-item"><a href="<%= admin_panel_path %>">Home</a></li>
          <li class="breadcrumb-item"><a href="<%= admin_panel_term_conditions_path %>">Term conditions</a></li>
          <li class="breadcrumb-item active">List</li>
        </ol>
      </nav>
    </div>
    <div class="main-content container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card card-table">
            <div class="card-body">
              <div class="noSwipe">
                <table class="table table-striped table-hover be-table-responsive" id="table1">
                  <thead>
                  <tr>
                    <th>
                      <label class="custom-control custom-control-sm custom-checkbox">
                        <input class="custom-control-input" type="checkbox"><span class="custom-control-label"></span>
                      </label>
                    </th>
                    <th>Condition</th>
                    <th>Created at</th>
                    <th>Updatet at</th>
                  </tr>
                  </thead>
                  <tbody class="sortable">
                  <% @term_conditions.each do |term_condition| %>
                    <tr class="success done">
                      <td>
                        <label class="custom-control custom-control-sm custom-checkbox">
                          <input class="custom-control-input" type="checkbox"><span class="custom-control-label"></span>
                        </label>
                      </td>
                      <td class="cell-detail"><span><%= term_condition.condition %></span></td>
                      <td class="cell-detail"><span><%= get_custom_date(term_condition.created_at) %></span></td>
                      <td class="cell-detail"><span><%= get_custom_date(term_condition.updated_at) %></span></td>
                      <td class="text-right">
                        <div class="btn-group btn-hspace">
                          <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">Actions
                            <span class="icon-dropdown mdi mdi-chevron-down"></span></button>
                          <div class="dropdown-menu" role="menu">
                            <a class="dropdown-item" href="<%= edit_admin_panel_term_condition_path(term_condition) %>">Edit</a>
                          </div>
                        </div>
                      </td>
                    </tr>
                  <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= render partial: 'admin/panel/partials/navigation_bar' %>
</div>
<%= content_for :javascript do %>
  <script type="text/javascript">
    App.init();
    stop_preloader();
    $(function() {
      $('.sortable').railsSortable();
    });

    <%= render partial: 'admin/panel/partials/flash_msg' %>
  </script>
<% end %>