<div class="be-wrapper be-fixed-sidebar">
  <%= render partial: 'admin/panel/partials/header' %>

  <%= render partial: 'admin/panel/partials/sidebar' %>

  <div class="be-content">
    <div class="page-head">
      <h2 class="page-head-title">Professionals</h2>
    </div>
    <div class="main-content container-fluid">
      <div class="row">
        <div class="col-md-10">
          <div class="card">
            <div class="card-header card-header-divider">
              <div class="tools">
                <span class="icon mdi mdi-chevron-down"></span>
                <span class="icon mdi mdi-refresh-sync"></span>
                <span class="icon mdi mdi-close"></span>
              </div>
              <div class="button-toolbar d-none d-md-block" style="margin-bottom: 10px;">
                <div class="btn-group" data-chart-url="<%= pros_count_path %>" data-charts-block="prosCount">
                  <button class="btn btn-secondary chart_range" type="button">Yesterday</button>
                  <button class="btn btn-secondary chart_range" type="button">Today</button>
                  <button class="btn btn-secondary active chart_range" type="button">Last 7 Days</button>
                  <button class="btn btn-secondary chart_range" type="button">Last 30 Days</button>
                  <button class="btn btn-secondary chart_range" type="button">Last 3 months</button>
                  <button class="btn btn-secondary chart_range" type="button">Last year</button>
                  <button class="btn btn-secondary chart_range" type="button">All time</button>
                </div>
              </div>
              <span class="title">Professionals count</span>
            </div>
            <div class="card-body">
              <br>
              <div class="col-md-6" style="float: left; width: 50% !important;">
                <div class="form-group">
                  <select class="select2 chart_type" name="chart_type" style="float: left">
                    <option value="bar">Bar chart</option>
                    <option value="pie">Pie chart</option>
                  </select>
                </div>
              </div>
              <canvas id="prosCount" height="50%" width="100%"></canvas>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-10">
          <div class="card">
            <div class="card-header card-header-divider">
              <span class="title">Select professional</span>
            </div>
            <div class="card-body">
              <div class="form-group">
                <div class="col-12 col-sm-8 col-lg-6">
                  <select class="select2 master_id" id="master_id" name="master_id">
                    <% @profs.each do |prof| %>
                        <option value="<%= prof.id %>"><%= prof.name + ' ' + prof.last_name %></option>
                    <% end %>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-10">
          <div class="card">
            <div class="card-header card-header-divider">
              <div class="tools">
                <span class="icon mdi mdi-chevron-down"></span>
                <span class="icon mdi mdi-refresh-sync"></span>
                <span class="icon mdi mdi-close"></span>
              </div>
              <div class="button-toolbar d-none d-md-block" style="margin-bottom: 10px;">
                <div class="btn-group" data-chart-url="<%= accepted_orders_path %>" data-charts-block="acceptedOrders">
                  <button class="btn btn-secondary chart_range" type="button">Yesterday</button>
                  <button class="btn btn-secondary chart_range" type="button">Today</button>
                  <button class="btn btn-secondary active chart_range" type="button">Last 7 Days</button>
                  <button class="btn btn-secondary chart_range" type="button">Last 30 Days</button>
                  <button class="btn btn-secondary chart_range" type="button">Last 3 months</button>
                  <button class="btn btn-secondary chart_range" type="button">Last year</button>
                  <button class="btn btn-secondary chart_range" type="button">All time</button>
                </div>
              </div>
              <span class="title">Accepted orders count</span>
            </div>
            <div class="card-body">
              <br>
              <div class="col-md-6" style="float: left; width: 50% !important;">
                <div class="form-group">
                  <select class="select2 chart_type" name="chart_type" style="float: left">
                    <option value="bar">Bar chart</option>
                    <option value="pie">Pie chart</option>
                  </select>
                </div>
              </div>
              <canvas id="acceptedOrders" height="50%" width="100%"></canvas>
            </div>
          </div>
        </div>
        <div class="col-md-10">
          <div class="card">
            <div class="card-header card-header-divider">
              <div class="tools">
                <span class="icon mdi mdi-chevron-down"></span>
                <span class="icon mdi mdi-refresh-sync"></span>
                <span class="icon mdi mdi-close"></span>
              </div>
              <div class="button-toolbar d-none d-md-block" style="margin-bottom: 10px;">
                <div class="btn-group" data-chart-url="<%= canceled_orders_path %>" data-charts-block="canceledOrders">
                  <button class="btn btn-secondary chart_range" type="button">Yesterday</button>
                  <button class="btn btn-secondary chart_range" type="button">Today</button>
                  <button class="btn btn-secondary active chart_range" type="button">Last 7 Days</button>
                  <button class="btn btn-secondary chart_range" type="button">Last 30 Days</button>
                  <button class="btn btn-secondary chart_range" type="button">Last 3 months</button>
                  <button class="btn btn-secondary chart_range" type="button">Last year</button>
                  <button class="btn btn-secondary chart_range" type="button">All time</button>
                </div>
              </div>
              <span class="title">Canceled order's count</span>
            </div>
            <div class="card-body">
              <br>
              <div class="col-md-6" style="float: left; width: 50% !important;">
                <div class="form-group">
                  <select class="select2 chart_type" name="chart_type" style="float: left">
                    <option value="bar">Bar chart</option>
                    <option value="pie">Pie chart</option>
                  </select>
                </div>
              </div>
              <canvas id="canceledOrders" height="50%" width="100%"></canvas>
            </div>
          </div>
        </div>
        <div class="col-md-10">
          <div class="card">
            <div class="card-header card-header-divider">
              <div class="tools">
                <span class="icon mdi mdi-chevron-down"></span>
                <span class="icon mdi mdi-refresh-sync"></span>
                <span class="icon mdi mdi-close"></span>
              </div>
              <div class="button-toolbar d-none d-md-block" style="margin-bottom: 10px;">
                <div class="btn-group" data-chart-url="<%= completed_orders_path %>" data-charts-block="completedOrders">
                  <button class="btn btn-secondary chart_range" type="button">Yesterday</button>
                  <button class="btn btn-secondary chart_range" type="button">Today</button>
                  <button class="btn btn-secondary active chart_range" type="button">Last 7 Days</button>
                  <button class="btn btn-secondary chart_range" type="button">Last 30 Days</button>
                  <button class="btn btn-secondary chart_range" type="button">Last 3 months</button>
                  <button class="btn btn-secondary chart_range" type="button">Last year</button>
                  <button class="btn btn-secondary chart_range" type="button">All time</button>
                </div>
              </div>
              <span class="title">Completed order's count</span>
            </div>
            <div class="card-body">
              <br>
              <div class="col-md-6" style="float: left; width: 50% !important;">
                <div class="form-group">
                  <select class="select2 chart_type" name="chart_type" style="float: left">
                    <option value="bar">Bar chart</option>
                    <option value="pie">Pie chart</option>
                  </select>
                </div>
              </div>
              <canvas id="completedOrders" height="50%" width="100%"></canvas>
            </div>
          </div>
        </div>
        <div class="col-md-10">
          <div class="card">
            <div class="card-header card-header-divider">
              <div class="tools">
                <span class="icon mdi mdi-chevron-down"></span>
                <span class="icon mdi mdi-refresh-sync"></span>
                <span class="icon mdi mdi-close"></span>
              </div>
              <div class="button-toolbar d-none d-md-block" style="margin-bottom: 10px;">
                <div class="btn-group" data-chart-url="<%= masters_orders_by_client_type_path %>" data-charts-block="ordersByClientType">
                  <button class="btn btn-secondary chart_range" type="button">Yesterday</button>
                  <button class="btn btn-secondary chart_range" type="button">Today</button>
                  <button class="btn btn-secondary active chart_range" type="button">Last 7 Days</button>
                  <button class="btn btn-secondary chart_range" type="button">Last 30 Days</button>
                  <button class="btn btn-secondary chart_range" type="button">Last 3 months</button>
                  <button class="btn btn-secondary chart_range" type="button">Last year</button>
                  <button class="btn btn-secondary chart_range" type="button">All time</button>
                </div>
              </div>
              <span class="title">Order's count by client type</span>
            </div>
            <div class="card-body">
              <br>
              <div class="col-md-6" style="float: left; width: 50% !important;">
                <div class="form-group">
                  <select class="select2 chart_type" name="chart_type" style="float: left">
                    <option value="bar">Bar chart</option>
                    <option value="pie">Pie chart</option>
                  </select>
                </div>
              </div>
              <canvas id="ordersByClientType" height="50%" width="100%"></canvas>
            </div>
          </div>
        </div>
        <div class="col-md-10">
          <div class="card">
            <div class="card-header card-header-divider">
              <div class="tools">
                <span class="icon mdi mdi-chevron-down"></span>
                <span class="icon mdi mdi-refresh-sync"></span>
                <span class="icon mdi mdi-close"></span>
              </div>
              <div class="button-toolbar d-none d-md-block" style="margin-bottom: 10px;">
                <div class="btn-group" data-chart-url="<%= masters_orders_by_category_path %>" data-charts-block="ordersByCategory">
                  <button class="btn btn-secondary chart_range" type="button">Yesterday</button>
                  <button class="btn btn-secondary chart_range" type="button">Today</button>
                  <button class="btn btn-secondary active chart_range" type="button">Last 7 Days</button>
                  <button class="btn btn-secondary chart_range" type="button">Last 30 Days</button>
                  <button class="btn btn-secondary chart_range" type="button">Last 3 months</button>
                  <button class="btn btn-secondary chart_range" type="button">Last year</button>
                  <button class="btn btn-secondary chart_range" type="button">All time</button>
                </div>
              </div>
              <span class="title">Order's count by category</span>
            </div>
            <div class="card-body">
              <br>
              <div class="col-md-6" style="float: left; width: 50% !important;">
                <div class="form-group">
                  <select class="select2 chart_type" name="chart_type" style="float: left">
                    <option value="bar">Bar chart</option>
                    <option value="pie">Pie chart</option>
                  </select>
                </div>
              </div>
              <canvas id="ordersByCategory" height="50%" width="100%"></canvas>
            </div>
          </div>
        </div>
        <div class="col-md-10">
          <div class="card">
            <div class="card-header card-header-divider">
              <div class="tools">
                <span class="icon mdi mdi-chevron-down"></span>
                <span class="icon mdi mdi-refresh-sync"></span>
                <span class="icon mdi mdi-close"></span>
              </div>
              <div class="button-toolbar d-none d-md-block" style="margin-bottom: 10px;">
                <div class="btn-group" data-chart-url="<%= orders_by_district_path %>" data-charts-block="ordersByDistrict">
                  <button class="btn btn-secondary chart_range" type="button">Yesterday</button>
                  <button class="btn btn-secondary chart_range" type="button">Today</button>
                  <button class="btn btn-secondary active chart_range" type="button">Last 7 Days</button>
                  <button class="btn btn-secondary chart_range" type="button">Last 30 Days</button>
                  <button class="btn btn-secondary chart_range" type="button">Last 3 months</button>
                  <button class="btn btn-secondary chart_range" type="button">Last year</button>
                  <button class="btn btn-secondary chart_range" type="button">All time</button>
                </div>
              </div>
              <span class="title">Order's count by districts</span>
            </div>
            <div class="card-body">
              <div class="form-group">
                <div class="col-12 col-sm-8 col-lg-6">
                  <select class="select2 country_id" id="country_id" name="country_id">
                    <% @countries.each do |country| %>
                      <option value="<%= country.id %>"><%= country.name %></option>
                    <% end %>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <div class="col-12 col-sm-8 col-lg-6">
                  <select class="select2 cities" id="city_id" name="city_id">
                  </select>
                </div>
              </div>
              <br>
              <div class="col-md-6" style="float: left; width: 50% !important;">
                <div class="form-group">
                  <select class="select2 chart_type" name="chart_type" style="float: left">
                    <option value="bar">Bar chart</option>
                    <option value="pie">Pie chart</option>
                  </select>
                </div>
              </div>
              <canvas id="ordersByDistrict" height="50%" width="100%"></canvas>
            </div>
          </div>
        </div>
        <div class="col-md-10">
          <div class="card">
            <div class="card-header card-header-divider">
              <div class="tools">
                <span class="icon mdi mdi-chevron-down"></span>
                <span class="icon mdi mdi-refresh-sync"></span>
                <span class="icon mdi mdi-close"></span>
              </div>
              <div class="button-toolbar d-none d-md-block" style="margin-bottom: 10px;">
                <div class="btn-group" data-chart-url="<%= master_average_time_orders_path %>" data-charts-block="averageTimeOrders">
                  <button class="btn btn-secondary chart_range" type="button">Yesterday</button>
                  <button class="btn btn-secondary chart_range" type="button">Today</button>
                  <button class="btn btn-secondary active chart_range" type="button">Last 7 Days</button>
                  <button class="btn btn-secondary chart_range" type="button">Last 30 Days</button>
                  <button class="btn btn-secondary chart_range" type="button">Last 3 months</button>
                  <button class="btn btn-secondary chart_range" type="button">Last year</button>
                  <button class="btn btn-secondary chart_range" type="button">All time</button>
                </div>
              </div>
              <span class="title">Average time spent for orders by each category (minutes)</span>
            </div>
            <div class="card-body">
              <br>
              <div class="col-md-6" style="float: left; width: 50% !important;">
                <div class="form-group">
                  <select class="select2 chart_type" name="chart_type" style="float: left">
                    <option value="bar">Bar chart</option>
                    <option value="pie">Pie chart</option>
                  </select>
                </div>
              </div>
              <canvas id="averageTimeOrders" height="50%" width="100%"></canvas>
            </div>
          </div>
        </div>

        <div class="col-md-10">
          <div class="card">
            <div class="card-header card-header-divider">
              <div class="tools">
                <span class="icon mdi mdi-chevron-down"></span>
                <span class="icon mdi mdi-refresh-sync"></span>
                <span class="icon mdi mdi-close"></span>
              </div>
              <div class="button-toolbar d-none d-md-block" style="margin-bottom: 10px;">
                <div class="btn-group" data-chart-url="<%= pros_by_type_path %>" data-charts-block="mobileAndStationaryPros">
                  <button class="btn btn-secondary chart_range" type="button">Yesterday</button>
                  <button class="btn btn-secondary chart_range" type="button">Today</button>
                  <button class="btn btn-secondary active chart_range" type="button">Last 7 Days</button>
                  <button class="btn btn-secondary chart_range" type="button">Last 30 Days</button>
                  <button class="btn btn-secondary chart_range" type="button">Last 3 months</button>
                  <button class="btn btn-secondary chart_range" type="button">Last year</button>
                  <button class="btn btn-secondary chart_range" type="button">All time</button>
                </div>
              </div>
              <span class="title">Pros mobile and stationary</span>
            </div>
            <div class="card-body">
              <br>
              <div class="col-md-6" style="float: left; width: 50% !important;">
                <div class="form-group">
                  <select class="select2 chart_type" name="chart_type" style="float: left">
                    <option value="bar">Bar chart</option>
                    <option value="pie">Pie chart</option>
                  </select>
                </div>
              </div>
              <canvas id="mobileAndStationaryPros" height="50%" width="100%"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= render partial: 'admin/panel/partials/navigation_bar' %>
</div>
<%= content_for :javascript do %>
  <script type="text/javascript">
    $('select#country_id').val(null);
    $("#country_id").attr("data-placeholder","Select county");
    $("#city_id").attr("data-placeholder","Select city");
    $('select.chart_type').val(null);
    $(".chart_type").attr("data-placeholder","Select chart's type");

    $(function() {
      $('.chart_type').on('change', function(){
        chart_type = this.value;
        cardDiv = $(this).closest("div.card");
        range = cardDiv.find("button.chart_range.active").text();
        btnDiv = cardDiv.find("div.btn-group");
        url = btnDiv.data('chart-url');
        chartBlockId = btnDiv.data('charts-block');
        master_id = $('#master_id').find(":selected").val();
        city_id = $('#city_id').find(":selected").val();
        $.ajax({
          url : url,
          type : 'GET',
          data : {
            'range' : range,
            'master_id': master_id,
            'city_id': city_id
          },
          dataType:'json',
          success : function(data) {
            if(chart_type == 'bar'){
              createBarChart(data, chartBlockId);
            }else if(chart_type == 'pie'){
              createPieChart(data, chartBlockId)
            }
          },
          error : function(request,error)
          {
            console.log(error);
          }
        });
      });

      $('.chart_range').on('click', function(){
        $(this).toggleClass('active').siblings().removeClass('active');
        cardDiv = $(this).closest("div.card");
        chart_type = cardDiv.find(".chart_type").find(':selected').val();
        btnDiv = $(this).closest('div.btn-group');
        url = btnDiv.data('chart-url');
        chartBlockId = btnDiv.data('charts-block');
        range = $(this).text();
        city_id = $('#city_id').find(":selected").val();
        master_id = $('#master_id').find(":selected").val();
        $.ajax({
          url: url,
          type: 'GET',
          data: {
            'range': range,
            'master_id': master_id,
            'city_id': city_id
          },
          dataType: 'json',
          success: function(data){
            if(chart_type == 'bar'){
              createBarChart(data, chartBlockId);
            }else if(chart_type == 'pie'){
              createPieChart(data, chartBlockId)
            }else{
              createPieChart(data, chartBlockId)
            }
          }
        })
      });

      $('#country_id').on('change', function(){
        country_id = $(this).find(":selected").val();
        range_key = $('.average_cheque_range.active').text();
        createCitySelects(Number.parseInt(country_id));
      });

      $('#city_id').on('change', function(){
        city_id = $(this).find(":selected").val();
        master_id = $('#master_id').find(":selected").val();
        range_key = $(".orders_by_district_range.active").text();
        $.ajax({
          url : "<%= orders_by_district_path %>",
          type : 'GET',
          data : {
            'city_id' : city_id,
            'master_id': master_id,
            'range': range_key
          },
          dataType:'json',
          success : function(data) {
            createPieChart(data, "ordersByDistrict");
          },
          error : function(request,error)
          {
            console.log(error);
          }
        });
      });

      $('#master_id').on('change', function(){
        master_id = $(this).find(":selected").val();
        $.ajax({
          url : "<%= set_master_admin_metrics_pros_path %>",
          type : 'GET',
          data : {
            'master_id' : master_id
          },
          dataType:'json',
          success : function(data) {
              createBarChart(data[0], "canceledOrders");
              createBarChart(data[1], "completedOrders");
              createPieChart(data[2], "ordersByClientType");
              createPieChart(data[3], "ordersByCategory");
              createBarChart(data[4], "acceptedOrders");
              createPieChart(data[5], "averageTimeOrders");
          },
          error : function(request,error)
          {
            console.log(error);
          }
        });
      });

      createBarChart(gon.pros_count, "prosCount");
      createBarChart(gon.canceled_orders, "canceledOrders");
      createBarChart(gon.completed_orders, "completedOrders");
      createBarChart(gon.accepted_orders, "acceptedOrders");
      createPieChart(gon.orders_by_client_type, "ordersByClientType");
      createPieChart(gon.orders_by_category, "ordersByCategory");
      createPieChart(gon.pros_by_type, "mobileAndStationaryPros");
    });

    function createCitySelects(countryId){
      cities = gon.cities.filter(function(city){ return city.country_id == countryId });
      $("#city_id").attr("data-placeholder","Select city");
      var cityOptions = '';
      $.each(cities, function(id, city){
        $('.cities').removeAttr('disabled');
        $('.cities').html('');
        cityOptions += '<option value=' + city.id + '>' + city.name + '</option>';
      });
      $('.cities').append(cityOptions);
      $('#city_id').trigger('change');
    }

  </script>
  <%= render partial: 'admin/panel/partials/chart_functions' %>
  <script>
    $(document).ready(function () {
      App.init();
      App.formElements();
      App.dashboard();
    });
    stop_preloader();
  </script>
<% end %>