<div class="be-wrapper be-fixed-sidebar">
  <%= render partial: 'admin/panel/partials/header' %>

  <%= render partial: 'admin/panel/partials/sidebar' %>

  <div class="be-content">
    <div class="page-head">
      <h2 class="page-head-title">Admin Users</h2>
      <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb page-head-nav">
          <li class="breadcrumb-item"><a href="<%= admin_panel_path %>">Home</a></li>
          <li class="breadcrumb-item"><a href="<%= admin_panel_admin_users_path %>">Admin Users</a></li>
          <li class="breadcrumb-item active">Edit</li>
        </ol>
      </nav>
    </div>
    <div class="main-content container-fluid">
      <div class="card card-border-color card-border-color-primary">
        <div class="card-header card-header-divider">Admin user form<span class="card-subtitle">Form for create admin
            user</span></div>
        <div class="card-body">
          <%= form_for @admin_user, url: admin_panel_admin_user_path, method: :put do |f| %>
          <div class="form-group row mt-2">
            <label class="col-3 col-lg-2 col-form-label text-right" for="inputEmail">Email</label>
            <div class="col-9 col-lg-10">
              <%= f.text_field :email, class: 'form-control', required: true, id: 'inputEmail', placeholder: 'admin@example.com' %>
            </div>
          </div>
          <div class="form-group row mt-2">
            <label class="col-3 col-lg-2 col-form-label text-right">Access Items</label>
            <div class="col-9 col-lg-10">
              <%= f.select :access_items, get_collection_models, {}, {:multiple => true, :class => "select2 select2-lg category", :style => "width:450px;", required: true} %>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-3 col-lg-2 col-form-label text-right">Role</label>
            <div class="col-9 col-lg-10">
              <select class="form-control" name="[admin_user][role]" id="created_admin_user-role">
                <% AdminUser.roles.keys.each do |role| %>
                  <% if @admin_user.role.eql?(role) %>
                    <option value="<%= role %>" selected><%= role %></option>
                  <% else %>
                    <option value="<%= role %>"><%= role %></option>
                  <% end %>
                <% end %>
              </select>
            </div>
          </div>
          <div class="form-group row <%= admin_user_role_hidden(@admin_user) %>" id="created_admin_user-platform_parent">
            <label class="col-3 col-lg-2 col-form-label text-right">Platforms</label>
            <div class="col-9 col-lg-10">
              <%= f.select :platform, Company.platforms.keys, {}, class: 'form-control'  %>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-3 col-lg-2 col-form-label text-right" for="inputPassword">Password</label>
            <div class="col-9 col-lg-10">
              <%= f.password_field :password, class: 'form-control', id: 'inputPassword' %>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-3 col-lg-2 col-form-label text-right" for="inputPasswordConfirmation">Password
              Confirmation</label>
            <div class="col-9 col-lg-10">
              <%= f.password_field :password_confirmation, class: 'form-control', id: 'inputPasswordConfirmation' %>
            </div>
          </div>
          <div class="row pt-3 mt-1">
            <div class="col-sm-6 col-lg-6 pb-4 pb-lg-0">
              <label class="be-checkbox custom-control custom-checkbox">
              </label>
            </div>
            <div class="col-sm-6">
              <p class="text-right">
                <button class="btn btn-space btn-primary" type="submit">Update</button>
              </p>
            </div>
          </div>
          <%end %>
        </div>
      </div>
    </div>
  </div>
  <%= render partial: 'admin/panel/partials/navigation_bar' %>
</div>
<%= content_for :javascript do %>
<script type="text/javascript">
  App.init();
  App.formElements();

  $('#created_admin_user-role').on('change', function () {
    selected = $(this).val();

    if (selected == 'company') {
      $('#created_admin_user-platform_parent').removeClass('hidden')
    } else {
      $('#created_admin_user-platform_parent').addClass('hidden')
    }
  })

  stop_preloader();
  <% if flash['error'].present? %>
    $.gritter.add({
      title: 'Error',
      text: "<%= flash['error']%>",
      class_name: 'color danger'
    });
  <% end %>
  
  <% if flash['success'].present? %>
    $.gritter.add({
      title: 'Success',
      text: "<%= flash['success']%>",
      class_name: 'color success'
    });
  <% end %>

  <% if flash['notice'].present? %>
    $.gritter.add({
      title: 'Success',
      text: "<%= flash['notice']%>",
      class_name: 'color success'
    });
  <% end %>
</script>
<% end %>