<div class="be-wrapper be-fixed-sidebar">
  <%= render partial: 'admin/panel/partials/header' %>

  <%= render partial: 'admin/panel/partials/sidebar' %>

  <div class="be-content">
    <div class="page-head">
      <h2 class="page-head-title">Admin Users</h2>
      <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb page-head-nav">
          <li class="breadcrumb-item"><a href="<%= admin_panel_path %>">Home</a></li>
          <li class="breadcrumb-item"><a href="<%= admin_panel_admin_users_path %>">Admin Users</a></li>
          <li class="breadcrumb-item active">List</li>
        </ol>
      </nav>
    </div>
    <div class="main-content container-fluid">
<div class="row">
  <div class="col-md-12">
    <div class="card card-table">
      <%= form_tag admin_panel_admin_users_path, method: :get, id: 'admin_user_filters_form' do%>
        <div class="row table-filters-container">
          <div class="col-4 col-lg-4 table-filters pb-0 pb-xl-4 filter_blocks">
            <div class="row">
              <div class="col-12 col-lg-12 table-filters pb-0 pb-xl-5" style="padding-top: 0; padding-bottom: 0 !important;"><span class="table-filter-title email_filter">Email</span>
                <div class="filter-container">
                  <label class="control-label">Find by email:</label>
                  <div class="row">
                    <div class="col-6">
                      <%= select_tag :email_filter, options_for_select(get_filter_options, params[:email_filter]), { class: 'select2 select2-hidden-accessible email_filter' } %>
                    </div>
                    <div class="col-6">
                      <%= text_field_tag :email, params[:email], class: 'form-control form-control-sm email' %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-4 col-lg-4 table-filters pb-0 pb-xl-4 filter_blocks">
            <div class="row">
              <div class="col-12 col-lg-12 table-filters pb-0 pb-xl-5" style="padding-top: 0; padding-bottom: 0 !important;"><span class="table-filter-title role_filter">Role</span>
                <div class="filter-container">
                  <label class="control-label">Find by role:</label>
                  <div class="row">
                    <div class="col-6">
                      <%= select_tag :role, options_for_select(AdminUser.roles, params[:role]), { class: 'select2 select2-hidden-accessible role', id: 'role' } %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-lg-12 table-filters pb-0 pb-xl-5">
              <div class="filter-container">
                <div class="row">
                  <div class="col-7" style="padding-right: 0 !important;">
                  </div>
                  <div class="col-4" style="padding-right: 0 !important;">
                    <div class="custom-controls-stacked">
                      <a href="<%= new_admin_panel_admin_user_path %>" class="btn btn-space btn-secondary">New admin user</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-10 col-lg-10 table-filters pb-0 pb-xl-4 filter_buttons">
            <div class="row">
              <div class="col-12 col-lg-12 table-filters filter_blocks">
                <div class="filter-container">
                  <%= submit_tag('Filter', type: 'submit', class: 'btn btn-space btn-primary') %>
                  <%= submit_tag('Reset', type: 'cancel', class: 'btn btn-space btn-secondary reset_admin_user_filters') %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
      <div class="card-body">
        <div class="noSwipe">
          <table class="table table-striped table-hover be-table-responsive" id="table1">
            <thead>
              <tr>
                <th>
                  <label class="custom-control custom-control-sm custom-checkbox">
                    <input class="custom-control-input" type="checkbox"><span class="custom-control-label"></span>
                  </label>
                </th>
                <th>ID</th>
                <th>Email</th>
                <th>Role</th>
              </tr>
            </thead>
            <tbody>
              <% @admin_users.each do |item| %>
              <tr class="success done">
                <td>
                  <label class="custom-control custom-control-sm custom-checkbox">
                    <input class="custom-control-input" type="checkbox"><span class="custom-control-label"></span>
                  </label>
                </td>
                <td class="cell-detail">
                  <span><%= link_to item.id, admin_panel_admin_user_path(item) %></span>
                </td>
                <td class="cell-detail"><span>
                    <%= item.email %></span></td>
                <td class="cell-detail" data-project="Bootstrap"><span>
                    <%= item.role %></span><span class="cell-detail-description"></span></td>
                <td class="text-right">
                  <div class="btn-group btn-hspace">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">Actions
                      <span class="icon-dropdown mdi mdi-chevron-down"></span></button>
                    <div class="dropdown-menu" role="menu">
                      <a class="dropdown-item" href="<%= admin_panel_admin_user_path(item) %>">Show</a>
                      <a class="dropdown-item" href="<%= edit_admin_panel_admin_user_path(item)%>">Edit</a>
                      <a class="dropdown-item" href="<%= admin_panel_admin_user_path(item) %>" data-method="delete" data-confirm="Are you sure?">Delete</a>
                    </div>
                  </div>
                </td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
    </div>
  </div>
  <%= render partial: 'admin/panel/partials/navigation_bar' %>
</div>
<%= content_for :javascript do %>
<script type="text/javascript">
  App.init();
  App.formElements();
  stop_preloader();

  $('.reset_admin_user_filters').on('click', function(){
    $('#admin_user_filters_form')[0].reset();
    window.location.href = '/admin/panel/admin_users'
  });

  <% unless params[:role].present? %>
    $('#role').val('').trigger('change');
  <% end %>

  <%= render partial: 'admin/panel/partials/flash_msg' %>
</script>
<% end %>