<div class="be-wrapper be-fixed-sidebar">
  <%= render partial: 'admin/panel/partials/header' %>

  <%= render partial: 'admin/panel/partials/sidebar' %>

  <div class="be-content">
    <div class="page-head">
      <h2 class="page-head-title">Admin Users</h2>
      <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb page-head-nav">
          <li class="breadcrumb-item"><a href="<%= admin_panel_path %>">Home</a></li>
          <li class="breadcrumb-item"><a href="<%= admin_panel_admin_users_path %>">Admin Users</a></li>
          <li class="breadcrumb-item active">Show</li>
        </ol>
      </nav>
    </div>
    <div class="main-content container-fluid">
<div class="user-profile">
  <div class="row">
    <div class="col-lg-10">
      <div class="user-info-list card">
        <div class="card-header card-header-divider">Admin user
          <span class="card-subtitle">
            <div class="icon-container">
              <a href="<%= edit_admin_panel_admin_user_path(@admin_user)%>">
                <div class="icon"><span class="mdi mdi-edit"></span></div>
                <span class="icon-class">Edit</span>
              </a>
            </div>
          </span>
        </div>
        <div class="card-body">
          <table class="no-border no-strip skills">
            <tbody class="no-border-x no-border-y">
              <tr>
                <td class="icon"><span class="mdi mdi-case"></span></td>
                <td class="item">Email<span class="icon s7-portfolio"></span></td>
                <td><%= @admin_user.email%></td>
              </tr>
              <tr>
                <td class="icon"><span class="mdi mdi-cake"></span></td>
                <td class="item">Role<span class="icon s7-gift"></span></td>
                <td><%= @admin_user.role%></td>
              </tr>
              <% if @admin_user.company? %>
                <tr>
                  <td class="icon"><span class="mdi mdi-pin"></span></td>
                  <td class="item">Platform<span class="icon s7-global"></span></td>
                  <td><%= @admin_user.platform%></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    
  </div>
  
</div>
    </div>
  </div>
  <%= render partial: 'admin/panel/partials/navigation_bar' %>
</div>
<%= content_for :javascript do %>
<script type="text/javascript">
  App.init();
  App.formElements();
  // App.tableFilters();
  stop_preloader();

  <%= render partial: 'admin/panel/partials/flash_msg' %>
</script>
<% end %>