<div class="be-wrapper be-fixed-sidebar">
  <%= render partial: 'admin/panel/partials/header' %>

  <%= render partial: 'admin/panel/partials/sidebar' %>

  <div class="be-content">
    <div class="page-head">
      <h2 class="page-head-title">Devices</h2>
      <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb page-head-nav">
          <li class="breadcrumb-item"><a href="<%= admin_panel_path %>">Home</a></li>
          <li class="breadcrumb-item"><a href="<%= admin_panel_banners_path %>">Devices</a></li>
          <li class="breadcrumb-item active">List</li>
        </ol>
      </nav>
    </div>
    <div class="main-content container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card card-table">
            <%= form_tag admin_panel_devices_path, method: :get, id: 'device_filters_form' do%>
              <div class="row table-filters-container">
                <div class="col-4 col-lg-4 table-filters pb-0 pb-xl-4 filter_blocks">
                  <div class="row">
                    <div class="col-12 col-lg-12 table-filters pb-0 pb-xl-5" style="padding-top: 0; padding-bottom: 0 !important;"><span class="table-filter-title title_filter">App</span>
                      <div class="filter-container">
                        <label class="control-label">Find by app:</label>
                        <div class="row">
                          <div class="col-12">
                             <%= select_tag :app, options_for_select([['Client', 'client'], ['Pro', 'pro']], params[:app]), { class: 'select2 select2-hidden-accessible app', id: 'app' } %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-4 col-lg-4 table-filters pb-0 pb-xl-4 filter_blocks">
                  <div class="row">
                    <div class="col-12 col-lg-12 table-filters pb-0 pb-xl-5" style="padding-top: 0; padding-bottom: 0 !important;"><span class="table-filter-title title_filter">Id registration firebase</span>
                      <div class="filter-container">
                        <label class="control-label">Find by id registration firebase:</label>
                        <div class="row">
                          <div class="col-6">
                            <%= select_tag :id_registration_firebase_filter, options_for_select(get_filter_options, params[:id_registration_firebase_filter]), { class: 'select2 select2-hidden-accessible id_registration_firebase_filter' } %>
                          </div>
                          <div class="col-6">
                            <%= text_field_tag :id_registration_firebase, params[:id_registration_firebase], class: 'form-control form-control-sm id_registration_firebase' %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-4 col-lg-4 table-filters pb-0 pb-xl-4 filter_blocks">
                  <div class="row">
                    <div class="col-12 col-lg-12 table-filters pb-0 pb-xl-5" style="padding-top: 0; padding-bottom: 0 !important;"><span class="table-filter-title title_filter">Token client</span>
                      <div class="filter-container">
                        <label class="control-label">Find by token client:</label>
                        <div class="row">
                          <div class="col-6">
                            <%= select_tag :token_client_id_filter, options_for_select(get_filter_options, params[:token_client_id_filter]), { class: 'select2 select2-hidden-accessible token_client_id_filter' } %>
                          </div>
                          <div class="col-6">
                            <%= text_field_tag :token_client_id, params[:token_client_id], class: 'form-control form-control-sm token_client_id' %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-4 col-lg-4 table-filters pb-0 pb-xl-4 filter_blocks">
                  <div class="row">
                    <div class="col-12 col-lg-12 table-filters pb-0 pb-xl-5" style="padding-top: 0; padding-bottom: 0 !important;"><span class="table-filter-title title_filter">Platform</span>
                      <div class="filter-container">
                        <label class="control-label">Find by platform:</label>
                        <div class="row">
                          <div class="col-12">
                             <%= select_tag :platform, options_for_select(['IOS', 'android'], params[:platform]), { class: 'select2 select2-hidden-accessible platform', id: 'platform' } %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-4 col-lg-4 table-filters pb-0 pb-xl-4 filter_blocks">
                  <div class="row">
                    <div class="col-12 col-lg-12 table-filters pb-0 pb-xl-5" style="padding-top: 0; padding-bottom: 0 !important;"><span class="table-filter-title title_filter">Client</span>
                      <div class="filter-container">
                        <label class="control-label">Find by client:</label>
                        <div class="row">
                          <div class="col-12">
                            <%= select_tag :client_id, options_for_select(User::Client.all.map{ |client| [client.name, client.id] }, params[:client_id]), { class: 'select2 select2-hidden-accessible client_id', id: 'client_id' } %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-4 col-lg-4 table-filters pb-0 pb-xl-4 filter_blocks">
                  <div class="row">
                    <div class="col-12 col-lg-12 table-filters pb-0 pb-xl-5" style="padding-top: 0; padding-bottom: 0 !important;"><span class="table-filter-title title_filter">Pro</span>
                      <div class="filter-container">
                        <label class="control-label">Pro:</label>
                        <div class="row">
                          <div class="col-12">
                            <%= select_tag :master_id, options_for_select(User::ServiceMan.all.map{ |pro| [pro.name, pro.id] }, params[:master_id]), { class: 'select2 select2-hidden-accessible master_id', id: 'master_id' } %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-lg-12 table-filters pb-0 pb-xl-4 filter_buttons">
                  <div class="row">
                    <div class="col-12 col-lg-12 table-filters filter_blocks">
                      <div class="filter-container">
                        <%= submit_tag('Filter', type: 'submit', class: 'btn btn-space btn-primary') %>
                        <%= submit_tag('Reset', type: 'cancel', class: 'btn btn-space btn-secondary reset_device_filters') %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
            <div class="card-body">
              <div class="noSwipe">
                <table class="table table-striped table-hover be-table-responsive" id="table1">
                  <thead>
                  <tr>
                    <th>
                      <label class="custom-control custom-control-sm custom-checkbox">
                        <input class="custom-control-input" type="checkbox"><span class="custom-control-label"></span>
                      </label>
                    </th>
                    <th>Id</th>
                    <th>App</th>
                    <th>Token client id</th>
                    <th>Platform</th>
                    <th>Client</th>
                    <th>Pro</th>
                  </tr>
                  </thead>
                  <tbody>
                  <% @devices.each do |device| %>
                    <tr class="success done">
                      <td>
                        <label class="custom-control custom-control-sm custom-checkbox">
                          <input class="custom-control-input" type="checkbox"><span class="custom-control-label"></span>
                        </label>
                      </td>
                      <td class="cell-detail"><span><a href="<%= admin_panel_device_path(device.id) %>"><%= device.id %></a></span></td>
                      <td class="cell-detail"><span><%= device.app %></span></td>
                      <td class="cell-detail"><span><%= device.token_client_id %></span></td>
                      <td class="cell-detail"><span><%= device.platform %></span></td>
                      <td class="cell-detail"><span><%= link_to device.client.name, admin_panel_client_path(device.client) if device.client.present? %></span></td>
                      <td class="cell-detail"><span><%= link_to device.master.name, admin_panel_pro_path(device.master) if device.master.present? %></span></td>
                      <td class="text-right">
                        <div class="btn-group btn-hspace">
                          <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">Actions
                            <span class="icon-dropdown mdi mdi-chevron-down"></span></button>
                          <div class="dropdown-menu" role="menu">
                            <a class="dropdown-item" href="<%= admin_panel_device_path(device) %>">Show</a>
                            <a class="dropdown-item" href="<%= admin_panel_device_path(device) %>" data-method="delete" data-confirm="Are you sure?">Delete</a>
                          </div>
                        </div>
                      </td>
                    </tr>
                  <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5"></div>
        <div class="col-md-7">
          <div class="card" style="float: right">
            <div class="card-header"></div>
            <div class="card-body">
              <%= paginate @devices %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= render partial: 'admin/panel/partials/navigation_bar' %>
</div>
<%= content_for :javascript do %>
  <script type="text/javascript">
    App.init();
    App.formElements();
    stop_preloader();

    $('.reset_device_filters').on('click', function(){
      $('#device_filters_form')[0].reset();
      window.location.href = '/admin/panel/devices'
    });

    <% unless params[:client_id] %>
      $('#client_id').val('').trigger('change');
    <% end %>

    <% unless params[:master_id] %>
      $('#master_id').val('').trigger('change');
    <% end %>

    <% unless params[:platform] %>
      $('#platform').val('').trigger('change');
    <% end %>

    <% unless params[:app] %>
      $('#app').val('').trigger('change');
    <% end %>

    <%= render partial: 'admin/panel/partials/flash_msg' %>
  </script>
<% end %>