<div class="contract_date">
  <% uniq_id = rand(0..100000000) %>
  <div class="form-group row">
    <label class="col-12 col-sm-3 col-form-label text-sm-right" for="inputEmail">Order Date</label>
    <div class="col-12 col-sm-7 col-md-5 col-lg-4 col-xl-3">
      <%= f.number_field :order_date, class: 'form-control', in: (1..28), step: 1 %>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-12 col-sm-3 col-form-label text-sm-right" for="inputEmail">Team</label>
    <div class="col-12 col-sm-7 col-md-5 col-lg-4 col-xl-3">
      <%= f.select(:team_id, Team.all.collect {|p| [ p.title, p.id ] }, {include_blank: false}, {class: 'select2 select2-lg select_team'}) %>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-12 col-sm-3 col-form-label text-sm-right" for="inputEmail">Office</label>
    <div class="col-12 col-sm-7 col-md-5 col-lg-4 col-xl-3">
      <%= f.select(:office_id, @contract.client.offices.all.collect {|p| [ p.title, p.id ] }, {include_blank: false}, {class: 'select2 select2-lg select_office'}) %>
      <%= f.hidden_field :_destroy, as: :hidden %>
      <%= link_to 'Remove', '#', class: 'btn btn-space btn-primary remove_record' %>
    </div>
  </div>


</div>