<div class="be-wrapper be-fixed-sidebar">
  <%= render partial: 'admin/panel/partials/header' %>

  <%= render partial: 'admin/panel/partials/sidebar' %>

  <div class="be-content">
    <div class="page-head">
      <h2 class="page-head-title">Contract</h2>
      <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb page-head-nav">
          <li class="breadcrumb-item"><a href="<%= admin_panel_path %>">Home</a></li>
          <li class="breadcrumb-item"><a href="<%= admin_panel_path %>">Contract</a></li>
          <li class="breadcrumb-item active">Create</li>
        </ol>
      </nav>
    </div>
    <div class="main-content container-fluid">
      <div class="card card-border-color card-border-color-primary">
        <div class="card-header card-header-divider">Contract form<span class="card-subtitle">Form for create contract</span></div>
        <div class="card-body">
          <%= form_for @contract, url: admin_panel_client_contract_index_path, method: :post do |f| %>
            <%= f.hidden_field :client_id, value: @contract.client_id %>

              <div class="form-group row">
                <label class="col-12 col-sm-3 col-form-label text-sm-right">Segment</label>
                <div class="col-12 col-sm-8 col-lg-6">
                  <select class="select2 select2-lg category" name="contract[segment_id]">
                    <option value=""></option>
                    <% Segment.all.each do |segment| %>
                      <% if @contract.segment_id.eql?(segment.id)%>
                        <option value="<%= segment.id %>" selected><%= segment.title %></option>
                      <% else %>
                        <option value="<%= segment.id %>"><%= segment.title %></option>
                      <% end %>
                    <% end %>
                  </select>
                </div>
              </div>

              <div class="form-group row">
                <label class="col-12 col-sm-3 col-form-label text-sm-right" for="inputEmail">Address</label>
                <div class="col-12 col-sm-7 col-md-5 col-lg-4 col-xl-3">
                  <%= f.text_area :address, class: 'form-control' %>
                </div>
              </div>

              <div class="form-group row">
                <label class="col-12 col-sm-3 col-form-label text-sm-right">Services</label>
                <div class="col-12 col-sm-8 col-lg-6">
                  <%= f.select :service_ids, Service.visible.map { |service| ["#{service.category.title}\n#{service.subcategory.title}\n#{service.short_title}", service.id] }, {}, {:multiple => true, :class => "select2 select2-lg category", :style => "width:450px;" } %>
                </div>
              </div>

              <div class="form-group row">
                <label class="col-12 col-sm-3 col-form-label text-sm-right"> Expiration Date </label>
                <div class="col-12 col-sm-7 col-md-5 col-lg-4 col-xl-3">
                  <div class="input-group date exp_date_datetimepicker">
                    <%= f.text_field :expiration_date, class: 'form-control', size: 16 %>
                    <div class="input-group-append">
                      <button class="btn btn-primary"><i class="icon-th mdi mdi-calendar"></i></button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-12 col-sm-3 col-form-label text-sm-right"> Order Time </label>
                <div class="col-12 col-sm-7 col-md-5 col-lg-4 col-xl-3">
                  <div class="input-group date datetimepicker" data-min-view="2" data-date-format="yyyy-mm-dd">
                    <%= f.text_field :order_time, class: 'form-control', size: 16 %>
                    <div class="input-group-append">
                      <button class="btn btn-primary"><i class="icon-th mdi mdi-calendar"></i></button>
                    </div>
                  </div>
                </div>
              </div>

            <%= f.fields_for :contract_dates do |t|%>
              <div id="contract_dates">
                <%= render 'contract_date', f: t %>
              </div>
            <% end %>

            <div class="row pt-3 mt-1">
              <div class="col-12 col-sm-7 col-md-5 col-lg-4 col-xl-3">
                <label class="be-checkbox custom-control custom-checkbox">
                </label>
              </div>
              <div class="col-sm-6">
                <p class="text-right">
                  <%= link_to_add_roww('Add dates', f, :contract_dates, class: 'btn btn-primary') %>
                </p>
              </div>
            </div>

            <div class="row pt-3 mt-1">
              <div class="col-12 col-sm-7 col-md-5 col-lg-4 col-xl-3">
                <label class="be-checkbox custom-control custom-checkbox">
                </label>
              </div>
              <div class="col-sm-6">
                <p class="text-right">
                  <button class="btn btn-space btn-primary" type="submit">Save</button>
                </p>
              </div>
            </div>
          <%end %>
        </div>
      </div>
    </div>
  </div>
  <%= render partial: 'admin/panel/partials/navigation_bar' %>
</div>
<%= content_for :javascript do %>
<script type="text/javascript">
  App.init();
  App.formElements();

  $(document).on('click', '.remove_record', function(event) {
    $(this).prev('input[type=hidden]').val('1');
    $(this).closest('.office_block').hide();
    return event.preventDefault();
  });

  $(".exp_date_datetimepicker").datetimepicker({
      autoclose: true,
      componentIcon: '.mdi.mdi-calendar',
      format: 'yyyy-mm-dd',
      startDate: moment().format("YYYY-MM-DD"),
      minView: 2,
      navIcons:{
        rightIcon: 'mdi mdi-chevron-right',
        leftIcon: 'mdi mdi-chevron-left'
      }
  });

  $(document).on('click', '.add_fields', function(event) {
    var regexp, time;
    time = new Date().getTime();
    regexp = new RegExp($(this).data('id'), 'g');
    $('#contract_dates').append($(this).data('fields').replace(regexp, time));
    return event.preventDefault();
  });

  stop_preloader();

  <%= render partial: 'admin/panel/partials/flash_msg' %>
</script>
<% end %>