<div class="be-wrapper be-fixed-sidebar">
  <%= render partial: 'admin/panel/partials/header' %>

  <%= render partial: 'admin/panel/partials/sidebar' %>

  <div class="be-content">
    <div class="page-head">
      <h2 class="page-head-title">Tariff plans</h2>
      <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb page-head-nav">
          <li class="breadcrumb-item"><a href="<%= admin_panel_path %>">Home</a></li>
          <li class="breadcrumb-item"><a href="<%= admin_panel_tariff_plans_path %>">Tariff plans</a></li>
          <li class="breadcrumb-item active">List</li>
        </ol>
      </nav>
    </div>
    <div class="main-content container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card card-table">
            <%= form_tag admin_panel_tariff_plans_path, method: :get, id: 'tariff_plan_filters_form' do%>
              <div class="row table-filters-container">
                <div class="col-4 col-lg-4 table-filters pb-0 pb-xl-4 filter_blocks">
                  <div class="row">
                    <div class="col-12 col-lg-12 table-filters pb-0 pb-xl-5" style="padding-top: 0; padding-bottom: 0 !important;"><span class="table-filter-title title_filter">Plan</span>
                      <div class="filter-container">
                        <label class="control-label">Find by plan:</label>
                        <div class="row">
                          <div class="col-6">
                            <%= select_tag :plan_filter, options_for_select(get_filter_options, params[:plan_filter]), { class: 'select2 select2-hidden-accessible plan_filter' } %>
                          </div>
                          <div class="col-6">
                            <%= text_field_tag :plan, params[:plan], class: 'form-control form-control-sm' %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-4 col-lg-4 table-filters pb-0 pb-xl-4 filter_blocks">
                  <div class="row">
                    <div class="col-12 col-lg-12 table-filters pb-0 pb-xl-5" style="padding-top: 0; padding-bottom: 0 !important;"><span class="table-filter-title title_filter">Plan value</span>
                      <div class="filter-container">
                        <label class="control-label">Find by plan value:</label>
                        <div class="row">
                          <div class="col-6">
                            <%= select_tag :plan_value_filter, options_for_select(get_number_filter_options, params[:plan_value_filter]), { class: 'select2 select2-hidden-accessible plan_value_filter' } %>
                          </div>
                          <div class="col-6">
                            <%= text_field_tag(:plan_value, params[:plan_value], class: 'form-control form-control-sm plan_value') %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-lg-12 table-filters pb-0 pb-xl-4 filter_buttons">
                  <div class="row">
                    <div class="col-12 col-lg-12 table-filters filter_blocks">
                      <div class="filter-container">
                        <%= submit_tag('Filter', type: 'submit', class: 'btn btn-space btn-primary') %>
                        <%= submit_tag('Reset', type: 'cancel', class: 'btn btn-space btn-secondary reset_tariff_plan_filters') %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
            <div class="card-body">
              <div class="noSwipe">
                <table class="table table-striped table-hover be-table-responsive" id="table1">
                  <thead>
                  <tr>
                    <th>
                      <label class="custom-control custom-control-sm custom-checkbox">
                        <input class="custom-control-input" type="checkbox"><span class="custom-control-label"></span>
                      </label>
                    </th>
                    <th>Id</th>
                    <th>Plan</th>
                    <th>Plan value</th>
                    <th>Created at</th>
                    <th>Updated at</th>
                  </tr>
                  </thead>
                  <tbody>
                  <% @tariff_plans.each do |tariff_plan| %>
                    <tr class="success done">
                      <td>
                        <label class="custom-control custom-control-sm custom-checkbox">
                          <input class="custom-control-input" type="checkbox"><span class="custom-control-label"></span>
                        </label>
                      </td>
                      <td class="cell-detail"><span><a href="<%= admin_panel_tariff_plan_path(tariff_plan.id) %>"><%= tariff_plan.id %></a></span></td>
                      <td class="cell-detail"><span><%= tariff_plan.plan %></span></td>
                      <td class="cell-detail"><span><%= tariff_plan.plan_value %></span></td>
                      <td class="cell-detail"><span><%= get_custom_date(tariff_plan.created_at) %></span></td>
                      <td class="cell-detail"><span><%= get_custom_date(tariff_plan.updated_at) %></span></td>
                      <td class="text-right">
                        <div class="btn-group btn-hspace">
                          <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">Actions
                            <span class="icon-dropdown mdi mdi-chevron-down"></span></button>
                          <div class="dropdown-menu" role="menu">
                            <a class="dropdown-item" href="<%= admin_panel_tariff_plan_path(tariff_plan) %>">Show</a>
                            <a class="dropdown-item" href="<%= edit_admin_panel_tariff_plan_path(tariff_plan) %>">Edit</a>
                            <a class="dropdown-item" href="<%= admin_panel_tariff_plan_path(tariff_plan) %>" data-method="delete" data-confirm="Are you sure?">Delete</a>
                          </div>
                        </div>
                      </td>
                    </tr>
                  <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= render partial: 'admin/panel/partials/navigation_bar' %>
</div>
<%= content_for :javascript do %>
  <script type="text/javascript">
    App.init();
    App.formElements();
    stop_preloader();

    $('.reset_tariff_plan_filters').on('click', function(){
      $('#tariff_plan_filters_form')[0].reset();
      window.location.href = '/admin/panel/tariff_plans'
    });
    <%= render partial: 'admin/panel/partials/flash_msg' %>
  </script>
<% end %>