<% @pros.each do |pro| %>
  <tr class="success done">
    <td>
      <label class="custom-control custom-control-sm custom-checkbox">
        <input class="custom-control-input" type="checkbox"><span class="custom-control-label"></span>
      </label>
    </td>
    <td class="cell-detail"><span><a href="<%= admin_panel_pro_path(pro.id) %>">
                            <%= pro.id %></a></span><span class="cell-detail-description"></span></td>
    <td class="cell-detail"><span>
                          <%= pro.email %></span><span class="cell-detail-description"></span></td>
    <td class="cell-detail" data-project="Bootstrap"><span>
                          <%= pro.name %></span><span class="cell-detail-description"></span></td>
    <td class="cell-detail" data-project="Bootstrap"><span>
                          <%= pro.last_name %></span><span class="cell-detail-description"></span></td>
    <td class="cell-detail" data-project="Bootstrap"><span>
                          <%= pro.phone_number %></span><span class="cell-detail-description"></span></td>
    <td class="cell-detail" data-project="Bootstrap"><span>
                          <%= pro.mobile? ? 'Yes' : 'No' %></span><span class="cell-detail-description"></span></td>
    <td class="text-right">
      <div class="btn-group btn-hspace">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">Actions
          <span class="icon-dropdown mdi mdi-chevron-down"></span></button>
        <div class="dropdown-menu" role="menu">
          <a class="dropdown-item" href="<%= admin_panel_pro_path(pro.id) %>">Show</a>
          <a class="dropdown-item" href="<%= edit_admin_panel_pro_path(pro.id) %>">Edit</a>
        </div>
      </div>
    </td>
  </tr>
<% end %>