<div class="be-wrapper be-fixed-sidebar">
  <%= render partial: 'admin/panel/partials/header' %>

  <%= render partial: 'admin/panel/partials/sidebar' %>

  <div class="be-content">
    <div class="page-head">
      <h2 class="page-head-title">Individual clients</h2>
    </div>
    <div class="main-content container-fluid">
      <div class="row">
        <div class="col-12 col-lg-6 col-xl-3">
          <div class="widget widget-tile">
            <div class="chart sparkline" id="spark1"></div>
            <div class="data-info">
              <div class="desc">New Users <br> for the last month</div>
              <div class="value">
                <span class="indicator indicator-equal mdi mdi-chevron-right"></span>
                <span class="number" data-toggle="counter" data-end="<%= @users_count %>">0</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-6 col-xl-3">
          <div class="widget widget-tile">
            <div class="chart sparkline" id="spark2"></div>
            <div class="data-info">
              <div class="desc">New orders <br> for the last month</div>
              <div class="value">
                <span class="indicator indicator-positive mdi mdi-chevron-up"></span>
                <span class="number" data-toggle="counter" data-end="<%= @orders_count %>" data-suffix="">0</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="widget widget-fullwidth be-loading">
            <div class="widget-head">
              <div class="tools">
                <div class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown">
                    <span class="icon mdi mdi-more-vert d-inline-block d-md-none"></span>
                  </a>
                  <div class="dropdown-menu" role="menu">
                    <a class="dropdown-item range" href="#">Yesterday</a>
                    <a class="dropdown-item range" href="#">Last 7 Days</a>
                    <a class="dropdown-item range" href="#">Last 30 Days</a>
                    <a class="dropdown-item range" href="#">All time</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item range" href="#">Today</a>
                  </div>
                </div>
                <span class="icon mdi mdi-chevron-down"></span>
                <span class="icon toggle-loading mdi mdi-refresh-sync"></span>
                <span class="icon mdi mdi-close"></span>
              </div>
              <div class="button-toolbar d-none d-md-block">
                <div class="btn-group">
                  <button class="btn btn-secondary range" type="button">Yesterday</button>
                  <button class="btn btn-secondary range" type="button">Today</button>
                  <button class="btn btn-secondary active range" type="button">Last 7 Days</button>
                  <button class="btn btn-secondary range" type="button">Last 30 Days</button>
                  <button class="btn btn-secondary range" type="button">Last 3 months</button>
                  <button class="btn btn-secondary range" type="button">Last year</button>
                </div>
              </div>
              <span class="title">Orders</span>
            </div>
            <div class="widget-chart-container">
              <br>
              <div class="col-md-6" style="float: left; width: 50% !important;">
                <div class="form-group">
                  <select class="select2 client_id" id="client_id" name="client_id" style="float: left">
                    <% @users.each do |user| %>
                      <option value="<%= user.id %>"><%= "#{user.name}" "#{user.last_name}" " #{user.email}" %></option>
                    <% end %>
                  </select>
                </div>
              </div>
              <div style="float: left; width: 50% !important;" class="col-md-3">
                <button class="btn btn-secondary remove_client_id" type="button">Remove selected client</button>
              </div>
              <div id="grid-1-1" class="last_n_days">
                <canvas id="lineChart"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
      <input type="hidden" name="range" id="range_hidden">
      <div class="row">
        <div class="col-md-10">
          <div class="card">
            <div class="card-header card-header-divider">
              <div class="tools">
                <span class="icon mdi mdi-chevron-down"></span>
                <span class="icon mdi mdi-refresh-sync"></span>
                <span class="icon mdi mdi-close"></span>
              </div>
              <div class="button-toolbar d-none d-md-block" style="margin-bottom: 10px;">
                <div class="btn-group" data-chart-url="<%= created_order_by_platform_path %>" data-charts-block="barOrderByPlatform">
                  <button class="btn btn-secondary chart_range" type="button">Yesterday</button>
                  <button class="btn btn-secondary chart_range" type="button">Today</button>
                  <button class="btn btn-secondary active chart_range" type="button">Last 7 Days</button>
                  <button class="btn btn-secondary chart_range" type="button">Last 30 Days</button>
                  <button class="btn btn-secondary chart_range" type="button">Last 3 months</button>
                  <button class="btn btn-secondary chart_range" type="button">Last year</button>
                  <button class="btn btn-secondary chart_range" type="button">All time</button>
                </div>
              </div>
              <span class="title">Created order by platform %</span>
            </div>
            <div class="card-body">
              <br>
              <div class="col-md-6" style="float: left; width: 50% !important;">
                <div class="form-group">
                  <select class="select2 chart_type" name="chart_type" style="float: left">
                    <option value="bar">Bar chart</option>
                    <option value="pie">Pie chart</option>
                  </select>
                </div>
              </div>
              <canvas id="barOrderByPlatform" height="50%" width="100%"></canvas>
            </div>
          </div>
        </div>
        <div class="col-md-10">
          <div class="card">
            <div class="card-header card-header-divider">
              <div class="tools">
                <span class="icon mdi mdi-chevron-down"></span>
                <span class="icon mdi mdi-refresh-sync"></span>
                <span class="icon mdi mdi-close"></span>
              </div>
              <div class="button-toolbar d-none d-md-block" style="margin-bottom: 10px;">
                <div class="btn-group" data-chart-url="<%= clients_by_type_path %>" data-charts-block="barClientsByType">
                  <button class="btn btn-secondary chart_range" type="button">Yesterday</button>
                  <button class="btn btn-secondary chart_range" type="button">Today</button>
                  <button class="btn btn-secondary active chart_range" type="button">Last 7 Days</button>
                  <button class="btn btn-secondary chart_range" type="button">Last 30 Days</button>
                  <button class="btn btn-secondary chart_range" type="button">Last 3 months</button>
                  <button class="btn btn-secondary chart_range" type="button">Last year</button>
                  <button class="btn btn-secondary chart_range" type="button">All time</button>
                </div>
              </div>
              <span class="title">Number of clients grouped by type</span>
            </div>
            <div class="card-body">
              <br>
              <div class="col-md-6" style="float: left; width: 50% !important;">
                <div class="form-group">
                  <select class="select2 chart_type" name="chart_type" style="float: left">
                    <option value="bar">Bar chart</option>
                    <option value="pie">Pie chart</option>
                  </select>
                </div>
              </div>
              <canvas id="barClientsByType" height="50%" width="100%"></canvas>
            </div>
          </div>
        </div>
        <div class="col-md-10">
          <div class="card">
            <div class="card-header card-header-divider">
              <div class="tools">
                <span class="icon mdi mdi-chevron-down"></span>
                <span class="icon mdi mdi-refresh-sync"></span>
                <span class="icon mdi mdi-close"></span>
              </div>
              <div class="button-toolbar d-none d-md-block" style="margin-bottom: 10px;">
                <div class="btn-group" data-chart-url="<%= clients_by_gender_path %>" data-charts-block="clientsByGender">
                  <button class="btn btn-secondary chart_range" type="button">Yesterday</button>
                  <button class="btn btn-secondary chart_range" type="button">Today</button>
                  <button class="btn btn-secondary active chart_range" type="button">Last 7 Days</button>
                  <button class="btn btn-secondary chart_range" type="button">Last 30 Days</button>
                  <button class="btn btn-secondary chart_range" type="button">Last 3 months</button>
                  <button class="btn btn-secondary chart_range" type="button">Last year</button>
                  <button class="btn btn-secondary chart_range" type="button">All time</button>
                </div>
              </div>
              <span class="title">Client's count by gender</span>
            </div>
            <div class="card-body">
              <br>
              <div class="col-md-6" style="float: left; width: 50% !important;">
                <div class="form-group">
                  <select class="select2 chart_type" name="chart_type" style="float: left">
                    <option value="bar">Bar chart</option>
                    <option value="pie">Pie chart</option>
                  </select>
                </div>
              </div>
              <canvas id="clientsByGender" height="50%" width="100%"></canvas>
            </div>
          </div>
        </div>
        <div class="col-md-10">
          <div class="card">
            <div class="card-header card-header-divider">
              <div class="tools">
                <span class="icon mdi mdi-chevron-down"></span>
                <span class="icon mdi mdi-refresh-sync"></span>
                <span class="icon mdi mdi-close"></span>
              </div>
              <div class="button-toolbar d-none d-md-block" style="margin-bottom: 10px;">
                <div class="btn-group" data-chart-url="<%= clients_by_age_path %>" data-charts-block="clientsByAge">
                  <button class="btn btn-secondary chart_range" type="button">Yesterday</button>
                  <button class="btn btn-secondary chart_range" type="button">Today</button>
                  <button class="btn btn-secondary active chart_range" type="button">Last 7 Days</button>
                  <button class="btn btn-secondary chart_range" type="button">Last 30 Days</button>
                  <button class="btn btn-secondary chart_range" type="button">Last 3 months</button>
                  <button class="btn btn-secondary chart_range" type="button">Last year</button>
                  <button class="btn btn-secondary chart_range" type="button">All time</button>
                </div>
              </div>
              <span class="title">Client's count by age</span>
            </div>
            <div class="card-body">
              <br>
              <div class="col-md-6" style="float: left; width: 50% !important;">
                <div class="form-group">
                  <select class="select2 chart_type" name="chart_type" style="float: left">
                    <option value="bar">Bar chart</option>
                    <option value="pie">Pie chart</option>
                  </select>
                </div>
              </div>
              <canvas id="clientsByAge" height="50%" width="100%"></canvas>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-10">
          <div class="card">
            <div class="card-header card-header-divider">
              <div class="tools">
                <span class="icon mdi mdi-chevron-down"></span>
                <span class="icon mdi mdi-refresh-sync"></span>
                <span class="icon mdi mdi-close"></span>
              </div>
              <div class="button-toolbar d-none d-md-block" style="margin-bottom: 10px;">
                <div class="btn-group" data-chart-url="<%= percentage_orders_and_categories_path %>" data-charts-block="pieChartCategory">
                  <button class="btn btn-secondary chart_range" type="button">Yesterday</button>
                  <button class="btn btn-secondary chart_range" type="button">Today</button>
                  <button class="btn btn-secondary active chart_range" type="button">Last 7 Days</button>
                  <button class="btn btn-secondary chart_range" type="button">Last 30 Days</button>
                  <button class="btn btn-secondary chart_range" type="button">Last 3 months</button>
                  <button class="btn btn-secondary chart_range" type="button">Last year</button>
                  <button class="btn btn-secondary chart_range" type="button">All time</button>
                </div>
              </div>
              <span class="title">What % of  shares each category</span>
            </div>
            <div class="card-body">
              <br>
              <div class="col-md-6" style="float: left; width: 50% !important;">
                <div class="form-group">
                  <select class="select2 chart_type" name="chart_type" style="float: left">
                    <option value="bar">Bar chart</option>
                    <option value="pie">Pie chart</option>
                  </select>
                </div>
              </div>
              <canvas id="pieChartCategory" height="50%" width="100%"></canvas>
            </div>
          </div>
        </div>
        <div class="col-md-10">
          <div class="card">
            <div class="card-header card-header-divider">
              <div class="tools">
                <span class="icon mdi mdi-chevron-down"></span>
                <span class="icon mdi mdi-refresh-sync"></span>
                <span class="icon mdi mdi-close"></span>
              </div>
              <div class="button-toolbar d-none d-md-block" style="margin-bottom: 10px;">
                <div class="btn-group" data-chart-url="<%= average_price_category_path %>" data-charts-block="pieChartCheque">
                  <button class="btn btn-secondary chart_range" type="button">Yesterday</button>
                  <button class="btn btn-secondary chart_range" type="button">Today</button>
                  <button class="btn btn-secondary active chart_range" type="button">Last 7 Days</button>
                  <button class="btn btn-secondary chart_range" type="button">Last 30 Days</button>
                  <button class="btn btn-secondary chart_range" type="button">Last 3 months</button>
                  <button class="btn btn-secondary chart_range" type="button">Last year</button>
                  <button class="btn btn-secondary chart_range" type="button">All time</button>
                </div>
              </div>
              <span class="title">Average € cheque per category</span>
            </div>
            <div class="card-body">
              <br>
              <div class="col-md-6" style="float: left; width: 50% !important;">
                <div class="form-group">
                  <select class="select2 chart_type" name="chart_type" style="float: left">
                    <option value="bar">Bar chart</option>
                    <option value="pie">Pie chart</option>
                  </select>
                </div>
              </div>
              <canvas id="pieChartCheque" height="50%" width="100%"></canvas>
            </div>
          </div>
        </div>
        <div class="col-md-10">
          <div class="card">
            <div class="card-header card-header-divider">
              <div class="tools">
                <span class="icon mdi mdi-chevron-down"></span>
                <span class="icon mdi mdi-refresh-sync"></span>
                <span class="icon mdi mdi-close"></span>
              </div>
              <div class="button-toolbar d-none d-md-block" style="margin-bottom: 10px;">
                <div class="btn-group" data-chart-url="<%= orders_by_clients_path %>" data-charts-block="numberOrdersByClientsType">
                  <button class="btn btn-secondary chart_range" type="button">Yesterday</button>
                  <button class="btn btn-secondary chart_range" type="button">Today</button>
                  <button class="btn btn-secondary active chart_range" type="button">Last 7 Days</button>
                  <button class="btn btn-secondary chart_range" type="button">Last 30 Days</button>
                  <button class="btn btn-secondary chart_range" type="button">Last 3 months</button>
                  <button class="btn btn-secondary chart_range" type="button">Last year</button>
                  <button class="btn btn-secondary chart_range" type="button">All time</button>
                </div>
              </div>
              <span class="title">Number of orders made by clients grouped by their type</span>
            </div>
            <div class="card-body">
              <br>
              <div class="col-md-6" style="float: left; width: 50% !important;">
                <div class="form-group">
                  <select class="select2 chart_type" name="chart_type" style="float: left">
                    <option value="bar">Bar chart</option>
                    <option value="pie">Pie chart</option>
                  </select>
                </div>
              </div>
              <canvas id="numberOrdersByClientsType" height="50%" width="100%"></canvas>
            </div>
          </div>
        </div>
        <div class="col-md-10">
          <div class="card">
            <div class="card-header card-header-divider">
              <div class="tools">
                <span class="icon mdi mdi-chevron-down"></span>
                <span class="icon mdi mdi-refresh-sync"></span>
                <span class="icon mdi mdi-close"></span>
              </div>
              <div class="button-toolbar d-none d-md-block" style="margin-bottom: 10px;">
                <div class="btn-group" data-chart-url="<%= clients_retention_path %>" data-charts-block="pieChartClientRetention">
                  <button class="btn btn-secondary chart_range" type="button">Yesterday</button>
                  <button class="btn btn-secondary chart_range" type="button">Today</button>
                  <button class="btn btn-secondary active chart_range" type="button">Last 7 Days</button>
                  <button class="btn btn-secondary chart_range" type="button">Last 30 Days</button>
                  <button class="btn btn-secondary chart_range" type="button">Last 3 months</button>
                  <button class="btn btn-secondary chart_range" type="button">Last year</button>
                  <button class="btn btn-secondary chart_range" type="button">All time</button>
                </div>
              </div>
              <span class="title">Client retention value %</span>
            </div>
            <div class="card-body">
              <br>
              <div class="col-md-6" style="float: left; width: 50% !important;">
                <div class="form-group">
                  <select class="select2 chart_type" name="chart_type" style="float: left">
                    <option value="bar">Bar chart</option>
                    <option value="pie">Pie chart</option>
                  </select>
                </div>
              </div>
              <canvas id="pieChartClientRetention" height="50%" width="100%"></canvas>
            </div>
          </div>
        </div>
        <div class="col-md-10">
          <div class="card">
            <div class="card-header card-header-divider">
              <div class="tools">
                <span class="icon mdi mdi-chevron-down"></span>
                <span class="icon mdi mdi-refresh-sync"></span>
                <span class="icon mdi mdi-close"></span>
              </div>
              <div class="button-toolbar d-none d-md-block" style="margin-bottom: 10px;">
                <div class="btn-group">
                  <button class="btn btn-secondary orders_period_range" type="button">Yesterday</button>
                  <button class="btn btn-secondary orders_period_range" type="button">Today</button>
                  <button class="btn btn-secondary active orders_period_range" type="button">Last 7 Days</button>
                  <button class="btn btn-secondary orders_period_range" type="button">Last 30 Days</button>
                  <button class="btn btn-secondary orders_period_range" type="button">Last 3 months</button>
                  <button class="btn btn-secondary orders_period_range" type="button">Last year</button>
                  <button class="btn btn-secondary orders_period_range" type="button">All time</button>
                </div>
              </div>
              <span class="title">Orders by daily period %</span>
            </div>
            <div class="card-body">
              <div class="col-12 col-sm-8 col-lg-6">
                <select class="select2 chart_type_period" name="chart_type" style="float: left">
                  <option value="bar">Bar chart</option>
                  <option value="pie">Pie chart</option>
                </select>
                <br><br>
                <select class="select2 period_type" id="period_type" name="master_id">
                  <option value="hours">By hours</option>
                  <option value="weekdays">By weekdays</option>
                  <option value="months">By months</option>
                </select>
              </div>
              <canvas id="pieChartOrderPeriods" height="50%" width="100%"></canvas>
            </div>
          </div>
        </div>
        <div class="col-md-10">
          <div class="card">
            <div class="card-header card-header-divider">
              <div class="tools">
                <span class="icon mdi mdi-chevron-down"></span>
                <span class="icon mdi mdi-refresh-sync"></span>
                <span class="icon mdi mdi-close"></span>
              </div>
              <div class="button-toolbar d-none d-md-block" style="margin-bottom: 10px;">
                <div class="btn-group" data-chart-url="<%= orders_frequency_path %>" data-charts-block="pieChartOrdersFrequency">
                  <button class="btn btn-secondary chart_range" type="button">Yesterday</button>
                  <button class="btn btn-secondary chart_range" type="button">Today</button>
                  <button class="btn btn-secondary active chart_range" type="button">Last 7 Days</button>
                  <button class="btn btn-secondary chart_range" type="button">Last 30 Days</button>
                  <button class="btn btn-secondary chart_range" type="button">Last 3 months</button>
                  <button class="btn btn-secondary chart_range" type="button">Last year</button>
                  <button class="btn btn-secondary chart_range" type="button">All time</button>
                </div>
              </div>
              <span class="title">Order's frequency</span>
            </div>
            <div class="card-body">
              <br>
              <div class="col-md-6" style="float: left; width: 50% !important;">
                <div class="form-group">
                  <select class="select2 chart_type" name="chart_type" style="float: left">
                    <option value="bar">Bar chart</option>
                    <option value="pie">Pie chart</option>
                  </select>
                </div>
              </div>
              <canvas id="pieChartOrdersFrequency" height="50%" width="100%"></canvas>
            </div>
          </div>
        </div>
        <div class="col-md-10">
          <div class="card">
            <div class="card-header card-header-divider">
              <div class="tools">
                <span class="icon mdi mdi-chevron-down"></span>
                <span class="icon mdi mdi-refresh-sync"></span>
                <span class="icon mdi mdi-close"></span>
              </div>
              <div class="button-toolbar d-none d-md-block" style="margin-bottom: 10px;">
                <div class="btn-group" data-chart-url="<%= small_large_cars_percent_path %>" data-charts-block="pieChartSmallLargeCars">
                  <button class="btn btn-secondary chart_range" type="button">Yesterday</button>
                  <button class="btn btn-secondary chart_range" type="button">Today</button>
                  <button class="btn btn-secondary active chart_range" type="button">Last 7 Days</button>
                  <button class="btn btn-secondary chart_range" type="button">Last 30 Days</button>
                  <button class="btn btn-secondary chart_range" type="button">Last 3 months</button>
                  <button class="btn btn-secondary chart_range" type="button">Last year</button>
                  <button class="btn btn-secondary chart_range" type="button">All time</button>
                </div>
              </div>
              <span class="title">Orders for small cars, large cars and multiple cars %</span>
            </div>
            <div class="card-body">
              <br>
              <div class="col-md-6" style="float: left; width: 50% !important;">
                <div class="form-group">
                  <select class="select2 chart_type" name="chart_type" style="float: left">
                    <option value="bar">Bar chart</option>
                    <option value="pie">Pie chart</option>
                  </select>
                </div>
              </div>
              <canvas id="pieChartSmallLargeCars" height="50%" width="100%"></canvas>
            </div>
          </div>
        </div>
        <div class="col-md-10">
          <div class="card">
            <div class="card-header card-header-divider">
              <div class="tools">
                <span class="icon mdi mdi-chevron-down"></span>
                <span class="icon mdi mdi-refresh-sync"></span>
                <span class="icon mdi mdi-close"></span>
              </div>
              <div class="button-toolbar d-none d-md-block" style="margin-bottom: 10px;">
                <div class="btn-group" data-chart-url="<%= profit_on_services_path %>" data-charts-block="pieChartProfitByServices">
                  <button class="btn btn-secondary chart_range" type="button">Yesterday</button>
                  <button class="btn btn-secondary chart_range" type="button">Today</button>
                  <button class="btn btn-secondary active chart_range" type="button">Last 7 Days</button>
                  <button class="btn btn-secondary chart_range" type="button">Last 30 Days</button>
                  <button class="btn btn-secondary chart_range" type="button">Last 3 months</button>
                  <button class="btn btn-secondary chart_range" type="button">Last year</button>
                  <button class="btn btn-secondary chart_range" type="button">All time</button>
                </div>
              </div>
              <span class="title">Turnover by categories €</span>
            </div>
            <div class="card-body">
              <br>
              <div class="col-md-6" style="float: left; width: 50% !important;">
                <div class="form-group">
                  <select class="select2 chart_type" name="chart_type" style="float: left">
                    <option value="bar">Bar chart</option>
                    <option value="pie">Pie chart</option>
                  </select>
                </div>
              </div>
              <canvas id="pieChartProfitByServices" height="50%" width="100%"></canvas>
            </div>
          </div>
        </div>
        <div class="col-md-10">
          <div class="card">
            <div class="card-header card-header-divider">
              <div class="tools">
                <span class="icon mdi mdi-chevron-down"></span>
                <span class="icon mdi mdi-refresh-sync"></span>
                <span class="icon mdi mdi-close"></span>
              </div>
              <div class="button-toolbar d-none d-md-block" style="margin-bottom: 10px;">
                <div class="btn-group" data-chart-url="<%= most_ordered_service_path %>" data-charts-block="pieChartMostOrderedService">
                  <button class="btn btn-secondary chart_range" type="button">Yesterday</button>
                  <button class="btn btn-secondary chart_range" type="button">Today</button>
                  <button class="btn btn-secondary active chart_range" type="button">Last 7 Days</button>
                  <button class="btn btn-secondary chart_range" type="button">Last 30 Days</button>
                  <button class="btn btn-secondary chart_range" type="button">Last 3 months</button>
                  <button class="btn btn-secondary chart_range" type="button">Last year</button>
                  <button class="btn btn-secondary chart_range" type="button">All time</button>
                </div>
              </div>
              <span class="title">Order's count by categories</span>
            </div>
            <div class="card-body">
              <br>
              <div class="col-md-6" style="float: left; width: 50% !important;">
                <div class="form-group">
                  <select class="select2 chart_type" name="chart_type" style="float: left">
                    <option value="bar">Bar chart</option>
                    <option value="pie">Pie chart</option>
                  </select>
                </div>
              </div>
              <canvas id="pieChartMostOrderedService" height="50%" width="100%"></canvas>
            </div>
          </div>
        </div>
        <div class="col-md-10">
          <div class="card">
            <div class="card-header card-header-divider">
              <div class="tools">
                <span class="icon mdi mdi-chevron-down"></span>
                <span class="icon mdi mdi-refresh-sync"></span>
                <span class="icon mdi mdi-close"></span>
              </div>
              <div class="button-toolbar d-none d-md-block" style="margin-bottom: 10px;">
                <div class="btn-group" data-chart-url="<%= orders_by_company_platforms_path %>" data-charts-block="ordersByCompanyPlatforms">
                  <button class="btn btn-secondary chart_range" type="button">Yesterday</button>
                  <button class="btn btn-secondary chart_range" type="button">Today</button>
                  <button class="btn btn-secondary active chart_range" type="button">Last 7 Days</button>
                  <button class="btn btn-secondary chart_range" type="button">Last 30 Days</button>
                  <button class="btn btn-secondary chart_range" type="button">Last 3 months</button>
                  <button class="btn btn-secondary chart_range" type="button">Last year</button>
                  <button class="btn btn-secondary chart_range" type="button">All time</button>
                </div>
              </div>
              <span class="title">Order's count by company platforms</span>
            </div>
            <div class="card-body">
              <br>
              <div class="col-md-6" style="float: left; width: 50% !important;">
                <div class="form-group">
                  <select class="select2 chart_type" name="chart_type" style="float: left">
                    <option value="bar">Bar chart</option>
                    <option value="pie">Pie chart</option>
                  </select>
                </div>
              </div>
              <canvas id="ordersByCompanyPlatforms" height="50%" width="100%"></canvas>
            </div>
          </div>
        </div>
        <div class="col-md-10">
          <div class="card">
            <div class="card-header card-header-divider">
              <div class="tools">
                <span class="icon mdi mdi-chevron-down"></span>
                <span class="icon mdi mdi-refresh-sync"></span>
                <span class="icon mdi mdi-close"></span>
              </div>
              <div class="button-toolbar d-none d-md-block" style="margin-bottom: 10px;">
                <div class="btn-group" data-chart-url="<%= turnover_by_platfroms_path %>" data-charts-block="turnoverByPlatform">
                  <button class="btn btn-secondary chart_range" type="button">Yesterday</button>
                  <button class="btn btn-secondary chart_range" type="button">Today</button>
                  <button class="btn btn-secondary active chart_range" type="button">Last 7 Days</button>
                  <button class="btn btn-secondary chart_range" type="button">Last 30 Days</button>
                  <button class="btn btn-secondary chart_range" type="button">Last 3 months</button>
                  <button class="btn btn-secondary chart_range" type="button">Last year</button>
                  <button class="btn btn-secondary chart_range" type="button">All time</button>
                </div>
              </div>
              <span class="title">Turnover by platforms</span>
            </div>
            <div class="card-body">
              <br>
              <div class="col-md-6" style="float: left; width: 50% !important;">
                <div class="form-group">
                  <select class="select2 chart_type" name="chart_type" style="float: left">
                    <option value="bar">Bar chart</option>
                    <option value="pie">Pie chart</option>
                  </select>
                </div>
              </div>
              <canvas id="turnoverByPlatform" height="50%" width="100%"></canvas>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
      </div>
    </div>
  </div>
  <%= render partial: 'admin/panel/partials/navigation_bar' %>
</div>
<%= content_for :javascript do %>
  <script type="text/javascript">
    $('select#client_id').val(null);
    $("#client_id").attr("data-placeholder","Select client");
    $('select.chart_type').val(null);
    $(".chart_type").attr("data-placeholder","Select chart's type");

    $(function() {
      $('.chart_type').on('change', function(){
        chart_type = this.value;
        cardDiv = $(this).closest("div.card");
        range = cardDiv.find("button.chart_range.active").text();
        btnDiv = cardDiv.find("div.btn-group");
        url = btnDiv.data('chart-url');
        chartBlockId = btnDiv.data('charts-block');
        $.ajax({
          url : url,
          type : 'GET',
          data : {
            'range' : range,
            'is_corp': true
          },
          dataType:'json',
          success : function(data) {
            if(chart_type == 'bar'){
              createBarChart(data, chartBlockId);
            }else if(chart_type == 'pie'){
              createPieChart(data, chartBlockId)
            }
          },
          error : function(request,error)
          {
            console.log(error);
          }
        });
      });

      $('.chart_type_period').on('change', function(){
        chart_type = this.value;
        range = $('.orders_period_range.active').text();
        period_type_id = $('#period_type').find(":selected").val();
        $.ajax({
          url : "<%= order_period_values_path %>",
          type : 'GET',
          data : {
            'range' : range,
            'is_corp': true,
            'period_type' : period_type_id
          },
          dataType:'json',
          success : function(data) {
            if(chart_type == 'bar'){
              createBarChart(data, 'pieChartOrderPeriods');
            }else if(chart_type == 'pie'){
              createPieChart(data, 'pieChartOrderPeriods')
            }else{
              createPieChart(data, 'pieChartOrderPeriods')
            }
          },
          error : function(request,error)
          {
            console.log(error);
          }
        });
      });

      $('.chart_range').on('click', function(){
        $(this).toggleClass('active').siblings().removeClass('active');
        cardDiv = $(this).closest("div.card");
        chart_type = cardDiv.find(".chart_type").find(':selected').val();
        btnDiv = $(this).closest('div.btn-group');
        url = btnDiv.data('chart-url');
        chartBlockId = btnDiv.data('charts-block');
        range = $(this).text();
        $.ajax({
          url: url,
          type: 'GET',
          data: {
            'range': range,
            'is_corp': true
          },
          dataType: 'json',
          success: function(data){
            if(chart_type == 'bar'){
              createBarChart(data, chartBlockId);
            }else if(chart_type == 'pie'){
              createPieChart(data, chartBlockId)
            }else{
              createPieChart(data, chartBlockId)
            }
          }
        })
      });

      $('.range').on('click', function(){
        range_key = $(this).text();
        client_id = $('#client_id').find(":selected").val();
        $(this).toggleClass('active').siblings().removeClass('active');
        $.ajax({
          url : "<%= last_n_days_path %>",
          type : 'GET',
          data : {
            'range' : range_key,
            'is_corp': false,
            'client_id': client_id
          },
          dataType:'json',
          success : function(data) {
            createLineChart(data, "lineChart");
          },
          error : function(request,error)
          {
            console.log(error);
          }
        });
      });

      $('.orders_period_range').on('click', function(){
        range_key = $(this).text();
        period_type_id = $('#period_type').find(":selected").val();
        chart_type = $('.chart_type_period').find(":selected").val();
        $(this).toggleClass('active').siblings().removeClass('active');
        $.ajax({
          url : "<%= order_period_values_path %>",
          type : 'GET',
          data : {
            'range' : range_key,
            'is_corp': false,
            'period_type' : period_type_id
          },
          dataType:'json',
          success : function(data) {
            if(chart_type == 'bar'){
              createBarChart(data, 'pieChartOrderPeriods');
            }else if(chart_type == 'pie'){
              createPieChart(data, 'pieChartOrderPeriods')
            }else{
              createPieChart(data, 'pieChartOrderPeriods')
            }
          },
          error : function(request,error)
          {
            console.log(error);
          }
        });
      });

      $('#period_type').on('change', function(){
        period_type_id = $(this).find(":selected").val();
        range_key = $(".orders_period_range.active").text();
        $.ajax({
          url : "<%= order_period_values_path %>",
          type : 'GET',
          data : {
            'range': range_key,
            'is_corp': false,
            'period_type' : period_type_id
          },
          dataType:'json',
          success : function(data) {
            createPieChart(data, "pieChartOrderPeriods");
          },
          error : function(request,error)
          {
            console.log(error);
          }
        });
      });

     $('#client_id').on('change', function(){
       client_id = $(this).find(":selected").val();
       range_key = $(".range.active").text();
       $.ajax({
         url : "<%= last_n_days_path %>",
         type : 'GET',
         data : {
           'client_id': client_id,
           'range': range_key
         },
         dataType:'json',
         success : function(data) {
           createLineChart(data, "lineChart");
         },
         error : function(request,error)
         {
           console.log(error);
         }
       });
     });

     $('.remove_client_id').on('click', function(){
       $("#client_id").val(null).trigger("change");
     });

      createBarChart(gon.categories, "pieChartCategory");
      createPieChart(gon.average_cheque, "pieChartCheque");
      createPieChart(gon.number_of_orders_client_type, "numberOrdersByClientsType");
      createPieChart(gon.ios_android_retentions, "pieChartClientRetention");
      createPieChart(gon.orders_frequency, "pieChartOrdersFrequency");
      createPieChart(gon.small_large_cars, "pieChartSmallLargeCars");
      createPieChart(gon.profit_on_services, "pieChartProfitByServices");
      createPieChart(gon.most_ordered_service, "pieChartMostOrderedService");
      createBarChart(gon.orders_by_platform, "barOrderByPlatform");
      createBarChart(gon.number_of_client_by_type, "barClientsByType");
      createLineChart(gon.last_n_days_order, "lineChart");
      createPieChart(gon.order_periods, "pieChartOrderPeriods");
      createPieChart(gon.clients_by_gender, "clientsByGender");
      createPieChart(gon.clients_by_age, "clientsByAge");
      createPieChart(gon.orders_by_company_platforms, "ordersByCompanyPlatforms");
    });
  </script>
  <%= render partial: 'admin/panel/partials/chart_functions' %>
  <script>
    $(document).ready(function () {
      App.init();
      App.formElements();
      App.dashboard();
    });
    stop_preloader();
  </script>
<% end %>