<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>New Pro!</h1>
    <p>
      Info about Pro
    </p>

    <p>
      <ul>
        <li>Email: <%= @user.email %></li>
        <li>Name: <%= @user.name %></li>
        <li>Phone: <%= @user.phone_number %></li>
        <li>Category: <%= @category.title %></li>
      </ul>
    </p>
  </body>
</html>
