<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Invoice</title>
  <style>
    @font-face {
      font-family: --font-bold;
      src: url('fonts/SF-Pro-Display-Bold.otf');
    }

    @font-face {
      font-family: --font-medium;
      src: url('fonts/SF-Pro-Display-Medium.otf');
    }

    @font-face {
      font-family: --font-regular;
      src: url('fonts/SF-Pro-Display-Regular.otf');
    }

    .mb-5 {
      margin-bottom: 5rem
    }

    .mt-5 {
      margin-top: 5rem
    }

    .m-0 {
      margin: 0
    }

    .mt-2 {
      margin-top: 2rem;
    }

    .pr-2 {
      padding-right: 2rem
    }

    .pl-2 {
      padding-left: 2rem
    }

    :root {
      --accent: #00ACEC;
      --text: #333;
      --white: #fff;
      --light-text: #959696;
    }

    .d-flex {
      display: flex;
    }
    .column {
      flex-direction: column
    }
    .align-items-center {
      align-items: center
    }
    .align-items-start {
      align-items: flex-start
    }
    .justify-content-between {
      justify-content: space-between
    }
    .justify-content-around {
      justify-content: space-around
    }
    .justify-content-center {
      justify-content: center
    }

    body {
      font-family: --font-bold;
      font-size: 19px;
      line-height: 1.3;
      letter-spacing: 0.1px;
      padding: 0;
      margin: 0;
      box-sizing: border-box;
      overflow-y: auto;
      color: var(--accent)
    }
    hr {
      border: 0;
      border-top: 1px solid #ddd;
      width: 500px;
    }

    section {
      padding-right: 15px;
      padding-left: 15px;
    }
    small {
      color: #f2f2f2;
      font-family: --font-regular;
    }
    .container {
      max-width: 552px;
      margin: 0 auto;
    }

    .logo__brand {
      display: block;
      margin: 0 auto;
      max-width: 100%;
    }

    .center {
      text-align: center
    }

    .text {
      font-family: --font-regular;
      color: var(--text);
      margin: 0;
      line-height: 1.4;
      font-size: 18px;
    }

    .h4 {
      color: var(--text)
    }

    .wave {
      height: 250px;
      width: 100%;
    }

    .white {
      color: var(--white)
    }

    .small {
      font-size: 14px;
      color: var(--light-text);
      font-family: --font-regular;
    }

    .accent {
      color: var(--accent)
    }

    .btn {
      background-color: var(--accent);
      border-radius: 25px;
      color: #fff;
      display: inline-block;
      padding: 10px 15px;
      width: 150px;
      font-size: 17px;
    }

    .left {
      text-align: left
    }
  </style>
</head>
<body style="font-family: --font-bold;font-size: 19px;line-height: 1.3;letter-spacing: 0.1px;padding: 0;margin: 0;box-sizing: border-box;overflow-y: auto;color: #00acec">
<section class="mt-5 mb-5" style="padding-right: 15px;padding-left: 15px;">
  <div class="container">
    <br>
    <br>
    <img src=" https://s3-eu-west-1.amazonaws.com/image-sortd/emails/Logo+new.png" alt="logo" class="logo__brand">
    <br>
    <p class="center" style="color: #00acec;font-family: --font-bold;font-size: 19px;line-height: 1.3;letter-spacing: 0.1px;">Hello, <br> We would like to confirm that you have <br> changed your order. Your updated order is:</p>
    <br>
    <div class="d-flex justify-content-around">
      <div class="d-flex justify-content-between column">
        <div>
          <p class="text">Service type:</p>
          <p class="m-0" style="color: #00acec; font-family: --font-bold;font-size: 19px;line-height: 1.3;letter-spacing: 0.1px;padding: 0;margin: 0;box-sizing: border-box;overflow-y: auto;"><%= @order.category.title %></p>
        </div>
        <br>
        <div>
          <p class="text">Place:</p>
          <p class="m-0" style="color: #00acec; font-family: --font-bold;font-size: 19px;line-height: 1.3;letter-spacing: 0.1px;padding: 0;margin: 0;box-sizing: border-box;overflow-y: auto;"><%= @order.address %></p>
        </div>
      </div>
      <div class="d-flex justify-content-between column">
        <div>
          <p class="text">Date:</p>
          <p class="m-0" style="color: #00acec; font-family: --font-bold;font-size: 19px;line-height: 1.3;letter-spacing: 0.1px;padding: 0;margin: 0;box-sizing: border-box;overflow-y: auto;"><%= get_custom_date(@order.order_time) %></p>
        </div>
        <div>
          <p class="text">Total number of cars:</p>
          <p class="m-0" style="color: #00acec; font-family: --font-bold;font-size: 19px;line-height: 1.3;letter-spacing: 0.1px;padding: 0;margin: 0;box-sizing: border-box;overflow-y: auto;"><%= @order.count_vehicles %></p>
        </div>
      </div>
    </div>
    <br>
    <hr>
    <br>
    <div class="center heading">
      <h4 class="h4 m-0">Payment amount</h4>
      <h4 class="m-0" style="color: #00acec; font-family: --font-bold;font-size: 19px;line-height: 1.3;letter-spacing: 0.1px;padding: 0;margin: 0;box-sizing: border-box;overflow-y: auto;">€<%= @amount %></h4>
    </div>
    <br>
    <div class="wave center d-flex column align-items-center justify-content-center" style="background-image: url(' https://s3-eu-west-1.amazonaws.com/image-sortd/emails/wave1.png')">
      <p class="white" style="line-height: 1.3;letter-spacing: 0.1px;color: #f2f2f2;font-family: --font-regular;font-size: 19px;">
        Thank you for using our service!
      </p>
      <small style="color: #f2f2f2;line-height: 1.3;letter-spacing: 0.1px;font-family: --font-regular;">Sincerely, <br> The VALEFY team</small>
    </div>
  </div>
</section>
</body>
</html>