<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Gift Card</title>
  <style>
    @font-face {
      font-family: --font-bold;
      src: url('fonts/SF-Pro-Display-Bold.otf');
    }

    @font-face {
      font-family: --font-medium;
      src: url('fonts/SF-Pro-Display-Medium.otf');
    }

    @font-face {
      font-family: --font-regular;
      src: url('fonts/SF-Pro-Display-Regular.otf');
    }

    .mb-5 {
      margin-bottom: 5rem
    }

    .mt-5 {
      margin-top: 5rem
    }

    .m-0 {
      margin: 0
    }

    .mt-2 {
      margin-top: 2rem;
    }

    .pr-2 {
      padding-right: 2rem
    }

    .pl-2 {
      padding-left: 2rem
    }

    :root {
      --accent: #00ACEC;
      --text: #333;
      --white: #fff;
      --light-text: #959696;
    }

    .d-flex {
      display: flex;
    }

    .column {
      flex-direction: column
    }

    .align-items-center {
      align-items: center
    }

    .align-items-start {
      align-items: flex-start
    }

    .justify-content-between {
      justify-content: space-between
    }

    .justify-content-around {
      justify-content: space-around
    }

    .justify-content-center {
      justify-content: center
    }

    body {
      font-family: --font-bold;
      font-size: 19px;
      line-height: 1.3;
      letter-spacing: 0.1px;
      padding: 0;
      margin: 0;
      box-sizing: border-box;
      overflow-y: auto;
      color: var(--accent)
    }

    hr {
      border: 0;
      border-top: 1px solid #ddd;
      width: 500px;
    }

    section {
      padding-right: 15px;
      padding-left: 15px;
    }

    small {
      color: #f2f2f2;
      font-family: --font-regular;
    }

    .container {
      max-width: 552px;
      margin: 0 auto;
    }

    .logo__brand {
      display: block;
      margin: 0 auto;
      max-width: 100%;
    }

    .center {
      text-align: center
    }

    .text {
      font-family: --font-regular;
      color: var(--text);
      margin: 0;
      line-height: 1.4;
      font-size: 18px;
    }

    .h4 {
      color: var(--text)
    }

    .wave {
      height: 250px;
      width: 100%;
    }

    .white {
      color: var(--white)
    }

    .small {
      font-size: 14px;
      color: var(--light-text);
      font-family: --font-regular;
    }

    .accent {
      color: var(--accent)
    }

    .btn {
      background-color: var(--accent);
      border-radius: 25px;
      color: #fff;
      display: inline-block;
      padding: 10px 15px;
      width: 150px;
      font-size: 17px;
    }

    .left {
      text-align: left
    }
  </style>
</head>

<body style="font-family: --font-bold;font-size: 19px;line-height: 1.3;letter-spacing: 0.1px;padding: 0;margin: 0;box-sizing: border-box;overflow-y: auto;color: #00acec">
  <section class="mt-5 mb-5" style="padding-right: 15px;padding-left: 15px;">
    <div class="container">
      <br>
      <br>
      <img src="https://s3-eu-west-1.amazonaws.com/image-sortd/emails/Logo+new.png" alt="logo" class="logo__brand">
      <br>
      <p class="text center"><span class="accent" style="color: #00acec">
          You have purchased gift "<%= @gift.service.category.title%>" on a
        <span class="accent" style="color: #00acec">“
          <%= @gift.subcategory.title%> ” </span><br> size car</p>
      <p class="small center" style="color: #959696;font-size: 14px;font-family: --font-regular;">Payment amount:<br>
        <span class="accent" style="color: #00acec"><strong>€ <%= @gift.amount.to_i%></strong></span>
      </p>
      <p class="small center" style="color: #959696;font-size: 14px;font-family: --font-regular;">Expiry date: <br>
        <span class="accent" style="color: #00acec"><strong><%= @gift.exp_date.strftime("%I:%M %p")%></strong></span>
      </p>
      <p class="small center" style="color: #959696;font-size: 14px;font-family: --font-regular;">Recepient:<br>
        <span class="accent" style="color: #00acec"><strong><%= @gift.to_client.email%></strong></span>
      </p>
      <br>
      <br>
      <br>
      <div class="wave center d-flex column align-items-center justify-content-center" style="background-image: url(' https://s3-eu-west-1.amazonaws.com/image-sortd/emails/wave1.png')">
        <p class="white center" style="color: #fff">
          Sincerely, <br> The VALEFY team
        </p>
      </div>
    </div>
  </section>
</body>

</html>