<br><br>
<% if order.end_work? && order.balance_transaction.present? %>
  <table>
    <thead>
      <th>Pay Date</th>
      <th>Status</th>
      <th>Amount</th>
    </thead>
    <tbody>
      <tr>
        <td><%= from_timestamp_to_date(order.balance_transaction.available_on) %></td>
        <td class="color_green"><%= order.balance_transaction.status.upcase %></td>
        <td>€<%= order.total_amount_for_master %></td>
      </tr>
    </tbody>
  </table>
<% end %>
