<br><br>
<% if order.end_work? %>
  <table>
    <thead>
      <th>Date</th>
      <th>Invoice Type</th>
      <th>Invoice Number</th>
    </thead>
    <tbody>
      <% order.invoices.each do |invoice| %>
        <tr>
          <td>Mar 13 2018</td>
          <td>customer</td>
          <td><%= link_to invoice.number, invoice_pdf_admin_order_item_path(invoice_id: invoice.id) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
