<%= render 'admin/shared/map' %>
<div style='width: 800px;margin:0 auto;'>
  <div id="map_serviceman" style='width: 800px; height: 400px;'></div>
</div>

<script type="text/javascript">
var lat_coords = 53.3374107,
    lng_coords = -6.3122344,
    radius = "<%= User::ServiceMan.radius %>";

var myLatlng = { lat: lat_coords, lng: lng_coords };

  function initMapServiceMan() {

    // Create a map object and specify the DOM element for display.
    var map = new google.maps.Map(document.getElementById('map_serviceman'), {
      center: myLatlng,
      scrollwheel: false,
      zoom: 12,
      mapTypeId:google.maps.MapTypeId.ROADMAP
    });

    <% orders.each do |item| %>
      latLng = { lat: <%= item.lat %>, lng: <%= item.lon %> }

      // Add the circle for this city to the map.
      var circle = new google.maps.Circle({
        strokeColor: '#FF0000',
        strokeOpacity: 0.3,
        strokeWeight: 2,
        fillColor: '#FF0000',
        clickable: false,
        fillOpacity: 0.09,
        map: map,
        center: latLng,
        radius: radius * 1000
      });

      var orderMarker = new google.maps.Marker({
        position: latLng,
        map: map,
        icon: 'http://maps.google.com/mapfiles/ms/icons/red-dot.png'
      });

      var infowindow = new google.maps.InfoWindow({
  	    content: '<%= item.id %>'
  	  });

      google.maps.event.addListener(orderMarker,'click', (function(orderMarker,infowindow){
        return function() {
          infowindow.setContent('Order ID:<%= item.id %>');
          infowindow.open(map,orderMarker);
        };
      })(orderMarker,infowindow));
    <% end %>

    <% masters.each do |item| %>
      var lat = <%= item.lat %>,
          lng = <%= item.lon %>;

      latLng = { lat: lat, lng: lng }

      // Add the circle for this city to the map.
      var circle = new google.maps.Circle({
        strokeColor: 'blue',
        strokeOpacity: 0.3,
        strokeWeight: 2,
        fillColor: 'blue',
        clickable: false,
        fillOpacity: 0.09,
        map: map,
        center: latLng,
        radius: radius * 1000
      });


      var masterMarker = new google.maps.Marker({
        position: latLng,
        map: map,
        icon: 'http://maps.google.com/mapfiles/ms/icons/blue-dot.png'
      });

      var infowindow = new google.maps.InfoWindow({
  	    content: '<%= item.id %>'
  	  });

      google.maps.event.addListener(masterMarker,'click', (function(masterMarker,infowindow){
        return function() {
          html = "Email: <%= item.email %> <br>OrderID: <%= item.order_items.busy.first.id %>"
          infowindow.setContent(html);
          infowindow.open(map,masterMarker);
        };
      })(masterMarker,infowindow));
    <% end %>


  }

  initMapServiceMan();
</script>
