<% location_serviceman = @order_item.location_serviceman %>

<div style='width: 800px;margin:0 auto;'>
  <div id="map_serviceman" style='width: 800px; height: 400px;'></div>
</div>

<div class="ololo">
	<input id="serviceman_lng" type="hidden" name="order_item[serviceman_lng]" value="<%= location_serviceman['lng'] if location_serviceman.present? %>">
	<input id="serviceman_lat" type="hidden" name="order_item[serviceman_lat]" value="<%= location_serviceman['lat'] if location_serviceman.present? %>">	
</div>

<script>
	var $oi_lat_serviceman = $('#serviceman_lat'),
			$oi_lng_serviceman = $('#serviceman_lng');

	// default values position marker - ireland dublin
	var lat_coords = 53.3374107,
			lng_coords = -6.3122344;

	if($oi_lng_serviceman.val() != '' && $oi_lat_serviceman.val() != '') {
		lng_coords = parseFloat($oi_lng_serviceman.val());
		lat_coords = parseFloat($oi_lat_serviceman.val());
	}

	var myLatlng = { lat: lat_coords, lng: lng_coords }; 

	function initMapServiceMan() {

	  // Create a map object and specify the DOM element for display.
	  var map = new google.maps.Map(document.getElementById('map_serviceman'), {
	    center: myLatlng,
	    scrollwheel: false,
	    zoom: 13,
	    mapTypeId:google.maps.MapTypeId.ROADMAP
	  });

	  var marker = new google.maps.Marker({
	    position: myLatlng,
	    map: map
	  });

	  google.maps.event.addListener(map, 'click', function(e) {
	  	positions = { lat: e.latLng.lat(), lng: e.latLng.lng() }
	  	marker.setPosition(positions);
	  	setServicemanPosition(positions);
	  });

	  var infowindow = new google.maps.InfoWindow({
	    content: 'Service man location'
	  });

	  google.maps.event.addListener(marker, 'click', function() {
	  	infowindow.open(map, marker);
	  });
	}

	initMapServiceMan();

	function setServicemanPosition(positions) {
		$oi_lat_serviceman.val(positions.lat);
		$oi_lng_serviceman.val(positions.lng);
	}

</script>