<%= render 'admin/order_items/shared/map' %>
<% location_client = @order_item.location_client %>

<div style='width: 800px;margin:0 auto;'>
  <div id="map_client" style='width: 800px; height: 400px;'></div>
</div>

<div class="ololo">
	<input id="client_lng" type="hidden" name="order_item[client_lng]" value="<%= location_client['lng'] if location_client.present? %>">
	<input id="client_lat" type="hidden" name="order_item[client_lat]" value="<%= location_client['lat'] if location_client.present? %>">
</div>

<script>
	var $oi_lat_client = $('#client_lat'),
			$oi_lng_client = $('#client_lng');

	// default values position marker - ireland dublin
	var lat_coords = 53.3374107, 
			lng_coords = -6.3122344;

	if($oi_lng_client.val() != '' && $oi_lat_client.val() != '') {
		lng_coords = parseFloat($oi_lng_client.val());
		lat_coords = parseFloat($oi_lat_client.val());
	}

	var myLatlng = { lat: lat_coords, lng: lng_coords }; 

	function initMapClient() {
	  // Create a map object and specify the DOM element for display.
	  var map = new google.maps.Map(document.getElementById('map_client'), {
	    center: myLatlng,
	    scrollwheel: false,
	    zoom: 13,
	    mapTypeId:google.maps.MapTypeId.ROADMAP
	  });

	  var marker = new google.maps.Marker({
	    position: myLatlng,
	    map: map
	  });

	  google.maps.event.addListener(map, 'click', function(e) {
	  	positions = { lat: e.latLng.lat(), lng: e.latLng.lng() }
	  	marker.setPosition(positions);
	  	setClientPosition(positions);
	  });

	  var infowindow = new google.maps.InfoWindow({
	    content: 'Location client'
	  });

	  google.maps.event.addListener(marker, 'click', function() {
	  	infowindow.open(map, marker);
	  });
	}

	function setClientPosition(positions) {
		$oi_lat_client.val(positions.lat);
		$oi_lng_client.val(positions.lng);
	}

	initMapClient();
</script>