<br><br>
<% if order.end_work? %>
  <table>
    <thead>
      <th>Details</th>
      <th>Amount</th>
    </thead>
    <tbody>
      <tr>
        <td>Client Price</td>
        <td>€<%= order.client_price %></td>
      </tr>
      <tr>
        <td>VALEFY Service Fee</td>
        <td>-€<%= order.fee %></td>
      </tr>
      <tr>
        <td>Total amount</td>
        <td>€<%= order.total_amount_for_master %></td>
      </tr>
    </tbody>
  </table>
<% end %>
