<%= form_for :dump, :url=>{:action=>"import_xls"}, :html => { :multipart => true } do |f| %>
  <table>
    <tr>
      <td>
        <label for="dump_file">
          Select a XLS or XLSX File :
        </label>
      </td>
      <td>
        <%= f.file_field :file %>
      </td>
    </tr>
    <tr>
      <td>
        <%= submit_tag 'Submit' %>
      </td>
    </tr>
  </table>
<% end %>
