<%= form_for @client, url: admin_panel_clients_path, method: :post do |f| %>
  <%= f.hidden_field :corp, value: true %>
  <div class="form-group row mt-2">
    <label class="col-3 col-lg-2 col-form-label text-right" for="inputEmail">Name</label>
    <div class="col-9 col-lg-10">
      <%= f.text_field :name, class: 'form-control', required: true %>
    </div>
  </div>
  <div class="form-group row mt-2">
    <label class="col-3 col-lg-2 col-form-label text-right" for="inputEmail">Email</label>
    <div class="col-9 col-lg-10">
      <%= f.text_field :email, class: 'form-control', required: true, placeholder: 'admin@example.com' %>
    </div>
  </div>
  <div class="form-group row mt-2">
    <label class="col-3 col-lg-2 col-form-label text-right" for="inputEmail">Phone number</label>
    <div class="col-9 col-lg-10">
      <%= f.text_field :phone_number, class: 'form-control', required: true %>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-3 col-lg-2 col-form-label text-right" for="inputPassword">Password</label>
    <div class="col-7 col-lg-8">
      <%= f.password_field :password, class: 'form-control', required: true, id: 'inputPassword' %>
    </div>
    <div class="col-1 col-lg-2">
      <label>Show passwords</label>
      <label class="be-checkbox custom-control custom-checkbox">
        <input class="custom-control-input show_password" type="checkbox"><span class="custom-control-label"></span>
        <span class="custom-control-label"></span>
      </label>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-3 col-lg-2 col-form-label text-right" for="inputPasswordConfirmation">Password Confirmation</label>
    <div class="col-7 col-lg-8">
      <%= f.password_field :password_confirmation, class: 'form-control', required: true, id: 'inputPasswordConfirmation' %>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-3 col-lg-2 col-form-label text-right" for="inputCash">Cash</label>
    <div class="col-9 col-lg-10">
      <label class="be-checkbox custom-control custom-checkbox">
        <%= f.check_box :cash, class: 'custom-control-input' %>
        <span class="custom-control-label"></span>
      </label>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-3 col-lg-2 col-form-label text-right" for="inputPasswordConfirmation">Confirm phone number</label>
    <div class="col-9 col-lg-10">
      <label class="be-checkbox custom-control custom-checkbox">
        <%= f.check_box :confirm_phone_number, class: 'custom-control-input' %>
        <span class="custom-control-label"></span>
      </label>
    </div>
  </div>
  <div id="client_doc">
    <div class="form-group row mt-2">
      <label class="col-3 col-lg-2 col-form-label text-right" for="dump_file">Upload doc</label>
      <div class="col-9 col-lg-10">
        <%= f.file_field :doc, class: 'form-control', id: 'uploadFile' %>
      </div>
    </div>
  </div>
  <div id="client_tariff_plan">
    <div class="form-group row mt-2">
      <label class="col-3 col-lg-2 col-form-label text-right" for="inputEmail">Tariff plan</label>
      <div class="col-9 col-lg-10">
        <%= f.select :tariff_plan_id, TariffPlan.all.map{|u| ["#{u.plan}", u.id]}, {}, class: 'select2 select2-lg'  %>
      </div>
    </div>
  </div>
  <div class="form-group row mt-2">
    <label class="col-3 col-lg-2 col-form-label text-right">Categories For Client</label>
    <div class="col-9 col-lg-10">
      <%= f.select :category_ids, Category.visible.map { |category| [category.title, category.id] }, {}, {:multiple => true, :class => "select2 select2-lg category", :style => "width:450px;" } %>
    </div>
  </div>
  <div id="client_pay_with">
    <div class="form-group row mt-2">
      <label class="col-3 col-lg-2 col-form-label text-right" for="inputEmail">Pay with</label>
      <div class="col-9 col-lg-10">
        <%= f.select :pay_with, User::Client::pay_withs.keys, {}, class: 'select2 select2-lg'  %>
      </div>
    </div>
  </div>
  <div class="form-group row mt-2">
    <%= f.fields_for :client_segment do |t| %>
      <label class="col-3 col-lg-2 col-form-label text-right" for="inputEmail">Segment of client</label>
      <div class="col-9 col-lg-10">
        <%= t.select :title, ClientSegment.titles.keys, {}, class: 'select2' %>
      </div>
    <% end %>
  </div>
  <div class="form-group row">
    <label class="col-3 col-lg-2 col-form-label text-right">Address</label>
    <div class="col-7 col-lg-8">
      <%= f.text_field :address, class: 'form-control', placeholder: 'Address' %>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-3 col-lg-2 col-form-label text-right">District</label>
    <div class="col-7 col-lg-8">
      <%= f.select :district_id, District.all.map{ |district| [district.name, district.id] }, {},  class: 'select2 select2-lg form-control' %>
    </div>
  </div>
  <div id="client_offices">
    <div class="client_nested_fields">
      <%= f.fields_for :offices do |t| %>
      <%= render 'office', f: t %>
      <% end %>
    </div>
    <%= link_to_add_row('Add offices', f, :offices, class: 'btn btn-primary') %>
  </div>
  <div class="card-header card-header-divider">Client services<span class="card-subtitle">Choose client services</span></div>
  <%= render partial: 'client_service' %>
  <div class="card-header card-header-divider"><span class="card-subtitle"></span></div>
  <div class="row pt-3 mt-1">
    <div class="col-sm-6 col-lg-6 pb-4 pb-lg-0">
      <label class="be-checkbox custom-control custom-checkbox">
      </label>
    </div>
    <div class="col-sm-6">
      <p class="text-right">
        <button class="btn btn-space btn-primary" type="submit">Register</button>
      </p>
    </div>
  </div>
<% end %>
<script>
  $('#user_client_client_segments_title').val('').trigger('change')
</script>