<div class="client_service_block">
  <div class="form-group row mt-2">
    <label class="col-3 col-lg-2 col-form-label text-right" for="inputEmail">Category</label>
    <div class="col-9 col-lg-10">
      <select class="select2 select2-lg category">
        <option value=""></option>
        <% Category.all.each do |category| %>
          <option value="<%= category.id %>"><%= category.title %></option>
        <% end %>
      </select>
    </div>
  </div>

  <div class="form-group row mt-2">
    <label class="col-3 col-lg-2 col-form-label text-right" for="inputEmail">Subcategory</label>
    <div class="col-9 col-lg-10">
      <select class="select2 select2-lg subcategory" disabled>
      </select>
    </div>
  </div>
  <div class="form-group row mt-2">
    <label class="col-3 col-lg-2 col-form-label text-right" for="inputEmail">Service</label>
    <div class="col-9 col-lg-10">
      <select class="select2 select2-lg service" disabled>
      </select>
    </div>
  </div>
  <div class="form-group row mt-2">
    <label class="col-3 col-lg-2 col-form-label text-right" for="inputPrice">Price</label>
    <div class="col-9 col-lg-10">
      <input type="text" class="form-control client_service_price" id="inputPrice">
    </div>
    
  </div>
  <div class="form-group row mt-2">
    <label class="col-3 col-lg-2 col-form-label text-right" for="inputEmail"></label>
    <div class="col-9 col-lg-10">
      <a href="#" class="add_client_service btn btn-primary">Add Service</a>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-12 col-sm-3 col-form-label text-sm-right" for="inputText3"></label>
    <div class="col-12 col-sm-8 col-lg-6">
      <table class="table">
        <thead>
          <tr>
            <th>Category</th>
            <th>Subcategory</th>
            <th>Service</th>
            <th>Price</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody class='tbody_clients'>
          <% if @client.client_services.present? %>
            <% @client.client_services.each do |ser|%>
              <tr class='tr-result' data-service-id="<%= ser.service_id%>">
                <td><%= ser.service.category.title %></td>
                <td><%= ser.service.subcategory.title %></td>
                <td><%= ser.service.short_title %></td>
                <td>
                  <%= ser.price %>
                  <input type="hidden" id="<%= "destroy#{ser.service_id}"%>" value="" name="user_client[client_services_attributes][<%=ser.id%>][_destroy]">
                  <input type="hidden" value="<%= ser.id%>" name="user_client[client_services_attributes][<%=ser.id%>][id]">
                  <input type="hidden" value="<%= ser.price%>" name="user_client[client_services_attributes][<%=ser.id%>][price]">
                  <input type="hidden" value="<%= ser.service_id%>" name="user_client[client_services_attributes][<%=ser.id%>][service_id]">
                </td>
                <td data-service-id="<%= ser.service_id %>">
                  <div class="icon-container">
                    <div class="icon"><span class="mdi mdi-delete delete-client_services"></span></div>
                  </div>
                </td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>