<div class="form-group row office_block">
  <label class="col-3 col-lg-2 col-form-label text-right" for="inputEmail">Gender</label>
  <div class="col-9 col-lg-10">
    <%= f.select :gender, ClientExtraInfo.genders.keys, {}, class: 'select2 select2-lg'   %>
  </div>
</div>
<div class="form-group row">
  <label class="col-3 col-lg-2 col-form-label text-right" for="inputEmail">Family status</label>
  <div class="col-9 col-lg-10">
    <%= f.select :family_status, ClientExtraInfo.family_statuses.keys, {}, class: 'select2 select2-lg'  %>
  </div>
</div>
<div class="form-group row">
  <label class="col-3 col-lg-2 col-form-label text-right" for="inputEmail">Profession</label>
  <div class="col-9 col-lg-10">
    <%= f.text_field :profession, class: 'form-control' %>
  </div>
</div>