<%= form_for @client, url: admin_panel_clients_path, method: :post do |f| %>
  <%= f.hidden_field :corp, value: false %>
  <div class="form-group row mt-2">
    <label class="col-3 col-lg-2 col-form-label text-right" for="inputEmail">Name</label>
    <div class="col-9 col-lg-10">
      <%= f.text_field :name, class: 'form-control', required: true %>
    </div>
  </div>
  <div class="form-group row mt-2">
    <label class="col-3 col-lg-2 col-form-label text-right" for="inputEmail">Email</label>
    <div class="col-9 col-lg-10">
      <%= f.text_field :email, class: 'form-control', required: true, placeholder: 'admin@example.com' %>
    </div>
  </div>
  <div class="form-group row mt-2">
    <label class="col-3 col-lg-2 col-form-label text-right" for="inputPhoneNumber">Phone number</label>
    <div class="col-9 col-lg-10">
      <%= f.text_field :phone_number, class: 'form-control', required: true, id: 'inputPhoneNumber' %>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-3 col-lg-2 col-form-label text-right" for="inputPassword">Password</label>
    <div class="col-7 col-lg-8">
      <%= f.password_field :password, class: 'form-control', required: true, id: 'inputPassword' %>
    </div>
    <div class="col-1 col-lg-2">
      <label>Show passwords</label>
      <label class="be-checkbox custom-control custom-checkbox">
        <input class="custom-control-input show_password" type="checkbox"><span class="custom-control-label"></span>
        <span class="custom-control-label"></span>
      </label>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-3 col-lg-2 col-form-label text-right" for="inputPasswordConfirmation">Password Confirmation</label>
    <div class="col-7 col-lg-8">
      <%= f.password_field :password_confirmation, class: 'form-control', required: true, id: 'inputPasswordConfirmation' %>
    </div>
  </div>
  <div class="form-group row mt-2">
    <label class="col-3 col-lg-2 col-form-label text-right">Categories For Client</label>
    <div class="col-9 col-lg-10">
      <%= f.select :category_ids, Category.visible.map { |category| [category.title, category.id] }, {}, {:multiple => true, :class => "select2 select2-lg category", :style => "width:450px;" } %>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-3 col-lg-2 col-form-label text-right" for="inputCash">Cash</label>
    <div class="col-9 col-lg-10">
      <label class="be-checkbox custom-control custom-checkbox">
        <%= f.check_box :cash, class: 'custom-control-input' %>
        <span class="custom-control-label"></span>
      </label>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-3 col-lg-2 col-form-label text-right" for="inputPasswordConfirmation">Confirm phone number</label>
    <div class="col-9 col-lg-10">
      <label class="be-checkbox custom-control custom-checkbox">
        <%= f.check_box :confirm_phone_number, class: 'custom-control-input' %>
        <span class="custom-control-label"></span>
      </label>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-3 col-lg-2 col-form-label text-right">Avatar</label>
    <div class="col-7 col-lg-8">
      <%= f.file_field :image, class: 'form-control', placeholder: 'Avatar' %>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-3 col-lg-2 col-form-label text-right">Address</label>
    <div class="col-7 col-lg-8">
      <%= f.text_field :address, class: 'form-control', placeholder: 'Address' %>
    </div>
  </div>
  <div id="client_extra_info">
    <%= f.fields_for :client_extra_info do |t| %>
    <%= render 'client_extra_info', f: t %>
    <% end %>
  </div>
  <div class="card-header card-header-divider">Client services<span class="card-subtitle">Choose client services</span></div>
  <%= render partial: 'client_service' %>
  <div class="card-header card-header-divider"><span class="card-subtitle"></span></div>
  <div class="row pt-3 mt-1">
    <div class="col-sm-6 col-lg-6 pb-4 pb-lg-0">
      <label class="be-checkbox custom-control custom-checkbox">
      </label>
    </div>
    <div class="col-sm-6">
      <p class="text-right">
        <button class="btn btn-space btn-primary" type="submit">Register</button>
      </p>
    </div>
  </div>
<%end %>