<div class="office_block">
  <div class="form-group row mt-2">
    <label class="col-3 col-lg-2 col-form-label text-right" for="inputEmail">Title</label>
    <div class="col-9 col-lg-10">
      <%= f.text_field :title, class: 'form-control' %><br>
    </div>
  </div>
  <div class="form-group row mt-2">
    <label class="col-3 col-lg-2 col-form-label text-right" for="inputEmail">Count vehicles</label>
    <div class="col-9 col-lg-10">
      <%= f.number_field :count_vehicles, class: 'form-control', in: 1..200, step: 1 %>
      <%= f.hidden_field :_destroy, as: :hidden %>
      <%= link_to 'Remove', '#', class: 'btn btn-space btn-primary remove_record' %>
    </div>
  </div>
</div>