<div class="be-wrapper be-fixed-sidebar">
  <%= render partial: 'admin/panel/partials/header' %>

  <%= render partial: 'admin/panel/partials/sidebar' %>

  <div class="be-content">
    <div class="page-head">
      <h2 class="page-head-title">Clients</h2>
      <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb page-head-nav">
          <li class="breadcrumb-item"><a href="<%= admin_panel_path %>">Home</a></li>
          <li class="breadcrumb-item"><a href="<%= admin_panel_clients_path %>">Clients</a></li>
          <li class="breadcrumb-item active">Edit</li>
        </ol>
      </nav>
    </div>
    <div class="main-content container-fluid">
      <div class="card card-border-color card-border-color-primary">
        <div class="card-header card-header-divider">Client form<span class="card-subtitle">Form for create admin user</span></div>
        <div class="card-body">
          <%= form_for @client, url: admin_panel_client_path, method: :put do |f| %>
            <div class="form-group row mt-2">
              <label class="col-3 col-lg-2 col-form-label text-right" for="inputEmail">Name</label>
              <div class="col-9 col-lg-10">
                <%= f.text_field :name, class: 'form-control', required: true %>
              </div>
            </div>
            <div class="form-group row mt-2">
              <label class="col-3 col-lg-2 col-form-label text-right" for="inputEmail">Email</label>
              <div class="col-9 col-lg-10">
                <%= f.text_field :email, class: 'form-control', required: true, placeholder: 'admin@example.com' %>
              </div>
            </div>
            <div class="form-group row mt-2">
              <label class="col-3 col-lg-2 col-form-label text-right" for="inputEmail">Address</label>
              <div class="col-9 col-lg-10">
                <%= f.text_field :address, class: 'form-control', placeholder: 'Address' %>
              </div>
            </div>
            <div class="form-group row mt-2">
              <label class="col-3 col-lg-2 col-form-label text-right" for="inputEmail">Phone number</label>
              <div class="col-9 col-lg-10">
                <%= f.text_field :phone_number, class: 'form-control', required: true %>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-3 col-lg-2 col-form-label text-right" for="inputPassword">Password</label>
              <div class="col-7 col-lg-8">
                <%= f.password_field :password, class: 'form-control', id: 'inputPassword' %>
              </div>
              <div class="col-1 col-lg-2">
                <label>Show passwords</label>
                <label class="be-checkbox custom-control custom-checkbox">
                  <input class="custom-control-input show_password" type="checkbox"><span class="custom-control-label"></span>
                  <span class="custom-control-label"></span>
                </label>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-3 col-lg-2 col-form-label text-right" for="inputPasswordConfirmation">Password Confirmation</label>
              <div class="col-7 col-lg-8">
                <%= f.password_field :password_confirmation, class: 'form-control', id: 'inputPasswordConfirmation' %>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-3 col-lg-2 col-form-label text-right" for="inputPasswordConfirmation">Corp</label>
              <div class="col-9 col-lg-10">
                <label class="be-checkbox custom-control custom-checkbox">
                  <%= f.check_box :corp, class: 'custom-control-input' %>
                  <span class="custom-control-label"></span>
                </label>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-3 col-lg-2 col-form-label text-right" for="inputCash">Cash</label>
              <div class="col-9 col-lg-10">
                <label class="be-checkbox custom-control custom-checkbox">
                  <%= f.check_box :cash, class: 'custom-control-input' %>
                  <span class="custom-control-label"></span>
                </label>
              </div>
            </div>
            <div class="form-group row mt-2">
              <label class="col-3 col-lg-2 col-form-label text-right">Categories For Client</label>
              <div class="col-9 col-lg-10">
                <%= f.select :category_ids, Category.visible.map { |category| [category.title, category.id] }, {}, {:multiple => true, :class => "select2 select2-lg category", :style => "width:450px;" } %>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-3 col-lg-2 col-form-label text-right" for="inputPasswordConfirmation">Confirm phone number</label>
              <div class="col-9 col-lg-10">
                <label class="be-checkbox custom-control custom-checkbox">
                  <%= f.check_box :confirm_phone_number, class: 'custom-control-input' %>
                  <span class="custom-control-label"></span>
                </label>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-3 col-lg-2 col-form-label text-right">Avatar</label>
              <div class="col-7 col-lg-8">
                <%= f.file_field :image, class: 'form-control', placeholder: 'Avatar' %>
              </div>
              <% if @client.image.present? %>
                <!-- <div class="col-1 col-lg-2"> -->
                  <!-- <label class="custom-control custom-control-sm custom-checkbox">Remove image -->
                    <!-- <%#= f.check_box :remove_image, class: 'custom-control-input remove_image' %><span class="custom-control-label"></span> -->
                  <!-- </label> -->
                <!-- </div> -->
              <% end %>
            </div>
            <div id="client_doc">
              <div class="form-group row mt-2">
                <label class="col-3 col-lg-2 col-form-label text-right" for="dump_file">Upload doc</label>
                <div class="col-9 col-lg-10">
                  <%= f.file_field :doc, class: 'form-control', id: 'uploadFile' %>
                </div>
              </div>
            </div>
            <div id="client_tariff_plan" style="display: none">
              <div class="form-group row mt-2">
                <label class="col-3 col-lg-2 col-form-label text-right" for="inputEmail">Tariff plan</label>
                <div class="col-9 col-lg-10">
                  <%= f.select :tariff_plan_id, TariffPlan.all.map{|u| ["#{u.plan}", u.id]}, {}, class: 'select2 select2-lg'  %>
                </div>
              </div>
            </div>

            <div id="client_pay_with" style="display: none">
              <div class="form-group row mt-2">
                <label class="col-3 col-lg-2 col-form-label text-right" for="inputEmail">Pay with</label>
                <div class="col-9 col-lg-10">
                  <%= f.select :pay_with, User::Client::pay_withs.keys, {}, class: 'select2 select2-lg'  %>
                </div>
              </div>
            </div>
            <div id="client_segments">
              <div class="form-group row">
                <%= f.fields_for :client_segment do |t| %>
                  <label class="col-3 col-lg-2 col-form-label text-right" for="inputEmail">Segment of client</label>
                  <div class="col-9 col-lg-10">
                    <%= t.select :title, ClientSegment.titles.keys, {}, class: 'select2' %>
                  </div>
                <% end %>
              </div>
            </div>
            <div id="client_district">
              <div class="form-group row">
               <label class="col-3 col-lg-2 col-form-label text-right" for="inputEmail">District</label>
               <div class="col-9 col-lg-10">
                 <%= f.select :district_id, District.all.map{ |district| [district.name, district.id] }, {},  class: 'select2 select2-lg form-control' %>
               </div>
              </div>
            </div>
            <div id="client_offices">
              <div class="client_nested_fields">
                <%= f.fields_for :offices do |t| %>
                  <%= render 'office', f: t %>
                <% end %>
              </div>
              <%= link_to_add_row('Add offices', f, :offices, class: 'btn btn-primary') %>
            </div>
            <div id="client_extra_info">
              <%= f.fields_for :client_extra_info do |t| %>
                <%= render 'client_extra_info', f: t %>
              <% end %>
            </div>
            <div class="card-header card-header-divider">Client services<span class="card-subtitle">Choose client services</span></div>
            <%= render partial: 'client_service', locals: { f: f } %>
            <div class="card-header card-header-divider"><span class="card-subtitle"></span></div>
            <div class="row pt-3 mt-1">
              <div class="col-sm-6 col-lg-6 pb-4 pb-lg-0">
                <label class="be-checkbox custom-control custom-checkbox">
                </label>
              </div>
              <div class="col-sm-6">
                <p class="text-right">
                  <button class="btn btn-space btn-primary" type="submit">Update</button>
                </p>
              </div>
            </div>
          <%end %>
        </div>
      </div>
    </div>
  </div>
  <%= render partial: 'admin/panel/partials/navigation_bar' %>
</div>
<%= content_for :javascript do %>
  <script type="text/javascript">
    App.init();
    App.formElements();
    checkForCorp();
    $(document).on('click', '.remove_record', function(event) {
      $(this).prev('input[type=hidden]').val('1');
      $(this).closest('.office_block').hide();
      return event.preventDefault();
    });

    $(document).on('click', '.add_fields', function(event) {
      event.preventDefault();
      var regexp, time;
      time = new Date().getTime();
      regexp = new RegExp($(this).data('id'), 'g');
      $('#client_offices').append($(this).data('fields').replace(regexp, time));
//      return event.preventDefault();
    });

    $('#created_admin_user-role').on('change', function(){
      selected = $(this).val();

      if(selected == 'company') {
        $('#created_admin_user-platform_parent').removeClass('hidden')
      } else {
        $('#created_admin_user-platform_parent').addClass('hidden')
      }
    });

    window.categories = []
    window.subcategories = []
    window.clients = []
    var client;

    $.ajax({ 
      type: "GET",
      dataType: "json",
      async: false,
      url: "<%= api_v2_categories_path %>",
      success: function(data){ window.categories = data }
    });

    $('.category').on('change', function(){
      category_id = parseInt($(this).val())

      $.each(window.categories, function(id, category){
        if(category.id == category_id) {
          $('.subcategory').removeAttr('disabled')
          $('.service').removeAttr('disabled')
          $('.subcategory').html('') 
          $('.service').html('')

          window.subcategories = category.subcategories
          count = 0

          $.each(window.subcategories, function(id, subcategory){
            $('.subcategory').append($('<option>', {value: subcategory.id,text : subcategory.title}))
            
            if($('.subcategory').val() == subcategory.id){
              $.each(subcategory.services, function(id, service){
                if (count == 0) { $('.client_service_price').val(service.price) }
                $('.service').append(
                  $('<option>', {
                    value: service.id,
                    text : service.short_title
                  }).attr('data-price', service.price)
                )
                count = count + 1
              })
            }
          })
        }
        else {}
      })
    })


    $('.subcategory').on('change', function(){
      subcategory_id = parseInt($(this).val())

      $.each(window.subcategories, function(id, subcategory){
        if(subcategory.id == subcategory_id) {
          $('.service').removeAttr('disabled')
          $('.service').html('')
          count = 0

          $.each(subcategory.services, function(id, service){
            if (count == 0) { $('.client_service_price').val(service.price) }
            
            $('.service').append($('<option>', {
              value: service.id,
              text: service.short_title
            }).attr('data-price', service.price))
            count = count + 1
          })
        }
        else {}
      })
    })

    $(document).on('change', '.service', function(){
      $('.client_service_price').val($('.service option:selected').attr('data-price'))
    });

    $('.add_client_service').on('click', function(event){
      event.preventDefault();

      cat_title = $('.category option:selected').text()
      subcat_title = $('.subcategory option:selected').text()
      service_title = $('.service option:selected').text()
      price = $('.client_service_price').val()
      add = true

      if(cat_title != "" && subcat_title != "" && service_title != "" && price != "") {
        var template = `<tr class='tr-result' data-service-id='${$('.service option:selected').val()}' ><td>${cat_title}</td> \
          <td>${subcat_title}</td> \
          <td>${service_title}</td> \
          <td> \
            ${price}
            <input type='hidden' id='destroy${$('.service option:selected').val()}' name='user_client[client_services_attributes][${$('.service option:selected').val()}][_destroy]'> \
            <input type='hidden' value='${$('.client_service_price').val()}' name='user_client[client_services_attributes][${$('.service option:selected').val()}][price]'> \
            <input type='hidden' value='${$('.service option:selected').val()}' name='user_client[client_services_attributes][${$('.service option:selected').val()}][service_id]'> \
          </td> \
          <td data-service-id='${$('.service option:selected').val()}'> \
            <div class='icon-container'> \
              <div class='icon'><span class='mdi mdi-delete delete-client_services'></span></div> \
            </div> \
          </td> \
        </tr>`

        $("table .tr-result").each(function(index) {
          $row = $(this);
          if($row.attr('data-service-id') != $('.service option:selected').val()){
            add = true
          } else {
            add = false
            $row.show()
            $(`#destroy${$('.service option:selected').val()}`).val('')
          }
        })

        if(add) { $('.tbody_clients').append(template) }
      }
    })

    $(document).on('click', '.delete-client_services', function(){
      service_id = $(this).parents('td').attr('data-service-id')
      $(`#destroy${service_id}`).val(1)
      $(this).parents('tr').hide()
    });

    $('.show_password').on('change', function(){
      if(this.checked){
        $('#inputPassword').attr('type', 'text');
        $('#inputPasswordConfirmation').attr('type', 'text');
      }else{
        $('#inputPassword').attr('type', 'password');
        $('#inputPasswordConfirmation').attr('type', 'password');
      }
    });

    $("#user_client_corp").on('change', function(){
      if(this.checked) {
        $('#client_offices').css('display', 'block');
        $('#client_doc').css('display', 'block');
        $('#client_tariff_plan').css('display', 'block');
        $('#client_pay_with').css('display', 'block');
        $('#client_segments').css('display', 'block');
        $('#client_extra_info').css('display', 'none');
        $('#client_district').css('display', 'block');
      }else{
        $('#client_offices').css('display', 'none');
        $('#client_doc').css('display', 'none');
        $('#client_tariff_plan').css('display', 'none');
        $('#client_segments').css('display', 'none');
        $('#client_extra_info').css('display', 'block');
         $('#client_district').css('display', 'none');
      }
    });

    stop_preloader();

    <% unless @client.district.present? %>
      $('#user_client_district_id').val(null).trigger('change');
    <% end %>

    <%= render partial: 'admin/panel/partials/flash_msg' %>

    function checkForCorp(){
      if($('#user_client_corp').prop('checked')){
        $('#client_offices').css('display', 'block');
        $('#client_doc').css('display', 'block');
        $('#client_tariff_plan').css('display', 'block');
        $('#client_pay_with').css('display', 'block');
        $('#client_segments').css('display', 'block');
        $('#client_extra_info').css('display', 'none');
      }else{
        $('#client_offices').css('display', 'none');
        $('#client_doc').css('display', 'none');
        $('#client_tariff_plan').css('display', 'none');
        $('#client_pay_with').css('display', 'none');
        $('#client_segments').css('display', 'none');
        $('#client_extra_info').css('display', 'block');
      }
    }
  </script>
<% end %>