<div class="be-wrapper be-fixed-sidebar">
  <%= render partial: 'admin/panel/partials/header' %>

  <%= render partial: 'admin/panel/partials/sidebar' %>

  <div class="be-content">
    <div class="page-head">
      <h2 class="page-head-title">Clients</h2>
      <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb page-head-nav">
          <li class="breadcrumb-item"><a href="<%= admin_panel_path %>">Home</a></li>
          <li class="breadcrumb-item"><a href="<%= admin_panel_clients_path %>">Clients</a></li>
          <li class="breadcrumb-item">List</li>
        </ol>
      </nav>
    </div>
    <div class="main-content container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card card-table">
            <%= form_tag admin_panel_clients_path, method: :get, id: 'client_filters_form' do%>
            <div class="row table-filters-container">
              <div class="col-4 col-lg-4 table-filters pb-0 pb-xl-4 filter_blocks">
                <div class="row">
                  <div class="col-12 col-lg-12 table-filters pb-0 pb-xl-5" style="padding-top: 0; padding-bottom: 0 !important;"><span class="table-filter-title title_filter">Name</span>
                    <div class="filter-container">
                      <label class="control-label">Find by name:</label>
                        <div class="row">
                          <div class="col-6">
                            <%= select_tag :client_name_filter, options_for_select(get_filter_options, params[:client_name_filter]), { class: 'select2 select2-hidden-accessible client_name_filter' } %>
                          </div>
                          <div class="col-6">
                            <%= text_field_tag :client_name, params[:client_name], class: 'form-control form-control-sm client_name' %>
                          </div>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-4 col-lg-4 table-filters pb-0 pb-xl-4 filter_blocks">
                <div class="row">
                  <div class="col-12 col-lg-12 table-filters pb-0 pb-xl-5" style="padding-top: 0; padding-bottom: 0 !important;"><span class="table-filter-title title_filter">Email</span>
                    <div class="filter-container">
                      <label class="control-label">Find by email:</label>
                        <div class="row">
                          <div class="col-6">
                            <%= select_tag :client_email_filter, options_for_select(get_filter_options, params[:client_email_filter]), { class: 'select2 select2-hidden-accessible client_email_filter' } %>
                          </div>
                          <div class="col-6">
                            <%= text_field_tag :client_email, params[:client_email], class: 'form-control form-control-sm client_email' %>
                          </div>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-lg-12 table-filters pb-0 pb-xl-5">
                  <div class="filter-container">
                    <div class="row">
                      <div class="col-2">
                      </div>
                      <div class="col-4" style="padding-right: 0 !important;">
                        <div class="custom-controls-stacked">
                          <a href="<%= new_admin_panel_client_path %>" class="btn btn-space btn-secondary">New client</a>
                        </div>
                      </div>
                      <div class="col-5" style="padding-right: 0 !important;">
                        <div class="custom-controls-stacked">
                          <a href="<%= upload_xls_admin_panel_clients_path %>" class="btn btn-space btn-secondary">Import XLS</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-4 col-lg-4 table-filters pb-0 pb-xl-4 filter_blocks">
                <div class="row">
                  <div class="col-12 col-lg-12 table-filters pb-0 pb-xl-5" style="padding-top: 0; padding-bottom: 0 !important;"><span class="table-filter-title title_filter">Phone number</span>
                    <div class="filter-container">
                      <label class="control-label">Find by phone number:</label>
                        <div class="row">
                          <div class="col-6">
                             <%= select_tag :client_phone_number_filter, options_for_select(get_filter_options, params[:client_phone_number_filter]), { class: 'select2 select2-hidden-accessible client_email_filter' } %>
                          </div>
                          <div class="col-6">
                            <%= text_field_tag(:client_phone_number, params[:client_phone_number], class: 'form-control form-control-sm client_phone_number') %>
                          </div>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-4 col-lg-4 table-filters pb-0 pb-xl-4 filter_blocks">
                <div class="row">
                  <div class="col-12 col-lg-12 table-filters pb-0 pb-xl-4" style="padding-top: 0; padding-bottom: 0 !important;"><span class="table-filter-title title_filter">Category</span>
                    <div class="filter-container">
                      <label class="control-label">Category:</label>
                      <%= select_tag :client_category, options_for_select(@categories.map {|category| [category.title, category.id]}, params[:client_category]), { class: 'select2 client_category', id: 'client_category' } %>
                    </div>
                  </div>
                </div>
              </div>
              <% if current_admin_user.admin? %>
                <div class="col-4 col-lg-4 table-filters pb-0 pb-xl-4 filter_blocks">
                  <div class="row">
                    <div class="col-12 col-lg-12 table-filters pb-0 pb-xl-4" style="padding-top: 0; padding-bottom: 0 !important;"><span class="table-filter-title title_filter">Company</span>
                      <div class="filter-container">
                        <label class="control-label">Company:</label>
                        <%= select_tag :client_company, options_for_select(get_companies_for_clients_filter(@companies), params[:client_company]), { class: 'select2 client_company', id: 'client_company' } %>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
              <div class="col-4 col-lg-4 table-filters pb-0 pb-xl-4 filter_blocks">
                <div class="row">
                  <div class="col-12 col-lg-12 table-filters pb-0 pb-xl-4" style="padding-top: 0; padding-bottom: 0 !important;"><span class="table-filter-title title_filter">Client type</span>
                    <div class="filter-container">
                      <label class="control-label">Client type:</label>
                      <%= select_tag :corp, options_for_select([['Corporative clients', true], ['Private clients', false]], params[:corp]), { class: 'select2 client_type', id: 'client_type' } %>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 col-lg-12 table-filters pb-0 pb-xl-4 filter_buttons">
                <div class="row">
                  <div class="col-12 col-lg-12 table-filters filter_blocks">
                    <div class="filter-container">
                      <%= submit_tag('Filter', type: 'submit', class: 'btn btn-space btn-primary') %>
                      <%= submit_tag('Reset', type: 'cancel', class: 'btn btn-space btn-secondary reset_client_filters') %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <% end %>
            <div class="card-body">
              <div class="noSwipe">
                <table class="table table-striped table-hover be-table-responsive" id="table1">
                  <thead>
                  <tr>
                    <th>
                      <label class="custom-control custom-control-sm custom-checkbox">
                        <input class="custom-control-input" type="checkbox"><span class="custom-control-label"></span>
                      </label>
                    </th>
                    <th>Id</th>
                    <th>Email</th>
                    <th>Name</th>
                    <th>Birthday</th>
                    <th>Phone number</th>
                    <th>Created at</th>
                    <th>Count of orders</th>
                    <th>Average check</th>
                    <th>Corporative</th>
                  </tr>
                  </thead>
                  <tbody>
                  <% @clients.each do |client| %>
                    <tr class="success done">
                      <td>
                        <label class="custom-control custom-control-sm custom-checkbox">
                          <input class="custom-control-input" type="checkbox"><span class="custom-control-label"></span>
                        </label>
                      </td>
                      <td class="cell-detail"><span><a href="<%= admin_panel_client_path(client.id) %>"><%= client.id %></a></span><span class="cell-detail-description"></span></td>
                      <td class="cell-detail"><span><%= client.email %></span><span class="cell-detail-description"></span></td>
                      <td class="cell-detail" data-project="Bootstrap"><span><%= client.name %></span><span class="cell-detail-description"></span></td>
                      <td class="cell-detail" data-project="Bootstrap"><span><%= client.b_day %></span><span class="cell-detail-description"></span></td>
                      <td class="cell-detail" data-project="Bootstrap"><span><%= client.phone_number %></span><span class="cell-detail-description"></span></td>
                      <td class="cell-detail" data-project="Bootstrap"><span><%= get_custom_date(client.created_at) %></span><span class="cell-detail-description"></span></td>
                      <td class="cell-detail" data-project="Bootstrap"><span><%= client.all_orders.count %></span><span class="cell-detail-description"></span></td>
                      <td class="cell-detail" data-project="Bootstrap"><span><%= client.average_check %></span><span class="cell-detail-description"></span></td>
                      <td class="cell-detail" data-project="Bootstrap"><span><%= client.corp? ? 'Yes' : 'No' %></span><span class="cell-detail-description"></span></td>
                      <td class="text-right">
                        <div class="btn-group btn-hspace">
                          <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">Actions <span
                          class="icon-dropdown mdi mdi-chevron-down"></span></button>
                          <div class="dropdown-menu" role="menu">
                            <a class="dropdown-item" href="<%= admin_panel_client_path(client) %>">Show</a>
                            <a class="dropdown-item" href="<%= edit_admin_panel_client_path(client) %>">Edit</a>
                            <a class="dropdown-item" href="<%= admin_panel_client_path(client) %>" data-method="delete" data-confirm="Are you sure?">Delete</a>
                          </div>
                        </div>
                      </td>
                    </tr>
                  <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5"></div>
        <div class="col-md-7">
          <div class="card" style="float: right">
            <div class="card-header">
              Total client's count is <b><%= @clients_count.present? ? @clients_count : 0 %></b>
            </div>
            <div class="card-body">
              <%= paginate @clients %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= render partial: 'admin/panel/partials/navigation_bar' %>
</div>
<%= content_for :javascript do %>
  <script type="text/javascript">
    App.init();
    App.formElements();
    // App.tableFilters();
    stop_preloader();
    <% unless params[:client_category].present? %>
      $('#client_category').val('').trigger('change');
    <% end %>

    <% unless params[:client_company].present? %>
      $('#client_company').val('all').trigger('change');
    <% end %>

    <% unless params[:corp].present? %>
      $('#client_type').val('').trigger('change');
    <% end %>

    $("#client_category").attr("data-placeholder","Select category");
    $("#client_company").attr("data-placeholder","Select company");
    
    $('.reset_client_filters').on('click', function(){
      $('#client_filters_form')[0].reset();
      window.location.href = '/admin/panel/clients'
    });

    <%= render partial: 'admin/panel/partials/flash_msg' %>
  </script>
<% end %>