<div class="be-wrapper be-fixed-sidebar">
  <%= render partial: 'admin/panel/partials/header' %>

  <%= render partial: 'admin/panel/partials/sidebar' %>

  <div class="be-content">
    <div class="page-head">
      <h2 class="page-head-title">Clients</h2>
      <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb page-head-nav">
          <li class="breadcrumb-item"><a href="<%= admin_panel_path %>">Home</a></li>
          <li class="breadcrumb-item"><a href="<%= admin_panel_clients_path %>">Clients</a></li>
          <li class="breadcrumb-item active">Create</li>
        </ol>
      </nav>
    </div>
    <div class="main-content container-fluid">
      <div class="card card-border-color card-border-color-primary">
        <div class="card-header card-header-divider">Client form<span class="card-subtitle">Form for create admin user</span></div>
        <div class="card-body">
          <% if params[:form].eql?('business') %>
            <%= render partial: 'admin/panel/clients/business_form'%>
          <% else %>
            <%= render partial: 'admin/panel/clients/form'%>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <%= render partial: 'admin/panel/partials/navigation_bar' %>
</div>
<%= content_for :javascript do %>
  <script type="text/javascript">
    App.init();
    App.formElements();

    $(document).on('click', '.remove_record', function(event) {
      $(this).prev('input[type=hidden]').val('1');
      $(this).closest('.office_block').hide();
      return event.preventDefault();
    });

    $(document).on('click', '.add_fields', function(event) {
      var regexp, time;
      time = new Date().getTime();
      regexp = new RegExp($(this).data('id'), 'g');
      $('#client_offices').append($(this).data('fields').replace(regexp, time));
      return event.preventDefault();
    });

    $('#created_admin_user-role').on('change', function(){
      selected = $(this).val();

      if(selected == 'company') {
        $('#created_admin_user-platform_parent').removeClass('hidden')
      } else {
        $('#created_admin_user-platform_parent').addClass('hidden')
      }
    });

    window.categories = []
    window.subcategories = []
    window.clients = []
    var client;

    $.ajax({ 
      type: "GET",
      dataType: "json",
      async: false,
      url: "<%= api_v2_categories_path %>",
      success: function(data){ window.categories = data }
    });

    $('.category').on('change', function(){
      category_id = parseInt($(this).val())

      $.each(window.categories, function(id, category){
        if(category.id == category_id) {
          $('.subcategory').removeAttr('disabled')
          $('.service').removeAttr('disabled')
          $('.subcategory').html('') 
          $('.service').html('')

          window.subcategories = category.subcategories
          count = 0

          $.each(window.subcategories, function(id, subcategory){
            $('.subcategory').append($('<option>', {value: subcategory.id,text : subcategory.title}))
            
            if($('.subcategory').val() == subcategory.id){
              $.each(subcategory.services, function(id, service){
                if (count == 0) { $('.client_service_price').val(service.price) }
                $('.service').append(
                  $('<option>', {
                    value: service.id,
                    text : service.short_title
                  }).attr('data-price', service.price)
                )
                count = count + 1
              })
            }
          })
        }
        else {}
      })
    })


    $('.subcategory').on('change', function(){
      subcategory_id = parseInt($(this).val())

      $.each(window.subcategories, function(id, subcategory){
        if(subcategory.id == subcategory_id) {
          $('.service').removeAttr('disabled')
          $('.service').html('')
          count = 0

          $.each(subcategory.services, function(id, service){
            if (count == 0) { $('.client_service_price').val(service.price) }
            
            $('.service').append($('<option>', {
              value: service.id,
              text: service.short_title
            }).attr('data-price', service.price))
            count = count + 1
          })
        }
        else {}
      })
    })

    $(document).on('change', '.service', function(){
      $('.client_service_price').val($('.service option:selected').attr('data-price'))
    });

    $('.add_client_service').on('click', function(event){
      event.preventDefault();

      cat_title = $('.category option:selected').text()
      subcat_title = $('.subcategory option:selected').text()
      service_title = $('.service option:selected').text()
      price = $('.client_service_price').val()
      add = true

      if(cat_title != "" && subcat_title != "" && service_title != "" && price != "") {
        var template = `<tr class='tr-result' data-service-id='${$('.service option:selected').val()}' ><td>${cat_title}</td> \
          <td>${subcat_title}</td> \
          <td>${service_title}</td> \
          <td> \
            ${price}
            <input type='hidden' id='destroy${$('.service option:selected').val()}' name='user_client[client_services_attributes][${$('.service option:selected').val()}][_destroy]'> \
            <input type='hidden' value='${$('.client_service_price').val()}' name='user_client[client_services_attributes][${$('.service option:selected').val()}][price]'> \
            <input type='hidden' value='${$('.service option:selected').val()}' name='user_client[client_services_attributes][${$('.service option:selected').val()}][service_id]'> \
          </td> \
          <td data-service-id='${$('.service option:selected').val()}'> \
            <div class='icon-container'> \
              <div class='icon'><span class='mdi mdi-delete delete-client_services'></span></div> \
            </div> \
          </td> \
        </tr>`

        $("table .tr-result").each(function(index) {
          $row = $(this);
          if($row.attr('data-service-id') != $('.service option:selected').val()){
            add = true
          } else {
            add = false
            $row.show()
            $(`#destroy${$('.service option:selected').val()}`).val('')
          }
        })

        if(add) { $('.tbody_clients').append(template) }
      }
    })

    $(document).on('click', '.delete-client_services', function(){
      service_id = $(this).parents('td').attr('data-service-id')
      $(`#destroy${service_id}`).val(1)
      $(this).parents('tr').hide()
    });

    $('.show_password').on('change', function(){
      if(this.checked){
        $('#inputPassword').attr('type', 'text');
        $('#inputPasswordConfirmation').attr('type', 'text');
      }else{
        $('#inputPassword').attr('type', 'password');
        $('#inputPasswordConfirmation').attr('type', 'password');
      }
    });

    stop_preloader();

    <%= render partial: 'admin/panel/partials/flash_msg' %>
  </script>
<% end %>