<div class="be-wrapper be-fixed-sidebar">
  <%= render partial: 'admin/panel/partials/header' %>

  <%= render partial: 'admin/panel/partials/sidebar' %>

  <div class="be-content">
    <div class="page-head">
      <h2 class="page-head-title">Clients</h2>
      <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb page-head-nav">
          <li class="breadcrumb-item"><a href="<%= admin_panel_path %>">Home</a></li>
          <li class="breadcrumb-item"><a href="<%= admin_panel_clients_path %>">Clients</a></li>
          <li class="breadcrumb-item active">Show</li>
        </ol>
      </nav>
    </div>
    <div class="main-content container-fluid">
      <div class="user-profile">
        <div class="row">
          <div class="col-lg-10">
            <div class="user-info-list card">
              <div class="card-header card-header-divider">Client
                <span class="card-subtitle">
                <div class="icon-container">
                  <a href="<%= edit_admin_panel_client_path(@client)%>">
                    <div class="icon"><span class="mdi mdi-edit"></span></div>
                    <span class="icon-class">Edit</span>
                  </a>
                </div>

                  <% if @client.corp? %>
                    <% if @client.contract.present?%>
                      <div class="icon-container">
                        <a href="<%= edit_admin_panel_client_contract_path(client_id: @client.id, id: @client.contract.id) %>">
                          <div class="icon"><span class="mdi mdi-file"></span></div>
                          <span class="icon-class">Edit Contract</span>
                        </a>
                      </div>
                    <% else %>
                      <div class="icon-container">
                        <a href="<%= new_admin_panel_client_contract_path(client_id: @client.id) %>">
                          <div class="icon"><span class="mdi mdi-file"></span></div>
                          <span class="icon-class">Add Contract</span>
                        </a>
                      </div>
                    <% end %>
                  <% end %>
                </span>
              </div>
              <div class="card-body">
                <table class="no-border no-strip skills">
                  <tbody class="no-border-x no-border-y">
                  <tr>
                    <td class="icon"><span class="mdi mdi-case"></span></td>
                    <td class="item">Email<span class="icon s7-portfolio"></span></td>
                    <td><%= @client.email%></td>
                  </tr>
                  <tr>
                    <td class="icon"><span class="mdi mdi-cake"></span></td>
                    <td class="item">Name<span class="icon s7-gift"></span></td>
                    <td><%= @client.name%></td>
                  </tr>
                  <tr>
                    <td class="icon"><span class="mdi mdi-cake"></span></td>
                    <td class="item">Avatar<span class="icon s7-gift"></span></td>
                    <td>
                      <% if @client.image.present? %>
                        <%= image_tag @client.image, size: '320x270' %>
                      <% else %>
                        <%= image_tag 'admin/panel/profiledefault.png', size: '320x270' %>
                      <% end %>
                    </td>
                  </tr>
                  <% if @client.corp? %>
                    <tr>
                      <td class="icon"><span class="mdi mdi-cake"></span></td>
                      <td class="item">Doc<span class="icon s7-gift"></span></td>
                      <td><%= link_to 'Document link', @client.doc.url if @client.doc.present? %></td>
                    </tr>
                  <% end %>
                  <tr>
                    <td class="icon"><span class="mdi mdi-cake"></span></td>
                    <td class="item">Birthday<span class="icon s7-gift"></span></td>
                    <td><%= @client.b_day%></td>
                  </tr>
                  <tr>
                    <td class="icon"><span class="mdi mdi-cake"></span></td>
                    <td class="item">Phone number<span class="icon s7-gift"></span></td>
                    <td><%= @client.phone_number%></td>
                  </tr>
                  <tr>
                    <td class="icon"><span class="mdi mdi-cake"></span></td>
                    <td class="item">Type<span class="icon s7-gift"></span></td>
                    <td><%= @client.corp ? 'Corporative' : 'Individual' %></td>
                  </tr>
                  <tr>
                    <td class="icon"><span class="mdi mdi-cake"></span></td>
                    <td class="item">Address<span class="icon s7-gift"></span></td>
                    <td><%= @client.address %></td>
                  </tr>
                  <tr>
                    <td class="icon"><span class="mdi mdi-cake"></span></td>
                    <td class="item">Categories<span class="icon s7-gift"></span></td>
                    <td>
                      <ul>
                        <% @client.categories.each do |cat| %>
                          <li><%= cat.title %></li>
                        <% end %>
                      </ul>
                    </td>
                  </tr>
                  <tr>
                    <td class="icon"><span class="mdi mdi-cake"></span></td>
                    <td class="item">Sum of orders (€)<span class="icon s7-gift"></span></td>
                    <td><%= clients_sum_of_orders(@client) %></td>
                  </tr>
                  <tr>
                    <td class="icon"><span class="mdi mdi-cake"></span></td>
                    <td class="item">Average check<span class="icon s7-gift"></span></td>
                    <td><%= @client.average_check %></td>
                  </tr>
                  <tr>
                    <td class="icon"><span class="mdi mdi-cake"></span></td>
                    <td class="item">Completed and paid orders count<span class="icon s7-gift"></span></td>
                    <td><%= @client.completed_paid_orders.count %></td>
                  </tr>
                  <tr>
                    <td class="icon"><span class="mdi mdi-cake"></span></td>
                    <td class="item">Active orders count<span class="icon s7-gift"></span></td>
                    <td><%= @client.active_orders.count %></td>
                  </tr>
                  <tr>
                    <td class="icon"><span class="mdi mdi-cake"></span></td>
                    <td class="item">Canceled orders count<span class="icon s7-gift"></span></td>
                    <td><%= @client.canceled_orders.count %></td>
                  </tr>
                  <tr>
                    <td class="icon"><span class="mdi mdi-cake"></span></td>
                    <td class="item">Total orders count<span class="icon s7-gift"></span></td>
                    <td><%= @client.all_orders.count %></td>
                  </tr>
                  <tr>
                    <td class="icon"><span class="mdi mdi-cake"></span></td>
                    <td class="item">Confirm phone number<span class="icon s7-gift"></span></td>
                    <td><%= @client.confirm_phone_number? ? "Yes" : "No" %></td>
                  </tr>
                  <tr>
                    <td class="icon"><span class="mdi mdi-cake"></span></td>
                    <td class="item">Referal<span class="icon s7-gift"></span></td>
                    <td><a href="<%= @client.referal %>"><%= @client.referal  %></a></td>
                  </tr>
                  <tr>
                    <td class="icon"><span class="mdi mdi-cake"></span></td>
                    <td class="item">Cash<span class="icon s7-gift"></span></td>
                    <td><%= @client.cash ? 'Yes' : 'No' %></td>
                  </tr>
                  <tr>
                    <td class="icon"><span class="mdi mdi-cake"></span></td>
                    <td class="item">Active Promo Codes<span class="icon s7-gift"></span></td>
                    <td>
                      <% if @client.try(:promo_codes).try(:available).present? %>
                        <ul>
                          <% @client.promo_codes.available.each do |code| %>
                            <li>
                              <a href="<%= admin_panel_promo_code_path(code) %>">
                                promocode:
                                <strong><%= code.promo_code_id %></strong>
                                discount:
                                <strong>€ <%= code.discount %></strong>
                              </a>
                            </li>
                          <% end %>
                        </ul>
                      <% end %>
                    </td>
                  </tr>
                  <% if @client.corp? %>
                    <tr>
                      <td class="icon"><span class="mdi mdi-cake"></span></td>
                      <td class="item">Corp discount<span class="icon s7-gift"></span></td>
                      <td><%= "-#{@client.corp_discount}%" %></td>
                    </tr>
                    <tr>
                      <td class="icon"><span class="mdi mdi-cake"></span></td>
                      <td class="item">Pay with<span class="icon s7-gift"></span></td>
                      <td><%= @client.pay_with %></td>
                    </tr>
                    <tr>
                      <td class="icon"><span class="mdi mdi-cake"></span></td>
                      <td class="item">Tariff plan<span class="icon s7-gift"></span></td>
                      <td><%= @client.try(:tariff_plan).try(:plan) %></td>
                    </tr>
                    <% if @client.contract.present? %>
                      <tr>
                        <td class="icon"><span class="mdi mdi-cake"></span></td>
                        <td class="item">Contract dates<span class="icon s7-gift"></span></td>
                        <td>
                          <ul>
                            <%@client.contract.contract_dates.each do |date|%>
                              <li><%= date.order_date %></li>
                            <% end %>
                          </ul>
                        </td>
                      </tr>
                    <% end %>
                    <% if @client.corp_information.present?%>
                      <tr>
                        <td class="icon"><span class="mdi mdi-cake"></span></td>
                        <td class="item">Company position<span class="icon s7-gift"></span></td>
                        <td><%= @client.corp_information.position_in_company %></td>
                      </tr>
                      <tr>
                        <td class="icon"><span class="mdi mdi-cake"></span></td>
                        <td class="item">Company name<span class="icon s7-gift"></span></td>
                        <td><%= @client.corp_information.name_in_company %></td>
                    <% end%>
                    </tr>
                    <% if @client.district.present? %>
                      <tr>
                        <td class="icon"><span class="mdi mdi-cake"></span></td>
                        <td class="item">District<span class="icon s7-gift"></span></td>
                        <td><%= link_to @client.district.name, admin_panel_district_path(@client.district) %></td>
                      </tr>
                    <% end %>
                  <% end %>
                  <!--TODO добавить Feedback from Client, Orders see the History, List of cards -->
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="col-lg-10">
             <div class="card">
              <div class="user-info-list card">
                <div class="card-header card-header-divider">Offices<span class="card-subtitle"></span></div>
                <div class="card-body">
                  <% @client.offices.each do |office| %>
                    <table class="no-border no-strip skills">
                      <tbody class="no-border-x no-border-y">
                        <tr>
                          <td class="icon"><span class="mdi mdi-case"></span></td>
                          <td class="item">Title<span class="icon s7-portfolio"></span></td>
                          <td><%= office.title %></td>
                        </tr>
                        <tr>
                          <td class="icon"><span class="mdi mdi-case"></span></td>
                          <td class="item">Count vehicles<span class="icon s7-portfolio"></span></td>
                          <td><%= office.count_vehicles %></td>
                        </tr>
                        <tr>
                          <div class="icon-container">
                            <a href="<%= edit_admin_panel_office_path(office) %>">
                              <div class="icon"><span class="mdi mdi-edit"></span></div>
                              <span class="icon-class">Edit</span>
                            </a>
                          </div>
                        </tr>
                      </tbody>
                    </table>
                  <% end %>
                </div>
              </div>
            </div> 
          </div>
        </div>

      </div>
    </div>
  </div>
  <%= render partial: 'admin/panel/partials/navigation_bar' %>
</div>
<%= content_for :javascript do %>
  <script type="text/javascript">
    App.init();
    App.formElements();
    // App.tableFilters();
    stop_preloader();

    <%= render partial: 'admin/panel/partials/flash_msg' %>
  </script>
<% end %>