<div class="be-wrapper be-fixed-sidebar">
  <%= render partial: 'admin/panel/partials/header' %>

  <%= render partial: 'admin/panel/partials/sidebar' %>

  <div class="be-content">
    <div class="page-head">
      <h2 class="page-head-title">Settings</h2>
      <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb page-head-nav">
          <li class="breadcrumb-item"><a href="<%= admin_panel_path %>">Home</a></li>
          <li class="breadcrumb-item"><a href="<%= admin_panel_settings_path %>">Settings</a></li>
          <li class="breadcrumb-item active">Edit</li>
        </ol>
      </nav>
      
    </div>
    <div class="main-content container-fluid">
      <div class="card card-border-color card-border-color-primary">
        <div class="card-header card-header-divider">Settings form<span class="card-subtitle">Form for edit settings</span></div>
        <div class="card-body">
          <%= form_for @setting, url: admin_panel_setting_path, method: :put do |f| %>
          <div class="form-group row mt-2">
            <label class="col-3 col-lg-2 col-form-label text-right" for="inputPasswordConfirmation">Send Email owner gift card</label>
            <div class="col-9 col-lg-10">
              <label class="be-checkbox custom-control custom-checkbox">
                <%= f.check_box :send_email_owner_gift_card, class: 'custom-control-input' %>
                <span class="custom-control-label"></span>
              </label>
            </div>
          </div>
          <div class="form-group row mt-2">
            <label class="col-3 col-lg-2 col-form-label text-right" for="inputPasswordConfirmation">Send welcome email</label>
            <div class="col-9 col-lg-10">
              <label class="be-checkbox custom-control custom-checkbox">
                <%= f.check_box :send_welcome_email, class: 'custom-control-input' %>
                <span class="custom-control-label"></span>
              </label>
            </div>
          </div>
          <div class="form-group row mt-2">
            <label class="col-3 col-lg-2 col-form-label text-right" for="inputPasswordConfirmation">Send email invoice client</label>
            <div class="col-9 col-lg-10">
              <label class="be-checkbox custom-control custom-checkbox">
                <%= f.check_box :send_email_invoice_client, class: 'custom-control-input' %>
                <span class="custom-control-label"></span>
              </label>
            </div>
          </div>
          <div class="form-group row mt-2">
            <label class="col-3 col-lg-2 col-form-label text-right" for="inputPasswordConfirmation">Send Email created order</label>
            <div class="col-9 col-lg-10">
              <label class="be-checkbox custom-control custom-checkbox">
                <%= f.check_box :send_email_created_order, class: 'custom-control-input' %>
                <span class="custom-control-label"></span>
              </label>
            </div>
          </div>
          <div class="form-group row mt-2">
            <label class="col-3 col-lg-2 col-form-label text-right" for="inputFreelancing">Time send location</label>
            <div class="col-9 col-lg-10">
              <%= f.text_field :time_send_location, class: 'form-control', required: true, placeholder: 'Input count percent' %>
            </div>
          </div>
          <div class="form-group row mt-2">
            <label class="col-3 col-lg-2 col-form-label text-right" for="inputFreelancing">Raduis</label>
            <div class="col-9 col-lg-10">
              <%= f.number_field :radius, class: 'form-control', required: true, placeholder: 'Input count percent' %>
            </div>
          </div>
          <div class="form-group row mt-2">
            <label class="col-3 col-lg-2 col-form-label text-right" for="inputFreelancing">Count Bisy days from today</label>
            <div class="col-9 col-lg-10">
              <%= f.number_field :bisy_days_for_order, class: 'form-control', required: true, placeholder: 'Input count percent' %>
            </div>
          </div>
          <div class="form-group row mt-2">
            <label class="col-3 col-lg-2 col-form-label text-right" for="inputFreelancing">Freelancing transfer(%)</label>
            <div class="col-9 col-lg-10">
              <%= f.text_field :freelancing_transfer_percentage, class: 'form-control', required: true, placeholder: 'Input count percent' %>
            </div>
          </div>
          <div class="form-group row mt-2">
            <label class="col-3 col-lg-2 col-form-label text-right" for="inputAggregator">Aggregator transfer(%)</label>
            <div class="col-9 col-lg-10">
              <%= f.text_field :aggregator_transfer_percentage, class: 'form-control', required: true, placeholder: 'Input count percent' %>
            </div>
          </div>
          <div class="form-group row mt-2">
            <label class="col-3 col-lg-2 col-form-label text-right" for="inputPark">Park transfer(%)</label>
            <div class="col-9 col-lg-10">
              <%= f.text_field :park_transfer_percentage, class: 'form-control', required: true, placeholder: 'Input count percent' %>
            </div>
          </div>
          <div class="form-group row mt-2">
            <label class="col-3 col-lg-2 col-form-label text-right" for="inputFranchise">Franchise transfer(%)</label>
            <div class="col-9 col-lg-10">
              <%= f.text_field :franchise_transfer_percentage, class: 'form-control', required: true, placeholder: 'Input count percent' %>
            </div>
          </div>
          <div class="row pt-3 mt-1">
            <div class="col-sm-6 col-lg-6 pb-4 pb-lg-0">
              <label class="be-checkbox custom-control custom-checkbox">
              </label>
            </div>
            <div class="col-sm-6">
              <p class="text-right">
                <button class="btn btn-space btn-primary" type="submit">Update</button>
              </p>
            </div>
          </div>
          <%end %>
        </div>
      </div>
    </div>
  </div>
  <%= render partial: 'admin/panel/partials/navigation_bar' %>
</div>
<%= content_for :javascript do %>
<script type="text/javascript">
  App.init();
  App.formElements();
  // App.tableFilters();
  stop_preloader();

  <%= render partial: 'admin/panel/partials/flash_msg' %>
</script>
<% end %>