<div class="be-wrapper be-fixed-sidebar">
  <%= render partial: 'admin/panel/partials/header' %>

  <%= render partial: 'admin/panel/partials/sidebar' %>

  <div class="be-content">
    <div class="page-head">
      <h2 class="page-head-title">Settings</h2>
      <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb page-head-nav">
          <li class="breadcrumb-item"><a href="<%= admin_panel_path %>">Home</a></li>
          <li class="breadcrumb-item"><a href="<%= admin_panel_settings_path %>">Settings</a></li>
          <li class="breadcrumb-item active">List</li>
        </ol>
      </nav>
    </div>
    <div class="main-content container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card card-table">
            <div class="card-body">
              <div class="noSwipe">
                <table class="table table-striped table-hover be-table-responsive" id="table1">
                  <thead>
                    <tr>
                      <th>
                        <label class="custom-control custom-control-sm custom-checkbox">
                          <input class="custom-control-input" type="checkbox"><span class="custom-control-label"></span>
                        </label>
                      </th>
                      <th>Id</th>
                      <th>Freelancing transfer(%)</th>
                      <th>Radius</th>
                      <th>Send Email Invoice Client</th>
                      <th>Send Email Created Order</th>
                      <th>Send Welcome Email</th>
                      <th>Park transfer(%)</th>
                      <th>Aggregator transfer(%)</th>
                      <th>Franchise transfer(%)</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @settings.each do |item| %>
                      <tr class="success done">
                        <td>
                          <label class="custom-control custom-control-sm custom-checkbox">
                            <input class="custom-control-input" type="checkbox"><span class="custom-control-label"></span>
                          </label>
                        </td>
                        <td class="cell-detail"><span><a href="<%= admin_panel_setting_path(item.id) %>"><%= item.id %></a></span></td>
                        <td class="cell-detail"><span>
                            <%= item.freelancing_transfer_percentage %></span></td>
                        <td class="cell-detail"><span>
                            <%= item.radius %></span></td>
                        <td class="cell-detail"><span>
                            <%= item.send_email_invoice_client? ? 'Yes' : 'No' %></span></td>
                        <td class="cell-detail"><span>
                            <%= item.send_email_created_order? ? 'Yes' : 'No' %></span></td>
                        <td class="cell-detail"><span>
                            <%= item.send_welcome_email? ? 'Yes' : 'No' %></span></td>
                        <td class="cell-detail" data-project="Bootstrap"><span>
                            <%= item.park_transfer_percentage %></span><span class="cell-detail-description"></span></td>
                        <td class="cell-detail" data-project="Bootstrap"><span>
                            <%= item.aggregator_transfer_percentage %></span><span class="cell-detail-description"></span></td>
                        <td class="cell-detail" data-project="Bootstrap"><span>
                            <%= item.franchise_transfer_percentage %></span><span class="cell-detail-description"></span></td>
                        <td class="text-right">
                          <div class="btn-group btn-hspace">
                            <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">Actions
                              <span class="icon-dropdown mdi mdi-chevron-down"></span></button>
                            <div class="dropdown-menu" role="menu">
                              <a class="dropdown-item" href="<%= admin_panel_setting_path(item) %>">Show</a>
                              <a class="dropdown-item" href="<%= edit_admin_panel_setting_path(item)%>">Edit</a>
                            </div>
                          </div>
                        </td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= render partial: 'admin/panel/partials/navigation_bar' %>
</div>
<%= content_for :javascript do %>
<script type="text/javascript">
  App.init();
  App.formElements();
  // App.tableFilters();
  stop_preloader();

  <%= render partial: 'admin/panel/partials/flash_msg' %>
</script>
<% end %>