<div class="be-wrapper be-fixed-sidebar">
  <%= render partial: 'admin/panel/partials/header' %>

  <%= render partial: 'admin/panel/partials/sidebar' %>

  <div class="be-content">
    <div class="page-head">
      <h2 class="page-head-title">Settings</h2>
      <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb page-head-nav">
          <li class="breadcrumb-item"><a href="<%= admin_panel_path %>">Home</a></li>
          <li class="breadcrumb-item"><a href="<%= admin_panel_settings_path %>">Settings</a></li>
          <li class="breadcrumb-item active">Show</li>
        </ol>
      </nav>
    </div>
    <div class="main-content container-fluid">
      <div class="user-profile">
        <div class="row">
          <div class="col-lg-10">
            <div class="user-info-list card">
              <div class="card-header card-header-divider">Settings
                <span class="card-subtitle">
                  <div class="icon-container">
                    <a href="<%= edit_admin_panel_setting_path(@setting)%>">
                      <div class="icon"><span class="mdi mdi-edit"></span></div>
                      <span class="icon-class">Edit</span>
                    </a>
                  </div>
                </span>
              </div>
              <div class="card-body">
                <table class="no-border no-strip skills">
                  <tbody class="no-border-x no-border-y">
                  <tr>
                    <td class="icon"><span class="mdi mdi-case"></span></td>
                    <td class="item">Send email to owner gift card<span class="icon s7-portfolio"></span></td>
                    <td><%= @setting.send_email_owner_gift_card ? 'Yes' : 'No' %></td>
                  </tr>
                  <tr>
                    <td class="icon"><span class="mdi mdi-case"></span></td>
                    <td class="item">Freelancing transfer(%)<span class="icon s7-portfolio"></span></td>
                    <td><%= @setting.freelancing_transfer_percentage %></td>
                  </tr>
                  <tr>
                    <td class="icon"><span class="mdi mdi-case"></span></td>
                    <td class="item">Park transfer(%)<span class="icon s7-portfolio"></span></td>
                    <td><%= @setting.park_transfer_percentage %></td>
                  </tr>
                  <tr>
                    <td class="icon"><span class="mdi mdi-case"></span></td>
                    <td class="item">Aggregator transfer(%)<span class="icon s7-portfolio"></span></td>
                    <td><%= @setting.aggregator_transfer_percentage %></td>
                  </tr>
                  <tr>
                    <td class="icon"><span class="mdi mdi-case"></span></td>
                    <td class="item">Franchise transfer(%)<span class="icon s7-portfolio"></span></td>
                    <td><%= @setting.franchise_transfer_percentage %></td>
                  </tr>
                  <tr>
                    <td class="icon"><span class="mdi mdi-case"></span></td>
                    <td class="item">Radius<span class="icon s7-portfolio"></span></td>
                    <td><%= @setting.radius %></td>
                  </tr>
                  <tr>
                    <td class="icon"><span class="mdi mdi-case"></span></td>
                    <td class="item">Send Email Invoice Client<span class="icon s7-portfolio"></span></td>
                    <td><%= @setting.send_email_invoice_client? ? 'Yes' : 'No' %></td>
                  </tr>
                  <tr>
                    <td class="icon"><span class="mdi mdi-case"></span></td>
                    <td class="item">Send Email Created Order<span class="icon s7-portfolio"></span></td>
                    <td><%= @setting.send_email_created_order? ? 'Yes' : 'No'  %></td>
                  </tr>
                  <tr>
                    <td class="icon"><span class="mdi mdi-case"></span></td>
                    <td class="item">Send Welcome Email<span class="icon s7-portfolio"></span></td>
                    <td><%= @setting.send_welcome_email? ? 'Yes' : 'No' %></td>
                  </tr>
                  <tr>
                    <td class="icon"><span class="mdi mdi-case"></span></td>
                    <td class="item">Time to send location(MIN)<span class="icon s7-portfolio"></span></td>
                    <td><%= @setting.time_send_location  %></td>
                  </tr>
                  <tr>
                    <td class="icon"><span class="mdi mdi-case"></span></td>
                    <td class="item">Authorization<span class="icon s7-portfolio"></span></td>
                    <td><%= @setting.authorization  %></td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
  <%= render partial: 'admin/panel/partials/navigation_bar' %>
</div>
<%= content_for :javascript do %>
  <script type="text/javascript">
    App.init();
    App.formElements();
    // App.tableFilters();
    stop_preloader();

    <%= render partial: 'admin/panel/partials/flash_msg' %>
  </script>
<% end %>