<div class="be-wrapper be-fixed-sidebar">
  <%= render partial: 'admin/panel/partials/header' %>

  <%= render partial: 'admin/panel/partials/sidebar' %>

  <div class="be-content">
    <div class="page-head">
      <h2 class="page-head-title">Profile</h2>
      <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb page-head-nav">
          <li class="breadcrumb-item"><a href="<%= admin_panel_path %>">Home</a></li>
          <li class="breadcrumb-item active">Profile</li>
        </ol>
      </nav>
    </div>
    <div class="main-content container-fluid">
      <div class="user-profile">
        <div class="row">
          <div class="col-lg-5">
            <div class="user-display">
              <div class="user-display-bg"><img src="<%= image_path 'admin/panel/user-profile-display.png' %>" alt="Profile Background"></div>
              <div class="user-display-bottom">
                <div class="user-display-avatar"><img src="<%= image_path 'admin/panel/avatar-150.png' %>" alt="Avatar"></div>
                <div class="user-display-info">
                  <div class="name"><%= current_admin_user.email %></div>
                  <div class="nick"><span class="mdi mdi-account"></span> <%= nick_from_email%></div>
                </div>
                <!-- <div class="row user-display-details">
                  <div class="col-4">
                    <div class="title">Issues</div>
                    <div class="counter">26</div>
                  </div>
                  <div class="col-4">
                    <div class="title">Commits</div>
                    <div class="counter">26</div>
                  </div>
                  <div class="col-4">
                    <div class="title">Followers</div>
                    <div class="counter">26</div>
                  </div>
                </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= render partial: 'admin/panel/partials/navigation_bar' %>
</div>
<%= content_for :javascript do %>
<script type="text/javascript">
  App.init();
  App.formElements();
  // App.tableFilters();
  stop_preloader();
</script>
<% end %>