<div class="be-wrapper be-fixed-sidebar">
  <%= render partial: 'admin/panel/partials/header' %>

  <%= render partial: 'admin/panel/partials/sidebar' %>

  <div class="be-content">
    <div class="page-head">
      <h2 class="page-head-title">Banners</h2>
      <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb page-head-nav">
          <li class="breadcrumb-item"><a href="<%= admin_panel_path %>">Home</a></li>
          <li class="breadcrumb-item"><a href="<%= admin_panel_banners_path %>">Banners</a></li>
          <li class="breadcrumb-item active">Create</li>
        </ol>
      </nav>
      <% flash.each do |type, msg| %>
        <div class="alert alert-<%= type %> alert-dismissible" role="alert">
          <button class="close" type="button" data-dismiss="alert" aria-label="Close"><span class="mdi mdi-close" aria-hidden="true"></span></button>
          <div class="message"><%= msg %></div>
        </div>
      <% end %>
    </div>
    <div class="main-content container-fluid">
      <div class="card card-border-color card-border-color-primary">
        <div class="card-header card-header-divider">New banner</div>
        <div class="card-body">
          <%= form_for @banner, url: admin_panel_banners_path, method: :post do |f| %>
            <div class="form-group row mt-2">
              <label class="col-3 col-lg-2 col-form-label text-right" for="inputTitle">Title</label>
              <div class="col-9 col-lg-10">
                <%= f.text_field :title, class: 'form-control', required: true, placeholder: 'Title' %>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-3 col-lg-2 col-form-label text-right">Description</label>
              <div class="col-9 col-lg-10">
                <%= f.text_field :description, class: 'form-control', placeholder: 'Description' %>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-3 col-lg-2 col-form-label text-right">Image</label>
              <div class="col-9 col-lg-10">
                <%= f.file_field :image, class: 'form-control', placeholder: 'Image' %>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-3 col-lg-2"></div>
              <div class="col-9 col-lg-10">
                <%= f.submit class: 'btn btn-space btn-primary btn-lg' %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <%= render partial: 'admin/panel/partials/navigation_bar' %>
</div>
<%= content_for :javascript do %>
  <script type="text/javascript">
    App.init();
    App.formElements();
    // App.tableFilters();
    stop_preloader();

    <%= render partial: 'admin/panel/partials/flash_msg' %>
  </script>
<% end %>