<div class="chart-container" style="position: relative; height:40vh; width:60vw">
  <br>
  <div class="">Sum of orders by last one hour: <span><strong><%= @orders_count %></strong></span></div>
</div>
