<div class="chart-container" style="position: relative; height:40vh; width:60vw">
    <br>
    <div class="">Count last week is: <span><strong><%= @orders.values.last %></strong></span></div>
    <canvas id="myChart"></canvas>
</div>

<script type="text/javascript">
  var order_values = <%= @orders.values.to_a %>;
  var order_labels = <%= raw @order_labels.as_json %>;
  var title = "<%= @data[:title] %>";
  var min_value = <%= @data[:min_value] %>;
  var step = <%= @data[:step] %>;

  var ctx = document.getElementById("myChart");
  var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: order_labels,
        datasets: [{
            label: title,
            data: order_values,
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ]
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true,
                    min: min_value,
                    stepSize: step
                }
            }],
        }
    }
  });

</script>
