<ul>
  <% if resource.pro_information.present? %>
    <% schedule = resource.pro_information.work_schedule %>
    <% schedule.keys.each do |item| %>
      <li class="margin_bottom">
        <span><%= item %>:</span><br>
        <label for="<%= item %>_start">Available:</label>
        <input type="checkbox" name="[user_service_man][<%= item %>]" <%= checked(schedule, item) %>><br>
        <label for="<%= item %>_start">start</label>
        <select name="[user_service_man][<%= item %>_start]" id="<%= item %>_start">
          <% ProInformation::HOURS.each do |hour| %>
            <option value="<%= hour %>"  <%= selected_str(schedule, hour, item, '') %>><%= hour %></option>
          <% end %>
        </select>
        <br>
        <label for="<%= item %>_end">end</label>
        <select class="" name="[user_service_man][<%= item %>_end]" id="<%= item %>_end">
          <% ProInformation::HOURS.each do |hour| %>
            <option value="<%= hour %>"  <%= selected_end(schedule, hour, item, '') %> ><%= hour %></option>
          <% end %>
        </select>
      </li>
    <% end %>
  <% else %>
    <% ["monday", "tuesday", "wednesday", "thursday", "friday", "saturday", "sunday"].each do |item| %>
      <li class="margin_bottom">
        <span><%= item %>:</span><br>
        <label for="<%= item %>_start">Available:</label>
        <input type="checkbox" name="[user_service_man][<%= item %>]" checked><br>
        <label for="<%= item %>_start">start</label>
        <select name="[user_service_man][<%= item %>_start]" id="<%= item %>_start">
          <% ProInformation::HOURS.each do |hour| %>
            <option value="<%= hour %>"  <%= selected_str('',hour,'',ProInformation::BEGIN_DAY) %>><%= hour %></option>
          <% end %>
        </select>
        <br>
        <label for="<%= item %>_end">end</label>
        <select class="" name="[user_service_man][<%= item %>_end]" id="<%= item %>_end">
          <% ProInformation::HOURS.each do |hour| %>
            <option value="<%= hour %>"  <%= selected_end('', hour, '', ProInformation::END_DAY) %> ><%= hour %></option>
          <% end %>
        </select>
      </li>
    <% end %>
  <% end %>
</ul>
