<div class="be-wrapper be-fixed-sidebar">
  <%= render partial: 'admin/panel/partials/header' %>

  <%= render partial: 'admin/panel/partials/sidebar' %>

  <div class="be-content">
    <div class="page-head">
      <h2 class="page-head-title">Categories</h2>
      <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb page-head-nav">
          <li class="breadcrumb-item"><a href="<%= admin_panel_path %>">Home</a></li>
          <li class="breadcrumb-item"><a href="<%= admin_panel_path %>">Structure</a></li>
          <li class="breadcrumb-item"><a href="<%= admin_panel_categories_path %>">Category</a></li>
          <li class="breadcrumb-item active">Edit</li>
        </ol>
      </nav>
      <% flash.each do |type, msg| %>
        <div class="alert alert-<%= type %> alert-dismissible" role="alert">
          <button class="close" type="button" data-dismiss="alert" aria-label="Close"><span class="mdi mdi-close" aria-hidden="true"></span></button>
          <div class="message"><%= msg %></div>
        </div>
      <% end %>
    </div>
    <div class="main-content container-fluid">
      <div class="card card-border-color card-border-color-primary">
        <div class="card-header card-header-divider">Edit category</div>
        <div class="card-body">
          <%= form_for @category, url: admin_panel_category_path, method: :put do |f| %>
            <div class="form-group row mt-2">
              <label class="col-3 col-lg-2 col-form-label text-right" for="inputTitle">Title</label>
              <div class="col-9 col-lg-10">
                <%= f.text_field :title, class: 'form-control', required: true, placeholder: 'Title' %>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-3 col-lg-2 col-form-label text-right">Title Ru</label>
              <div class="col-9 col-lg-10">
                <%= f.text_field :title_ru, class: 'form-control', placeholder: 'Title Ru' %>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-3 col-lg-2 col-form-label text-right">Duration</label>
              <div class="col-9 col-lg-10">
                <%= f.number_field :duration, step: 30, class: 'form-control', placeholder: 'Duration(min)' %>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-3 col-lg-2 col-form-label text-right">Description</label>
              <div class="col-9 col-lg-10">
                <%= f.text_field :description, class: 'form-control', placeholder: 'Description' %>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-3 col-lg-2 col-form-label text-right">Image</label>
              <div class="col-7 col-lg-8">
                <%= f.file_field :image, class: 'form-control', placeholder: 'Image' %>
              </div>
              <% if @category.image.present? %>
                <div class="col-1 col-lg-2">
                  <label class="custom-control custom-control-sm custom-checkbox">Remove image
                    <%= f.check_box :remove_image, class: 'custom-control-input remove_image' %><span class="custom-control-label"></span>
                  </label>
                </div>
              <% end %>
            </div>
            <div class="form-group row">
              <label class="col-3 col-lg-2 col-form-label text-right">Icon</label>
              <div class="col-9 col-lg-10">
                <%= f.file_field :icon, class: 'form-control', placeholder: 'Icon' %>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-3 col-lg-2 col-form-label text-right">Icon Web</label>
              <div class="col-9 col-lg-10">
                <%= f.file_field :icon_web, class: 'form-control', placeholder: 'Icon Web' %>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-3 col-lg-2 col-form-label text-right">Corp</label>
              <div class="col-9 col-lg-10">
                <label class="custom-control custom-control-sm custom-checkbox">
                  <%= f.check_box :corp, class: 'custom-control-input' %><span class="custom-control-label"></span>
                </label>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-3 col-lg-2 col-form-label text-right">Visible</label>
              <div class="col-9 col-lg-10">
                <label class="custom-control custom-control-sm custom-checkbox">
                  <%= f.check_box :visible, class: 'custom-control-input' %><span class="custom-control-label"></span>
                </label>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-3 col-lg-2"></div>
              <div class="col-9 col-lg-10">
                <%= f.submit class: 'btn btn-space btn-primary btn-lg' %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <%= render partial: 'admin/panel/partials/navigation_bar' %>
</div>
<%= content_for :javascript do %>
  <script type="text/javascript">
    App.init();
    App.formElements();
    // App.tableFilters();
    stop_preloader();

    <%= render partial: 'admin/panel/partials/flash_msg' %>
  </script>
<% end %>