<div class="be-wrapper be-fixed-sidebar">
  <%= render partial: 'admin/panel/partials/header' %>

  <%= render partial: 'admin/panel/partials/sidebar' %>

  <div class="be-content">
    <div class="page-head">
      <h2 class="page-head-title">Categories</h2>
      <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb page-head-nav">
          <li class="breadcrumb-item"><a href="<%= admin_panel_path %>">Home</a></li>
          <li class="breadcrumb-item"><a href="<%= admin_panel_path %>">Structure</a></li>
          <li class="breadcrumb-item"><a href="<%= admin_panel_categories_path %>">Category</a></li>
          <li class="breadcrumb-item active">List</li>
        </ol>
      </nav>
    </div>
    <div class="main-content container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card card-table">
            <%= form_tag admin_panel_categories_path, method: :get, id: 'category_filters_form' do%>
              <div class="row table-filters-container">
                <div class="col-4 col-lg-4 table-filters pb-0 pb-xl-4 filter_blocks">
                  <div class="row">
                    <div class="col-12 col-lg-12 table-filters pb-0 pb-xl-5" style="padding-top: 0; padding-bottom: 0 !important;"><span class="table-filter-title title_filter">Title</span>
                      <div class="filter-container">
                        <label class="control-label">Find by title:</label>
                        <div class="row">
                          <div class="col-6">
                            <%= select_tag :title_filter, options_for_select(get_filter_options, params[:title_filter]), { class: 'select2 select2-hidden-accessible title_filter' } %>
                          </div>
                          <div class="col-6">
                            <%= text_field_tag :title, params[:title], class: 'form-control form-control-sm title' %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-4 col-lg-4 table-filters pb-0 pb-xl-4 filter_blocks">
                  <div class="row">
                    <div class="col-12 col-lg-12 table-filters pb-0 pb-xl-5" style="padding-top: 0; padding-bottom: 0 !important;"><span class="table-filter-title title_filter">Title ru</span>
                      <div class="filter-container">
                        <label class="control-label">Find by title_ru:</label>
                        <div class="row">
                          <div class="col-6">
                            <%= select_tag :title_ru_filter, options_for_select(get_filter_options, params[:title_ru_filter]), { class: 'select2 select2-hidden-accessible title_ru_filter' } %>
                          </div>
                          <div class="col-6">
                            <%= text_field_tag :title_ru, params[:title_ru], class: 'form-control form-control-sm title_ru' %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-4 col-lg-4 table-filters pb-0 pb-xl-4 filter_blocks">
                  <div class="row">
                    <div class="col-12 col-lg-12 table-filters pb-0 pb-xl-5" style="padding-top: 0; padding-bottom: 0 !important;"><span class="table-filter-title title_filter">Duration</span>
                      <div class="filter-container">
                        <label class="control-label">Find by duration:</label>
                        <div class="row">
                          <div class="col-6">
                            <%= select_tag :duration_filter, options_for_select(get_number_filter_options, params[:duration_filter]), { class: 'select2 select2-hidden-accessible duration_filter' } %>
                          </div>
                          <div class="col-6">
                            <%= text_field_tag(:duration, params[:duration], class: 'form-control form-control-sm duration') %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-4 col-lg-4 table-filters pb-0 pb-xl-4 filter_blocks">
                  <div class="row">
                    <div class="col-12 col-lg-12 table-filters pb-0 pb-xl-4" style="padding-top: 0; padding-bottom: 0 !important;"><span class="table-filter-title title_filter">Corp</span>
                      <div class="filter-container">
                        <label class="control-label">Corp:</label>
                        <%= select_tag :corp, options_for_select([['Yes', true], ['No', false]], params[:corp]), { class: 'select2 corp', id: 'corp' } %>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-4 col-lg-4 table-filters pb-0 pb-xl-4 filter_blocks">
                  <div class="row">
                    <div class="col-12 col-lg-12 table-filters pb-0 pb-xl-4" style="padding-top: 0; padding-bottom: 0 !important;"><span class="table-filter-title title_filter">Visible</span>
                      <div class="filter-container">
                        <label class="control-label">Visible:</label>
                        <%= select_tag :visible, options_for_select([['Yes', true], ['No', false]], params[:visible]), { class: 'select2 visible', id: 'visible' } %>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-4 col-lg-4 table-filters pb-0 pb-xl-4 filter_blocks">
                  <div class="row">
                    <div class="col-12 col-lg-12 table-filters pb-0 pb-xl-4" style="padding-top: 0; padding-bottom: 0 !important;"><span class="table-filter-title title_filter">Subcategory</span>
                      <div class="filter-container">
                        <label class="control-label">Find by car type:</label>
                        <%= select_tag :subcategory_id, options_for_select( Subcategory.all.map { |subcategory| [subcategory.title, subcategory.id] }, params[:subcategory_id]), { class: 'select2 subcategory_id', id: 'subcategory_id' } %>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-4 col-lg-4 table-filters pb-0 pb-xl-4 filter_buttons">
                  <div class="row">
                    <div class="col-12 col-lg-12 table-filters filter_blocks">
                      <div class="filter-container">
                        <%= submit_tag('Filter', type: 'submit', class: 'btn btn-space btn-primary') %>
                        <%= submit_tag('Reset', type: 'cancel', class: 'btn btn-space btn-secondary reset_category_filters') %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
            <div class="card-body">
              <div class="noSwipe">
                <table class="table table-striped table-hover be-table-responsive" id="table1">
                  <thead>
                  <tr>
                    <th>
                      <label class="custom-control custom-control-sm custom-checkbox">
                        <input class="custom-control-input" type="checkbox"><span class="custom-control-label"></span>
                      </label>
                    </th>
                    <th>id</th>
                    <th>Position</th>
                    <th>Title</th>
                    <th>Title Ru</th>
                    <th>Description</th>
                    <th>Icon</th>
                    <th>Icon Web</th>
                    <th>Visible</th>
                    <th>Corp</th>
                  </tr>
                  </thead>
                  <tbody class="sortable" data-url="<%= sortable_update_admin_panel_categories_path %>">
                  <% @categories.each_with_sortable_id do |category, sortable_id| %>
                    <tr class="success done" id="<%= sortable_id %>">
                      <td>
                        <label class="custom-control custom-control-sm custom-checkbox">
                          <input class="custom-control-input" type="checkbox"><span class="custom-control-label"></span>
                        </label>
                      </td>
                      <td class="cell-detail"><span><a href="<%= admin_panel_category_path(category.id) %>"><%= category.id %></a></span></td>
                      <td class="cell-detail"><span><%= category.position %></span></td>
                      <td class="cell-detail"><span><%= category.title %></span></td>
                      <td class="cell-detail"><span><%= category.title_ru %></span></td>
                      <td class="cell-detail"><span><%= category.description %></span></td>
                      <td class="cell-detail"><span><%= image_tag category.icon.thumb_default.url if category.icon.present? %></span></td>
                      <td class="cell-detail"><span><%= image_tag category.icon_web.url if category.icon_web.present? %></span></td>
                      <td class="cell-detail"><span><%= category.visible? ? 'Yes' : 'No' %></span></td>
                      <td class="cell-detail"><span><%= category.corp? ? 'Yes' : 'No' %></span></td>
                      <td class="text-right">
                        <div class="btn-group btn-hspace">
                          <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">Actions
                            <span class="icon-dropdown mdi mdi-chevron-down"></span></button>
                          <div class="dropdown-menu" role="menu">
                            <a class="dropdown-item" href="<%= admin_panel_category_path(category) %>">Show</a>
                            <a class="dropdown-item" href="<%= edit_admin_panel_category_path(category) %>">Edit</a>
                            <a class="dropdown-item" href="<%= admin_panel_category_path(category) %>" data-method="delete" data-confirm="Are you sure?">Delete</a>
                          </div>
                        </div>
                      </td>
                    </tr>
                  <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= render partial: 'admin/panel/partials/navigation_bar' %>
</div>
<%= content_for :javascript do %>
  <script type="text/javascript">
    App.init();
    App.formElements();
    stop_preloader();

    <% unless params[:subcategory_id].present? %>
      $('#subcategory_id').val('').trigger('change');
    <% end %>

    <% unless params[:corp].present? %>
      $('#corp').val('').trigger('change');
    <% end %>

    <% unless params[:visible].present? %>
      $('#visible').val('').trigger('change');
    <% end %>

    $(function() {
      $('.sortable').sortable({
        update:function(e, ui) {
          console.log(ui.item.index());
          data = $(this).sortable('serialize');
          $.ajax({
            data: data,
            type: 'PUT',
            url: $(this).data('url'),
            success: function(data){
              window.location.href = window.location.href
            }
          });
        }
      });
    });

    $('.reset_category_filters').on('click', function(){
      $('#category_filters_form')[0].reset();
      window.location.href = '/admin/panel/categories'
    });

    <%= render partial: 'admin/panel/partials/flash_msg' %>
  </script>
<% end %>