<div class="be-wrapper be-fixed-sidebar">
  <%= render partial: 'admin/panel/partials/header' %>

  <%= render partial: 'admin/panel/partials/sidebar' %>

  <div class="be-content">
    <div class="page-head">
      <h2 class="page-head-title">Join Pros</h2>
      <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb page-head-nav">
          <li class="breadcrumb-item"><a href="<%= admin_panel_path %>">Home</a></li>
          <li class="breadcrumb-item"><a href="<%= admin_panel_path %>">Join Pros</a></li>
          <li class="breadcrumb-item active">List</li>
        </ol>
      </nav>
    </div>
    <div class="main-content container-fluid">
      <div class="user-profile">
        <div class="row">
          <div class="col-lg-12">
            <div class="user-info-list card">
              <div class="card-header card-header-divider">Category
                <span class="card-subtitle">
                  <div class="icon-container">
                    <a href="<%= edit_admin_panel_category_path(@category)%>">
                      <div class="icon"><span class="mdi mdi-edit"></span></div>
                      <span class="icon-class">Edit</span>
                    </a>
                  </div>
                </span>
              </div>
              <div class="card-body">
                <table class="no-border no-strip skills">
                  <tbody class="no-border-x no-border-y">
                  <tr>
                    <td class="icon"><span class="mdi mdi-case"></span></td>
                    <td class="item">Id<span class="icon s7-portfolio"></span></td>
                    <td><%= @category.id %></td>
                  </tr>
                  <tr>
                    <td class="icon"><span class="mdi mdi-case"></span></td>
                    <td class="item">Title<span class="icon s7-portfolio"></span></td>
                    <td><%= @category.title%></td>
                  </tr>
                  <tr>
                    <td class="icon"><span class="mdi mdi-cake"></span></td>
                    <td class="item">Title Ru<span class="icon s7-gift"></span></td>
                    <td><%= @category.title_ru %></td>
                  </tr>
                  <tr>
                    <td class="icon"><span class="mdi mdi-cake"></span></td>
                    <td class="item">DESCRIPTION<span class="icon s7-gift"></span></td>
                    <td><%= @category.description %></td>
                  </tr>
                  <tr>
                    <td class="icon"><span class="mdi mdi-cake"></span></td>
                    <td class="item">Duration<span class="icon s7-gift"></span></td>
                    <td><%= @category.duration %>(min)</td>
                  </tr>
                  <tr>
                    <td class="icon"><span class="mdi mdi-cake"></span></td>
                    <td class="item">Visible<span class="icon s7-gift"></span></td>
                    <td><%= @category.visible? ? 'Yes' : 'No' %></td>
                  </tr>
                  <tr>
                    <td class="icon"><span class="mdi mdi-cake"></span></td>
                    <td class="item">Corp<span class="icon s7-gift"></span></td>
                    <td><%= @category.corp? ? 'Yes' : 'No' %></td>
                  </tr>
                  <tr>
                    <td class="icon"><span class="mdi mdi-cake"></span></td>
                    <td class="item">Image<span class="icon s7-gift"></span></td>
                    <td><%= image_tag @category.image.thumb_default.url if @category.image.present? %></td>
                    <td><%= link_to('Delete Image', admin_images_path(resource: @category.id, class: 'Category', field: 'image'), data: { confirm:'Are you sure?' }, method: :delete) if @category.image.present? %></td>
                  </tr>
                  <tr>
                    <td class="icon"><span class="mdi mdi-cake"></span></td>
                    <td class="item">Icon<span class="icon s7-gift"></span></td>
                    <td><%= image_tag @category.icon.thumb_default.url if @category.icon.present? %></td>
                    <td><%= link_to('Delete Image', admin_images_path(resource: @category.id, class: 'Category', field: 'icon'), data: { confirm:'Are you sure?' }, method: :delete) if @category.icon.present? %></td>
                  </tr>
                  <tr>
                    <td class="icon"><span class="mdi mdi-cake"></span></td>
                    <td class="item">Icon Web<span class="icon s7-gift"></span></td>
                    <td><%= image_tag @category.icon_web.url if @category.icon_web.present? %></td>
                    <td><%= link_to('Delete Image', admin_images_path(resource: @category.id, class: 'Category', field: 'icon_web'), data: { confirm:'Are you sure?' }, method: :delete) if @category.icon_web.present? %></td>
                  </tr>
                  <tr>
                    <td class="icon"><span class="mdi mdi-cake"></span></td>
                    <td class="item">Car types<span class="icon s7-gift"></span></td>
                    <td><%= @category.subcategories.inject("") {|links, category| links += content_tag :li, link_to(category.title, [:admin_panel, category]) }.html_safe %></td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
  <%= render partial: 'admin/panel/partials/navigation_bar' %>
</div>
<%= content_for :javascript do %>
  <script type="text/javascript">
    App.init();
    App.formElements();
    // App.tableFilters();
    stop_preloader();

    <%= render partial: 'admin/panel/partials/flash_msg' %>
  </script>
<% end %>