<div class="be-wrapper be-fixed-sidebar">
  <%= render partial: 'admin/panel/partials/header' %>

  <%= render partial: 'admin/panel/partials/sidebar' %>

  <div class="be-content">
    <div class="page-head">
      <h2 class="page-head-title">Offices</h2>
      <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb page-head-nav">
          <li class="breadcrumb-item"><a href="<%= admin_panel_path %>">Home</a></li>
          <li class="breadcrumb-item"><a href="<%= admin_panel_offices_path %>">Office</a></li>
          <li class="breadcrumb-item active">List</li>
        </ol>
      </nav>
    </div>
    <div class="main-content container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card card-table">
            <%= form_tag admin_panel_offices_path, method: :get, id: 'office_filters_form' do%>
              <div class="row table-filters-container">
                <div class="col-4 col-lg-4 table-filters pb-0 pb-xl-4 filter_blocks">
                  <div class="row">
                    <div class="col-12 col-lg-12 table-filters pb-0 pb-xl-5" style="padding-top: 0; padding-bottom: 0 !important;"><span class="table-filter-title title_filter">Title</span>
                      <div class="filter-container">
                        <label class="control-label">Find by title:</label>
                        <div class="row">
                          <div class="col-6">
                            <%= select_tag :title_filter, options_for_select(get_filter_options, params[:title_filter]), { class: 'select2 select2-hidden-accessible title_filter' } %>
                          </div>
                          <div class="col-6">
                            <%= text_field_tag :title, params[:title], class: 'form-control form-control-sm title' %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-4 col-lg-4 table-filters pb-0 pb-xl-4 filter_blocks">
                  <div class="row">
                    <div class="col-12 col-lg-12 table-filters pb-0 pb-xl-5" style="padding-top: 0; padding-bottom: 0 !important;"><span class="table-filter-title title_filter">Client</span>
                      <div class="filter-container">
                        <label class="control-label">Find by client:</label>
                        <div class="row">
                          <div class="col-12">
                            <%= select_tag :client_id, options_for_select(User::Client.all.map{ |client| [client.name, client.id] }, params[:client_id]), { class: 'select2 select2-hidden-accessible client_id', id: 'client_id' } %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 col-lg-12 table-filters pb-0 pb-xl-5">
                    <div class="filter-container">
                      <div class="row">
                        <div class="col-7" style="padding-right: 0 !important;">
                        </div>
                        <div class="col-4" style="padding-right: 0 !important;">
                          <div class="custom-controls-stacked">
                            <a href="<%= new_admin_panel_office_path %>" class="btn btn-space btn-secondary">New office</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-4 col-lg-4 table-filters pb-0 pb-xl-4 filter_blocks">
                  <div class="row">
                    <div class="col-12 col-lg-12 table-filters pb-0 pb-xl-5" style="padding-top: 0; padding-bottom: 0 !important;"><span class="table-filter-title title_filter">Count vehicles</span>
                      <div class="filter-container">
                        <label class="control-label">Count vehicles:</label>
                        <div class="row">
                          <div class="col-6">
                            <%= select_tag :count_vehicle_filters, options_for_select(get_number_filter_options, params[:count_vehicle_filters]), { class: 'select2 select2-hidden-accessible count_vehicle_filter' } %>
                          </div>
                          <div class="col-6">
                            <%= number_field_tag :count_vehicles, params[:count_vehicles], class: 'form-control form-control-sm count_vehicles' %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-10 col-lg-10 table-filters pb-0 pb-xl-4 filter_buttons">
                  <div class="row">
                    <div class="col-12 col-lg-12 table-filters filter_blocks">
                      <div class="filter-container">
                        <%= submit_tag('Filter', type: 'submit', class: 'btn btn-space btn-primary') %>
                        <%= submit_tag('Reset', type: 'cancel', class: 'btn btn-space btn-secondary reset_office_filters') %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
            <div class="card-body">
              <div class="noSwipe">
                <table class="table table-striped table-hover be-table-responsive" id="table1">
                  <thead>
                  <tr>
                    <th>
                      <label class="custom-control custom-control-sm custom-checkbox">
                        <input class="custom-control-input" type="checkbox"><span class="custom-control-label"></span>
                      </label>
                    </th>
                    <th>id</th>
                    <th>Title</th>
                    <th>Client</th>
                    <th>Count vehicles</th>
                    <th>Address</th>
                  </tr>
                  </thead>
                  <tbody class="sortable">
                  <% @offices.each do |office| %>
                    <tr class="success done">
                      <td>
                        <label class="custom-control custom-control-sm custom-checkbox">
                          <input class="custom-control-input" type="checkbox"><span class="custom-control-label"></span>
                        </label>
                      </td>
                      <td class="cell-detail"><span><a href="<%= admin_panel_office_path(office.id) %>"><%= office.id %></a></span></td>
                      <td class="cell-detail"><span><%= office.title %></span></td>
                      <td class="cell-detail"><span><%= link_to office.client.name, admin_panel_client_path(office.client) if office.client.present? %></span></td>
                      <td class="cell-detail"><span><%= office.count_vehicles %></span></td>
                      <td class="cell-detail"><span><%= office.address %></span></td>
                      <td class="text-right">
                        <div class="btn-group btn-hspace">
                          <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">Actions
                            <span class="icon-dropdown mdi mdi-chevron-down"></span></button>
                          <div class="dropdown-menu" role="menu">
                            <a class="dropdown-item" href="<%= admin_panel_office_path(office) %>">Show</a>
                            <a class="dropdown-item" href="<%= edit_admin_panel_office_path(office) %>">Edit</a>
                            <a class="dropdown-item" href="<%= admin_panel_office_path(office) %>" data-method="delete" data-confirm="Are you sure?">Delete</a>
                          </div>
                        </div>
                      </td>
                    </tr>
                  <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= render partial: 'admin/panel/partials/navigation_bar' %>
</div>
<%= content_for :javascript do %>
  <script type="text/javascript">
    App.init();
    App.formElements();
    stop_preloader();

    $('.reset_office_filters').on('click', function(){
      $('#office_filters_form')[0].reset();
      window.location.href = '/admin/panel/offices'
    });

    <% unless params[:client_id].present? %>
      $('#client_id').val('').trigger('change');
    <% end %>

    <%= render partial: 'admin/panel/partials/flash_msg' %>
  </script>
<% end %>