<%= render 'admin/shared/map' %>
<div class="be-wrapper be-fixed-sidebar">
  <%= render partial: 'admin/panel/partials/header' %>

  <%= render partial: 'admin/panel/partials/sidebar' %>

  <div class="be-content">
    <div class="page-head">
      <h2 class="page-head-title">Offices</h2>
      <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb page-head-nav">
          <li class="breadcrumb-item"><a href="<%= admin_panel_path %>">Home</a></li>
          <li class="breadcrumb-item"><a href="<%= admin_panel_offices_path %>">Offices</a></li>
          <li class="breadcrumb-item active">Create</li>
        </ol>
      </nav>
    </div>
    <div class="main-content container-fluid">
      <div class="card card-border-color card-border-color-primary">
        <div class="card-header card-header-divider">Office<span class="card-subtitle">Form for create office</span></div>
        <div class="card-body">
          <%= form_for @office, url: admin_panel_offices_path, method: :post do |f| %>
            <div class="form-group row mt-2">
              <label class="col-3 col-lg-2 col-form-label text-right" for="inputTitle">Title</label>
              <div class="col-9 col-lg-10">
                <%= f.text_field :title, class: 'form-control', required: true %>
              </div>
            </div>
            <div class="form-group row mt-2">
              <label class="col-3 col-lg-2 col-form-label text-right" for="inputTitle">Client</label>
              <div class="col-9 col-lg-10">
                <%= f.select :client_id, User::Client.all.map { |client| [client.name, client.id]}, {}, class: 'form-control' %>
              </div>
            </div>
            <div class="form-group row mt-2">
              <label class="col-3 col-lg-2 col-form-label text-right" for="inputTitle">Count Vehicles</label>
              <div class="col-9 col-lg-10">
                <%= f.number_field :count_vehicles, class: 'form-control' %>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <div class="card">
                  <div class="card-header card-header-divider">Client Address
                    <span class="card-subtitle">Choose an address for client</span>
                  </div>

                  <div class="card-body">
                    <%= f.text_field :address, class: 'controls', id: 'pac-input', placeholder: 'Search Box' %>
                    <%= f.hidden_field :lat, class: 'create_order-lat' %>
                    <%= f.hidden_field :lon, class: 'create_order-lon' %>
                    <div id="map_client" class="content" style="height: 350px;"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row pt-3 mt-1">
              <div class="col-sm-6 col-lg-6 pb-4 pb-lg-0">
                <label class="be-checkbox custom-control custom-checkbox">
                </label>
              </div>
              <div class="col-sm-6">
                <p class="text-right">
                  <button class="btn btn-space btn-primary" type="submit">Add office</button>
                </p>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <%= render partial: 'admin/panel/partials/navigation_bar' %>
</div>
<%= content_for :javascript do %>
  <script type="text/javascript">
    App.init();
    App.formElements();
    var marker;
    var map;
    function initMapClient() {
      // Create a map object and specify the DOM element for display.
      map = new google.maps.Map(document.getElementById('map_client'), {
        center: { lat: 53.347974, lng: -6.271571 },
        scrollwheel: true,
        zoom: 14,
        mapTypeId:google.maps.MapTypeId.ROADMAP,
        disableDefaultUI: true,
        zoomControl: true,
        scaleControl: true,
      });

      marker = new google.maps.Marker({
        position: { lat: 53.347974, lng: -6.271571 },
        map: map
      });

      var options = {
        componentRestrictions: {country: 'ie'}
      };

      var geocoder = new google.maps.Geocoder();

      var searchBox = new google.maps.places.Autocomplete(document.getElementById('pac-input'), options);

      map.controls[google.maps.ControlPosition.TOP_CENTER].push(document.getElementById('pac-input'));
      google.maps.event.addListener(searchBox, 'place_changed', function() {
        searchBox.set('map', null);
        var place = searchBox.getPlace();
        var location = place.geometry.location;
        marker.setPosition({ lat:  location.lat(), lng: location.lng()});
        setCoordsOnInputs({ lat:  location.lat(), lng: location.lng()});
        setAddressToSearchBox(place);
        marker.setMap(map);
        map.setCenter({ lat:  location.lat(), lng: location.lng()});
        map.setZoom(Math.min(map.getZoom(),14));
      });

      google.maps.event.addListener(map, 'click', function(e) {
        positions = { lat: e.latLng.lat(), lng: e.latLng.lng() }
        geocoder.geocode({'location': positions}, function(results, status) {
          if (status === google.maps.GeocoderStatus.OK) {
            if (results[1]) {
              setAddressToSearchBox(results[1])
            } else {
              window.alert('No results found');
            }
          } else {
            window.alert('Geocoder failed due to: ' + status);
          }
        });
        marker.setPosition(positions);
        setCoordsOnInputs(positions);
      });
    }

    initMapClient();

    function setCoordsOnInputs(positions) {
      $('.create_order-lon').val(positions.lng);
      $('.create_order-lat').val(positions.lat);
    }

    function setAddressToSearchBox(place) {
      $('#pac-input').val(place.formatted_address)
    }
    stop_preloader();

    <%= render partial: 'admin/panel/partials/flash_msg' %>
  </script>
<% end %>