<%= render 'admin/shared/map' %>
<div class="be-wrapper be-fixed-sidebar">
  <%= render partial: 'admin/panel/partials/header' %>

  <%= render partial: 'admin/panel/partials/sidebar' %>

  <div class="be-content">
    <div class="page-head">
      <h2 class="page-head-title">Offices</h2>
      <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb page-head-nav">
          <li class="breadcrumb-item"><a href="<%= admin_panel_path %>">Home</a></li>
          <li class="breadcrumb-item"><a href="<%= admin_panel_order_items_path %>">Offices</a></li>
          <li class="breadcrumb-item active">Show</li>
        </ol>
      </nav>
    </div>
    <div class="main-content container-fluid">
      <div class="user-profile">
        <div class="row">
          <div class="col-lg-12">
            <div class="user-info-list card">
              <div class="card-header card-header-divider">Office
                <span class="card-subtitle"> Information
                  <div class="icon-container">
                    <a href="<%= edit_admin_panel_office_path(@office)%>">
                      <div class="icon"><span class="mdi mdi-edit"></span></div>
                      <span class="icon-class">Edit</span>
                    </a>
                  </div>
                </span>
              </div>
              <div class="card-body">
                <table class="no-border no-strip skills">
                  <tbody class="no-border-x no-border-y">
                  <tr>
                    <td class="icon"><span class="mdi mdi-account"></span></td>
                    <td class="item">Title<span class="icon s7-portfolio"></span></td>
                    <td><%= @office.title %></td>
                  </tr>
                  <tr>
                    <td class="icon"><span class="mdi mdi-account"></span></td>
                    <td class="item">Client<span class="icon s7-portfolio"></span></td>
                    <td><%= link_to @office.client.name, admin_panel_client_path(@office.client) if @office.client.present? %></td>
                  </tr>
                  <tr>
                    <td class="icon"><span class="mdi mdi-account"></span></td>
                    <td class="item">Count vehicles<span class="icon s7-portfolio"></span></td>
                    <td><%= @office.count_vehicles %></td>
                  </tr>
                  <tr>
                    <td class="icon"><span class="mdi mdi-account"></span></td>
                    <td class="item">Address<span class="icon s7-portfolio"></span></td>
                    <td><%= @office.address %></td>
                  </tr>
                  </tbody>
                </table>
              </div>

            </div>
          </div>

        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="user-info-list card">
              <div class="card-header card-header-divider">Office's location<span class="card-subtitle"></span></div>
              <div class="card-body">
                <div id="map_client" class="content" style="height: 350px;"></div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <%= render partial: 'admin/panel/partials/navigation_bar' %>
</div>
<%= content_for :javascript do %>
  <script type="text/javascript">
    App.init();
    App.formElements();
    // App.tableFilters();
    stop_preloader();

    <%= render partial: 'admin/panel/partials/flash_msg' %>

    var officesLatLng = initCoords();
    initMapClient();
    function initMapClient() {
      // Create a map object and specify the DOM element for display.
      var map = new google.maps.Map(document.getElementById('map_client'), {
        center: officesLatLng,
        scrollwheel: true,
        zoom: 13,
        mapTypeId:google.maps.MapTypeId.ROADMAP,
        disableDefaultUI: true,
        zoomControl: true,
        scaleControl: true
      });

      if(officesLatLng){
        var marker = new google.maps.Marker({
          position: officesLatLng,
          map: map
        });
      }

      if(gon.master){
        infoWindowText = gon.master.name ? gon.master.name : gon.master.email;
        var infoWindow = new google.maps.InfoWindow({
          content: infoWindowText
        });

        google.maps.event.addListener(marker, 'click', function () {
          infoWindow.open(map, marker);
        });
      }

    }

    function initCoords() {
      if(gon.office){
        lat = gon.office.lat ? Number.parseFloat(gon.office.lat) : 53.3374107;
        lon = gon.office.lon ? Number.parseFloat(gon.office.lon) : -6.3122344;
        return { lat: lat, lng: lon };
      }
    }
  </script>
<% end %>