<div class="be-wrapper be-fixed-sidebar">
  <%= render partial: 'admin/panel/partials/header' %>

  <%= render partial: 'admin/panel/partials/sidebar' %>

  <div class="be-content">
    <div class="page-head">
      <h2 class="page-head-title">Car types</h2>
      <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb page-head-nav">
          <li class="breadcrumb-item"><a href="<%= admin_panel_path %>">Home</a></li>
          <li class="breadcrumb-item"><a href="<%= admin_panel_path %>">Structure</a></li>
          <li class="breadcrumb-item"><a href="<%= admin_panel_subcategories_path %>">Car types</a></li>
          <li class="breadcrumb-item active">Show</li>
        </ol>
      </nav>
    </div>
    <div class="main-content container-fluid">
      <div class="user-profile">
        <div class="row">
          <div class="col-lg-12">
            <div class="user-info-list card">
              <div class="card-header card-header-divider">Subategory
                <span class="card-subtitle">
                  <div class="icon-container">
                    <a href="<%= edit_admin_panel_subcategory_path(@subcategory)%>">
                      <div class="icon"><span class="mdi mdi-edit"></span></div>
                      <span class="icon-class">Edit</span>
                    </a>
                  </div>
                </span>
              </div>
              <div class="card-body">
                <table class="no-border no-strip skills">
                  <tbody class="no-border-x no-border-y">
                  <tr>
                    <td class="icon"><span class="mdi mdi-case"></span></td>
                    <td class="item">Id<span class="icon s7-portfolio"></span></td>
                    <td><%= @subcategory.id %></td>
                  </tr>
                  <tr>
                    <td class="icon"><span class="mdi mdi-case"></span></td>
                    <td class="item">Title<span class="icon s7-portfolio"></span></td>
                    <td><%= @subcategory.title%></td>
                  </tr>
                  <tr>
                    <td class="icon"><span class="mdi mdi-cake"></span></td>
                    <td class="item">Title Ru<span class="icon s7-gift"></span></td>
                    <td><%= @subcategory.title_ru %></td>
                  </tr>
                  <tr>
                    <td class="icon"><span class="mdi mdi-cake"></span></td>
                    <td class="item">Category<span class="icon s7-gift"></span></td>
                    <td><%= link_to @subcategory.category.title, admin_panel_category_path(@subcategory.category) if @subcategory.category.present? %></td>
                  </tr>
                  <tr>
                    <td class="icon"><span class="mdi mdi-cake"></span></td>
                    <td class="item">Image<span class="icon s7-gift"></span></td>
                    <td><%= image_tag @subcategory.image.thumb_default.url if @subcategory.image.present? %></td>
                    <td><%= link_to('Delete Image', admin_images_path(resource: @subcategory.id, class: 'Subcategory', field: 'image'), data: { confirm:'Are you sure?' }, method: :delete) if @subcategory.image.present? %></td>
                  </tr>
                  <tr>
                    <td class="icon"><span class="mdi mdi-cake"></span></td>
                    <td class="item">Icon<span class="icon s7-gift"></span></td>
                    <td><%= image_tag @subcategory.icon.thumb_default.url if @subcategory.icon.present? %></td>
                    <td><%= link_to('Delete Image', admin_images_path(resource: @subcategory.id, class: 'Subcategory', field: 'icon'), data: { confirm:'Are you sure?' }, method: :delete) if @subcategory.icon.present? %></td>
                  </tr>
                  <tr>
                    <td class="icon"><span class="mdi mdi-cake"></span></td>
                    <td class="item">Icon Web<span class="icon s7-gift"></span></td>
                    <td><%= image_tag @subcategory.icon_web.url if @subcategory.icon_web.present? %></td>
                    <td><%= link_to('Delete Image', admin_images_path(resource: @subcategory.id, class: 'Subcategory', field: 'icon_web'), data: { confirm:'Are you sure?' }, method: :delete) if @subcategory.icon_web.present? %></td>
                  </tr>
                  <tr>
                    <td class="icon"><span class="mdi mdi-cake"></span></td>
                    <td class="item">Services<span class="icon s7-gift"></span></td>
                    <td><%= @subcategory.services.order(:title).inject("") {|links, service| links += content_tag :li, link_to(service.title, admin_panel_service_path(service)) }.html_safe %></td>
                  </tr>
                  <tr>
                    <td class="icon"><span class="mdi mdi-cake"></span></td>
                    <td class="item">Visible<span class="icon s7-gift"></span></td>
                    <td><%= @subcategory.visible? ? 'Yes' : 'No' %></td>
                  </tr>
                  <tr>
                    <td class="icon"><span class="mdi mdi-cake"></span></td>
                    <td class="item">Corp<span class="icon s7-gift"></span></td>
                    <td><%= @subcategory.corp? ? 'Yes' : 'No' %></td>
                  </tr>
                  <tr>
                    <td class="icon"><span class="mdi mdi-cake"></span></td>
                    <td class="item">Size car:<span class="icon s7-gift"></span></td>
                    <td><%= @subcategory.small_car ? 'Small' : 'SUV' %></td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
  <%= render partial: 'admin/panel/partials/navigation_bar' %>
</div>
<%= content_for :javascript do %>
  <script type="text/javascript">
    App.init();
    App.formElements();
    // App.tableFilters();
    stop_preloader();

    <%= render partial: 'admin/panel/partials/flash_msg' %>
  </script>
<% end %>