<div class="be-wrapper be-fixed-sidebar">
  <%= render partial: 'admin/panel/partials/header' %>

  <%= render partial: 'admin/panel/partials/sidebar' %>

  <div class="be-content">
    <div class="page-head">
      <h2 class="page-head-title">Promo codes</h2>
      <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb page-head-nav">
          <li class="breadcrumb-item"><a href="<%= admin_panel_path %>">Home</a></li>
          <li class="breadcrumb-item"><a href="<%= admin_panel_promo_codes_path %>">Promo codes</a></li>
          <li class="breadcrumb-item active">Edit</li>
        </ol>
      </nav>
      <% flash.each do |type, msg| %>
        <div class="alert alert-<%= type %> alert-dismissible" role="alert">
          <button class="close" type="button" data-dismiss="alert" aria-label="Close"><span class="mdi mdi-close" aria-hidden="true"></span></button>
          <div class="message"><%= msg %></div>
        </div>
      <% end %>
    </div>
    <div class="main-content container-fluid">
      <div class="card card-border-color card-border-color-primary">
        <div class="card-header card-header-divider">Edit promo code</div>
        <div class="card-body">
          <%= form_for @promo_code, url: admin_panel_promo_code_path, method: :put do |f| %>
            <div class="form-group row mt-2">
              <label class="col-3 col-lg-2 col-form-label text-right" for="inputTitle">Discount</label>
              <div class="col-9 col-lg-10">
                <%= f.number_field :discount, class: 'form-control', required: true, placeholder: 'Input count discount' %>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-3 col-lg-2 col-form-label text-right">Message</label>
              <div class="col-9 col-lg-10">
                <%= f.text_field :promo_code_id, class: 'form-control', required: true, placeholder: 'promo_code_id' %>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-3 col-lg-2 col-form-label text-right">Used</label>
              <div class="col-9 col-lg-10">
                <label class="custom-control custom-control-sm custom-checkbox">
                  <% if f.object.used %>
                    <input class="custom-control-input" type="checkbox" name="promo_code[used]" id="promo_code_used" checked>
                  <% else %>
                    <input class="custom-control-input" type="checkbox" name="promo_code[used]" id="promo_code_used">
                  <% end %>
                  <span class="custom-control-label"></span>
                </label>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-3 col-lg-2 col-form-label text-right">Select client</label>
              <div class="col-9 col-lg-10">
                <%= f.select :client_id, User::Client.all.map{ |client| [client.name, client.id] }, { include_blank: true },  { class: 'select2 select2-lg' }  %>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-3 col-lg-2 col-form-label text-right" for="inputDescription">Expiration date  </label>
              <div class="col-12 col-sm-7 col-md-5 col-lg-4 col-xl-3">
                <div class="input-group date datetimepicker" data-start-view="1" data-date="<%=current_date%>" data-date-format="yyyy-mm-dd - HH:ii" data-link-field="dtp_input1">
                  <%= f.text_field :exp_date, class: 'form-control', size: 16, required: true %>
                  <div class="input-group-append">
                    <button class="btn btn-primary"><i class="icon-th mdi mdi-calendar"></i></button>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-3 col-lg-2"></div>
              <div class="col-9 col-lg-10">
                <%= f.submit class: 'btn btn-space btn-primary btn-lg' %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <%= render partial: 'admin/panel/partials/navigation_bar' %>
</div>
<%= content_for :javascript do %>
  <script type="text/javascript">
    App.init();
    App.formElements();
    // App.tableFilters();
    stop_preloader();
    <%= render partial: 'admin/panel/partials/flash_msg' %>
  </script>
<% end %>