<div class="be-wrapper be-fixed-sidebar">
  <%= render partial: 'admin/panel/partials/header' %>

  <%= render partial: 'admin/panel/partials/sidebar' %>

  <div class="be-content">
    <div class="page-head">
      <h2 class="page-head-title">Promo codes</h2>
      <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb page-head-nav">
          <li class="breadcrumb-item"><a href="<%= admin_panel_path %>">Home</a></li>
          <li class="breadcrumb-item"><a href="<%= admin_panel_promo_codes_path %>">Promo codes</a></li>
          <li class="breadcrumb-item active">List</li>
        </ol>
      </nav>
    </div>
    <div class="main-content container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card card-table">
            <%= form_tag admin_panel_promo_codes_path, method: :get, id: 'promo_code_filters_form' do%>
              <div class="row table-filters-container">
                <div class="col-4 col-lg-4 table-filters pb-0 pb-xl-4 filter_blocks">
                  <div class="row">
                    <div class="col-12 col-lg-12 table-filters pb-0 pb-xl-5" style="padding-top: 0; padding-bottom: 0 !important;"><span class="table-filter-title title_filter">Promo code id</span>
                      <div class="filter-container">
                        <label class="control-label">Find by promo_code_id:</label>
                        <div class="row">
                          <div class="col-6">
                            <%= select_tag :promo_code_id_filter, options_for_select(get_filter_options, params[:promo_code_id_filter]), { class: 'select2 select2-hidden-accessible promo_code_id_filter' } %>
                          </div>
                          <div class="col-6">
                            <%= text_field_tag :promo_code_id, params[:promo_code_id], class: 'form-control form-control-sm promo_code_id' %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-4 col-lg-4 table-filters pb-0 pb-xl-4 filter_blocks">
                  <div class="row">
                    <div class="col-12 col-lg-12 table-filters pb-0 pb-xl-5" style="padding-top: 0; padding-bottom: 0 !important;"><span class="table-filter-title title_filter">Discount</span>
                      <div class="filter-container">
                        <label class="control-label">Find by discount:</label>
                        <div class="row">
                          <div class="col-6">
                            <%= select_tag :discount_filters, options_for_select(get_number_filter_options, params[:discount_filters]), { class: 'select2 select2-hidden-accessible discount_filters' } %>
                          </div>
                          <div class="col-6">
                            <%= number_field_tag :discount, params[:discount], class: 'form-control form-control-sm discount' %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-4 col-lg-4 table-filters pb-0 pb-xl-4 filter_blocks">
                  <div class="row">
                    <div class="col-12 col-lg-12 table-filters pb-0 pb-xl-5" style="padding-top: 0; padding-bottom: 0 !important;"><span class="table-filter-title title_filter">Used</span>
                      <div class="filter-container">
                        <label class="control-label">Used:</label>
                        <div class="row">
                          <div class="col-6">
                            <%= select_tag :used, options_for_select([['Yes', true], ['No', false]], params[:used]), { class: 'select2 select2-hidden-accessible used', id: 'used' } %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-3 col-lg-3 table-filters pb-0 pb-xl-4 filter_blocks">
                  <div class="row">
                    <div class="col-12 col-lg-12 table-filters pb-0 pb-xl-5" style="padding-top: 0; padding-bottom: 0 !important;"><span class="table-filter-title title_filter">Expiration date</span>
                      <div class="filter-container">
                        <label class="control-label">From date:</label>
                        <div class="row">
                          <div class="col-12">
                            <div class="input-group date datetimepicker" data-min-view="2" data-date-format="yyyy-mm-dd">
                              <%= text_field_tag :expiration_date_from, params[:expiration_date_from], class: 'form-control', size: 16 %>
                              <div class="input-group-append">
                                <button class="btn btn-primary"><i class="icon-th mdi mdi-calendar"></i></button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-3 col-lg-3 table-filters pb-0 pb-xl-4 filter_blocks">
                  <div class="row">
                    <div class="col-12 col-lg-12 table-filters pb-0 pb-xl-5" style="padding-top: 0; padding-bottom: 0 !important;"><span class="table-filter-title title_filter" style="display: none"></span><br>
                      <div class="filter-container">
                        <label class="control-label">To date:</label>
                        <div class="row">
                          <div class="col-12">
                            <div class="input-group date datetimepicker" data-min-view="2" data-date-format="yyyy-mm-dd">
                              <%= text_field_tag :expiration_date_to, params[:expiration_date_to], class: 'form-control', size: 16 %>
                              <div class="input-group-append">
                                <button class="btn btn-primary"><i class="icon-th mdi mdi-calendar"></i></button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-lg-12 table-filters pb-0 pb-xl-4 filter_buttons">
                  <div class="row">
                    <div class="col-12 col-lg-12 table-filters filter_blocks">
                      <div class="filter-container">
                        <%= submit_tag('Filter', type: 'submit', class: 'btn btn-space btn-primary') %>
                        <%= submit_tag('Reset', type: 'cancel', class: 'btn btn-space btn-secondary reset_promo_code_filters') %>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-4 col-lg-4 table-filters pb-0 pb-xl-4 filter_blocks">
                  <div class="row">
                    <div class="col-12 col-lg-12 table-filters pb-0 pb-xl-5">
                      <div class="filter-container">
                        <a href="<%= new_admin_panel_promo_code_path %>" class="btn btn-space btn-secondary">New promo code</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
            <div class="card-body">
              <div class="noSwipe">
                <table class="table table-striped table-hover be-table-responsive" id="table1">
                  <thead>
                    <tr>
                      <th>
                        <label class="custom-control custom-control-sm custom-checkbox">
                          <input class="custom-control-input" type="checkbox"><span class="custom-control-label"></span>
                        </label>
                      </th>
                      <th>ID</th>
                      <th>Promo code id</th>
                      <th>Expiration date</th>
                      <th>Discount</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @promo_codes.each do |promo_code| %>
                    <tr class="success done">
                      <td>
                        <label class="custom-control custom-control-sm custom-checkbox">
                          <input class="custom-control-input" type="checkbox"><span class="custom-control-label"></span>
                        </label>
                      </td>
                      <td class="cell-detail">
                        <span><a href="<%= admin_panel_promo_code_path(promo_code.id) %>"><%= promo_code.id %></a></span>
                      </td>
                      <td class="cell-detail">
                        <span><%= promo_code.promo_code_id %></span>
                      </td>
                      <td class="cell-detail">
                        <span><%= get_custom_date(promo_code.exp_date) %></span>
                      </td>
                      <td class="cell-detail" data-project="Bootstrap">
                        <span>
                          <span>€<%= promo_code.discount %></span>
                        </span>
                      </td>
                      <td class="text-right">
                        <div class="btn-group btn-hspace">
                          <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">Actions <span
                          class="icon-dropdown mdi mdi-chevron-down"></span></button>
                          <div class="dropdown-menu" role="menu">
                            <a class="dropdown-item" href="<%= admin_panel_promo_code_path(promo_code) %>">Show</a>
                            <a class="dropdown-item" href="<%= edit_admin_panel_promo_code_path(promo_code) %>">Edit</a>
                          </div>
                        </div>
                      </td>
                    </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5"></div>
        <div class="col-md-7">
          <div class="card" style="float: right">
            <div class="card-header"></div>
            <div class="card-body">
              <%= paginate @promo_codes %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= render partial: 'admin/panel/partials/navigation_bar' %>
</div>
<%= content_for :javascript do %>
<script type="text/javascript">
  App.init();
  App.formElements();
  stop_preloader();

  $('.reset_promo_code_filters').on('click', function(){
    $('#promo_code_filters_form')[0].reset();
    window.location.href = '/admin/panel/promo_codes'
  });

  <% unless params[:client_id].present? %>
    $('#client_id').val('').trigger('change');
  <% end %>

  <% unless params[:used] %>
    $('#used').val('').trigger('change');
  <% end %>

  <% if flash['error'].present? %>
      $.gritter.add({
        title: 'Error',
        text: "<%= flash['error']%>",
        class_name: 'color danger'
      });
    <% end %>
    
    <% if flash['success'].present? %>
      $.gritter.add({
        title: 'Success',
        text: "<%= flash['success']%>",
        class_name: 'color success'
      });
    <% end %>

    <% if flash['notice'].present? %>
      $.gritter.add({
        title: 'Success',
        text: "<%= flash['notice']%>",
        class_name: 'color success'
      });
    <% end %>
</script>
<% end %>