<div class="be-wrapper be-fixed-sidebar">
  <%= render partial: 'admin/panel/partials/header' %>

  <%= render partial: 'admin/panel/partials/sidebar' %>

  <div class="be-content">
    <div class="page-head">
      <h2 class="page-head-title">Promo codes</h2>
      <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb page-head-nav">
          <li class="breadcrumb-item"><a href="<%= admin_panel_path %>">Home</a></li>
          <li class="breadcrumb-item"><a href="<%= admin_panel_promo_codes_path %>">Promo codes</a></li>
          <li class="breadcrumb-item active">Create</li>
        </ol>
      </nav>
    </div>
    <div class="main-content container-fluid">
      <div class="card card-border-color card-border-color-primary">
        <div class="card-header card-header-divider">Create promo codes<span class="card-subtitle">
            user</span></div>
        <div class="card-body">
          <%= form_for @promo_code, url: admin_panel_promo_codes_path, method: :post do |f| %>
          <div class="form-group row mt-2">
            <label class="col-3 col-lg-2 col-form-label text-right" for="inputEmail">Promocode string</label>
            <div class="col-9 col-lg-10">
              <%= f.text_field :promo_code_id, class: 'form-control', required: true, id: 'inputTitle', placeholder: 'Your code' %>
            </div>
          </div>
          <div class="form-group row mt-2">
            <label class="col-3 col-lg-2 col-form-label text-right" for="inputEmail">Description</label>
            <div class="col-9 col-lg-10">
              <%= f.text_area :description, class: 'form-control', required: true, id: 'inputTitle', placeholder: 'Description about code' %>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-3 col-lg-2 col-form-label text-right">Expiration date</label>
            <div class="col-6 col-lg-6">
              <div class="input-group date datetimepicker" data-min-view="2" data-date-format="yyyy-mm-dd">
                <%= f.text_field :exp_date, class: 'form-control', size: 16 %>
                <div class="input-group-append">
                  <button class="btn btn-primary"><i class="icon-th mdi mdi-calendar"></i></button>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-3 col-lg-2 col-form-label text-right">Discount(€)</label>
            <div class="col-9 col-lg-10">
              <%= f.number_field :discount, class: 'form-control', required: true, id: 'inputTitle', placeholder: 'Discount' %>
            </div>
          </div>
          <div class="row pt-3 mt-1">
            <div class="col-sm-6 col-lg-6 pb-4 pb-lg-0">
              <label class="be-checkbox custom-control custom-checkbox">
              </label>
            </div>
            <div class="col-sm-6">
              <p class="text-right">
                <button class="btn btn-space btn-primary" type="submit">Create</button>
              </p>
            </div>
          </div>
          <%end %>
        </div>
      </div>
    </div>
  </div>
  <%= render partial: 'admin/panel/partials/navigation_bar' %>
</div>
<%= content_for :javascript do %>
<script type="text/javascript">
  App.init();
  App.formElements();

  stop_preloader();
  <%= render partial: 'admin/panel/partials/flash_msg' %>
</script>
<% end %>