<div class="be-wrapper be-fixed-sidebar">
  <%= render partial: 'admin/panel/partials/header' %>

  <%= render partial: 'admin/panel/partials/sidebar' %>

  <div class="be-content">
    <div class="page-head">
      <h2 class="page-head-title">Clients</h2>
      <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb page-head-nav">
          <li class="breadcrumb-item"><a href="<%= admin_panel_path %>">Home</a></li>
          <li class="breadcrumb-item"><a href="<%= admin_panel_promo_codes_path %>">List</a></li>
          <li class="breadcrumb-item active">Show</li>
        </ol>
      </nav>
    </div>
    <div class="main-content container-fluid">
      <div class="user-profile">
        <div class="row">
          <div class="col-lg-10">
            <div class="user-info-list card">
              <div class="card-header card-header-divider">Client
                <span class="card-subtitle">
                  <div class="icon-container">
                    <a href="<%= edit_admin_panel_promo_code_path(@promo_code)%>">
                      <div class="icon"><span class="mdi mdi-edit"></span></div>
                      <span class="icon-class">Edit</span>
                    </a>
                  </div>
                </span>
              </div>
              <div class="card-body">
                <table class="no-border no-strip skills">
                  <tbody class="no-border-x no-border-y">
                  <tr>
                    <td class="icon"><span class="mdi mdi-case"></span></td>
                    <td class="item">ID<span class="icon s7-portfolio"></span></td>
                    <td><%= @promo_code.id%></td>
                  </tr>
                  <tr>
                    <td class="icon"><span class="mdi mdi-cake"></span></td>
                    <td class="item">Code ID<span class="icon s7-gift"></span></td>
                    <td><%= @promo_code.promo_code_id%></td>
                  </tr>
                  <tr>
                    <td class="icon"><span class="mdi mdi-cake"></span></td>
                    <td class="item">Description<span class="icon s7-gift"></span></td>
                    <td><%= @promo_code.description%></td>
                  </tr>
                  <tr>
                    <td class="icon"><span class="mdi mdi-cake"></span></td>
                    <td class="item">Created at<span class="icon s7-gift"></span></td>
                    <td>
                      <%= get_custom_date(@promo_code.created_at) %>
                    </td>
                  </tr>
                  <tr>
                    <td class="icon"><span class="mdi mdi-cake"></span></td>
                    <td class="item">Expiration date<span class="icon s7-gift"></span></td>
                    <td><%= get_custom_date(@promo_code.exp_date) %></td>
                  </tr>
                  <tr>
                    <td class="icon"><span class="mdi mdi-cake"></span></td>
                    <td class="item">Discount<span class="icon s7-gift"></span></td>
                    <td><%= @promo_code.discount%> €</td>
                  </tr>
                  <tr>
                    <td class="icon"><span class="mdi mdi-cake"></span></td>
                    <td class="item">Used<span class="icon s7-gift"></span></td>
                    <td><%= @promo_code.used ? 'Yes' : 'No' %></td>
                  </tr>
                    <% if @promo_code.used %>
                      <tr>
                        <td class="icon"><span class="mdi mdi-cake"></span></td>
                        <td class="item">Order<span class="icon s7-gift"></span></td>
                        <td>
                          <% if @promo_code.order_item.present? %>
                            <a href="<%= admin_panel_order_item_path(@promo_code.order_item.id)%>">
                              <%= @promo_code.order_item.id%>
                            </a>
                          <% end  %>
                        </td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <%= render partial: 'admin/panel/partials/navigation_bar' %>
</div>
<%= content_for :javascript do %>
  <script type="text/javascript">
    App.init();
    App.formElements();
    // App.tableFilters();
    stop_preloader();

    <%= render partial: 'admin/panel/partials/flash_msg' %>
  </script>
<% end %>