<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-left">
        <li><a href="<%= admin_root_path %>">Admin panel</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="container-fluid">

  <div class="row">
    <div class="col-sm-8">
      <div class="chart-wrapper">
        <div class="chart-title">
          <strong>What % of  shares each category</strong>
        </div>
        <div class="chart-stage">
          <div id="grid-1-1">
            <%= pie_chart percentage_orders_and_categories_path %>
          </div>
        </div>
        <div class="chart-notes">
          Chart notes
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="chart-wrapper">
        <div class="chart-title">
          <strong>average € cheque per category</strong>
        </div>
        <div class="chart-stage">
          <%= pie_chart average_price_category_path %>
        </div>
        <div class="chart-notes">
          Chart notes
        </div>
      </div>
    </div>
  </div>
<%= form_tag last_n_days_path, method: :get, id: 'last_n_days', remote: true do %>
  <div class="row">

    <div class="col-sm-12">

      <div class="chart-wrapper">
        <div class="chart-title">
          <strong>Orders</strong>
        </div>

        <div class="chart-stage">
          <div class="btn-group">
            <button type="button" class="btn btn-primary range">Today</button>
            <button type="button" class="btn btn-primary range">Yesterday</button>
            <button type="button" class="btn btn-primary range">Last 7 Days</button>
            <button type="button" class="btn btn-primary range">Last 30 Days</button>
          </div>
          <br>
          <br>
          <div id="grid-1-1" class="last_n_days">
          <%= line_chart last_n_days_path %>
          </div>
          <br>
          <br>
        </div>
        <div class="chart-notes">
        </div>
      </div>
    </div>
  </div>
  <input type="hidden" name="range" id="range_hidden">
<% end %>

<div class="row">
  <div class="col-sm-8">
    <div class="chart-wrapper">
      <div class="chart-title">
        <strong>Created order by platform %</strong>
      </div>
      <div class="chart-stage">
        <div id="grid-1-1">
          <%= column_chart created_order_by_platform_path, min: 0, max: 100 %>
        </div>
      </div>
      <div class="chart-notes">
        Chart notes
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-8">
    <div class="chart-wrapper">
      <div class="chart-title">
        <strong>Number of clients grouped by type</strong>
      </div>
      <div class="chart-stage">
        <div id="grid-1-1">
          <%= column_chart clients_by_type_path, min: 0, max: total_number_clients %>
        </div>
      </div>
      <div class="chart-notes">
        Chart notes
      </div>
    </div>
  </div>
</div>

<div class="row">
    <div class="col-sm-8">
      <div class="chart-wrapper">
        <div class="chart-title">
          <strong>Number of orders made by clients grouped by their type</strong>
        </div>
        <div class="chart-stage">
          <div id="grid-1-1">
            <%= pie_chart orders_by_clients_path %>
          </div>
        </div>
        <div class="chart-notes">
          Chart notes
        </div>
      </div>
    </div>
</div>

</div>

<script type="text/javascript">

  $(function() {
    $('.range').on('click', function(){
      range_key = $(this).text();
      $('#range_hidden').val(range_key);
      $('#last_n_days').submit();
    })
  });

</script>
