<div class="be-wrapper be-fixed-sidebar">
  <%= render partial: 'admin/panel/partials/header' %>

  <%= render partial: 'admin/panel/partials/sidebar' %>

  <div class="be-content">
    <div class="page-head">
      <h2 class="page-head-title">Gift cards</h2>
      <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb page-head-nav">
          <li class="breadcrumb-item"><a href="<%= admin_panel_path %>">Home</a></li>
          <li class="breadcrumb-item"><a href="<%= admin_panel_gift_cards_path %>">Gift vouchers</a></li>
          <li class="breadcrumb-item active">List</li>
        </ol>
      </nav>
    </div>
    <div class="main-content container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card card-table">
            <%= form_tag admin_panel_gift_cards_path, method: :get, id: 'gift_card_filters_form' do%>
              <div class="row table-filters-container">
                <div class="col-4 col-lg-4 table-filters pb-0 pb-xl-4 filter_blocks">
                  <div class="row">
                    <div class="col-12 col-lg-12 table-filters pb-0 pb-xl-5" style="padding-top: 0; padding-bottom: 0 !important;"><span class="table-filter-title title_filter">Expired</span>
                      <div class="filter-container">
                        <label class="control-label">Find by expired:</label>
                        <div class="row">
                          <div class="col-12">
                            <%= select_tag :is_expired, options_for_select([['Expired', 'expired'], ['Not expired', 'not_expired']], params[:is_expired]), { class: 'select2 select2-hidden-accessible is_expired', id: 'is_expired' } %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-4 col-lg-4 table-filters pb-0 pb-xl-4 filter_blocks">
                  <div class="row">
                    <div class="col-12 col-lg-12 table-filters pb-0 pb-xl-5" style="padding-top: 0; padding-bottom: 0 !important;"><span class="table-filter-title title_filter">To email</span>
                      <div class="filter-container">
                        <label class="control-label">Find by to_email:</label>
                        <div class="row">
                          <div class="col-6">
                            <%= select_tag :to_email_filter, options_for_select(get_filter_options, params[:to_email_filter]), { class: 'select2 select2-hidden-accessible to_email_filter' } %>
                          </div>
                          <div class="col-6">
                            <%= text_field_tag :to_email, params[:to_email], class: 'form-control form-control-sm to_email' %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-4 col-lg-4 table-filters pb-0 pb-xl-4 filter_blocks">
                  <div class="row">
                    <div class="col-12 col-lg-12 table-filters pb-0 pb-xl-5" style="padding-top: 0; padding-bottom: 0 !important;"><span class="table-filter-title title_filter">Amount</span>
                      <div class="filter-container">
                        <label class="control-label">Find by amount:</label>
                        <div class="row">
                          <div class="col-6">
                            <%= select_tag :amount_filters, options_for_select(get_number_filter_options, params[:amount_filters]), { class: 'select2 select2-hidden-accessible amount_filters' } %>
                          </div>
                          <div class="col-6">
                            <%= number_field_tag :amount, params[:amount], class: 'form-control form-control-sm amount' %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-4 col-lg-4 table-filters pb-0 pb-xl-4 filter_blocks">
                  <div class="row">
                    <div class="col-12 col-lg-12 table-filters pb-0 pb-xl-5" style="padding-top: 0; padding-bottom: 0 !important;"><span class="table-filter-title title_filter">Used</span>
                      <div class="filter-container">
                        <label class="control-label">Used:</label>
                        <div class="row">
                          <div class="col-12">
                            <%= select_tag :used, options_for_select([['Yes', true], ['No', false]], params[:used]), { class: 'select2 select2-hidden-accessible used', id: 'used' } %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-4 col-lg-4 table-filters pb-0 pb-xl-4 filter_blocks">
                  <div class="row">
                    <div class="col-12 col-lg-12 table-filters pb-0 pb-xl-5" style="padding-top: 0; padding-bottom: 0 !important;"><span class="table-filter-title title_filter">Service</span>
                      <div class="filter-container">
                        <label class="control-label">Find by service:</label>
                        <div class="row">
                          <div class="col-12">
                            <%= select_tag :service_id, options_for_select(Service.all.map{ |service| [service.title, service.id] }, params[:service_id]), { class: 'select2 select2-hidden-accessible service_id', id: 'service_id' } %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-4 col-lg-4 table-filters pb-0 pb-xl-4 filter_blocks">
                  <div class="row">
                    <div class="col-12 col-lg-12 table-filters pb-0 pb-xl-5" style="padding-top: 0; padding-bottom: 0 !important;"><span class="table-filter-title title_filter">To client</span>
                      <div class="filter-container">
                        <label class="control-label">Find by to client:</label>
                        <div class="row">
                          <div class="col-12">
                            <%= select_tag :to_client_id, options_for_select(User::Client.all.map{ |client| [client.name, client.id] }, params[:to_client_id]), { class: 'select2 select2-hidden-accessible to_client_id', id: 'to_client_id' } %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-4 col-lg-4 table-filters pb-0 pb-xl-4 filter_blocks">
                  <div class="row">
                    <div class="col-12 col-lg-12 table-filters pb-0 pb-xl-5" style="padding-top: 0; padding-bottom: 0 !important;"><span class="table-filter-title title_filter">From client</span>
                      <div class="filter-container">
                        <label class="control-label">Find by From client:</label>
                        <div class="row">
                          <div class="col-12">
                            <%= select_tag :from_client_id, options_for_select(User::Client.all.map{ |client| [client.name, client.id] }, params[:from_client_id]), { class: 'select2 select2-hidden-accessible from_client_id', id: 'from_client_id' } %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-3 col-lg-3 table-filters pb-0 pb-xl-4 filter_blocks">
                  <div class="row">
                    <div class="col-12 col-lg-12 table-filters pb-0 pb-xl-5" style="padding-top: 0; padding-bottom: 0 !important;"><span class="table-filter-title title_filter">Expiration date</span>
                      <div class="filter-container">
                        <label class="control-label">From date:</label>
                        <div class="row">
                          <div class="col-12">
                            <div class="input-group date datetimepicker" data-min-view="2" data-date-format="yyyy-mm-dd">
                              <%= text_field_tag :expiration_date_from, params[:expiration_date_from], class: 'form-control', size: 16 %>
                              <div class="input-group-append">
                                <button class="btn btn-primary"><i class="icon-th mdi mdi-calendar"></i></button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-3 col-lg-3 table-filters pb-0 pb-xl-4 filter_blocks">
                  <div class="row">
                    <div class="col-12 col-lg-12 table-filters pb-0 pb-xl-5" style="padding-top: 0; padding-bottom: 0 !important;"><span class="table-filter-title title_filter" style="display: none"></span><br>
                      <div class="filter-container">
                        <label class="control-label">To date:</label>
                        <div class="row">
                          <div class="col-12">
                            <div class="input-group date datetimepicker" data-min-view="2" data-date-format="yyyy-mm-dd">
                              <%= text_field_tag :expiration_date_to, params[:expiration_date_to], class: 'form-control', size: 16 %>
                              <div class="input-group-append">
                                <button class="btn btn-primary"><i class="icon-th mdi mdi-calendar"></i></button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-lg-12 table-filters pb-0 pb-xl-4 filter_buttons">
                  <div class="row">
                    <div class="col-12 col-lg-12 table-filters filter_blocks">
                      <div class="filter-container">
                        <%= submit_tag('Filter', type: 'submit', class: 'btn btn-space btn-primary') %>
                        <%= submit_tag('Reset', type: 'cancel', class: 'btn btn-space btn-secondary reset_gift_card_filters') %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
            <div class="card-body">
              <div class="noSwipe">
                <table class="table table-striped table-hover be-table-responsive" id="table1">
                  <thead>
                    <tr>
                      <th>
                        <label class="custom-control custom-control-sm custom-checkbox">
                          <input class="custom-control-input" type="checkbox"><span class="custom-control-label"></span>
                        </label>
                      </th>
                      <th>ID</th>
                      <th>To client</th>
                      <th>From client</th>
                      <th>Amount</th>
                      <th>Service</th>
                      <th>Expiration date</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @gift_cards.each do |gift_card| %>
                    <tr class="success done">
                      <td>
                        <label class="custom-control custom-control-sm custom-checkbox">
                          <input class="custom-control-input" type="checkbox"><span class="custom-control-label"></span>
                        </label>
                      </td>
                      <td class="cell-detail">
                        <span><a href="<%= admin_panel_gift_card_path(gift_card.id) %>"><%= gift_card.id %></a></span>
                      </td>
                      <td class="cell-detail">
                        <span><%= gift_card.to_client.name if gift_card.to_client.present? %></span>
                      </td>
                      <td class="cell-detail">
                        <span><%= gift_card.from_client.name if gift_card.from_client.present? %></span>
                      </td>
                      <td class="cell-detail" data-project="Bootstrap">
                        <span><%= gift_card.amount.to_f if gift_card.amount.present? %></span>
                      </td>
                      <td class="cell-detail" data-project="Bootstrap">
                        <span><%= link_to gift_card.service.short_title, admin_panel_service_path(gift_card.service) if gift_card.service.present? %></span>
                      </td>
                      <td class="cell-detail" data-project="Bootstrap">
                        <span><%= get_custom_date(gift_card.exp_date) if gift_card.exp_date.present? %></span>
                      </td>
                      <td class="text-right">
                        <div class="btn-group btn-hspace">
                          <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">Actions <span
                          class="icon-dropdown mdi mdi-chevron-down"></span></button>
                          <div class="dropdown-menu" role="menu">
                            <a class="dropdown-item" href="<%= admin_panel_gift_card_path(gift_card) %>">Show</a>
                            <a class="dropdown-item" href="<%= edit_admin_panel_gift_card_path(gift_card) %>">Edit</a>
                          </div>
                        </div>
                      </td>
                    </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= render partial: 'admin/panel/partials/navigation_bar' %>
</div>
<%= content_for :javascript do %>
<script type="text/javascript">
  App.init();
  App.formElements();
  stop_preloader();

  $('.reset_gift_card_filters').on('click', function(){
    $('#gift_card_filters_form')[0].reset();
    window.location.href = '/admin/panel/gift_cards'
  });

  <% unless params[:to_client_id].present? %>
    $('#to_client_id').val('').trigger('change');
  <% end %>

  <% unless params[:from_client_id].present? %>
    $('#from_client_id').val('').trigger('change');
  <% end %>

  <% unless params[:used] %>
    $('#used').val('').trigger('change');
  <% end %>

  <% unless params[:service_id] %>
    $('#service_id').val('').trigger('change');
  <% end %>

  if(gon.is_expired){
    $('#is_expired').val(gon.is_expired).trigger('change');
  }else{
    $('#is_expired').val('not_expired').trigger('change');
  }

  <%= render partial: 'admin/panel/partials/flash_msg' %>
</script>
<% end %>