<div class="be-wrapper be-fixed-sidebar">
  <%= render partial: 'admin/panel/partials/header' %>

  <%= render partial: 'admin/panel/partials/sidebar' %>

  <div class="be-content">
    <div class="page-head">
      <h2 class="page-head-title">Gift vouchers</h2>
      <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb page-head-nav">
          <li class="breadcrumb-item"><a href="<%= admin_panel_path %>">Home</a></li>
          <li class="breadcrumb-item"><a href="<%= admin_panel_gift_cards_path %>">Gift vouchers</a></li>
          <li class="breadcrumb-item active">Show</li>
        </ol>
      </nav>
    </div>
    <div class="main-content container-fluid">
<div class="user-profile">
  <div class="row">
    <div class="col-lg-10">
      <div class="user-info-list card">
        <div class="card-header card-header-divider">Gift card
          <span class="card-subtitle">
            <div class="icon-container">
              <a href="<%= edit_admin_panel_gift_card_path(@gift_card)%>">
                <div class="icon"><span class="mdi mdi-edit"></span></div>
                <span class="icon-class">Edit</span>
              </a>
            </div>
          </span>
        </div>
        <div class="card-body">
          <table class="no-border no-strip skills">
            <tbody class="no-border-x no-border-y">
              <tr>
                <td class="icon"><span class="mdi mdi-account-box"></span></td>
                <td class="item">To client<span class="icon s7-portfolio"></span></td>
                <td><%= @gift_card.to_client.name if @gift_card.to_client.present? %></td>
              </tr>
              <tr>
                <td class="icon"><span class="mdi mdi-account-box"></span></td>
                <td class="item">From client<span class="icon s7-gift"></span></td>
                <td><%= @gift_card.from_client.name if @gift_card.from_client.present? %></td>
              </tr>
              <tr>
                <td class="icon"><span class="mdi mdi-check"></span></td>
                <td class="item">Amount<span class="icon s7-gift"></span></td>
                <td><%= @gift_card.amount.to_f if @gift_card.amount.present? %></td>
              </tr>
              <tr>
                <td class="icon"><span class="mdi mdi-check"></span></td>
                <td class="item">Service<span class="icon s7-gift"></span></td>
                <td><%= @gift_card.service.title if @gift_card.service.present? %></td>
              </tr>
              <tr>
                <td class="icon"><span class="mdi mdi-check"></span></td>
                <td class="item">Category<span class="icon s7-gift"></span></td>
                <td><%= @gift_card.category.title if @gift_card.category.present? %></td>
              </tr>
              <tr>
                <td class="icon"><span class="mdi mdi-calendar-close"></span></td>
                <td class="item">Expiration date<span class="icon s7-gift"></span></td>
                <td><%= get_custom_date(@gift_card.exp_date) if @gift_card.exp_date.present? %></td>
              </tr>
              <% if @gift_card.message.present? %>
                <tr>
                <td class="icon"><span class="mdi mdi-comment-outline"></span></td>
                <td class="item">Message<span class="icon s7-gift"></span></td>
                <td><%= @gift_card.message if @gift_card.message.present? %></td>
              </tr>
              <% end %>
             <% if @gift_card.used.present? %>
               <tr>
                <td class="icon"><span class="mdi mdi-check"></span></td>
                <td class="item">Used<span class="icon s7-gift"></span></td>
                <td><%= @gift_card.used  %></td>
              </tr>
             <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    
  </div>
  
</div>
    </div>
  </div>
  <%= render partial: 'admin/panel/partials/navigation_bar' %>
</div>
<%= content_for :javascript do %>
<script type="text/javascript">
  App.init();
  App.formElements();
  // App.tableFilters();
  stop_preloader();

  <%= render partial: 'admin/panel/partials/flash_msg' %>
</script>
<% end %>