<div class="be-wrapper be-fixed-sidebar">
  <%= render partial: 'admin/panel/partials/header' %>

  <%= render partial: 'admin/panel/partials/sidebar' %>

  <div class="be-content">
    <div class="page-head">
      <h2 class="page-head-title">Welcome text</h2>
      <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb page-head-nav">
          <li class="breadcrumb-item"><a href="<%= admin_panel_path %>">Home</a></li>
          <li class="breadcrumb-item"><a href="<%= admin_panel_email_texts_path %>">Email texts</a></li>
          <li class="breadcrumb-item active">List</li>
        </ol>
      </nav>
    </div>
    <div class="main-content container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card card-table">
            <%= form_tag admin_panel_email_texts_path, method: :get, id: 'email_text_filters_form' do %>
              <div class="row table-filters-container">
                <div class="col-4 col-lg-4 table-filters pb-0 pb-xl-4 filter_blocks">
                  <div class="row">
                    <div class="col-12 col-lg-12 table-filters pb-0 pb-xl-5" style="padding-top: 0; padding-bottom: 0 !important;"><span class="table-filter-title title_filter">Title</span>
                      <div class="filter-container">
                        <label class="control-label">Find by title of mailing:</label>
                        <div class="row">
                          <div class="col-6">
                            <%= select_tag :email_type_filter, options_for_select(get_filter_options, params[:email_type_filter]), { class: 'select2 select2-hidden-accessible email_type_filter' } %>
                          </div>
                          <div class="col-6">
                            <%= text_field_tag :email_type, params[:email_type], class: 'form-control form-control-sm' %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-4 col-lg-4 table-filters pb-0 pb-xl-4 filter_blocks">
                  <div class="row">
                    <div class="col-12 col-lg-12 table-filters pb-0 pb-xl-5" style="padding-top: 0; padding-bottom: 0 !important;"><span class="table-filter-title title_filter">Type</span>
                      <div class="filter-container">
                        <label class="control-label">Find by type of mailing:</label>
                        <div class="row">
                          <div class="col-12">
                            <%= select_tag :slug, options_for_select(EmailText.slugs.keys, params[:slug]), { class: 'select2 select2-hidden-accessible slug', id: 'slug' } %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-4 col-lg-4 table-filters pb-0 pb-xl-4 filter_blocks">
                  <div class="row">
                    <div class="col-12 col-lg-12 table-filters pb-0 pb-xl-5" style="padding-top: 0; padding-bottom: 0 !important;"><span class="table-filter-title title_filter">Content</span>
                      <div class="filter-container">
                        <label class="control-label">Find by content:</label>
                        <div class="row">
                          <div class="col-6">
                            <%= select_tag :content_filter, options_for_select(get_filter_options, params[:content_filter]), { class: 'select2 select2-hidden-accessible content_filter' } %>
                          </div>
                          <div class="col-6">
                            <%= text_field_tag(:content, params[:content], class: 'form-control form-control-sm content') %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-lg-12 table-filters pb-0 pb-xl-4 filter_buttons">
                  <div class="row">
                    <div class="col-12 col-lg-12 table-filters filter_blocks">
                      <div class="filter-container">
                        <%= submit_tag('Filter', type: 'submit', class: 'btn btn-space btn-primary') %>
                        <%= submit_tag('Reset', type: 'cancel', class: 'btn btn-space btn-secondary reset_email_text_filters') %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
            <div class="card-body">
              <div class="noSwipe">
                <table class="table table-striped table-hover be-table-responsive" id="table1">
                  <thead>
                  <tr>
                    <th>
                      <label class="custom-control custom-control-sm custom-checkbox">
                        <input class="custom-control-input" type="checkbox"><span class="custom-control-label"></span>
                      </label>
                    </th>
                    <th>Id</th>
                    <th>Title of mailing</th>
                    <th>Type of mailing</th>
                    <th>Content</th>
                  </tr>
                  </thead>
                  <tbody>
                  <% @email_texts.each do |email_text| %>
                    <tr class="success done">
                      <td>
                        <label class="custom-control custom-control-sm custom-checkbox">
                          <input class="custom-control-input" type="checkbox"><span class="custom-control-label"></span>
                        </label>
                      </td>
                      <td class="cell-detail"><span><a href="<%= admin_panel_email_text_path(email_text.id) %>"><%= email_text.id %></a></span></td>
                      <td class="cell-detail"><span><%= email_text.email_type %></span></td>
                      <td class="cell-detail"><span><%= email_text.slug %></span></td>
                      <td class="cell-detail"><span><%= email_text.content %></span></td>
                      <td class="text-right">
                        <div class="btn-group btn-hspace">
                          <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">Actions
                            <span class="icon-dropdown mdi mdi-chevron-down"></span></button>
                          <div class="dropdown-menu" role="menu">
                            <a class="dropdown-item" href="<%= admin_panel_email_text_path(email_text) %>">Show</a>
                            <a class="dropdown-item" href="<%= edit_admin_panel_email_text_path(email_text) %>">Edit</a>
                            <a class="dropdown-item" href="<%= admin_panel_email_text_path(email_text) %>" data-method="delete" data-confirm="Are you sure?">Delete</a>
                          </div>
                        </div>
                      </td>
                    </tr>
                  <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= render partial: 'admin/panel/partials/navigation_bar' %>
</div>
<%= content_for :javascript do %>
  <script type="text/javascript">
    App.init();
    App.formElements();
    stop_preloader();

    $('.reset_email_text_filters').on('click', function(){
      $('#email_text_filters_form')[0].reset();
      window.location.href = '/admin/panel/email_texts'
    });

    <% unless params[:slug].present? %>
      $('#slug').val('').trigger('change');
    <% end %>

    <%= render partial: 'admin/panel/partials/flash_msg' %>
  </script>
<% end %>