<div class="be-wrapper be-fixed-sidebar">
  <%= render partial: 'admin/panel/partials/header' %>

  <%= render partial: 'admin/panel/partials/sidebar' %>

  <div class="be-content">
    <div class="page-head">
      <h2 class="page-head-title">Email texts</h2>
      <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb page-head-nav">
          <li class="breadcrumb-item"><a href="<%= admin_panel_path %>">Home</a></li>
          <li class="breadcrumb-item"><a href="<%= admin_panel_email_texts_path %>">Email texts</a></li>
          <li class="breadcrumb-item active">Create</li>
        </ol>
      </nav>
    </div>
    <div class="main-content container-fluid">
      <div class="card card-border-color card-border-color-primary">
        <div class="card-header card-header-divider">Welcome text form<span class="card-subtitle">
            user</span></div>
        <div class="card-body">
          <%= form_for @email_text, url: admin_panel_email_texts_path, method: :post do |f| %>
            <div class="form-group row mt-2">
              <label class="col-3 col-lg-2 col-form-label text-right" for="inputEmail">Title of mailing</label>
              <div class="col-9 col-lg-10">
                <%= f.text_field :email_type, class: 'form-control', required: true, id: 'inputTitle', placeholder: 'title' %>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-3 col-lg-2 col-form-label text-right">Type of mailing</label>
              <div class="col-9 col-lg-10">
                <%= f.select :slug, EmailText.slugs.keys, {},  { class: 'select2 select2-lg' }  %>
              </div>
            </div>
            <div class="form-group row mt-2">
              <label class="col-3 col-lg-2 col-form-label text-right" for="inputEmail">Content</label>
              <div class="col-9 col-lg-10">
                <%= f.text_area :content, class: 'form-control', required: true, id: 'inputContent', placeholder: 'Content' %>
              </div>
            </div>
            <div class="row pt-3 mt-1">
              <div class="col-sm-6 col-lg-6 pb-4 pb-lg-0">
                <label class="be-checkbox custom-control custom-checkbox">
                </label>
              </div>
              <div class="col-sm-6">
                <p class="text-right">
                  <button class="btn btn-space btn-primary" type="submit">Create</button>
                </p>
              </div>
            </div>
          <%end %>
        </div>
      </div>
    </div>
  </div>
  <%= render partial: 'admin/panel/partials/navigation_bar' %>
</div>
<%= content_for :javascript do %>
  <script type="text/javascript">
    App.init();
    App.formElements();

    $('#created_admin_user-role').on('change', function () {
      selected = $(this).val();

      if (selected == 'company') {
        $('#created_admin_user-platform_parent').removeClass('hidden')
      } else {
        $('#created_admin_user-platform_parent').addClass('hidden')
      }
    })

    stop_preloader();
    <%= render partial: 'admin/panel/partials/flash_msg' %>
  </script>
<% end %>