<% if @orders.present? %>
  <% @orders.each do |order| %>
    <tr class="success done <%= order.late %>">
      <td>
        <label class="custom-control custom-control-sm custom-checkbox">
          <input class="custom-control-input" type="checkbox"><span class="custom-control-label"></span>
        </label>
      </td>
      <td class="cell-detail"><span><a href="<%= admin_panel_order_item_path(order.id) %>"><%= order.id  %></a></span><span class="cell-detail-description"></span></td>
      <td class="cell-detail"><span><%= order.client.name if order.client.present? %></span><span class="cell-detail-description"></span></td>
      <td class="cell-detail"><span><%= order.master.name if order.master.present? %></span><span class="cell-detail-description"></span></td>
      <td class="cell-detail"><span><%= order.category.title if order.category.present? %></span><span class="cell-detail-description"></span></td>
      <td class="cell-detail"><span><%= "€ #{order.total_price.to_i}" %></span><span class="cell-detail-description"></span></td>
      <td class="cell-detail"><span style="color: green"><%= order.status_name %></span><span class="cell-detail-description"></span></td>
      <td class="cell-detail"><span><%= get_custom_date(order.order_time) if order.order_time.present? %></span><span class="cell-detail-description"></span></td>
      <td class="cell-detail"><span><%= get_custom_date(order.end_work_time) if order.end_work_time.present? %></span><span class="cell-detail-description"></span></td>
      <td class="cell-detail"><span><%= get_custom_date(order.created_at) %></span><span class="cell-detail-description"></span></td>
      <td class="cell-detail"><span><%= order.description %></span><span class="cell-detail-description"></span></td>
      <td class="text-right">
        <div class="btn-group btn-hspace">
          <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">Actions <span
          class="icon-dropdown mdi mdi-chevron-down"></span></button>
          <div class="dropdown-menu" role="menu">
            <a class="dropdown-item" href="<%= admin_panel_order_item_path(order) %>">Show</a>
            <a class="dropdown-item" href="<%= edit_admin_panel_order_item_path(order) %>">Edit</a>
          </div>
        </div>
      </td>
    </tr>
  <% end %>
<% end %>