.d-flex {
  display: flex;
}
.column {
  flex-direction: column
}
.align-items-center {
  align-items: center
}
.align-items-start {
  align-items: flex-start
}
.justify-content-between {
  justify-content: space-between
}
.justify-content-around {
  justify-content: space-around
}
.justify-content-center {
  justify-content: center
}