@font-face {
  font-family: --font-bold;
  src: url('../fonts/SF-Pro-Display-Bold.otf');
}

@font-face {
  font-family: --font-medium;
  src: url('../fonts/SF-Pro-Display-Medium.otf');
}

@font-face {
  font-family: --font-regular;
  src: url('../fonts/SF-Pro-Display-Regular.otf');
}