.mb-5 {
  margin-bottom: 5rem
}

.mt-5 {
  margin-top: 5rem
}

.m-0 {
  margin: 0
}

.mt-2 {
  margin-top: 2rem;
}

.pr-2 {
  padding-right: 2rem
}

.pl-2 {
  padding-left: 2rem
}
