/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

 *= require_self
 *
 * Pull compiled from /public/assets/stylesheets

 *= require mailers/_fonts
 *= require mailers/_indents
 *= require mailers/_vars
 *= require mailers/_flex
 */

body {
  font-family: --font-bold;
  font-size: 19px;
  line-height: 1.3;
  letter-spacing: 0.1px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-y: auto;
  color: var(--accent)
}
hr {
  border: 0;
  border-top: 1px solid #ddd;
  width: 500px;
}

section {
  padding-right: 15px;
  padding-left: 15px;
}
small {
  color: #f2f2f2;
  font-family: --font-regular;
}
.container {
  max-width: 552px;
  margin: 0 auto;
}

.logo__brand {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.center {
  text-align: center
}

.text {
  font-family: --font-regular;
  color: var(--text);
  margin: 0;
  line-height: 1.4;
  font-size: 18px;
}

.h4 {
  color: var(--text)
}

.wave {
  background-image: url('wave1.png');
  height: 250px;
  width: 100%;
}

.white {
  color: var(--white)
}

.small {
  font-size: 14px;
  color: var(--light-text);
  font-family: --font-regular;
}

.accent {
  color: var(--accent)
}

.btn {
  background-color: var(--accent);
  border-radius: 25px;
  color: #fff;
  display: inline-block;
  padding: 10px 15px;
  width: 150px;
  font-size: 17px;
}

.left {
  text-align: left
}
