<div class="be-wrapper be-fixed-sidebar">
  <%= render partial: 'admin/panel/partials/header' %>

  <%= render partial: 'admin/panel/partials/sidebar' %>

  <div class="be-content">
    <div class="page-head">
      <h2 class="page-head-title">Client feedbacks</h2>
      <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb page-head-nav">
          <li class="breadcrumb-item"><a href="<%= admin_panel_path %>">Home</a></li>
          <li class="breadcrumb-item"><a href="<%= admin_panel_client_feedbacks_path %>">Client feedbacks</a></li>
          <li class="breadcrumb-item active">Show</li>
        </ol>
      </nav>
    </div>
    <div class="main-content container-fluid">
      <div class="user-profile">
        <div class="row">
          <div class="col-lg-12">
            <div class="user-info-list card">
              <div class="card-header card-header-divider">Device
                <span class="card-subtitle">
                </span>
              </div>
              <div class="card-body">
                <table class="no-border no-strip skills">
                  <tbody class="no-border-x no-border-y">
                  <tr>
                    <td class="icon"><span class="mdi mdi-case"></span></td>
                    <td class="item">Id<span class="icon s7-portfolio"></span></td>
                    <td><%= @client_feedback.id %></td>
                  </tr>
                  <tr>
                    <td class="icon"><span class="mdi mdi-case"></span></td>
                    <td class="item">Order<span class="icon s7-portfolio"></span></td>
                    <td><%= link_to @client_feedback.order_item.id, admin_panel_order_item_path(@client_feedback.order_item) if @client_feedback.order_item.present? %></td>
                  </tr>
                  <tr>
                    <td class="icon"><span class="mdi mdi-case"></span></td>
                    <td class="item">Client<span class="icon s7-portfolio"></span></td>
                    <td><%= link_to @client_feedback.client.name, admin_panel_client_path(@client_feedback.client) if @client_feedback.client.present? %></td>
                  </tr>
                  <tr>
                    <td class="icon"><span class="mdi mdi-cake"></span></td>
                    <td class="item">Pro<span class="icon s7-gift"></span></td>
                    <td><%= link_to @client_feedback.master.name, admin_panel_pro_path(@client_feedback.master) if @client_feedback.master.present? %></td>
                  </tr>
                  <tr>
                    <td class="icon"><span class="mdi mdi-cake"></span></td>
                    <td class="item">Polite<span class="icon s7-gift"></span></td>
                    <td>
                      <div class="rating">
                        <% @client_feedback.polite.times do  %>
                          <span>☆</span>
                        <% end %>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td class="icon"><span class="mdi mdi-cake"></span></td>
                    <td class="item">Arrived on time<span class="icon s7-gift"></span></td>
                    <td>
                      <div class="rating">
                        <% @client_feedback.orderly.times do  %>
                          <span>☆</span>
                        <% end %>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td class="icon"><span class="mdi mdi-cake"></span></td>
                    <td class="item">Quality of work<span class="icon s7-gift"></span></td>
                    <td>
                      <div class="rating">
                        <% @client_feedback.friendly.times do  %>
                          <span>☆</span>
                        <% end %>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td class="icon"><span class="mdi mdi-cake"></span></td>
                    <td class="item">Comment<span class="icon s7-gift"></span></td>
                    <td><%= @client_feedback.comment %></td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
  <%= render partial: 'admin/panel/partials/navigation_bar' %>
</div>
<%= content_for :javascript do %>
  <script type="text/javascript">
    App.init();
    App.formElements();
    // App.tableFilters();
    stop_preloader();

    <%= render partial: 'admin/panel/partials/flash_msg' %>
  </script>
<% end %>