<div class="be-wrapper be-fixed-sidebar">
  <%= render partial: 'admin/panel/partials/header' %>

  <%= render partial: 'admin/panel/partials/sidebar' %>

  <div class="be-content">
    <div class="page-head">
      <h2 class="page-head-title">Services</h2>
      <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb page-head-nav">
          <li class="breadcrumb-item"><a href="<%= admin_panel_path %>">Home</a></li>
          <li class="breadcrumb-item"><a href="<%= admin_panel_path %>">Structure</a></li>
          <li class="breadcrumb-item"><a href="<%= admin_panel_services_path %>">Services</a></li>
          <li class="breadcrumb-item active">Edit</li>
        </ol>
      </nav>
      <% flash.each do |type, msg| %>
        <div class="alert alert-<%= type %> alert-dismissible" role="alert">
          <button class="close" type="button" data-dismiss="alert" aria-label="Close"><span class="mdi mdi-close" aria-hidden="true"></span></button>
          <div class="message"><%= msg %></div>
        </div>
      <% end %>
    </div>
    <div class="main-content container-fluid">
      <div class="card card-border-color card-border-color-primary">
        <div class="card-header card-header-divider">Update service</div>
        <div class="card-body">
          <%= form_for @service, url: admin_panel_service_path, method: :put do |f| %>
            <div class="form-group row">
              <label class="col-3 col-lg-2 col-form-label text-right">Select category</label>
              <div class="col-9 col-lg-10">
                <select class="select2 categories" name="service[category_id]" id="service_category_id">
                  <% @categories.each do |category| %>
                    <option value="<%= category.id %>"><%= category.title %></option>
                  <% end %>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-3 col-lg-2 col-form-label text-right">Select car type</label>
              <div class="col-9 col-lg-10">
                <select class="select2 subcategories" name="service[subcategory_id]" id="service_subcategory_id">
                </select>
              </div>
            </div>
            <div class="form-group row mt-2">
              <label class="col-3 col-lg-2 col-form-label text-right" for="inputTitle">Title</label>
              <div class="col-9 col-lg-10">
                <%= f.text_field :title, class: 'form-control', required: true, placeholder: 'Title' %>
              </div>
            </div>
            <div class="form-group row mt-2">
              <label class="col-3 col-lg-2 col-form-label text-right" for="inputTitle">Short Title</label>
              <div class="col-9 col-lg-10">
                <%= f.text_field :short_title, class: 'form-control', required: true, placeholder: 'Short title' %>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-3 col-lg-2 col-form-label text-right">Title Ru</label>
              <div class="col-9 col-lg-10">
                <%= f.text_field :title_ru, class: 'form-control', required: true, placeholder: 'Title Ru' %>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-3 col-lg-2 col-form-label text-right">Price</label>
              <div class="col-9 col-lg-10">
                <%= f.number_field :price, class: 'form-control', required: true, placeholder: 'Price' %>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-3 col-lg-2 col-form-label text-right">Duration</label>
              <div class="col-9 col-lg-10">
                <%= f.number_field :duration, class: 'form-control', required: true, placeholder: 'Duration' %>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-3 col-lg-2 col-form-label text-right">Description</label>
              <div class="col-9 col-lg-10">
                <%= f.text_area :description, class: 'form-control', required: true, placeholder: 'Description' %>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-3 col-lg-2"></div>
              <div class="col-9 col-lg-10">
                <%= f.submit class: 'btn btn-space btn-primary btn-lg' %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <%= render partial: 'admin/panel/partials/navigation_bar' %>
</div>
<%= content_for :javascript do %>
  <script type="text/javascript">
    App.init();
    App.formElements();
    // App.tableFilters();
    stop_preloader();

    if(gon.current_subcategory){
      $('#service_category_id').val(gon.current_subcategory.category_id).trigger("change");
      createSubcategorySelects(Number.parseInt(gon.current_subcategory.category_id));
      $('#service_subcategory_id').val(gon.current_subcategory.id).trigger("change");
    }

    $(function(){
      $('#service_category_id').on('change', function(){
        category_id = $(this).find(":selected").val();
        createSubcategorySelects(Number.parseInt(category_id));
      });
    });

    function createSubcategorySelects(categoryId){
      subcategories = gon.subcategories.filter(function(subcategory){ return subcategory.category_id == categoryId});
      $("#service_subcategory_id").attr("data-placeholder","Select subcategory");
      var subcategoryOptions = '';
      $.each(subcategories, function(id, subcategory){
        $('.subcategories').removeAttr('disabled');
        $('.subcategories').html('');
        subcategoryOptions += '<option value=' + subcategory.id + '>' + subcategory.title + '</option>';
      });
      $('.subcategories').append(subcategoryOptions);
    }

    <%= render partial: 'admin/panel/partials/flash_msg' %>
  </script>
<% end %>