<div class="be-wrapper be-fixed-sidebar">
  <%= render partial: 'admin/panel/partials/header' %>

  <%= render partial: 'admin/panel/partials/sidebar' %>

  <div class="be-content">
    <div class="page-head">
      <h2 class="page-head-title">Services</h2>
      <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb page-head-nav">
          <li class="breadcrumb-item"><a href="<%= admin_panel_path %>">Home</a></li>
          <li class="breadcrumb-item"><a href="<%= admin_panel_path %>">Structure</a></li>
          <li class="breadcrumb-item"><a href="<%= admin_panel_services_path %>">Services</a></li>
          <li class="breadcrumb-item active">List</li>
        </ol>
      </nav>
    </div>
    <div class="main-content container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card card-table">
            <%= form_tag admin_panel_services_path, method: :get, id: 'services_filters_form' do%>
              <div class="row table-filters-container">
                <div class="col-4 col-lg-4 table-filters pb-0 pb-xl-4 filter_blocks">
                  <div class="row">
                    <div class="col-12 col-lg-12 table-filters pb-0 pb-xl-5" style="padding-top: 0; padding-bottom: 0 !important;"><span class="table-filter-title title_filter">Title</span>
                      <div class="filter-container">
                        <label class="control-label">Find by title:</label>
                        <div class="row">
                          <div class="col-6">
                            <%= select_tag :title_filter, options_for_select(get_filter_options, params[:title_filter]), { class: 'select2 select2-hidden-accessible title_filter' } %>
                          </div>
                          <div class="col-6">
                            <%= text_field_tag :title, params[:title], class: 'form-control form-control-sm title' %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-4 col-lg-4 table-filters pb-0 pb-xl-4 filter_blocks">
                  <div class="row">
                    <div class="col-12 col-lg-12 table-filters pb-0 pb-xl-5" style="padding-top: 0; padding-bottom: 0 !important;"><span class="table-filter-title title_filter">Short title</span>
                      <div class="filter-container">
                        <label class="control-label">Find by short title:</label>
                        <div class="row">
                          <div class="col-6">
                            <%= select_tag :short_title_filter, options_for_select(get_filter_options, params[:short_title_filter]), { class: 'select2 select2-hidden-accessible short_title_filter' } %>
                          </div>
                          <div class="col-6">
                            <%= text_field_tag :short_title, params[:short_title], class: 'form-control form-control-sm short_title' %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-4 col-lg-4 table-filters pb-0 pb-xl-4 filter_blocks">
                  <div class="row">
                    <div class="col-12 col-lg-12 table-filters pb-0 pb-xl-5" style="padding-top: 0; padding-bottom: 0 !important;"><span class="table-filter-title title_filter">Title ru</span>
                      <div class="filter-container">
                        <label class="control-label">Find by title_ru:</label>
                        <div class="row">
                          <div class="col-6">
                            <%= select_tag :title_ru_filter, options_for_select(get_filter_options, params[:title_ru_filter]), { class: 'select2 select2-hidden-accessible title_ru_filter' } %>
                          </div>
                          <div class="col-6">
                            <%= text_field_tag :title_ru, params[:title_ru], class: 'form-control form-control-sm title_ru' %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-4 col-lg-4 table-filters pb-0 pb-xl-4 filter_blocks">
                  <div class="row">
                    <div class="col-12 col-lg-12 table-filters pb-0 pb-xl-5" style="padding-top: 0; padding-bottom: 0 !important;"><span class="table-filter-title title_filter">Description</span>
                      <div class="filter-container">
                        <label class="control-label">Find by description:</label>
                        <div class="row">
                          <div class="col-6">
                            <%= select_tag :description_filter, options_for_select(get_filter_options, params[:description_filter]), { class: 'select2 select2-hidden-accessible description_filter' } %>
                          </div>
                          <div class="col-6">
                            <%= text_field_tag :description, params[:description], class: 'form-control form-control-sm description' %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-4 col-lg-4 table-filters pb-0 pb-xl-4 filter_blocks">
                  <div class="row">
                    <div class="col-12 col-lg-12 table-filters pb-0 pb-xl-5" style="padding-top: 0; padding-bottom: 0 !important;"><span class="table-filter-title title_filter">Duration</span>
                      <div class="filter-container">
                        <label class="control-label">Find by duration:</label>
                        <div class="row">
                          <div class="col-6">
                            <%= select_tag :duration_filter, options_for_select(get_number_filter_options, params[:duration_filter]), { class: 'select2 select2-hidden-accessible duration_filter' } %>
                          </div>
                          <div class="col-6">
                            <%= text_field_tag(:duration, params[:duration], class: 'form-control form-control-sm duration') %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-4 col-lg-4 table-filters pb-0 pb-xl-4 filter_blocks">
                  <div class="row">
                    <div class="col-12 col-lg-12 table-filters pb-0 pb-xl-5" style="padding-top: 0; padding-bottom: 0 !important;"><span class="table-filter-title title_filter">Price</span>
                      <div class="filter-container">
                        <label class="control-label">Find by price:</label>
                        <div class="row">
                          <div class="col-6">
                            <%= select_tag :price_filter, options_for_select(get_number_filter_options, params[:price_filter]), { class: 'select2 select2-hidden-accessible price_filter' } %>
                          </div>
                          <div class="col-6">
                            <%= text_field_tag(:price, params[:price], class: 'form-control form-control-sm price') %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-4 col-lg-4 table-filters pb-0 pb-xl-4 filter_blocks">
                  <div class="row">
                    <div class="col-12 col-lg-12 table-filters pb-0 pb-xl-4" style="padding-top: 0; padding-bottom: 0 !important;"><span class="table-filter-title title_filter">Car type</span>
                      <div class="filter-container">
                        <label class="control-label">Find by car type:</label>
                        <%= select_tag :subcategory_id, options_for_select( Subcategory.all.map { |subcategory| [subcategory.title, subcategory.id] }, params[:subcategory_id]), { class: 'select2 subcategory_id', id: 'subcategory_id' } %>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-lg-12 table-filters pb-0 pb-xl-4 filter_buttons">
                  <div class="row">
                    <div class="col-12 col-lg-12 table-filters filter_blocks">
                      <div class="filter-container">
                        <%= submit_tag('Filter', type: 'submit', class: 'btn btn-space btn-primary') %>
                        <%= submit_tag('Reset', type: 'cancel', class: 'btn btn-space btn-secondary reset_service_filters') %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
            <div class="card-body">
              <div class="noSwipe">
                <table class="table table-striped table-hover be-table-responsive" id="table1">
                  <thead>
                  <tr>
                    <th>
                      <label class="custom-control custom-control-sm custom-checkbox">
                        <input class="custom-control-input" type="checkbox"><span class="custom-control-label"></span>
                      </label>
                    </th>
                    <th>id</th>
                    <th>Position</th>
                    <th>Title</th>
                    <th>Title Ru</th>
                    <th>Short title</th>
                    <th>Price</th>
                    <th>Car type</th>
                    <th>Category</th>
                  </tr>
                  </thead>
                  <tbody class="sortable">
                  <% @services.each_with_sortable_id do |service, sortable_id| %>
                    <tr class="success done" id="<%= sortable_id %>">
                      <td>
                        <label class="custom-control custom-control-sm custom-checkbox">
                          <input class="custom-control-input" type="checkbox"><span class="custom-control-label"></span>
                        </label>
                      </td>
                      <td class="cell-detail"><span><a href="<%= admin_panel_service_path(service.id) %>"><%= service.id %></a></span></td>
                      <td class="cell-detail"><span><%= service.position %></span></td>
                      <td class="cell-detail"><span><%= service.title %></span></td>
                      <td class="cell-detail"><span><%= service.title_ru %></span></td>
                      <td class="cell-detail"><span><%= service.short_title %></span></td>
                      <td class="cell-detail"><span><%= service.price %></span></td>
                      <td class="cell-detail"><span><%= service.subcategory.title if service.subcategory.present? %></span></td>
                      <td class="cell-detail"><span><%= service.category.title if service.subcategory.present? and service.category.present? %></span></td>
                      <td class="text-right">
                        <div class="btn-group btn-hspace">
                          <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">Actions
                            <span class="icon-dropdown mdi mdi-chevron-down"></span></button>
                          <div class="dropdown-menu" role="menu">
                            <a class="dropdown-item" href="<%= admin_panel_service_path(service) %>">Show</a>
                            <a class="dropdown-item" href="<%= edit_admin_panel_service_path(service) %>">Edit</a>
                            <a class="dropdown-item" href="<%= admin_panel_service_path(service) %>" data-method="delete" data-confirm="Are you sure?">Delete</a>
                          </div>
                        </div>
                      </td>
                    </tr>
                  <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5"></div>
        <div class="col-md-7">
          <div class="card" style="float: right">
            <div class="card-header"></div>
            <div class="card-body">
              <%= paginate @services, params: { orders_scope: params[:orders_scope] } %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= render partial: 'admin/panel/partials/navigation_bar' %>
</div>
<%= content_for :javascript do %>
  <script type="text/javascript">
    App.init();
    App.formElements();
    stop_preloader();

    $('.reset_service_filters').on('click', function(){
      $('#services_filters_form')[0].reset();
      window.location.href = '/admin/panel/services'
    });

    <% unless params[:subcategory_id].present? %>
      $('#subcategory_id').val('').trigger('change');
    <% end %>

    $(function() {
      $('.sortable').railsSortable();
    });

    <%= render partial: 'admin/panel/partials/flash_msg' %>
  </script>
<% end %>