.controls {
  margin-top: 16px;
  border: 1px solid transparent;
  border-radius: 2px 0px 0px 2px;
  box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 6px;
  background-color: rgb(255, 255, 255);
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0px 11px 0px 13px;
  text-overflow: ellipsis;
  width: 400px;
  left: 327px;
}

/* Preloader */

 .preloader {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: #fff;
   opacity: 0.7;
   /* change if the mask should have another color then white */
   z-index: 99;
   /* makes sure it stays on top */
 }
 .preloader-status {
   width: 200px;
   height: 200px;
   position: absolute;
   left: 50%;
   /* centers the loading animation horizontally one the screen */
   top: 50%;
   /* centers the loading animation vertically one the screen */
   background-image: url(https://raw.githubusercontent.com/niklausgerber/PreLoadMe/master/img/status.gif);
   /* path to your loading animation */
   background-repeat: no-repeat;
   background-position: center;
   margin: -100px 0 0 -100px;
   /* is width and height divided by two */
 }

 .hidden {
   display: none;
 }

 .error-block {
   color: red;
 }

  .table-striped tbody tr:nth-of-type(odd) {
    background-color: #FFFFFF;
  }

 table.date_table {
   background-color: #5f99f5;
   color: #FFFFFF;
   border: none;
 }

 .date_table tbody tr td{
   background-color: #5f99f5;
   color: #FFFFFF;
 }

 .date_table tbody tr td:hover{
    cursor: pointer;
  }

 .date_table tbody tr td.disabled_time {
   pointer-events: none;
   background-color: #111111;
   color: #FFFFFF;
 }

 span.checked_span {
   color: orange;
 }

tr.late_red td {
  background: #f9e2e2 !important;
}

tr.late_yellow td {
  background: #dde83b !important;
}

tr.late_green td {
  background: #98e28a !important;
}

#orders_status{
  overflow: hidden;
  display: none;
}

  td.min:hover{
    opacity: 0.5;
  }

 .bottom-btn{
   position: absolute;
   left:    0;
   bottom:   0;
 }

 .active {
   color: #0359A9
 }

 .completed {
   color: #00CC66
 }

 .available {
   color: #F1C40F
 }

 .title_filter {
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
 }

 .filter_buttons {
   padding-top: 0 !important;
   padding-bottom: 0 !important;
 }

 .filter_blocks {
   padding: 10px !important;
 }

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
}
.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
  content: "\2605";
}

.img_size {
  height: 100px;
  width: 100px;
}

.image_size {
  max-height: 500px;
  max-width: 500px;
}

.font-weight {
  font-weight: 500;
}