<form>
  <div class="group">
    <label>
      <span>Name</span>
      <input name="cardholder-name" class="field" placeholder="Jane Doe" />
    </label>
    <label>
      <span>Phone</span>
      <input class="field email" placeholder="jane_doe@mail.com" type="email" />
    </label>
  </div>
  <div class="group">
    <label>
      <span>Card</span>
      <div id="card-element" class="field"></div>
    </label>
  </div>
  <button type="submit">Save Visa card</button>
  <div class="outcome">
    <div class="error"></div>
    <div class="success">
      Success! Your Card data added <br> <label class="token"></label>
    </div>
  </div>
</form>
