<div class="be-wrapper be-fixed-sidebar">
  <%= render partial: 'admin/panel/partials/header' %>

  <%= render partial: 'admin/panel/partials/sidebar' %>

  <div class="be-content">
    <div class="page-head">
      <h2 class="page-head-title">Payment details</h2>
      <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb page-head-nav">
          <li class="breadcrumb-item"><a href="<%= admin_panel_path %>">Home</a></li>
          <li class="breadcrumb-item active">Payment details</li>
        </ol>
      </nav>
    </div>
    <div class="main-content container-fluid">
      <div class="row">
            <div class="col-lg-12">
              <div class="invoice">
                <div class="row invoice-header">
                  <div class="col-sm-7">
                    <div class="invoice-logo"></div>
                  </div>
                  <div class="col-sm-5 invoice-order"><span class="invoice-id">Invoice # <%= @order.id  %></span><span class="incoice-date"><%= get_custom_date(@order.end_work_time)%></span></div>
                </div>
                <!-- <div class="row invoice-data">
                  <div class="col-sm-5 invoice-person"><span class="name">Kristopher Donny</span><span>Developer and Designer</span><span>donny@designer.co</span><span>661 Bubby Street</span><span>United States</span></div>
                  <div class="col-sm-2 invoice-payment-direction"><i class="icon mdi mdi-chevron-right"></i></div>
                  <div class="col-sm-5 invoice-person"><span class="name">Elliot Mark</span><span>CEO at BLX</span><span>ceoblx@company.co</span><span>839 Owagner Drive</span><span>United States</span></div>
                </div> -->
                <div class="row">
                  <div class="col-lg-12">
                    <table class="invoice-details">
                      <tr>
                        <th style="width:60%;">Description</th>
                        <th class="hours" style="width:17%;">Hours</th>
                      </tr>
                      <% @order.services.each do |item| %>
                        <tr>
                          <td class="description"><%= item.title %></td>
                          <td class="hours"><%= item.price %></td>
                        </tr>
                      <% end %>
                      <tr>
                        <td class="summary">Total</td>
                        <td class="amount">€<%= @order.total_sum%></td>
                      </tr>
                    </table>
                  </div>
                </div>
                <!-- <div class="row">
                  <div class="col-lg-12 invoice-payment-method"><span class="title">Payment Method</span><span>Credit card</span><span>Credit card type: mastercard</span><span>Number verification: 4256981387</span></div>
                </div> -->
                <!-- <div class="row">
                  <div class="col-lg-12 invoice-message"><span class="title">Thank you for contacting us</span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas quis massa nisl. Sed fringilla turpis id mi ultrices, et faucibus ipsum aliquam. Sed ut eros placerat, facilisis est eu, congue felis.</p>
                  </div>
                </div> -->
                <!-- <div class="row invoice-company-info">
                  <div class="col-md-6 col-lg-2 logo"><img src="assets/img/logo-symbol.png" alt="Logo-symbol"></div>
                  <div class="col-md-6 col-lg-4 summary"><span class="title">Beagle Company</span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                  </div>
                  <div class="col-sm-6 col-lg-3 phone">
                    <ul class="list-unstyled">
                      <li>+1(535)-8999278</li>
                      <li>+1(656)-3558302</li>
                    </ul>
                  </div>
                  <div class="col-sm-6 col-lg-3 email">
                    <ul class="list-unstyled">
                      <li>beagle@company.co</li>
                      <li>beagle@support.co</li>
                    </ul>
                  </div>
                </div> -->
                <br>
                <!-- <div class="row invoice-footer">
                  <div class="col-lg-12">
                    <button class="btn btn-lg btn-space btn-secondary">Save PDF</button>
                    <button class="btn btn-lg btn-space btn-secondary">Print</button>
                    <button class="btn btn-lg btn-space btn-primary">Pay now</button>
                  </div>
                </div> -->
              </div>
            </div>
          </div>
    </div>
  </div>
  <%= render partial: 'admin/panel/partials/navigation_bar' %>
</div>
<%= content_for :javascript do %>
<script type="text/javascript">
  App.init();
  App.formElements();
  // App.tableFilters();
  stop_preloader();

  <%= render partial: 'admin/panel/partials/flash_msg' %>
</script>
<% end %>