<div class="be-wrapper be-fixed-sidebar">
  <%= render partial: 'admin/panel/partials/header' %>

  <%= render partial: 'admin/panel/partials/sidebar' %>

  <div class="be-content">
    <div class="page-head">
      <h2 class="page-head-title">Orders by districts</h2>
    </div>
    <div class="main-content container-fluid">
      <div class="row">
        <div class="col-md-9">
          <div class="card">
            <div class="card-header card-header-divider">
              <span class="title">Select country and city</span>
            </div>
            <div class="card-body">
              <div class="form-group">
                <div class="col-12 col-sm-8 col-lg-6">
                  <select class="select2 country_id" id="country_id" name="country_id">
                    <% @countries.each do |country| %>
                        <option value="<%= country.id %>"><%= country.name %></option>
                    <% end %>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <div class="col-12 col-sm-8 col-lg-6">
                  <select class="select2 cities" id="city_id" name="city_id">
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-10">
          <div class="card">
            <div class="card-header card-header-divider">
              <div class="tools">
                <span class="icon mdi mdi-chevron-down"></span>
                <span class="icon mdi mdi-refresh-sync"></span>
                <span class="icon mdi mdi-close"></span>
              </div>
              <div class="button-toolbar d-none d-md-block" style="margin-bottom: 10px;">
                <div class="btn-group" data-chart-url="<%= orders_by_district_path %>" data-charts-block="ordersCountByDistrict">
                  <button class="btn btn-secondary chart_range" type="button">Yesterday</button>
                  <button class="btn btn-secondary chart_range" type="button">Today</button>
                  <button class="btn btn-secondary active chart_range" type="button">Last 7 Days</button>
                  <button class="btn btn-secondary chart_range" type="button">Last 30 Days</button>
                  <button class="btn btn-secondary chart_range" type="button">Last 3 months</button>
                  <button class="btn btn-secondary chart_range" type="button">Last year</button>
                  <button class="btn btn-secondary chart_range" type="button">All time</button>
                </div>
              </div>
              <span class="title">Order's count by districts</span>
            </div>
            <div class="card-body">
              <br>
              <div class="col-md-6" style="float: left; width: 50% !important;">
                <div class="form-group">
                  <select class="select2 chart_type" name="chart_type" style="float: left">
                    <option value="bar">Bar chart</option>
                    <option value="pie">Pie chart</option>
                  </select>
                </div>
              </div>
              <canvas id="ordersCountByDistrict" height="50%" width="100%"></canvas>
            </div>
          </div>
        </div>
        <div class="col-md-10">
          <div class="card">
            <div class="card-header card-header-divider">
              <div class="tools">
                <span class="icon mdi mdi-chevron-down"></span>
                <span class="icon mdi mdi-refresh-sync"></span>
                <span class="icon mdi mdi-close"></span>
              </div>
              <div class="button-toolbar d-none d-md-block" style="margin-bottom: 10px;">
                <div class="btn-group" data-chart-url="<%= average_price_admin_metrics_districts_path %>" data-charts-block="averageChequeDistrict">
                  <button class="btn btn-secondary chart_range" type="button">Yesterday</button>
                  <button class="btn btn-secondary chart_range" type="button">Today</button>
                  <button class="btn btn-secondary active chart_range" type="button">Last 7 Days</button>
                  <button class="btn btn-secondary chart_range" type="button">Last 30 Days</button>
                  <button class="btn btn-secondary chart_range" type="button">Last 3 months</button>
                  <button class="btn btn-secondary chart_range" type="button">Last year</button>
                  <button class="btn btn-secondary chart_range" type="button">All time</button>
                </div>
              </div>
              <span class="title">Average € cheque per category </span>
            </div>
            <div class="card-body average_cheque">
              <div class="form-group">
                <div class="col-12 col-sm-8 col-lg-6">
                  <select class="select2 districts district_id" name="district_id">
                  </select>
                </div>
              </div>
              <br>
              <div class="col-md-6" style="float: left; width: 50% !important;">
                <div class="form-group">
                  <select class="select2 chart_type" name="chart_type" style="float: left">
                    <option value="bar">Bar chart</option>
                    <option value="pie">Pie chart</option>
                  </select>
                </div>
              </div>
              <canvas id="averageChequeDistrict" height="50%" width="100%"></canvas>
            </div>
          </div>
        </div>
        <div class="col-md-10">
          <div class="card">
            <div class="card-header card-header-divider">
              <div class="tools">
                <span class="icon mdi mdi-chevron-down"></span>
                <span class="icon mdi mdi-refresh-sync"></span>
                <span class="icon mdi mdi-close"></span>
              </div>
              <div class="button-toolbar d-none d-md-block" style="margin-bottom: 10px;">
                <div class="btn-group" data-chart-url="<%= orders_count_cat_admin_metrics_districts_path %>" data-charts-block="ordersCountEachCat">
                  <button class="btn btn-secondary chart_range" type="button">Yesterday</button>
                  <button class="btn btn-secondary chart_range" type="button">Today</button>
                  <button class="btn btn-secondary active chart_range" type="button">Last 7 Days</button>
                  <button class="btn btn-secondary chart_range" type="button">Last 30 Days</button>
                  <button class="btn btn-secondary chart_range" type="button">Last 3 months</button>
                  <button class="btn btn-secondary chart_range" type="button">Last year</button>
                  <button class="btn btn-secondary chart_range" type="button">All time</button>
                </div>
              </div>
              <span class="title">Order's count by each category </span>
            </div>
            <div class="card-body orders_count_each_cat">
              <div class="form-group">
                <div class="col-12 col-sm-8 col-lg-6">
                  <select class="select2 districts district_id">
                  </select>
                </div>
              </div>
              <br>
              <div class="col-md-6" style="float: left; width: 50% !important;">
                <div class="form-group">
                  <select class="select2 chart_type" name="chart_type" style="float: left">
                    <option value="bar">Bar chart</option>
                    <option value="pie">Pie chart</option>
                  </select>
                </div>
              </div>
              <canvas id="ordersCountEachCat" height="50%" width="100%"></canvas>
            </div>
          </div>
        </div>
        <div class="col-md-10">
          <div class="card">
            <div class="card-header card-header-divider">
              <div class="tools">
                <span class="icon mdi mdi-chevron-down"></span>
                <span class="icon mdi mdi-refresh-sync"></span>
                <span class="icon mdi mdi-close"></span>
              </div>
              <div class="button-toolbar d-none d-md-block" style="margin-bottom: 10px;">
                <div class="btn-group" data-chart-url="<%= clients_by_gender_admin_metrics_districts_path %>" data-charts-block="clientsByGenderDistrict">
                  <button class="btn btn-secondary chart_range" type="button">Yesterday</button>
                  <button class="btn btn-secondary chart_range" type="button">Today</button>
                  <button class="btn btn-secondary active chart_range" type="button">Last 7 Days</button>
                  <button class="btn btn-secondary chart_range" type="button">Last 30 Days</button>
                  <button class="btn btn-secondary chart_range" type="button">Last 3 months</button>
                  <button class="btn btn-secondary chart_range" type="button">Last year</button>
                  <button class="btn btn-secondary chart_range" type="button">All time</button>
                </div>
              </div>
              <span class="title">Clients by gender </span>
            </div>
            <div class="card-body orders_count_each_cat">
              <div class="form-group">
                <div class="col-12 col-sm-8 col-lg-6">
                  <select class="select2 districts district_id">
                  </select>
                </div>
              </div>
              <br>
              <div class="col-md-6" style="float: left; width: 50% !important;">
                <div class="form-group">
                  <select class="select2 chart_type" name="chart_type" style="float: left">
                    <option value="bar">Bar chart</option>
                    <option value="pie">Pie chart</option>
                  </select>
                </div>
              </div>
              <canvas id="clientsByGenderDistrict" height="50%" width="100%"></canvas>
            </div>
          </div>
        </div>
        <div class="col-md-10">
          <div class="card">
            <div class="card-header card-header-divider">
              <div class="tools">
                <span class="icon mdi mdi-chevron-down"></span>
                <span class="icon mdi mdi-refresh-sync"></span>
                <span class="icon mdi mdi-close"></span>
              </div>
              <div class="button-toolbar d-none d-md-block" style="margin-bottom: 10px;">
                <div class="btn-group" data-chart-url="<%= clients_by_age_admin_metrics_districts_path %>" data-charts-block="clientsByAgeDistrict">
                  <button class="btn btn-secondary chart_range" type="button">Yesterday</button>
                  <button class="btn btn-secondary chart_range" type="button">Today</button>
                  <button class="btn btn-secondary active chart_range" type="button">Last 7 Days</button>
                  <button class="btn btn-secondary chart_range" type="button">Last 30 Days</button>
                  <button class="btn btn-secondary chart_range" type="button">Last 3 months</button>
                  <button class="btn btn-secondary chart_range" type="button">Last year</button>
                  <button class="btn btn-secondary chart_range" type="button">All time</button>
                </div>
              </div>
              <span class="title">Clients by age </span>
            </div>
            <div class="card-body orders_count_each_cat">
              <div class="form-group">
                <div class="col-12 col-sm-8 col-lg-6">
                  <select class="select2 districts district_id">
                  </select>
                </div>
              </div>
              <br>
              <div class="col-md-6" style="float: left; width: 50% !important;">
                <div class="form-group">
                  <select class="select2 chart_type" name="chart_type" style="float: left">
                    <option value="bar">Bar chart</option>
                    <option value="pie">Pie chart</option>
                  </select>
                </div>
              </div>
              <canvas id="clientsByAgeDistrict" height="50%" width="100%"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= render partial: 'admin/panel/partials/navigation_bar' %>
</div>
<%= content_for :javascript do %>
    <script type="text/javascript">
        $('select#city_id').val(null);
        $('select#country_id').val(null);
        $("#country_id").attr("data-placeholder","Select county");
        $("#city_id").attr("data-placeholder","Select city");
        $('select.chart_type').val(null);
        $(".chart_type").attr("data-placeholder","Select chart's type");
        $(function() {
          $('.chart_type').on('change', function(){
            chart_type = this.value;
            cardDiv = $(this).closest("div.card");
            range = cardDiv.find("button.chart_range.active").text();
            btnDiv = cardDiv.find("div.btn-group");
            url = btnDiv.data('chart-url');
            chartBlockId = btnDiv.data('charts-block');
            city_id = $('#city_id').find(":selected").val();
            district_id = cardDiv.find('.district_id').find(':selected').val();
            $.ajax({
              url : url,
              type : 'GET',
              data : {
                'range' : range,
                'city_id': city_id,
                'district_id': district_id
              },
              dataType:'json',
              success : function(data) {
                if(chart_type == 'bar'){
                  createBarChart(data, chartBlockId);
                }else if(chart_type == 'pie'){
                  createPieChart(data, chartBlockId)
                }
              },
              error : function(request,error)
              {
                console.log(error);
              }
            });
          });

          $('#country_id').on('change', function(){
            country_id = $(this).find(":selected").val();
            range_key = $('.average_cheque_range.active').text();
            createCitySelects(Number.parseInt(country_id));
          });

          $('#city_id').on('change', function(){
            city_id = $(this).find(":selected").val();
            range_key = $('.average_cheque_range.active').text();
            $.ajax({
              url : "<%= set_city_admin_metrics_districts_path %>",
              type : 'GET',
              data : {
                'city_id' : city_id,
                'range': range_key
              },
              dataType:'json',
              success : function(data) {
                if(data.length > 0){
                  createPieChart(data[0], "ordersCountByDistrict");
                  createDistrictSelects(data[1]);
                }else{
                  createPieChart([], "ordersCountByDistrict");
                  $('.districts').empty();
                  createDistrictSelects([]);
                }
              },
              error : function(request,error)
              {
                console.log(error);
              }
            });
          });

          $('.district_id').on('change', function(){
            city_id = $('#city_id').find(":selected").val();
            district_id = $(this).find(":selected").val();
            range_key = $('.average_cheque_range.active').text();
            $.ajax({
              url : "<%= average_price_admin_metrics_districts_path %>",
              type : 'GET',
              data : {
                'city_id' : city_id,
                'range' : range_key,
                'district_id': district_id
              },
              dataType:'json',
              success : function(data) {
                createPieChart(data, "averageChequeDistrict");
              },
              error : function(request,error)
              {
                console.log(error);
              }
            });
          });

          $('.chart_range').on('click', function(){
            $(this).toggleClass('active').siblings().removeClass('active');
            cardDiv = $(this).closest("div.card");
            chart_type = cardDiv.find(".chart_type").find(':selected').val();
            btnDiv = $(this).closest('div.btn-group');
            cardDiv = $(this).closest('div.card');
            url = btnDiv.data('chart-url');
            chartBlockId = btnDiv.data('charts-block');
            range = $(this).text();
            city_id = $('#city_id').find(":selected").val();
            district_id = cardDiv.find('.district_id').find(':selected').val();
            $.ajax({
              url: url,
              type: 'GET',
              data: {
                'range': range,
                'district_id': district_id,
                'city_id': city_id
              },
              dataType: 'json',
              success: function(data){
                if(chart_type == 'bar'){
                  createBarChart(data, chartBlockId);
                }else if(chart_type == 'pie'){
                  createPieChart(data, chartBlockId)
                }else{
                  createPieChart(data, chartBlockId)
                }
              }
            })
          });

          createPieChart(gon.district_orders_count, "ordersCountByDistrict");
        });
    </script>
    <%= render partial: 'admin/panel/partials/chart_functions' %>
    <script>
      $(document).ready(function () {
          App.init();
          App.formElements();
          App.dashboard();

      });
      stop_preloader();
    </script>
<% end %>