<div class="be-wrapper be-fixed-sidebar">
  <%= render partial: 'admin/panel/partials/header' %>

  <%= render partial: 'admin/panel/partials/sidebar' %>

  <div class="be-content">
    <div class="page-head">
      <h2 class="page-head-title">Countries</h2>
      <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb page-head-nav">
          <li class="breadcrumb-item"><a href="<%= admin_panel_path %>">Home</a></li>
          <li class="breadcrumb-item"><a href="<%= admin_panel_countries_path %>">Countries</a></li>
          <li class="breadcrumb-item active">Edit</li>
        </ol>
      </nav>
    </div>
    <div class="main-content container-fluid">
      <div class="card card-border-color card-border-color-primary">
        <div class="card-header card-header-divider">Update Country form<span class="card-subtitle">
            user</span></div>
        <div class="card-body">
          <%= form_for @country, url: admin_panel_country_path, method: :put do |f| %>
            <div class="form-group row mt-2">
              <label class="col-3 col-lg-2 col-form-label text-right" for="inputEmail">Name</label>
              <div class="col-9 col-lg-10">
                <%= f.text_field :name, class: 'form-control', required: true, id: 'inputTitle', placeholder: 'name' %>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-3 col-lg-2 col-form-label text-right">Content</label>
              <div class="col-9 col-lg-10">
                <%= f.text_area :description, class: 'form-control', required: true, id: 'inputTitle', placeholder: 'name' %>
              </div>
            </div>
            <div class="form-group row mt-2">
              <label class="col-3 col-lg-2 col-form-label text-right" for="inputEmail">Image</label>
              <div class="col-9 col-lg-10">
                <%= f.file_field :image, class: 'form-control', id: 'inputContent', placeholder: 'file' %>
              </div>
            </div>
            <div class="row pt-3 mt-1">
              <div class="col-sm-6 col-lg-6 pb-4 pb-lg-0">
                <label class="be-checkbox custom-control custom-checkbox">
                </label>
              </div>
              <div class="col-sm-6">
                <p class="text-right">
                  <button class="btn btn-space btn-primary" type="submit">Update</button>
                </p>
              </div>
            </div>
          <%end %>
        </div>
      </div>
    </div>
  </div>
  <%= render partial: 'admin/panel/partials/navigation_bar' %>
</div>
<%= content_for :javascript do %>
  <script type="text/javascript">
    App.init();
    App.formElements();

    $('#created_admin_user-role').on('change', function () {
      selected = $(this).val();

      if (selected == 'company') {
        $('#created_admin_user-platform_parent').removeClass('hidden')
      } else {
        $('#created_admin_user-platform_parent').addClass('hidden')
      }
    });

    stop_preloader();

    <%= render partial: 'admin/panel/partials/flash_msg' %>
  </script>
<% end %>