<div class="be-wrapper be-fixed-sidebar">
  <%= render partial: 'admin/panel/partials/header' %>

  <%= render partial: 'admin/panel/partials/sidebar' %>

  <div class="be-content">
    <div class="page-head">
      <h2 class="page-head-title">Companies</h2>
      <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb page-head-nav">
          <li class="breadcrumb-item"><a href="<%= admin_panel_path %>">Home</a></li>
          <li class="breadcrumb-item"><a href="<%= admin_panel_companies_path %>">Companies</a></li>
          <li class="breadcrumb-item active">List</li>
        </ol>
      </nav>
    </div>
    <div class="main-content container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card card-table">
            <div class="card-body">
              <div class="noSwipe">
                <table class="table table-striped table-hover be-table-responsive" id="table1">
                  <thead>
                    <tr>
                      <th>
                        <label class="custom-control custom-control-sm custom-checkbox">
                          <input class="custom-control-input" type="checkbox"><span class="custom-control-label"></span>
                        </label>
                      </th>
                      <th>Id</th>
                      <th>Title</th>
                      <th>Description</th>
                      <th>Platform</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @companies.each do |item| %>
                      <tr class="success done">
                        <td>
                          <label class="custom-control custom-control-sm custom-checkbox">
                            <input class="custom-control-input" type="checkbox"><span class="custom-control-label"></span>
                          </label>
                        </td>
                        <td class="cell-detail"><span><a href="<%= admin_panel_company_path(item.id) %>"><%= item.id %></a></span><span class="cell-detail-description"></span></td>
                        <td class="cell-detail"><span><%= item.title %></span><span class="cell-detail-description">Dublin</span></td>
                        <td class="cell-detail" data-project="Bootstrap"><span><%= item.description %></span><span class="cell-detail-description"></span></td>
                        <td class="cell-detail" data-project="Bootstrap"><span><%= item.platform %></span><span class="cell-detail-description"></span></td>
                        <td class="text-right">
                          <div class="btn-group btn-hspace">
                            <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">Actions <span
                                class="icon-dropdown mdi mdi-chevron-down"></span></button>
                            <div class="dropdown-menu" role="menu">
                              <a class="dropdown-item" href="<%= admin_panel_company_path(item) %>">Show</a>
                              <a class="dropdown-item" href="<%= admin_panel_company_path(item) %>" data-method="delete" data-confirm="Are you sure?">Delete</a>
                              <a class="dropdown-item" href="#">Edit</a>
                            </div>
                          </div>
                        </td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= render partial: 'admin/panel/partials/navigation_bar' %>
</div>
<%= content_for :javascript do %>
<script type="text/javascript">
  App.init();
  App.formElements();
  // App.tableFilters();
  stop_preloader();

  <%= render partial: 'admin/panel/partials/flash_msg' %>
</script>
<% end %>