<div class="be-wrapper be-fixed-sidebar">
  <%= render partial: 'admin/panel/partials/header' %>

  <%= render partial: 'admin/panel/partials/sidebar' %>

  <div class="be-content">
    <div class="page-head">
      <h2 class="page-head-title">Companies</h2>
      <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb page-head-nav">
          <li class="breadcrumb-item"><a href="<%= admin_panel_path %>">Home</a></li>
          <li class="breadcrumb-item"><a href="<%= admin_panel_companies_path %>">Companies</a></li>
          <li class="breadcrumb-item active">Create</li>
        </ol>
      </nav>
    </div>
    <div class="main-content container-fluid">
      <div class="card card-border-color card-border-color-primary">
        <div class="card-header card-header-divider">Company form<span class="card-subtitle">Form for create company</span></div>
        <div class="card-body">
          <%= form_for @company, url: admin_panel_companies_path, method: :post do %>
            <div class="form-group row mt-2">
              <label class="col-3 col-lg-2 col-form-label text-right" for="inputTitle">Name</label>
              <div class="col-9 col-lg-10">
                <input class="form-control" name="[company][title]" required id="inputTitle" type="text" placeholder="Name">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-3 col-lg-2 col-form-label text-right" for="inputDescription">Description</label>
              <div class="col-9 col-lg-10">
                <input class="form-control" name="[company][description]" id="inputDescription" type="text" placeholder="Describe you company">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-3 col-lg-2 col-form-label text-right">Basic Select</label>
              <div class="col-9 col-lg-10">
                <select class="form-control" name="[company][platform]">
                  <% Company.platforms.keys.each do |platform| %>
                    <option value="<%= platform %>"><%= platform %></option>
                  <% end %>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-3 col-lg-2 col-form-label text-right">Admin User</label>
              <div class="col-9 col-lg-10">
                <select class="form-control" name="[company][platform]">
                  <% AdminUser.companies.each do |admin| %>
                    <option value="<%= admin.id %>"><%= admin.email %></option>
                  <% end %>
                </select>
              </div>
            </div>
            <div class="row pt-3 mt-1">
              <div class="col-sm-6 col-lg-6 pb-4 pb-lg-0">
                <label class="be-checkbox custom-control custom-checkbox">
                </label>
              </div>
              <div class="col-sm-6">
                <p class="text-right">
                  <button class="btn btn-space btn-primary" type="submit">Register</button>
                </p>
              </div>
            </div>
          <%end %>
        </div>
      </div>
    </div>
  </div>
  <%= render partial: 'admin/panel/partials/navigation_bar' %>
</div>
<%= content_for :javascript do %>
<script type="text/javascript">
  App.init();
  App.formElements();
  // App.tableFilters();
  stop_preloader();

  <%= render partial: 'admin/panel/partials/flash_msg' %>
</script>
<% end %>