<div class="be-wrapper be-fixed-sidebar">
  <%= render partial: 'admin/panel/partials/header' %>

  <%= render partial: 'admin/panel/partials/sidebar' %>

  <div class="be-content">
    <div class="page-head">
      <h2 class="page-head-title">Companies</h2>
      <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb page-head-nav">
          <li class="breadcrumb-item"><a href="<%= admin_panel_path %>">Home</a></li>
          <li class="breadcrumb-item"><a href="<%= admin_panel_companies_path %>">Companies</a></li>
          <li class="breadcrumb-item active">Show</li>
        </ol>
      </nav>
    </div>
    <div class="main-content container-fluid">
<div class="user-profile">
  <div class="row">
    <div class="col-lg-5">
      <!-- <div class="user-display">
        <div class="user-display-bg"><img src="assets/img/user-profile-display.png" alt="Profile Background"></div>
        <div class="user-display-bottom">
          <div class="user-display-avatar"><img src="assets/img/avatar-150.png" alt="Avatar"></div>
          <div class="user-display-info">
            <div class="name">Kristopher Donny</div>
            <div class="nick"><span class="mdi mdi-account"></span> KDonny</div>
          </div>
          <div class="row user-display-details">
            <div class="col-4">
              <div class="title">Issues</div>
              <div class="counter">26</div>
            </div>
            <div class="col-4">
              <div class="title">Commits</div>
              <div class="counter">26</div>
            </div>
            <div class="col-4">
              <div class="title">Followers</div>
              <div class="counter">26</div>
            </div>
          </div>
        </div>
      </div> -->
      <div class="user-info-list card">
        <div class="card-header card-header-divider">About Company
          <span class="card-subtitle">
            <%=  @company.description || "No description of the company" %>
          </span>
          <div class="icon-container">
            <a href="<%= edit_admin_panel_company_path(@company)%>">
              <div class="icon"><span class="mdi mdi-edit"></span></div>
              <span class="icon-class">Edit</span>
            </a>
          </div>
        </div>
        <div class="card-body">
          <table class="no-border no-strip skills">
            <tbody class="no-border-x no-border-y">
              <tr>
                <td class="icon"><span class="mdi mdi-case"></span></td>
                <td class="item">Title<span class="icon s7-portfolio"></span></td>
                <td><%= @company.title %></td>
              </tr>
              <tr>
                <td class="icon"><span class="mdi mdi-cake"></span></td>
                <td class="item">Created At<span class="icon s7-gift"></span></td>
                <td><%= get_custom_date(@company.created_at) %></td>
              </tr>
              <tr>
                <td class="icon"><span class="mdi mdi-ungroup"></span></td>
                <td class="item">Platform<span class="icon s7-gift"></span></td>
                <td><%= @company.platform%></td>
              </tr>
              <tr>
                <td class="icon"><span class="mdi mdi-ungroup"></span></td>
                <td class="item">Mobile Valefyers<span class="icon s7-gift"></span></td>
                <td><a href="<%= admin_panel_pros_path(is_mobile: true, company_id: @company.id)%>">List</a></td>
              </tr>
              <tr>
                <td class="icon"><span class="mdi mdi-ungroup"></span></td>
                <td class="item">Static Valefyer<span class="icon s7-gift"></span></td>
                <td><a href="<%= admin_panel_pros_path(is_mobile: false, company_id: @company.id)%>">List</a></td>
              </tr>
              <tr>
                <td class="item">
                  <a href="<%= new_admin_panel_station_path %>" class="btn btn-space btn-primary"><i class="icon icon-left mdi mdi-cloud-done"></i>Add new location</a>
                </td>
              </tr>
              <tr>
                <td>
                  <a href="<%= new_admin_panel_pro_path %>" class="btn btn-space btn-primary"><i class="icon icon-left mdi mdi-cloud-done"></i>Add new Valefyer</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-12">
      <div class="card card-table">
        <div class="row table-filters-container">
          <div class="col-12 col-lg-12 col-xl-6">
            <div class="row">
              <div class="col-12 col-lg-6 table-filters pb-0 pb-xl-4"><span class="table-filter-title">Company services</span>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="noSwipe">
            <table class="table table-striped table-hover be-table-responsive" id="table1">
              <thead>
                <tr>
                  <th>
                    <label class="custom-control custom-control-sm custom-checkbox">
                      <input class="custom-control-input" type="checkbox"><span class="custom-control-label"></span>
                    </label>
                  </th>
                  <th>Category</th>
                  <th>Car type</th>
                  <th>Service</th>
                  <th>Price</th>
                </tr>
              </thead>
              <tbody>
                <% @company.services.each do |company_service| %>
                <tr class="success done">
                  <td>
                    <label class="custom-control custom-control-sm custom-checkbox">
                      <input class="custom-control-input" type="checkbox"><span class="custom-control-label"></span>
                    </label>
                  </td>
                  <% if company_service.service.present? %>
                    <td class="cell-detail"><span>
                      <%= company_service.service.category.title%></span><span class="cell-detail-description"></span></td>
                    <td class="cell-detail"><span>
                      <%= company_service.service.subcategory.title%></span><span class="cell-detail-description"></span></td>
                    <td class="cell-detail"><span>
                      <%= company_service.service.title%></span><span class="cell-detail-description"></span></td>
                  <% end %>
                  <td class="cell-detail" data-project="Bootstrap"><span>
                      <%= company_service.price %></span><span class="cell-detail-description"></span></td>
                  <td class="text-right">
                    <div class="btn-group btn-hspace">
                      <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">Actions
                        <span class="icon-dropdown mdi mdi-chevron-down"></span></button>
                      <div class="dropdown-menu" role="menu"><a class="dropdown-item" href="#">Show</a><a class="dropdown-item"
                          href="#">Another action</a><a class="dropdown-item" href="#">Edit</a>
                        <div class="dropdown-divider"></div><a class="dropdown-item" href="#">Separated link</a>
                      </div>
                    </div>
                  </td>
                </tr>
                <%end%>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
    </div>
  </div>
  <%= render partial: 'admin/panel/partials/navigation_bar' %>
</div>
<%= content_for :javascript do %>
<script type="text/javascript">
  App.init();
  App.formElements();
  // App.tableFilters();
  stop_preloader();

  <%= render partial: 'admin/panel/partials/flash_msg' %>
</script>
<% end %>