<div class="be-wrapper be-fixed-sidebar">
  <%= render partial: 'admin/panel/partials/header' %>

  <%= render partial: 'admin/panel/partials/sidebar' %>

  <div class="be-content">
    <div class="page-head">
      <h2 class="page-head-title">Clients</h2>
      <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb page-head-nav">
          <li class="breadcrumb-item"><a href="<%= admin_panel_path %>">Home</a></li>
          <li class="breadcrumb-item"><a href="<%= admin_panel_clients_path %>">Clients</a></li>
          <li class="breadcrumb-item">List</li>
        </ol>
      </nav>
    </div>
    <div class="main-content container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card card-table">
            <div class="card-body">
              <div class="noSwipe">
                <table class="table table-striped table-hover be-table-responsive" id="table1">
                  <thead>
                    <tr>
                      <th>
                        <label class="custom-control custom-control-sm custom-checkbox">
                          <input class="custom-control-input" type="checkbox"><span class="custom-control-label"></span>
                        </label>
                      </th>
                      <th>Id</th>
                      <th>Company</th>
                      <th>Email</th>
                      <th>Contact</th>
                      <th>Phone number</th>
                      <th>Notes</th>
                      <th>Message</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @requests.each do |request| %>
                      <tr class="success done">
                        <td>
                          <label class="custom-control custom-control-sm custom-checkbox">
                            <input class="custom-control-input" type="checkbox"><span class="custom-control-label"></span>
                          </label>
                        </td>
                        <td class="cell-detail"><span><a href="<%= admin_panel_demo_request_path(request.id) %>">
                              <%= request.id %></a></span><span class="cell-detail-description"></span></td>
                        <td class="cell-detail"><span>
                            <%= request.company %></span><span class="cell-detail-description"></span></td>
                        <td class="cell-detail" data-project="Bootstrap"><span>
                            <%= request.email %></span><span class="cell-detail-description"></span></td>
                        <td class="cell-detail" data-project="Bootstrap"><span>
                            <%= request.contact %></span><span class="cell-detail-description"></span></td>
                        <td class="cell-detail" data-project="Bootstrap"><span>
                            <%= request.phone_number %></span><span class="cell-detail-description"></span></td>
                        <td class="cell-detail" data-project="Bootstrap"><span>
                            <%= request.notes %></span><span class="cell-detail-description"></span></td>
                        <td class="cell-detail" data-project="Bootstrap"><span>
                            <%= request.message %></span><span class="cell-detail-description"></span></td>
                        <td class="text-right">
                          <div class="btn-group btn-hspace">
                            <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">Actions
                              <span class="icon-dropdown mdi mdi-chevron-down"></span></button>
                            <div class="dropdown-menu" role="menu">
                              <a class="dropdown-item" href="<%= admin_panel_demo_request_path(request) %>">Show</a>
                            </div>
                          </div>
                        </td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5"></div>
        <div class="col-md-7">
          <div class="card" style="float: right">
            <div class="card-body">
              <%= paginate @requests %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= render partial: 'admin/panel/partials/navigation_bar' %>
</div>
<%= content_for :javascript do %>
<script type="text/javascript">
  App.init();
  App.formElements();
  stop_preloader();
</script>
<% end %>