<div class="be-wrapper be-fixed-sidebar">
  <%= render partial: 'admin/panel/partials/header' %>

  <%= render partial: 'admin/panel/partials/sidebar' %>

  <div class="be-content">
    <div class="page-head">
      <h2 class="page-head-title">Demo Request</h2>
      <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb page-head-nav">
          <li class="breadcrumb-item"><a href="<%= admin_panel_path %>">Home</a></li>
          <li class="breadcrumb-item"><a href="<%= admin_panel_demo_requests_path %>">Demo requests</a></li>
          <li class="breadcrumb-item active">Show</li>
        </ol>
      </nav>
    </div>
    <div class="main-content container-fluid">
      <div class="user-profile">
        <div class="row">
          <div class="col-lg-10">
            <div class="user-info-list card">
              <div class="card-header card-header-divider">Demo request
                <span class="card-subtitle"></span>
              </div>
              <div class="card-body">
                <table class="no-border no-strip skills">
                  <tbody class="no-border-x no-border-y">
                    <tr>
                      <td class="icon"><span class="mdi mdi-account-box"></span></td>
                      <td class="item">Company<span class="icon s7-portfolio"></span></td>
                      <td>
                        <%= @request.company  %>
                      </td>
                    </tr>
                    <tr>
                      <td class="icon"><span class="mdi mdi-account-box"></span></td>
                      <td class="item">Email<span class="icon s7-gift"></span></td>
                      <td>
                        <%= @request.email %>
                      </td>
                    </tr>
                    <tr>
                      <td class="icon"><span class="mdi mdi-check"></span></td>
                      <td class="item">Contact<span class="icon s7-gift"></span></td>
                      <td>
                        <%= @request.contact %>
                      </td>
                    </tr>
                    <tr>
                      <td class="icon"><span class="mdi mdi-check"></span></td>
                      <td class="item">Phone number<span class="icon s7-gift"></span></td>
                      <td>
                        <%= @request.phone_number %>
                      </td>
                    </tr>
                    <tr>
                      <td class="icon"><span class="mdi mdi-check"></span></td>
                      <td class="item">Notes<span class="icon s7-gift"></span></td>
                      <td>
                        <%= @request.notes %>
                      </td>
                    </tr>
                    <tr>
                      <td class="icon"><span class="mdi mdi-calendar-close"></span></td>
                      <td class="item">Message<span class="icon s7-gift"></span></td>
                      <td>
                        <%= @request.message %>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
  <%= render partial: 'admin/panel/partials/navigation_bar' %>
</div>
<%= content_for :javascript do %>
<script type="text/javascript">
  App.init();
  App.formElements();
  // App.tableFilters();
  stop_preloader();
</script>
<% end %>