<div class="be-wrapper be-fixed-sidebar">
  <%= render partial: 'admin/panel/partials/header' %>

  <%= render partial: 'admin/panel/partials/sidebar' %>

  <div class="be-content">
    <div class="page-head">
      <h2 class="page-head-title">Dash Board <span class="badge badge-secondary">stations &nbsp; orders</span></h2>
      <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb page-head-nav">
          <li class="breadcrumb-item"><a href="<%= admin_panel_path %>">Home</a></li>
          <li class="breadcrumb-item active">Dash Board</li>
        </ol>
      </nav>
    </div>
    
    <div class="col-md-5">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %> alert-dismissible" role="alert">
          <button class="close" type="button" data-dismiss="alert" aria-label="Close"><span class="mdi mdi-close" aria-hidden="true"></span></button>
          <div class="icon"><span class="mdi mdi-check"></span></div>
          <div class="message"><%= value %></div>
        </div>
      <% end %>
    </div>
    <div class="main-content container-fluid">
      <% if params[:station_id].present? %>
        <h2><span><%= @stations.find(params[:station_id]).address %></span></h2>
      <% end %>
      <div class="row full-calendar">
        <div class="col-lg-9">
          <div class="card card-fullcalendar">
            <div class="card-body">
              <div id="calendar"></div>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="card fullcalendar-external-events">
            <div class="card-header card-header-divider">Show orders:</div>
            <div class="card-body">
              <div id="external-events">
                <p>
                  <input id="avaialable-orders" type="checkbox" checked>
                  <label for="avaialable-orders"><span class="available">Avaialble</span></label>
                </p>
                <p>
                  <input id="active-orders" type="checkbox" checked>
                  <label for="active-orders"><span class="active">Active</span></label>
                </p>
                <p>
                  <input id="completed-orders" type="checkbox" checked>
                  <label for="completed-orders"><span class="completed">Completed</span></label>
                </p>
              </div>
            </div>
          </div>
          <div class="card fullcalendar-external-events">
            <div class="card-header card-header-divider">Stations list</div>
            <div class="card-body">
              <div id="external-events">
                <ul>
                  <% @stations.each do |item| %>
                    <li><a href="<%= dashboard_admin_panel_stations_path(station_id: item.id)%>"><%= item.address%></a></li>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= render partial: 'admin/panel/partials/navigation_bar' %>
</div>
<a class='btn btn-space btn-primary md-trigger reassign-master' data-modal='reassign-master' style="color: white; display: block;"></a>
<input type="hidden" id="order-id-modal">
<%= content_for :javascript do %>
  <script type="text/javascript">
    $.fn.niftyModal('setDefaults',{
      overlaySelector: '.modal-overlay',
      contentSelector: '.modal-content',
      closeSelector: '.modal-close',
      classAddAfterOpen: 'modal-show'
    });

    //-initialize the javascript
    App.init();
    App.formElements();
    App.uiNotifications();
//    flashMessages();
  $(document).ready(function(){

    $('#calendar').fullCalendar({
      header: {
        left: 'today prev,next',
        center: 'title',
        right: 'agendaWeek,month'
      },
      defaultView: 'agendaWeek',
      editable: true,
      minTime: "<%= ProInformation::BEGIN_DAY %>",
      maxTime: '17:00',
      eventLimit: true,
      events: function(start, end, tz, callback) {
        _events = list_events_arr();

        callback(_events);
      },

      eventClick: function(event, _jsEvent, _view) {
//        window.location.href = `/admin/panel/order_items/${event.id}`;
        createReassignProForm(event.id);
      },

      eventRender: function(event, element) {
        element.find('.fc-content').attr('status', event.status);
      },
      eventDrop: function(event, delta, revertFunc) {
        if(event.status == 'searching' || event.status == 'accepted') {
          alert(event.title + " was dropped on " + event.start.format());
          start_preloader();
          if (!confirm("Are you sure about this change?")) { revertFunc(); }
          else { changeTime(event); }
        } else {
          alert("You can not change time")
          revertFunc();
        }
      }
    })

    function  list_events_arr(){
      _events = []

      $.each(gon.orders, function(index, order){
        start = new Date(order.order_time)
        end = start
        end.setHours(end.getHours() + 2)

        if(order.status == 'end_work'){
          _events.push({
            id: order.id,
            start: start,
            end: end,
            title: `Order - ${order.id}`,
            description: order.description,
            status: order.status,
            className: `class-${order.status}`,
            backgroundColor: '#00CC66'
          })
        } else if(order.status == 'searching') {
          _events.push({
            id: order.id,
            start: start,
            end: end,
            title: `Order - ${order.id}`,
            description: order.description,
            status: order.status,
            className: `class-${order.status}`,
            backgroundColor: '#F1C40F'
          })
        }else if(order.status != 'end_work' && order.status != 'searching' && new Date(order.order_time) > new Date() ) {
          _events.push({
            id: order.id,
            start: start,
            end: end,
            title: `Order - ${order.id}`,
            description: order.description,
            status: order.status,
            className: `class-${order.status}`,
            backgroundColor: '#FF0000'
          })
        }else if(order.status != 'end_work' && order.status != 'searching' && (new Date(order.order_time).toDateString == new Date().toDateString)) {
          _events.push({
            id: order.id,
            start: start,
            end: end,
            title: `Order - ${order.id}`,
            description: order.description,
            status: order.status,
            className: `class-${order.status}`,
            backgroundColor: '#6906B2'
          })
        }
        else {
          _events.push({
            id: order.id,
            start: start,
            end: end,
            title: `Order - ${order.id}`,
            description: order.description,
            status: order.status,
            className: `class-active`,
            backgroundColor: '#0359A9'
          })
        }
      })

      return _events
    }

    function changeTime(event) {
      $.ajax({
        url: "<%= change_time_admin_panel_order_items_path %>",
        type : 'POST',
        data : {
          'id' : event.id,
          'date': event.start.format()
        },
        dataType:'json',
        success : function(data) {
          stop_preloader();
        }
      })
    }

    function flashMessages(){
      <% if flash['error'].present? %>
      $.gritter.add({
        title: 'Error',
        text: "<%= flash['error']%>",
        class_name: 'color danger'
      });
      <% end %>

      <% if flash['success'].present? %>
      $.gritter.add({
        title: 'Success',
        text: "<%= flash['success']%>",
        class_name: 'color success'
      });
      <% end %>

      <% if flash['notice'].present? %>
      $.gritter.add({
        title: 'Success',
        text: "<%= flash['notice']%>",
        class_name: 'color success'
      });
      <% end %>
    }

    $('#completed-orders').change(function() {
      if(this.checked) { $('.class-end_work').show() }
      else { $('.class-end_work').hide() }
    })

    $('#avaialable-orders').change(function(){
      if(this.checked) { $('.class-searching').show()} 
      else { $('.class-searching').hide() }
    })

    $('#active-orders').change(function(){
      if(this.checked) { $('.class-active').show()} 
      else { $('.class-active').hide() }
    })

    $('.reassign_order_info').on('click', function(){
      orderId = $('#order_id').val();
      window.open('/admin/panel/order_items/' + orderId, "_blank" );
    });

    $(document).on('change', '.master_id', function() {
      $.ajax({
        url: "<%= admin_panel_get_pro_info_path %>",
        type : 'GET',
        data : {
          'id' : this.value
        },
        dataType:'json',
        success : function(data) {
          changeReassignProInfo(data);
        }
      })
    });
    stop_preloader();
  });

    function changeReassignProInfo(data){
      pro = data.pro;
      orders = data.orders;
      link = '/admin/panel/pros/' + pro.id;
      $("#pro_info_email").text(pro.email);
      $("#pro_info_phone_number").text(pro.phone_number);
      $("#pro_info_profile").attr("href", link);
      $("#pro_info_busy_order_count").text(orders.length);
      if(orders.length > 0){
        lastOrder = orders[0];
        lastOrderTime = new Date(lastOrder.order_time).toDateString();
        $("#pro_info_order_time").text(lastOrderTime);
      }
    }
  </script>
<% end %>
<%= render partial: 'admin/panel/partials/reassign_master' %>