<%= render 'admin/shared/map' %>
<div class="be-wrapper be-fixed-sidebar">
  <%= render partial: 'admin/panel/partials/header' %>

  <%= render partial: 'admin/panel/partials/sidebar' %>

  <div class="be-content">
    <div class="page-head">
      <h2 class="page-head-title">Companies</h2>
      <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb page-head-nav">
          <li class="breadcrumb-item"><a href="<%= admin_panel_path %>">Home</a></li>
          <li class="breadcrumb-item"><a href="<%= admin_panel_path %>">Locations</a></li>
          <li class="breadcrumb-item active">Create</li>
        </ol>
      </nav>
    </div>
    <div class="main-content container-fluid">
      <div class="card card-border-color card-border-color-primary">
        <div class="card-header card-header-divider">Company form<span class="card-subtitle">Form for create company</span></div>
        <div class="card-body">
          <%= form_for @station, url: admin_panel_station_path, method: :put do |f| %>
          <div class="form-group row mt-2">
            <label class="col-3 col-lg-2 col-form-label text-right" for="inputTitle">Title</label>
            <div class="col-9 col-lg-10">
              <%= f.text_field :title, class: 'form-control', id: 'inputTitle' %>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-3 col-lg-2 col-form-label text-right">Image</label>
            <div class="col-9 col-lg-10">
              <%= f.file_field :image, class: 'form-control', placeholder: 'Image' %>
            </div>
          </div>
          <div class="form-group row mt-2">
            <label class="col-3 col-lg-2 col-form-label text-right" for="inputEmail">Promo Codes</label>
            <div class="col-9 col-lg-10">
              <%= f.select(:promo_code_ids, PromoCode.available.collect {|u| [u.promo_code_id, u.id]}, {}, {:class => "form-control select2 select2-lg", :multiple => true}) %>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-3 col-lg-2 col-form-label text-right" for="inputPhoneNumber">Phone number</label>
            <div class="col-9 col-lg-10">
              <%= f.text_field :phone_number, class: 'form-control', id: 'inputPhoneNumber' %>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-3 col-lg-2 col-form-label text-right" for="inputPhoneNumber">Email</label>
            <div class="col-9 col-lg-10">
              <%= f.email_field :email, class: 'form-control', id: 'inputPhoneNumber', placeholder: 'Email', required: true %>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <div class="card">
                <div class="card-header card-header-divider">Coordinates
                  <span class="card-subtitle">Set coordinates for your company location</span>
                </div>
                <div class="card-body">
                  <input type="hidden" name="[company_location][lat]" class="create_company_location-lat">
                  <input type="hidden" name="[company_location][lon]" class="create_company_location-lon">
                  <%= f.hidden_field :address, class: 'controls parsley-error', id: 'pac-input', placeholder: 'Search Box' %>
                  <div id="map_client" class="content" style="height: 350px;"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="row pt-3 mt-1">
            <div class="col-sm-6 col-lg-6 pb-4 pb-lg-0">
              <label class="be-checkbox custom-control custom-checkbox">
              </label>
            </div>
            <div class="col-sm-6">
              <p class="text-right">
                <button class="btn btn-space btn-primary" type="submit">Add Location</button>
              </p>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <%= render partial: 'admin/panel/partials/navigation_bar' %>
</div>
<%= content_for :javascript do %>
<script type="text/javascript">
  App.init();
  App.formElements();


  var myLatlng = initCoords();
  setCoordsOnInputs(myLatlng);

  function initMapClient() {
    // Create a map object and specify the DOM element for display.
    var map = new google.maps.Map(document.getElementById('map_client'), {
      center: myLatlng,
      scrollwheel: true,
      zoom: 16,
      mapTypeId: google.maps.MapTypeId.ROADMAP,
      disableDefaultUI: true,
      zoomControl: true,
      scaleControl: true,
    });

    var marker = new google.maps.Marker({
      position: myLatlng,
      map: map
    });

    var geocoder = new google.maps.Geocoder();
    var searchBox = new google.maps.places.SearchBox(document.getElementById('pac-input'));

    map.controls[google.maps.ControlPosition.TOP_CENTER].push(document.getElementById('pac-input'));
    google.maps.event.addListener(searchBox, 'places_changed', function () {
      searchBox.set('map', null);

      var places = searchBox.getPlaces(),
        bounds = new google.maps.LatLngBounds(),
        i, place;

      for (i = 0; place = places[i]; i++) {
        (function (place) {
          var location = place.geometry.location;

          marker.setPosition(location);
          setCoordsOnInputs(location)
          setAddressToSearchBox(place)
          bounds.extend(location);
        }(place));

      }
      map.fitBounds(bounds);
      searchBox.set('map', map);
      map.setZoom(Math.min(map.getZoom(), 12));
    });

    google.maps.event.addListener(map, 'click', function (e) {
      positions = {
        lat: e.latLng.lat(),
        lng: e.latLng.lng()
      }
      geocoder.geocode({
        'location': positions
      }, function (results, status) {
        if (status === google.maps.GeocoderStatus.OK) {
          if (results[1]) {
            setAddressToSearchBox(results[1])
          } else {
            window.alert('No results found');
          }
        } else {
          window.alert('Geocoder failed due to: ' + status);
        }
      });
      marker.setPosition(positions);
      setCoordsOnInputs(positions);
    });
  }
  initMapClient();

  function initCoords() {
    lat = $('.create_company_location-lat').val();
    lon = $('.create_company_location-lon').val();

    if (lat && lon) {
      if (lat.length != 0 && lon.length != 0) {
        return {
          lat: parseFloat(lat),
          lng: parseFloat(lon)
        };
      }
    } else {
      return {
        lat: 53.347974,
        lng: -6.271571
      };
    }
  }

  function setCoordsOnInputs(positions) {
    $('.create_company_location-lon').val(positions.lng)
    $('.create_company_location-lat').val(positions.lat)
  }

  function setAddressToSearchBox(place) {
    $('#pac-input').val(place.formatted_address)
  }

  stop_preloader();

  <%= render partial: 'admin/panel/partials/flash_msg' %>
</script>
<% end %>