<div class="be-wrapper be-fixed-sidebar">
  <%= render partial: 'admin/panel/partials/header' %>

  <%= render partial: 'admin/panel/partials/sidebar' %>

  <div class="be-content">
    <div class="page-head">
      <h2 class="page-head-title">Stations</h2>
      <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb page-head-nav">
          <li class="breadcrumb-item"><a href="<%= admin_panel_path %>">Home</a></li>
          <li class="breadcrumb-item"><a href="">Stations</a></li>
          <li class="breadcrumb-item active">List</li>
        </ol>
      </nav>
    </div>
    <div class="main-content container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card card-table">
            <%= form_tag admin_panel_stations_path, method: :get, id: 'station_filters_form' do%>
              <div class="row table-filters-container">
                <div class="col-4 col-lg-4 table-filters pb-0 pb-xl-4 filter_blocks">
                  <div class="row">
                    <div class="col-12 col-lg-12 table-filters pb-0 pb-xl-5" style="padding-top: 0; padding-bottom: 0 !important;"><span class="table-filter-title title_filter">Title</span>
                      <div class="filter-container">
                        <label class="control-label">Find by title:</label>
                        <div class="row">
                          <div class="col-6">
                            <%= select_tag :title_filter, options_for_select(get_filter_options, params[:title_filter]), { class: 'select2 select2-hidden-accessible title_filter' } %>
                          </div>
                          <div class="col-6">
                            <%= text_field_tag :title, params[:title], class: 'form-control form-control-sm' %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-4 col-lg-4 table-filters pb-0 pb-xl-4 filter_blocks">
                  <div class="row">
                    <div class="col-12 col-lg-12 table-filters pb-0 pb-xl-5" style="padding-top: 0; padding-bottom: 0 !important;"><span class="table-filter-title title_filter">Phone number</span>
                      <div class="filter-container">
                        <label class="control-label">Find by phone number:</label>
                        <div class="row">
                          <div class="col-6">
                            <%= select_tag :phone_number_filter, options_for_select(get_filter_options, params[:phone_number_filter]), { class: 'select2 select2-hidden-accessible phone_number_filter' } %>
                          </div>
                          <div class="col-6">
                            <%= text_field_tag :phone_number, params[:phone_number], class: 'form-control form-control-sm client_email' %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-4 col-lg-4 table-filters pb-0 pb-xl-4 filter_blocks">
                  <div class="row">
                    <div class="col-12 col-lg-12 table-filters pb-0 pb-xl-5">
                      <div class="filter-container">
                        <div class="row">
                          <div class="col-7">
                          </div>
                          <div class="col-2" style="padding-right: 0 !important;">
                            <div class="custom-controls-stacked">
                              <a href="<%= new_admin_panel_station_path %>" class="btn btn-space btn-secondary">New station</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-4 col-lg-4 table-filters pb-0 pb-xl-4 filter_blocks">
                  <div class="row">
                    <div class="col-12 col-lg-12 table-filters pb-0 pb-xl-5" style="padding-top: 0; padding-bottom: 0 !important;"><span class="table-filter-title title_filter">Address</span>
                      <div class="filter-container">
                        <label class="control-label">Find by address:</label>
                        <div class="row">
                          <div class="col-6">
                            <%= select_tag :address_filter, options_for_select(get_filter_options, params[:address_filter]), { class: 'select2 select2-hidden-accessible address_filter' } %>
                          </div>
                          <div class="col-6">
                            <%= text_field_tag :address, params[:address], class: 'form-control form-control-sm address' %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-4 col-lg-4 table-filters pb-0 pb-xl-4 filter_blocks">
                  <div class="row">
                    <div class="col-12 col-lg-12 table-filters pb-0 pb-xl-5" style="padding-top: 0; padding-bottom: 0 !important;"><span class="table-filter-title title_filter">Email</span>
                      <div class="filter-container">
                        <label class="control-label">Find by email:</label>
                        <div class="row">
                          <div class="col-6">
                            <%= select_tag :email_filter, options_for_select(get_filter_options, params[:email_filter]), { class: 'select2 select2-hidden-accessible email_filter' } %>
                          </div>
                          <div class="col-6">
                            <%= text_field_tag :email, params[:email], class: 'form-control form-control-sm address' %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-4 col-lg-4 table-filters pb-0 pb-xl-4 filter_blocks">
                  <div class="row">
                    <div class="col-12 col-lg-12 table-filters pb-0 pb-xl-4" style="padding-top: 0; padding-bottom: 0 !important;"><span class="table-filter-title title_filter">Company</span>
                      <div class="filter-container">
                        <label class="control-label">Find by company:</label>
                        <%= select_tag :company_id, options_for_select(Company.all.map { |company| [ company.title, company.id ] }, params[:company_id]), { class: 'select2 company_id', id: 'company_id' } %>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-lg-12 table-filters pb-0 pb-xl-4 filter_buttons">
                  <div class="row">
                    <div class="col-12 col-lg-12 table-filters filter_blocks">
                      <div class="filter-container">
                        <%= submit_tag('Filter', type: 'submit', class: 'btn btn-space btn-primary') %>
                        <%= submit_tag('Reset', type: 'cancel', class: 'btn btn-space btn-secondary reset_station_filters') %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
            <div class="card-body">
              <div class="noSwipe">
                <table class="table table-striped table-hover be-table-responsive" id="table1">
                  <thead>
                    <tr>
                      <th>
                        <label class="custom-control custom-control-sm custom-checkbox">
                          <input class="custom-control-input" type="checkbox"><span class="custom-control-label"></span>
                        </label>
                      </th>
                      <th>Id</th>
                      <th>Title</th>
                      <th>Address</th>
                      <th>Phone number</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @stations.each do |station| %>
                    <tr class="success done">
                      <td>
                        <label class="custom-control custom-control-sm custom-checkbox">
                          <input class="custom-control-input" type="checkbox"><span class="custom-control-label"></span>
                        </label>
                      </td>
                      <td class="cell-detail"><span><a href="<%= admin_panel_station_path(station.id) %>">
                            <%= station.id %></a></span><span class="cell-detail-description"></span></td>
                      <td class="cell-detail"><span>
                          <%= station.title %></span><span class="cell-detail-description"></span></td>
                      <td class="cell-detail" data-project="Bootstrap"><span>
                          <%= station.address %></span><span class="cell-detail-description"></span></td>
                      <td class="cell-detail" data-project="Bootstrap"><span>
                          <%= station.phone_number %></span><span class="cell-detail-description"></span></td>
                      <td class="text-right">
                        <div class="btn-group btn-hspace">
                          <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">Actions
                            <span class="icon-dropdown mdi mdi-chevron-down"></span></button>
                          <div class="dropdown-menu" role="menu">
                            <a class="dropdown-item" href="<%= admin_panel_station_path(station.id) %>">Show</a>
                            <a class="dropdown-item" href="<%= edit_admin_panel_station_path(station.id) %>">Edit</a>
                          </div>
                        </div>
                      </td>
                    </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5"></div>
        <div class="col-md-7">
          <div class="card" style="float: right">
            <div class="card-header"></div>
            <div class="card-body">
              <%= paginate @stations %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= render partial: 'admin/panel/partials/navigation_bar' %>
</div>
<%= content_for :javascript do %>
<script type="text/javascript">
  App.init();
  App.formElements();
  // App.tableFilters();
  stop_preloader();

  <% unless params[:company_id].present? %>
    $('#company_id').val('').trigger('change');
  <% end %>

  $("#company_id").attr("data-placeholder","Select company");

  $('.reset_station_filters').on('click', function(){
    $('#station_filters_form')[0].reset();
    window.location.href = '/admin/panel/stations'
  });

  <%= render partial: 'admin/panel/partials/flash_msg' %>
</script>
<% end %>