<div class="be-wrapper be-fixed-sidebar">
  <%= render partial: 'admin/panel/partials/header' %>

  <%= render partial: 'admin/panel/partials/sidebar' %>

  <div class="be-content">
    <div class="page-head">
      <h2 class="page-head-title">Stationary</h2>
      <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb page-head-nav">
          <li class="breadcrumb-item"><a href="<%= admin_panel_path %>">Home</a></li>
          <li class="breadcrumb-item"><a href="<%= admin_panel_stations_path %>">Stations</a></li>
          <li class="breadcrumb-item active">Show</li>
        </ol>
      </nav>
    </div>
    <div class="main-content container-fluid">
      <div class="user-profile">
        <div class="row">
          <div class="col-lg-10">
            <div class="user-info-list card">
              <div class="card-header card-header-divider">
                About location
                <span class="card-subtitle">
                  <div class="icon-container">
                    <a href="<%= edit_admin_panel_station_path(@station)%>">
                      <div class="icon"><span class="mdi mdi-edit"></span></div>
                      <span class="icon-class">Edit</span>
                    </a>
                  </div>
                </span>
              </div>
              <div class="card-body">
                <table class="no-border no-strip skills">
                  <tbody class="no-border-x no-border-y">
                    <tr>
                      <td class="icon"><span class="mdi mdi-case"></span></td>
                      <td class="item">Company<span class="icon s7-portfolio"></span></td>
                      <td><%= @station.try(:company).try(:title) %></td>
                    </tr>
                    <tr>
                      <td class="icon"><span class="mdi mdi-cake"></span></td>
                      <td class="item">Title<span class="icon s7-gift"></span></td>
                      <td><%= @station.title%></td>
                    </tr>
                    <tr>
                      <td class="icon"><span class="mdi mdi-pin"></span></td>
                      <td class="item">Address<span class="icon s7-global"></span></td>
                      <td><%= @station.address%></td>
                    </tr>
                    <tr>
                      <td class="icon"><span class="mdi mdi-globe-alt"></span></td>
                      <td class="item">Phone Number<span class="icon s7-map-marker"></span></td>
                      <td><%= @station.phone_number%></td>
                    </tr>
                    <tr>
                      <td class="icon"><span class="mdi mdi-smartphone-android"></span></td>
                      <td class="item">Rating<span class="icon s7-phone"></span></td>
                      <td><%= @station.rating%></td>
                    </tr>
                    <tr>
                      <td class="icon"><span class="mdi mdi-email"></span></td>
                      <td class="item">Email<span class="icon s7-phone"></span></td>
                      <td><%= @station.email%></td>
                    </tr>
                    <tr>
                      <td class="icon"><span class="mdi mdi-email"></span></td>
                      <td class="item">Image<span class="icon s7-phone"></span></td>
                      <td><img class="image_size" src="<%= image_path @station.image.url%>" ></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          
        </div>
        
        <div class="row">
    <div class="col-md-12">
      <div class="card card-table">
        <div class="row table-filters-container">
          <div class="col-12 col-lg-12 col-xl-6">
            <div class="row">
              <div class="col-12 col-lg-6 table-filters pb-0 pb-xl-4"><span class="table-filter-title">Company services</span>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="noSwipe">
            <table class="table table-striped table-hover be-table-responsive" id="table1">
              <thead>
                <tr>
                  <th>
                    <label class="custom-control custom-control-sm custom-checkbox">
                      <input class="custom-control-input" type="checkbox"><span class="custom-control-label"></span>
                    </label>
                  </th>
                  <th>Parent Service id</th>
                  <th>Category</th>
                  <th>Car type</th>
                  <th>Service</th>
                  <th>Price</th>
                </tr>
              </thead>
              <tbody>
                <% @station.services.each do |station_service| %>
                <tr class="success done">
                  <% if station_service.service.present? %>
                    <td class="cell-detail"><span>
                      <%= station_service.service_id%></span><span class="cell-detail-description"></span></td>
                    <td class="cell-detail"><span>
                      <%= station_service.service.category.title%></span><span class="cell-detail-description"></span></td>
                    <td class="cell-detail"><span>
                      <%= station_service.service.subcategory.title%></span><span class="cell-detail-description"></span></td>
                    <td class="cell-detail"><span>
                      <%= station_service.service.title%></span><span class="cell-detail-description"></span></td>
                  <% end %>
                  <td class="cell-detail" data-project="Bootstrap"><span>
                      <%= station_service.price %></span><span class="cell-detail-description"></span></td>
                  <td class="text-right">
                    <div class="btn-group btn-hspace">
                      <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">Actions
                        <span class="icon-dropdown mdi mdi-chevron-down"></span></button>
                      <div class="dropdown-menu" role="menu">
                        <a class="dropdown-item" href="<%= edit_admin_panel_station_service_path(station_service.id) %>">Edit</a>
                      </div>
                    </div>
                  </td>
                </tr>
                <%end%>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
      </div>
    </div>
  </div>
  <%= render partial: 'admin/panel/partials/navigation_bar' %>
</div>
<%= content_for :javascript do %>
<script type="text/javascript">
  App.init();
  App.formElements();
  // App.tableFilters();
  stop_preloader();

  <%= render partial: 'admin/panel/partials/flash_msg' %>
</script>
<% end %>