<div class="be-wrapper be-fixed-sidebar">
  <%= render partial: 'admin/panel/partials/header' %>

  <%= render partial: 'admin/panel/partials/sidebar' %>

  <div class="be-content">
    <div class="page-head">
      <h2 class="page-head-title">Contract</h2>
      <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb page-head-nav">
          <li class="breadcrumb-item"><a href="<%= admin_panel_path %>">Home</a></li>
          <li class="breadcrumb-item"><a href="<%= admin_panel_path %>">Contract</a></li>
          <li class="breadcrumb-item active">Create</li>
        </ol>
      </nav>
    </div>
    <div class="main-content container-fluid">
      <div class="card card-border-color card-border-color-primary">
        <div class="card-header card-header-divider">Contract form<span class="card-subtitle">Form for create contract</span></div>
        <div class="card-body">
          <%= form_for @account, url: admin_panel_pro_stripe_account_index_path, method: :post do |f| %>
            <%= f.hidden_field :pro_id, value: @account.pro_id %>

            <div class="form-group row mt-2">
              <label class="col-3 col-lg-2 col-form-label text-right" for="inputTaxID">Tax ID</label>
              <div class="col-9 col-lg-10">
                <%= f.text_field :tax_id, class: 'form-control', required: true, id: 'inputTaxID', placeholder: 'tax ID' %>
              </div>
            </div>

            <div class="form-group row mt-2">
              <label class="col-3 col-lg-2 col-form-label text-right" for="inputPersonalID">Personal ID</label>
              <div class="col-9 col-lg-10">
                <%= f.text_field :personal_id, class: 'form-control', required: true, id: 'inputPersonalID', placeholder: 'personal ID' %>
              </div>
            </div>

            <div class="form-group row mt-2">
              <label class="col-3 col-lg-2 col-form-label text-right" for="inputAddress">Address</label>
              <div class="col-9 col-lg-10">
                <%= f.text_area :address_line1, class: 'form-control', required: true, id: 'inputAddress', placeholder: 'Address' %>
              </div>
            </div>

            <div class="form-group row mt-2">
              <label class="col-3 col-lg-2 col-form-label text-right" for="inputAccountNumber">Account number</label>
              <div class="col-9 col-lg-10">
                <%= f.text_field :account_number, class: 'form-control', required: true, id: 'inputAccountNumber', placeholder: 'IE89370400440532013000' %>
              </div>
            </div>

            <div class="form-group row mt-2">
              <label class="col-3 col-lg-2 col-form-label text-right" for="inputCity">City</label>
              <div class="col-9 col-lg-10">
                <%= f.text_field :city, class: 'form-control', required: true, id: 'inputCity', placeholder: 'Dublin' %>
              </div>
            </div>

            <div class="form-group row mt-2">
              <label class="col-3 col-lg-2 col-form-label text-right" for="inputState">State</label>
              <div class="col-9 col-lg-10">
                <%= f.text_field :state, class: 'form-control', required: true, id: 'inputState', placeholder: 'ie' %>
              </div>
            </div>


            <div class="form-group row mt-2">
              <label class="col-3 col-lg-2 col-form-label text-right" for="uploadFile">ID document image</label>
              <div class="col-9 col-lg-10">
                <%= f.file_field :id_document_image, required: true, class: 'form-control', id: 'uploadFile' %>
              </div>
            </div>

            <div class="row pt-3 mt-1">
              <div class="col-sm-6 col-lg-6 pb-4 pb-lg-0">
                <label class="be-checkbox custom-control custom-checkbox">
                </label>
              </div>
              <div class="col-sm-6">
                <p class="text-right">
                  <button class="btn btn-space btn-primary" type="submit">Add Bank Details</button>
                </p>
              </div>
            </div>
          <%end %>
        </div>
      </div>
    </div>
  </div>
  <nav class="be-right-sidebar">
    <div class="sb-content">
      <div class="tab-navigation">
        <ul class="nav nav-tabs nav-justified" role="tablist">
          <li class="nav-item" role="presentation">
            <a class="nav-link active" href="#tab1" aria-controls="tab1" role="tab" data-toggle="tab">Chat</a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link" href="#tab2" aria-controls="tab2" role="tab" data-toggle="tab">Todo</a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link" href="#tab3" aria-controls="tab3" role="tab" data-toggle="tab">Settings</a>
          </li>
        </ul>
      </div>
      <div class="tab-panel">
        <div class="tab-content">
          <div class="tab-pane tab-chat active" id="tab1" role="tabpanel">
            <div class="chat-contacts">
              <div class="chat-sections">
                <div class="be-scroller-chat">
                  <div class="content">
                    <h2>Recent</h2>
                    <div class="contact-list contact-list-recent">
                      <div class="user">
                        <a href="#">
                          <img src="<%= image_path 'admin/panel/avatar1.png'%>" alt="Avatar">
                          <div class="user-data">
                            <span class="status away"></span>
                            <span class="name">Claire Sassu</span>
                            <span class="message">Can you share the...</span>
                          </div>
                        </a>
                      </div>
                      <div class="user">
                        <a href="#">
                          <img src="<%= image_path 'admin/panel/avatar2.png'%>" alt="Avatar">
                          <div class="user-data">
                            <span class="status"></span>
                            <span class="name">Maggie jackson</span>
                            <span class="message">I confirmed the info.</span>
                          </div>
                        </a>
                      </div>
                      <div class="user">
                        <a href="#">
                          <img src="<%= image_path 'admin/panel/avatar3.png'%>" alt="Avatar">
                          <div class="user-data">
                            <span class="status offline"></span>
                            <span class="name">Joel King </span>
                            <span class="message">Ready for the meeti...</span>
                          </div>
                        </a>
                      </div>
                    </div>
                    <h2>Contacts</h2>
                    <div class="contact-list">
                      <div class="user">
                        <a href="#">
                          <img src="<%= image_path 'admin/panel/avatar4.png'%>" alt="Avatar">
                          <div class="user-data2">
                            <span class="status"></span>
                            <span class="name">Mike Bolthort</span>
                          </div>
                        </a>
                      </div>
                      <div class="user">
                        <a href="#">
                          <img src="<%= image_path 'admin/panel/avatar5.png'%>" alt="Avatar">
                          <div class="user-data2">
                            <span class="status"></span>
                            <span class="name">Maggie jackson</span>
                          </div>
                        </a>
                      </div>
                      <div class="user">
                        <a href="#">
                          <img src="<%= image_path 'admin/panel/avatar6.png'%>" alt="Avatar">
                          <div class="user-data2">
                            <span class="status offline"></span>
                            <span class="name">Jhon Voltemar</span>
                          </div>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="bottom-input">
                <input type="text" placeholder="Search..." name="q">
                <span class="mdi mdi-search"></span>
              </div>
            </div>
            <div class="chat-window">
              <div class="title">
                <div class="user">
                  <img src="<%= image_path 'admin/panel/avatar2.png'%>" alt="Avatar">
                  <h2>Maggie jackson</h2>
                  <span>Active 1h ago</span>
                </div>
                <span class="icon return mdi mdi-chevron-left"></span>
              </div>
              <div class="chat-messages">
                <div class="be-scroller-messages">
                  <div class="content">
                    <ul>
                      <li class="friend">
                        <div class="msg">Hello</div>
                      </li>
                      <li class="self">
                        <div class="msg">Hi, how are you?</div>
                      </li>
                      <li class="friend">
                        <div class="msg">Good, I'll need support with my pc</div>
                      </li>
                      <li class="self">
                        <div class="msg">Sure, just tell me what is going on with your computer?</div>
                      </li>
                      <li class="friend">
                        <div class="msg">I don't know it just turns off suddenly</div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="chat-input">
                <div class="input-wrapper">
                  <span class="photo mdi mdi-camera"></span>
                  <input type="text" placeholder="Message..." name="q" autocomplete="off">
                  <span class="send-msg mdi mdi-mail-send"></span>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane tab-todo" id="tab2" role="tabpanel">
            <div class="todo-container">
              <div class="todo-wrapper">
                <div class="be-scroller-todo">
                  <div class="todo-content">
                    <span class="category-title">Today</span>
                    <ul class="todo-list">
                      <li>
                        <label class="custom-checkbox custom-control custom-control-sm">
                          <span class="delete mdi mdi-delete"></span>
                          <input class="custom-control-input" type="checkbox" checked="">
                          <span class="custom-control-label">Initialize the project</span>
                        </label>
                      </li>
                      <li>
                        <label class="custom-checkbox custom-control custom-control-sm">
                          <span class="delete mdi mdi-delete"></span>
                          <input class="custom-control-input" type="checkbox">
                          <span class="custom-control-label">Create the main structure </span>
                        </label>
                      </li>
                      <li>
                        <label class="custom-checkbox custom-control custom-control-sm">
                          <span class="delete mdi mdi-delete"></span>
                          <input class="custom-control-input" type="checkbox">
                          <span class="custom-control-label">Updates changes to GitHub </span>
                        </label>
                      </li>
                    </ul>
                    <span class="category-title">Tomorrow</span>
                    <ul class="todo-list">
                      <li>
                        <label class="custom-checkbox custom-control custom-control-sm">
                          <span class="delete mdi mdi-delete"></span>
                          <input class="custom-control-input" type="checkbox">
                          <span class="custom-control-label">Initialize the project </span>
                        </label>
                      </li>
                      <li>
                        <label class="custom-checkbox custom-control custom-control-sm">
                          <span class="delete mdi mdi-delete"></span>
                          <input class="custom-control-input" type="checkbox">
                          <span class="custom-control-label">Create the main structure </span>
                        </label>
                      </li>
                      <li>
                        <label class="custom-checkbox custom-control custom-control-sm">
                          <span class="delete mdi mdi-delete"></span>
                          <input class="custom-control-input" type="checkbox">
                          <span class="custom-control-label">Updates changes to GitHub </span>
                        </label>
                      </li>
                      <li>
                        <label class="custom-checkbox custom-control custom-control-sm">
                          <span class="delete mdi mdi-delete"></span>
                          <input class="custom-control-input" type="checkbox">
                          <span class="custom-control-label" title="This task is too long to be displayed in a normal space!">This
                            task is too long to be displayed in a normal space! </span>
                        </label>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="bottom-input">
                <input type="text" placeholder="Create new task..." name="q">
                <span class="mdi mdi-plus"></span>
              </div>
            </div>
          </div>
          <div class="tab-pane tab-settings" id="tab3" role="tabpanel">
            <div class="settings-wrapper">
              <div class="be-scroller-settings">
                <span class="category-title">General</span>
                <ul class="settings-list">
                  <li>
                    <div class="switch-button switch-button-sm">
                      <input type="checkbox" checked="" name="st1" id="st1">
                      <span>
                        <label for="st1"></label>
                      </span>
                    </div>
                    <span class="name">Available</span>
                  </li>
                  <li>
                    <div class="switch-button switch-button-sm">
                      <input type="checkbox" checked="" name="st2" id="st2">
                      <span>
                        <label for="st2"></label>
                      </span>
                    </div>
                    <span class="name">Enable notifications</span>
                  </li>
                  <li>
                    <div class="switch-button switch-button-sm">
                      <input type="checkbox" checked="" name="st3" id="st3">
                      <span>
                        <label for="st3"></label>
                      </span>
                    </div>
                    <span class="name">Login with Facebook</span>
                  </li>
                </ul>
                <span class="category-title">Notifications</span>
                <ul class="settings-list">
                  <li>
                    <div class="switch-button switch-button-sm">
                      <input type="checkbox" name="st4" id="st4">
                      <span>
                        <label for="st4"></label>
                      </span>
                    </div>
                    <span class="name">Email notifications</span>
                  </li>
                  <li>
                    <div class="switch-button switch-button-sm">
                      <input type="checkbox" checked="" name="st5" id="st5">
                      <span>
                        <label for="st5"></label>
                      </span>
                    </div>
                    <span class="name">Project updates</span>
                  </li>
                  <li>
                    <div class="switch-button switch-button-sm">
                      <input type="checkbox" checked="" name="st6" id="st6">
                      <span>
                        <label for="st6"></label>
                      </span>
                    </div>
                    <span class="name">New comments</span>
                  </li>
                  <li>
                    <div class="switch-button switch-button-sm">
                      <input type="checkbox" name="st7" id="st7">
                      <span>
                        <label for="st7"></label>
                      </span>
                    </div>
                    <span class="name">Chat messages</span>
                  </li>
                </ul>
                <span class="category-title">Workflow</span>
                <ul class="settings-list">
                  <li>
                    <div class="switch-button switch-button-sm">
                      <input type="checkbox" name="st8" id="st8">
                      <span>
                        <label for="st8"></label>
                      </span>
                    </div>
                    <span class="name">Deploy on commit</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</div>
<%= content_for :javascript do %>
<script type="text/javascript">
  App.init();
  App.formElements();

  stop_preloader();
</script>
<% end %>