<%= render 'admin/shared/map' %>

<div style='width: 800px;margin:0 auto;'>
  <input id="pac-input" class="controls" type="text" placeholder="Search Box">
  <div id="map_client" style='width: 800px; height: 400px;'></div>
</div>

<script>
  var $lonCompanyLocation = $('#company_location_lon'),
      $latCompanyLocation = $('#company_location_lat')

	var myLatlng = initCoords($latCompanyLocation, $lonCompanyLocation);

  setClientPosition(myLatlng);

	function initMapClient() {
	  // Create a map object and specify the DOM element for display.
	  var map = new google.maps.Map(document.getElementById('map_client'), {
	    center: myLatlng,
	    scrollwheel: false,
	    zoom: 12,
	    mapTypeId:google.maps.MapTypeId.ROADMAP,
      disableDefaultUI: true,
      zoomControl: true,
      scaleControl: true
	  });

    // Add the circle for this city to the map.
    var circle = new google.maps.Circle({
      strokeColor: '#FF0000',
      strokeOpacity: 0.8,
      strokeWeight: 2,
      fillColor: '#FF0000',
      clickable: false,
      fillOpacity: 0.35,
      map: map,
      center: myLatlng
    });


	  var marker = new google.maps.Marker({
	    position: myLatlng,
	    map: map
	  });

    var searchBox = new google.maps.places.SearchBox(document.getElementById('pac-input'));
    map.controls[google.maps.ControlPosition.TOP_CENTER].push(document.getElementById('pac-input'));
    google.maps.event.addListener(searchBox, 'places_changed', function() {
      searchBox.set('map', null);

      var places = searchBox.getPlaces(),
          bounds = new google.maps.LatLngBounds(),
          i, place;

      for (i = 0; place = places[i]; i++) {
        (function(place) {
          var location = place.geometry.location;

          marker.setPosition(location);
          circle.setCenter(location)
          setClientPosition(location)
          bounds.extend(location);
        }(place));

      }
      map.fitBounds(bounds);
      searchBox.set('map', map);
      map.setZoom(Math.min(map.getZoom(),12));
    });

	  google.maps.event.addListener(map, 'click', function(e) {
	  	positions = { lat: e.latLng.lat(), lng: e.latLng.lng() }
	  	marker.setPosition(positions);
      circle.setCenter(positions)
	  	setClientPosition(positions);
	  });

	  var infowindow = new google.maps.InfoWindow({
	    content: "Last updated: " + '12.01.2017'
	  });

	  google.maps.event.addListener(marker, 'click', function() {
	  	infowindow.open(map, marker);
	  });
	}

	initMapClient();

  function setClientPosition(positions) {
		$lonCompanyLocation.val(positions.lng);
		$latCompanyLocation.val(positions.lat);
	}

  function initCoords(lat, lon) {
    var coordinates;

    if (lat.val().length && lon.val().length) {
      coordinates = { lat: parseFloat(lat.val()), lng: parseFloat(lon.val()) };
    } else {
      coordinates = { lat: 42.833177, lng: 74.616377 };
    }

    return coordinates;
  }

  function calcDistance (fromLat, fromLng, toLat, toLng) {
      return google.maps.geometry.spherical.computeDistanceBetween(
        new google.maps.LatLng(fromLat, fromLng), new google.maps.LatLng(toLat, toLng));
   }
</script>
