<table class="index_table index">
  <header>
    <tr>
      <th>Id</th>
      <th>Created at</th>
      <th>Arrival date</th>
      <th>Amount</th>
      <th>Currency</th>
      <th>Status</th>
    </tr>
  </header>
   <% @payouts.each_with_index do |payout, index| %>
     <% if index%2 == 0 %>
       <tr class="odd">
         <td><%= index+1 %></td>
         <td><%= from_timestamp_to_date(payout.created) %></td>
         <td><%= from_timestamp_to_date(payout.arrival_date) %></td>
         <td><%= (payout.amount/100).to_f %></td>
         <td><%= payout.currency %></td>
         <td>
           <b>
             <span class="<%= color_of(payout.status) %>"><%= payout.status %></span>
           </b>
         </td>
       </tr>
     <% else %>
       <tr class="even">
         <td><%= index+1 %></td>
         <td><%= from_timestamp_to_date(payout.created) %></td>
         <td><%= from_timestamp_to_date(payout.arrival_date) %></td>
         <td><%= (payout.amount/100).to_f %></td>
         <td><%= payout.currency %></td>
         <td>
           <b>
             <span class="<%= color_of(payout.status) %>"><%= payout.status %></span>
           </b>
         </td>
       </tr>
     <% end %>
   <% end %>
</table>
