<div class="be-wrapper be-fixed-sidebar">
  <%= render partial: 'admin/panel/partials/header' %>

  <%= render partial: 'admin/panel/partials/sidebar' %>

  <div class="be-content">
    <div class="page-head">
      <h2 class="page-head-title">Pro feedbacks</h2>
      <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb page-head-nav">
          <li class="breadcrumb-item"><a href="<%= admin_panel_path %>">Home</a></li>
          <li class="breadcrumb-item"><a href="<%= admin_panel_pro_feedbacks_path %>">Pro feedbacks</a></li>
          <li class="breadcrumb-item active">List</li>
        </ol>
      </nav>
    </div>
    <div class="main-content container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card card-table">
            <%= form_tag admin_panel_pro_feedbacks_path, method: :get, id: 'pro_feedback_filters_form' do%>
              <div class="row table-filters-container">
               <div class="col-4 col-lg-4 table-filters pb-0 pb-xl-4 filter_blocks">
                  <div class="row">
                    <div class="col-12 col-lg-12 table-filters pb-0 pb-xl-5" style="padding-top: 0; padding-bottom: 0 !important;"><span class="table-filter-title title_filter">Order</span>
                      <div class="filter-container">
                        <label class="control-label">Find by order:</label>
                        <div class="row">
                          <div class="col-12">
                            <%= select_tag :order_item_id, options_for_select(OrderItem.all.map{ |order| ["Order #{order.id}", order.id] }, params[:order_item_id]), { class: 'select2 select2-hidden-accessible order_item_id', id: 'order_item_id' } %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-4 col-lg-4 table-filters pb-0 pb-xl-4 filter_blocks">
                  <div class="row">
                    <div class="col-12 col-lg-12 table-filters pb-0 pb-xl-5" style="padding-top: 0; padding-bottom: 0 !important;"><span class="table-filter-title title_filter">Client</span>
                      <div class="filter-container">
                        <label class="control-label">Find by client:</label>
                        <div class="row">
                          <div class="col-12">
                            <%= select_tag :client_id, options_for_select(User::Client.all.map{ |client| [client.name, client.id] }, params[:client_id]), { class: 'select2 select2-hidden-accessible client_id', id: 'client_id' } %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-4 col-lg-4 table-filters pb-0 pb-xl-4 filter_blocks">
                  <div class="row">
                    <div class="col-12 col-lg-12 table-filters pb-0 pb-xl-5" style="padding-top: 0; padding-bottom: 0 !important;"><span class="table-filter-title title_filter">Pro</span>
                      <div class="filter-container">
                        <label class="control-label">Find by pro:</label>
                        <div class="row">
                          <div class="col-12">
                            <%= select_tag :serviceman_id, options_for_select(User::ServiceMan.all.map{ |pro| [pro.name, pro.id] }, params[:serviceman_id]), { class: 'select2 select2-hidden-accessible serviceman_id', id: 'serviceman_id' } %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-4 col-lg-4 table-filters pb-0 pb-xl-4 filter_blocks">
                  <div class="row">
                    <div class="col-12 col-lg-12 table-filters pb-0 pb-xl-5" style="padding-top: 0; padding-bottom: 0 !important;"><span class="table-filter-title title_filter">Message</span>
                      <div class="filter-container">
                        <label class="control-label">Find by message:</label>
                        <div class="row">
                          <div class="col-6">
                            <%= select_tag :message_filter, options_for_select(get_filter_options, params[:message_filter]), { class: 'select2 select2-hidden-accessible message_filter' } %>
                          </div>
                          <div class="col-6">
                            <%= text_field_tag :message, params[:message], class: 'form-control form-control-sm message' %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-4 col-lg-4 table-filters pb-0 pb-xl-4 filter_blocks">
                  <div class="row">
                    <div class="col-12 col-lg-12 table-filters pb-0 pb-xl-5" style="padding-top: 0; padding-bottom: 0 !important;"><span class="table-filter-title title_filter">Rating</span>
                      <div class="filter-container">
                        <label class="control-label">Find by rating:</label>
                        <div class="row">
                          <div class="col-6">
                            <%= select_tag :rating_filter, options_for_select(get_number_filter_options, params[:rating_filter]), { class: 'select2 select2-hidden-accessible rating_filter' } %>
                          </div>
                          <div class="col-6">
                            <%= text_field_tag(:rating, params[:rating], class: 'form-control form-control-sm rating') %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-lg-12 table-filters pb-0 pb-xl-4 filter_buttons">
                  <div class="row">
                    <div class="col-12 col-lg-12 table-filters filter_blocks">
                      <div class="filter-container">
                        <%= submit_tag('Filter', type: 'submit', class: 'btn btn-space btn-primary') %>
                        <%= submit_tag('Reset', type: 'cancel', class: 'btn btn-space btn-secondary reset_pro_feedback_filters') %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
            <div class="card-body">
              <div class="noSwipe">
                <table class="table table-striped table-hover be-table-responsive" id="table1">
                  <thead>
                  <tr>
                    <th>
                      <label class="custom-control custom-control-sm custom-checkbox">
                        <input class="custom-control-input" type="checkbox"><span class="custom-control-label"></span>
                      </label>
                    </th>
                    <th>Id</th>
                    <th>Order</th>
                    <th>Client</th>
                    <th>Pro</th>
                    <th>Rating</th>
                    <th>Comment</th>
                  </tr>
                  </thead>
                  <tbody>
                  <% @master_feedbacks.each do |master_feedback| %>
                    <tr class="success done">
                      <td>
                        <label class="custom-control custom-control-sm custom-checkbox">
                          <input class="custom-control-input" type="checkbox"><span class="custom-control-label"></span>
                        </label>
                      </td>
                      <td class="cell-detail"><span><a href="<%= admin_panel_pro_feedback_path(master_feedback.id) %>"><%= master_feedback.id %></a></span></td>
                      <% if master_feedback.order_item.present? %>
                        <td class="cell-detail"><span><%= link_to "Order #{master_feedback.order_item.id}", admin_panel_order_item_path(master_feedback.order_item)  %></span></td>
                        <td class="cell-detail"><span><%= link_to master_feedback.order_item.client.name, admin_panel_client_path(master_feedback.order_item.client) if master_feedback.order_item.client.present? %></span></td>
                        <td class="cell-detail"><span><%= link_to master_feedback.order_item.master.name, admin_panel_pro_path(master_feedback.order_item.master) if master_feedback.order_item.master.present? %></span></td>
                      <% end %>
                      <td class="cell-detail">
                        <span>
                           <% master_feedback.rating.times do  %>
                              ☆
                           <% end %>
                        </span>
                      </td>
                      <td class="cell-detail"><span><%= master_feedback.message %></span></td>
                      <td class="text-right">
                        <div class="btn-group btn-hspace">
                          <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">Actions
                            <span class="icon-dropdown mdi mdi-chevron-down"></span></button>
                          <div class="dropdown-menu" role="menu">
                            <a class="dropdown-item" href="<%= admin_panel_pro_feedback_path(master_feedback) %>">Show</a>
                          </div>
                        </div>
                      </td>
                    </tr>
                  <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5"></div>
        <div class="col-md-7">
          <div class="card" style="float: right">
            <div class="card-header"></div>
            <div class="card-body">
              <%= paginate @master_feedbacks %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= render partial: 'admin/panel/partials/navigation_bar' %>
</div>
<%= content_for :javascript do %>
  <script type="text/javascript">
    App.init();
    App.formElements();
    stop_preloader();

    $('.reset_pro_feedback_filters').on('click', function(){
      $('#pro_feedback_filters_form')[0].reset();
      window.location.href = '/admin/panel/pro_feedbacks'
    });

    <% unless params[:client_id].present? %>
      $('#client_id').val('').trigger('change');
    <% end %>

    <% unless params[:serviceman_id].present? %>
      $('#serviceman_id').val('').trigger('change');
    <% end %>

    <% unless params[:order_item_id].present? %>
      $('#order_item_id').val('').trigger('change');
    <% end %>

    <%= render partial: 'admin/panel/partials/flash_msg' %>
  </script>
<% end %>