<div class="be-wrapper be-fixed-sidebar">
  <%= render partial: 'admin/panel/partials/header' %>

  <%= render partial: 'admin/panel/partials/sidebar' %>

  <div class="be-content">
    <div class="page-head">
      <h2 class="page-head-title">Pro feedbacks</h2>
      <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb page-head-nav">
          <li class="breadcrumb-item"><a href="<%= admin_panel_path %>">Home</a></li>
          <li class="breadcrumb-item"><a href="<%= admin_panel_pro_feedbacks_path %>">Pro feedbacks</a></li>
          <li class="breadcrumb-item active">Show</li>
        </ol>
      </nav>
    </div>
    <div class="main-content container-fluid">
      <div class="user-profile">
        <div class="row">
          <div class="col-lg-12">
            <div class="user-info-list card">
              <div class="card-header card-header-divider">Pro feedback
                <span class="card-subtitle">
                </span>
              </div>
              <div class="card-body">
                <table class="no-border no-strip skills">
                  <tbody class="no-border-x no-border-y">
                  <tr>
                    <td class="icon"><span class="mdi mdi-case"></span></td>
                    <td class="item">Id<span class="icon s7-portfolio"></span></td>
                    <td><%= @master_feedback.id %></td>
                  </tr>
                  <tr>
                    <td class="icon"><span class="mdi mdi-case"></span></td>
                    <td class="item">Order<span class="icon s7-portfolio"></span></td>
                    <td><%= link_to "Order #{@master_feedback.order_item.id}", admin_panel_order_item_path(@master_feedback.order_item)  %></td>
                  </tr>
                  <tr>
                    <td class="icon"><span class="mdi mdi-case"></span></td>
                    <td class="item">Client<span class="icon s7-portfolio"></span></td>
                    <td><%= link_to @master_feedback.order_item.client.name, admin_panel_client_path(@master_feedback.order_item.client) if @master_feedback.order_item.client.present? %></td>
                  </tr>
                  <tr>
                    <td class="icon"><span class="mdi mdi-cake"></span></td>
                    <td class="item">Pro<span class="icon s7-gift"></span></td>
                    <td><%= link_to @master_feedback.order_item.master.name, admin_panel_pro_path(@master_feedback.order_item.master) if @master_feedback.order_item.master.present? %></td>
                  </tr>
                  <tr>
                    <td class="icon"><span class="mdi mdi-cake"></span></td>
                    <td class="item">Rating<span class="icon s7-gift"></span></td>
                    <td>
                      <div class="rating">
                        <% @master_feedback.rating.times do  %>
                          <span>☆</span>
                        <% end %>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td class="icon"><span class="mdi mdi-cake"></span></td>
                    <td class="item">Message<span class="icon s7-gift"></span></td>
                    <td><%= @master_feedback.message %></td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
  <%= render partial: 'admin/panel/partials/navigation_bar' %>
</div>
<%= content_for :javascript do %>
  <script type="text/javascript">
    App.init();
    App.formElements();
    // App.tableFilters();
    stop_preloader();

    <%= render partial: 'admin/panel/partials/flash_msg' %>
  </script>
<% end %>