<div class="be-wrapper be-fixed-sidebar">
  <%= render partial: 'admin/panel/partials/header' %>

  <%= render partial: 'admin/panel/partials/sidebar' %>

  <div class="be-content">
    <div class="page-head">
      <h2 class="page-head-title">Sms histories</h2>
      <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb page-head-nav">
          <li class="breadcrumb-item"><a href="<%= admin_panel_path %>">Home</a></li>
          <li class="breadcrumb-item"><a href="<%= admin_panel_sms_histories_path %>">Sms histories</a></li>
          <li class="breadcrumb-item active">Edit</li>
        </ol>
      </nav>
    </div>
    <div class="main-content container-fluid">
      <div class="card card-border-color card-border-color-primary">
        <div class="card-header card-header-divider">New banner</div>
        <div class="card-body">
          <%= form_for @sms_history, url: admin_panel_sms_history_path, method: :put do |f| %>
            <div class="form-group row mt-2">
              <label class="col-3 col-lg-2 col-form-label text-right" for="inputTitle">Phone number</label>
              <div class="col-9 col-lg-10">
                <%= f.text_field :phone_number, class: 'form-control', required: true, placeholder: 'Phone number' %>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-3 col-lg-2 col-form-label text-right">Code</label>
              <div class="col-9 col-lg-10">
                <%= f.text_field :code, class: 'form-control', required: true, placeholder: 'Code' %>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-3 col-lg-2 col-form-label text-right" for="inputPasswordConfirmation">Status</label>
              <div class="col-9 col-lg-10">
                <label class="be-checkbox custom-control custom-checkbox">
                  <%= f.check_box :status, class: 'custom-control-input' %>
                  <span class="custom-control-label"></span>
                </label>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-3 col-lg-2 col-form-label text-right">Client</label>
              <div class="col-9 col-lg-10">
                <%= f.select :client_id, User::Client.all.map { |client| [ client.name, client.id ]}, {}, class: 'form-control' %>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-3 col-lg-2 col-form-label text-right">Pro</label>
              <div class="col-9 col-lg-10">
                <%= f.select :master_id, User::ServiceMan.all.map { |master| [ master.name, master.id ]}, {}, class: 'form-control' %>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-3 col-lg-2"></div>
              <div class="col-9 col-lg-10">
                <%= f.submit class: 'btn btn-space btn-primary btn-lg' %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <%= render partial: 'admin/panel/partials/navigation_bar' %>
</div>
<%= content_for :javascript do %>
  <script type="text/javascript">
    App.init();
    App.formElements();
    // App.tableFilters();
    stop_preloader();

    <%= render partial: 'admin/panel/partials/flash_msg' %>
  </script>
<% end %>