<div class="be-wrapper be-fixed-sidebar">
  <%= render partial: 'admin/panel/partials/header' %>

  <%= render partial: 'admin/panel/partials/sidebar' %>

  <div class="be-content">
    <div class="page-head">
      <h2 class="page-head-title">Sms histories</h2>
      <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb page-head-nav">
          <li class="breadcrumb-item"><a href="<%= admin_panel_path %>">Home</a></li>
          <li class="breadcrumb-item"><a href="<%= admin_panel_sms_histories_path %>">Sms histories</a></li>
          <li class="breadcrumb-item active">List</li>
        </ol>
      </nav>
    </div>
    <div class="main-content container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card card-table">
            <%= form_tag admin_panel_sms_histories_path, method: :get, id: 'sms_history_filters_form' do%>
              <div class="row table-filters-container">
                <div class="col-4 col-lg-4 table-filters pb-0 pb-xl-4 filter_blocks">
                  <div class="row">
                    <div class="col-12 col-lg-12 table-filters pb-0 pb-xl-5" style="padding-top: 0; padding-bottom: 0 !important;"><span class="table-filter-title title_filter">Phone number</span>
                      <div class="filter-container">
                        <label class="control-label">Find by phone number:</label>
                        <div class="row">
                          <div class="col-6">
                            <%= select_tag :phone_number_filter, options_for_select(get_filter_options, params[:phone_number_filter]), { class: 'select2 select2-hidden-accessible phone_number_filter' } %>
                          </div>
                          <div class="col-6">
                            <%= text_field_tag :phone_number, params[:phone_number], class: 'form-control form-control-sm client_email' %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-4 col-lg-4 table-filters pb-0 pb-xl-4 filter_blocks">
                  <div class="row">
                    <div class="col-12 col-lg-12 table-filters pb-0 pb-xl-5" style="padding-top: 0; padding-bottom: 0 !important;"><span class="table-filter-title title_filter">Code</span>
                      <div class="filter-container">
                        <label class="control-label">Find by code:</label>
                        <div class="row">
                          <div class="col-6">
                            <%= select_tag :code_filter, options_for_select(get_number_filter_options, params[:code_filter]), { class: 'select2 select2-hidden-accessible code_filter' } %>
                          </div>
                          <div class="col-6">
                            <%= text_field_tag :code, params[:code], class: 'form-control form-control-sm code' %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-4 col-lg-4 table-filters pb-0 pb-xl-4 filter_blocks">
                  <div class="row">
                    <div class="col-12 col-lg-12 table-filters pb-0 pb-xl-5" style="padding-top: 0; padding-bottom: 0 !important;"><span class="table-filter-title title_filter">Status</span>
                      <div class="filter-container">
                        <label class="control-label">Find by status:</label>
                        <div class="row">
                          <div class="col-12">
                             <%= select_tag :status, options_for_select([['Yes', true], ['No', false]], params[:status]), { class: 'select2 select2-hidden-accessible status', id: 'status' } %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-4 col-lg-4 table-filters pb-0 pb-xl-4 filter_blocks">
                  <div class="row">
                    <div class="col-12 col-lg-12 table-filters pb-0 pb-xl-5" style="padding-top: 0; padding-bottom: 0 !important;"><span class="table-filter-title title_filter">Client</span>
                      <div class="filter-container">
                        <label class="control-label">Find by client:</label>
                        <div class="row">
                          <div class="col-12">
                            <%= select_tag :client_id, options_for_select(User::Client.all.map{ |client| [client.name, client.id] }, params[:client_id]), { class: 'select2 select2-hidden-accessible client_id', id: 'client_id' } %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-4 col-lg-4 table-filters pb-0 pb-xl-4 filter_blocks">
                  <div class="row">
                    <div class="col-12 col-lg-12 table-filters pb-0 pb-xl-5" style="padding-top: 0; padding-bottom: 0 !important;"><span class="table-filter-title title_filter">Pro</span>
                      <div class="filter-container">
                        <label class="control-label">Pro:</label>
                        <div class="row">
                          <div class="col-12">
                            <%= select_tag :master_id, options_for_select(User::ServiceMan.all.map{ |pro| [pro.name, pro.id] }, params[:master_id]), { class: 'select2 select2-hidden-accessible master_id', id: 'master_id' } %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-lg-12 table-filters pb-0 pb-xl-4 filter_buttons">
                  <div class="row">
                    <div class="col-12 col-lg-12 table-filters filter_blocks">
                      <div class="filter-container">
                        <%= submit_tag('Filter', type: 'submit', class: 'btn btn-space btn-primary') %>
                        <%= submit_tag('Reset', type: 'cancel', class: 'btn btn-space btn-secondary reset_sms_history_filters') %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
            <div class="card-body">
              <div class="noSwipe">
                <table class="table table-striped table-hover be-table-responsive" id="table1">
                  <thead>
                  <tr>
                    <th>
                      <label class="custom-control custom-control-sm custom-checkbox">
                        <input class="custom-control-input" type="checkbox"><span class="custom-control-label"></span>
                      </label>
                    </th>
                    <th>id</th>
                    <th>Client</th>
                    <th>Master</th>
                    <th>Phone number</th>
                    <th>Code</th>
                    <th>Status</th>
                  </tr>
                  </thead>
                  <tbody class="sortable">
                  <% @sms_histories.each do |sms_history| %>
                    <tr class="success done">
                      <td>
                        <label class="custom-control custom-control-sm custom-checkbox">
                          <input class="custom-control-input" type="checkbox"><span class="custom-control-label"></span>
                        </label>
                      </td>
                      <td class="cell-detail"><span><a href="<%= admin_panel_sms_history_path(sms_history.id) %>"><%= sms_history.id %></a></span></td>
                      <td class="cell-detail"><span><%= link_to(sms_history.client.name, admin_panel_client_path(sms_history.client.id)) if sms_history.client.present? %></span></td>
                      <td class="cell-detail"><span><%= link_to(sms_history.master.name, admin_panel_pro_path(sms_history.master.id)) if sms_history.master.present? %></span></td>
                      <td class="cell-detail"><span><%= sms_history.phone_number %></span></td>
                      <td class="cell-detail"><span><%= sms_history.code %></span></td>
                      <td class="cell-detail"><span><%= sms_history.status? ? 'Yes' : 'No' %></span></td>
                      <td class="text-right">
                        <div class="btn-group btn-hspace">
                          <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">Actions
                            <span class="icon-dropdown mdi mdi-chevron-down"></span></button>
                          <div class="dropdown-menu" role="menu">
                            <a class="dropdown-item" href="<%= admin_panel_sms_history_path(sms_history) %>">Show</a>
                            <a class="dropdown-item" href="<%= edit_admin_panel_sms_history_path(sms_history) %>">Edit</a>
                            <a class="dropdown-item" href="<%= admin_panel_sms_history_path(sms_history) %>" data-method="delete" data-confirm="Are you sure?">Delete</a>
                          </div>
                        </div>
                      </td>
                    </tr>
                  <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5"></div>
        <div class="col-md-7">
          <div class="card" style="float: right">
            <div class="card-header"></div>
            <div class="card-body">
              <%= paginate @sms_histories %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= render partial: 'admin/panel/partials/navigation_bar' %>
</div>
<%= content_for :javascript do %>
  <script type="text/javascript">
    App.init();
    App.formElements();
    stop_preloader();

    $('.reset_sms_history_filters').on('click', function(){
      $('#sms_history_filters_form')[0].reset();
      window.location.href = '/admin/panel/sms_histories'
    });

    <% unless params[:client_id] %>
      $('#client_id').val('').trigger('change');
    <% end %>

    <% unless params[:master_id] %>
      $('#master_id').val('').trigger('change');
    <% end %>

    <% unless params[:status] %>
      $('#status').val('').trigger('change');
    <% end %>

    <%= render partial: 'admin/panel/partials/flash_msg' %>
  </script>
<% end %>