<div class="be-wrapper be-fixed-sidebar">
  <%= render partial: 'admin/panel/partials/header' %>

  <%= render partial: 'admin/panel/partials/sidebar' %>

  <div class="be-content">
    <div class="page-head">
      <h2 class="page-head-title">Sms histories</h2>
      <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb page-head-nav">
          <li class="breadcrumb-item"><a href="<%= admin_panel_path %>">Home</a></li>
          <li class="breadcrumb-item"><a href="<%= admin_panel_sms_histories_path %>">Sms histories</a></li>
          <li class="breadcrumb-item active">Show</li>
        </ol>
      </nav>
    </div>
    <div class="main-content container-fluid">
      <div class="user-profile">
        <div class="row">
          <div class="col-lg-10">
            <div class="user-info-list card">
              <div class="card-header card-header-divider">Sms history
                <span class="card-subtitle">
                  <div class="icon-container">
                    <a href="<%= edit_admin_panel_sms_history_path(@sms_history)%>">
                      <div class="icon"><span class="mdi mdi-edit"></span></div>
                      <span class="icon-class">Edit</span>
                    </a>
                  </div>
                </span>
              </div>
              <div class="card-body">
                <table class="no-border no-strip skills">
                  <tbody class="no-border-x no-border-y">
                  <tr>
                    <td class="icon"><span class="mdi mdi-case"></span></td>
                    <td class="item">Client<span class="icon s7-portfolio"></span></td>
                    <td><%= link_to(@sms_history.client.name, admin_panel_client_path(@sms_history.client.id)) if @sms_history.client.present? %></td>
                  </tr>
                  <tr>
                    <td class="icon"><span class="mdi mdi-case"></span></td>
                    <td class="item">Master<span class="icon s7-portfolio"></span></td>
                    <td><%= link_to(@sms_history.master.name, admin_panel_pro_path(@sms_history.master.id)) if @sms_history.master.present? %></td>
                  </tr>
                  <tr>
                    <td class="icon"><span class="mdi mdi-case"></span></td>
                    <td class="item">Phone number<span class="icon s7-portfolio"></span></td>
                    <td><%= @sms_history.phone_number %></td>
                  </tr>
                  <tr>
                    <td class="icon"><span class="mdi mdi-case"></span></td>
                    <td class="item">Code<span class="icon s7-portfolio"></span></td>
                    <td><%= @sms_history.code %></td>
                  </tr>
                  <tr>
                    <td class="icon"><span class="mdi mdi-case"></span></td>
                    <td class="item">Status<span class="icon s7-portfolio"></span></td>
                    <td><%= @sms_history.status? ? 'Yes' : 'No' %></td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
  <%= render partial: 'admin/panel/partials/navigation_bar' %>
</div>
<%= content_for :javascript do %>
  <script type="text/javascript">
    App.init();
    App.formElements();
    // App.tableFilters();
    stop_preloader();

    <%= render partial: 'admin/panel/partials/flash_msg' %>
  </script>
<% end %>