<li class="page-item">
  <%= link_to_unless current_page.first?, t('views.pagination.first').html_safe, url, :remote => remote, class: 'page-link' do %>
    <span class="mdi mdi-chevron-left" aria-hidden="true"></span>
  <% end %>
</li>
