<li class="page-item">
  <%= link_to_unless current_page.last?, t('views.pagination.last').html_safe, url, :remote => remote, class: 'page-link' do %>
    <span class="mdi mdi-chevron-left" aria-hidden="true"></span>
  <% end %>
</li>

<span class="last">

</span>
