<li class="page-item">
  <%= link_to_unless current_page.last?, t('views.pagination.next').html_safe, url, :rel => 'next', :remote => remote, class: 'page-link' do %>
    <span class="mdi mdi-chevron-right" aria-hidden="true"></span>
  <% end %>
</li>
