<li class="page-item<%= ' active' if page.current? %>">
  <%= link_to_unless page.blank?, page, url, {:remote => remote, :rel => page.next? ? 'next' : page.prev? ? 'prev' : nil, class: 'page-link'} %>
</li>