<li class="page-item">
  <%= link_to_unless current_page.first?, t('views.pagination.previous').html_safe, url, :rel => 'prev', :remote => remote, class: 'page-link' do%>
    <span class="mdi mdi-chevron-right" aria-hidden="true"></span>
  <% end %>
</li>
