<div class="be-wrapper be-fixed-sidebar">
  <%= render partial: 'admin/panel/partials/header' %>

  <%= render partial: 'admin/panel/partials/sidebar' %>

  <div class="be-content">
    <div class="page-head">
      <h2 class="page-head-title">Join Pros</h2>
      <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb page-head-nav">
          <li class="breadcrumb-item"><a href="<%= admin_panel_path %>">Home</a></li>
          <li class="breadcrumb-item"><a href="<%= admin_panel_join_pros_path %>">Join Pro</a></li>
          <li class="breadcrumb-item active">Show</li>
        </ol>
      </nav>
    </div>
    <div class="main-content container-fluid">
      <div class="user-profile">
        <div class="row">
          <div class="col-lg-10">
            <div class="user-info-list card">
              <div class="card-header card-header-divider">Join Pro
                <span class="card-subtitle">
                </span>
              </div>
              <div class="card-body">
                <table class="no-border no-strip skills">
                  <tbody class="no-border-x no-border-y">
                  <tr>
                    <td class="icon"><span class="mdi mdi-case"></span></td>
                    <td class="item">Id<span class="icon s7-portfolio"></span></td>
                    <td><%= @draft_master.id %></td>
                  </tr>
                  <tr>
                    <td class="icon"><span class="mdi mdi-case"></span></td>
                    <td class="item">Name<span class="icon s7-portfolio"></span></td>
                    <td><%= @draft_master.name%></td>
                  </tr>
                  <tr>
                    <td class="icon"><span class="mdi mdi-cake"></span></td>
                    <td class="item">Phone number<span class="icon s7-gift"></span></td>
                    <td><%= @draft_master.phone_number %></td>
                  </tr>
                  <tr>
                    <td class="icon"><span class="mdi mdi-cake"></span></td>
                    <td class="item">Email<span class="icon s7-gift"></span></td>
                    <td><%= @draft_master.email %></td>
                  </tr>
                  <tr>
                    <td class="icon"><span class="mdi mdi-cake"></span></td>
                    <td class="item">ID document<span class="icon s7-gift"></span></td>
                    <td>
                      <% if is_image?(@draft_master.id_document) %>
                        <%= image_tag(image_path(@draft_master.id_document), class: 'after_work') %>
                      <% end %>
                    </td>
                  </tr>
                  <tr>
                    <td class="icon"><span class="mdi mdi-cake"></span></td>
                    <td class="item">CV<span class="icon s7-gift"></span></td>
                    <td>
                      <%= @draft_master.cv.inject("") {|links, data| links += content_tag :li, is_image?(data) ? image_tag(image_path(data), class: 'after_work') : link_to('PDF', data)}.html_safe %>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
  <%= render partial: 'admin/panel/partials/navigation_bar' %>
</div>
<%= content_for :javascript do %>
  <script type="text/javascript">
    App.init();
    App.formElements();
    // App.tableFilters();
    stop_preloader();

    <%= render partial: 'admin/panel/partials/flash_msg' %>
  </script>
<% end %>