<div id="preloader">
  <div id="status">&nbsp;</div>
</div>

<div class="">
  <table>
    <tr>
      <td class="timetable_active_orders">Active orders</td>
      <td class="timetable_available_orders">Available orders</td>
      <td class="timetable_completed_orders">Completed orders</td>
    </tr>
  </table>
</div>
<div id='calendar'></div>

<script type="text/javascript">
  var master_id = <%= master_id %>
  var orders = <%= raw orders.to_json %>

  $('#calendar').fullCalendar({
    schedulerLicenseKey: 'GPL-My-Project-Is-Open-Source',
    editable: true, // enable draggable events
    aspectRatio: 2.3,
    scrollTime: '07:00', // undo default 6am scrollTime
    header: {
      left: 'today prev,next',
      center: 'title',
      right: 'agendaWeek,month'
    },
    defaultView: 'agendaWeek',

    events: function(start, end, tz, callback) {
      _events = list_events_arr()

      callback(_events);
    },

    eventClick: function(event, _jsEvent, _view) {
      if (event.id && event.status == 'searching') {
        window.location.href = `/admin/order_items/${event.id}?pro=${master_id}`;
      } else if (event.id && event.status != 'searching') {
        window.location.href = `/admin/order_items/${event.id}`;
      }
    },

    eventRender: function(event, element) {
      element.find('.fc-title').append("<br/><hr/>" + event.description);
    },

    eventDrop: function(event,delta,revertFunc) {
      if (!confirm("You want move the order?")) {
        revertFunc()
        stop_preloader()
      } else {
        $.ajax({
          method: 'POST',
          data: {
            format: event.id,
            days: delta._days,
            milliseconds: delta._milliseconds
          },
          url: "<%= update_order_time_admin_order_items_path %>",
          success: function() {
            stop_preloader()
          },
          error: function(data) {
            alert("Server error!")

            revertFunc();
            stop_preloader()
          }
        })
      }
      start_preloader()
    }
  });

  stop_preloader()

//  ----- functions ----

  function  list_events_arr(){
    _events = []

    <% available_orders.each do |item| %>
      if(new Date("<%= item.order_time %>").getTime() < Date.now()) {
        _events.push({
          id: <%= item.id %>,
          start: new Date("<%= item.order_time %>"),
          end: new Date("<%= item.duration_date %>"),
          title: "Order - <%= item.id %>",
          description: "<%= item.description %>",
          status: "<%= item.status %>",
          backgroundColor: 'red'
        })
      } else {
        _events.push({
          id: <%= item.id %>,
          start: new Date("<%= item.order_time %>"),
          end: new Date("<%= item.duration_date %>"),
          title: "Order - <%= item.id %>",
          description: "<%= item.description %>",
          status: "<%= item.status %>"
        })
      }
    <% end %>

    <% orders.each do |item| %>
      _events.push({
        id: <%= item.id %>,
        start: new Date("<%= item.order_time %>"),
        end: new Date("<%= item.duration_date %>"),
        title: "Order - <%= item.id %>",
        description: "<%= item.description %>",
        status: "<%= item.status %>",
        backgroundColor: 'green'
      })
    <% end %>

    <% completed_orders.each do |item| %>
      _events.push({
        id: <%= item.id %>,
        start: new Date("<%= item.order_time %>"),
        end: new Date("<%= item.duration_date %>"),
        title: "Order - <%= item.id %>",
        description: "<%= item.description %>",
        status: "<%= item.status %>",
        backgroundColor: 'gray'
      })
    <% end %>

    return _events
  }

  function stop_preloader() {
    $('#status').fadeOut(); // will first fade out the loading animation
    $('#preloader').delay(10).fadeOut('slow');
    $('body').delay(10).css({'overflow':'visible'});
  }

  function start_preloader() {
    $('#preloader').show()
    $('#status').show()
  }
</script>
