<%= render 'admin/shared/map' %>
<div class="be-wrapper be-fixed-sidebar">
  <%= render partial: 'admin/panel/partials/header' %>

  <%= render partial: 'admin/panel/partials/sidebar' %>

  <div class="be-content">
    <div class="page-head">
      <h2 class="page-head-title">Professionals</h2>
    </div>
    <div class="main-content container-fluid">
      <div class="card card-border-color card-border-color-primary">
        <div class="card-header card-header-divider">Pro form<span class="card-subtitle">Form for create pro</span></div>
        <div class="card-body">
          <%= form_for @pro, url: admin_panel_pros_path, method: :post do |f| %>
            <div class="form-group row mt-2">
              <label class="col-3 col-lg-2 col-form-label text-right" for="inputName">Name</label>
              <div class="col-9 col-lg-10">
                <%= f.text_field :name, class: 'form-control', required: true, id: 'inputName', placeholder: 'My company' %>
              </div>
            </div>
            <div class="form-group row mt-2">
              <label class="col-3 col-lg-2 col-form-label text-right" for="inputEmail">Companies</label>
              <div class="col-9 col-lg-10">
                <%= f.select(:company_id, Company.all.collect {|u| [u.title, u.id]}, {}, {:class => "form-control"}) %>
              </div>
            </div>
            <div class="form-group row mt-2">
              <label class="col-3 col-lg-2 col-form-label text-right" for="inputEmail">Email</label>
              <div class="col-9 col-lg-10">
                <%= f.text_field :email, class: 'form-control', required: true, id: 'inputEmail', placeholder: 'email@example.com' %>
                <%if @pro.errors.present?%>
                  <span class="error-block"><%= @pro.errors.messages.try(:[], :email).try(:first)%></span>
                <%end%>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-3 col-lg-2 col-form-label text-right" for="inputLastName">Last Name</label>
              <div class="col-9 col-lg-10">
                <%= f.text_field :last_name, class: 'form-control', id: 'inputLastName', placeholder: 'Miller' %>
                <%if @pro.errors.present?%>
                  <span class="error-block"><%= @pro.errors.messages.try(:[], :last_name).try(:first)%></span>
                <%end%>
              </div>
            </div>
            <div class="form-group row has-error">
              <label class="col-3 col-lg-2 col-form-label text-right" for="inputPhoneNumber">Phone number</label>
              <div class="col-9 col-lg-10">
                <%= f.text_field :phone_number, class: 'form-control', required: true, id: 'inputPhoneNumber', placeholder: '987654321' %>
                <%if @pro.errors.present?%>
                  <span class="error-block"><%= @pro.errors.messages.try(:[], :phone_number).try(:first)%></span>
                <%end%>
              </div>
            </div>
            <div class="form-group row mt-2">
              <label class="col-3 col-lg-2 col-form-label text-right">Transports</label>
              <div class="col-9 col-lg-10">
                <%= f.select :transport_ids, Transport.all.map { |transport| [transport.car, transport.id] }, {}, {:multiple => true, :class => "select2 select2-lg category", :style => "width:450px;"} %>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-3 col-lg-2 col-form-label text-right"> BDay </label>
              <div class="col-6 col-lg-6">
                <div class="input-group date datetimepicker" data-min-view="2" data-date-format="yyyy-mm-dd">
                  <%= f.text_field :b_day, class: 'form-control', size: 16 %>
                  <div class="input-group-append">
                    <button class="btn btn-primary"><i class="icon-th mdi mdi-calendar"></i></button>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-3 col-lg-2 col-form-label text-right"> Start Day work </label>
              <div class="col-6 col-lg-6">
                <div class="input-group date datetimepicker" data-min-view="2" data-date-format="yyyy-mm-dd">
                  <%= f.text_field :start_work_date, class: 'form-control', size: 16 %>
                  <div class="input-group-append">
                    <button class="btn btn-primary"><i class="icon-th mdi mdi-calendar"></i></button>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-3 col-lg-2 col-form-label text-right">Mobile</label>
              <div class="col-9 col-lg-10">
                <label class="custom-control custom-checkbox">
                  <%= f.check_box :mobile, class: 'custom-control-input' %>
                  <span class="custom-control-label"></span>
                </label>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-3 col-lg-2 col-form-label text-right">Use Bank Details</label>
              <div class="col-9 col-lg-10">
                <label class="custom-control custom-checkbox">
                  <%= f.check_box :use_bank_details, class: 'custom-control-input' %>
                  <span class="custom-control-label"></span>
                </label>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-3 col-lg-2 col-form-label text-right" for="inputPassword">Password</label>
              <div class="col-7 col-lg-8">
                <%= f.password_field :password, class: 'form-control', id: 'inputPassword', required: true %>
                <%if @pro.errors.present?%>
                  <span class="error-block"><%= @pro.errors.messages.try(:[], :password).try(:first)%></span>
                <%end%>
              </div>
              <div class="col-1 col-lg-2">
                <label>Show passwords</label>
                <label class="be-checkbox custom-control custom-checkbox">
                  <input class="custom-control-input show_password" type="checkbox"><span class="custom-control-label"></span>
                  <span class="custom-control-label"></span>
                </label>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-3 col-lg-2 col-form-label text-right" for="inputPasswordConfirmation">Password confirmation</label>
              <div class="col-9 col-lg-10">
                <%= f.password_field :password_confirmation, class: 'form-control', id: 'inputPasswordConfirmation', required: true %>
                <%if @pro.errors.present?%>
                  <span class="error-block"><%= @pro.errors.messages.try(:[], :password_confirmation).try(:first)%></span>
                <%end%>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-3 col-lg-2 col-form-label text-right">Avatar</label>
              <div class="col-7 col-lg-8">
                <%= f.file_field :image, class: 'form-control', placeholder: 'Avatar' %>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-3 col-lg-2 col-form-label text-right">District</label>
              <div class="col-7 col-lg-8">
                <%= f.select :district_id, District.all.map{ |district| [district.name, district.id] }, {},  class: 'select2 select2-lg form-control' %>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-3 col-lg-2 col-form-label text-right">Categories</label>
              <div class="col-9 col-lg-10">
                <input type="hidden" name="user_service_man[category_ids][]">
                <% Category.visible.each do |category| %>
                  <% if @pro.category_ids.include?(category.id) %>
                    <label class="custom-control custom-checkbox">
                      <input class="custom-control-input" name="user_service_man[category_ids][]" value="<%= category.id%>" type="checkbox" checked><span class="custom-control-label"><%= category.title%></span>
                    </label>
                  <% else %>
                    <label class="custom-control custom-checkbox">
                      <input class="custom-control-input" name="user_service_man[category_ids][]" value="<%= category.id%>" type="checkbox"><span class="custom-control-label"><%= category.title%></span>
                    </label>
                  <% end %>
                <% end %>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <div class="card">
                  <div class="card-header card-header-divider">Coordinates
                    <span class="card-subtitle">Set coordinates for your company location</span>
                  </div>
                  <div class="card-body">
                    <%= f.hidden_field :lat, class: 'create_pro-lat' %>
                    <%= f.hidden_field :lon, class: 'create_pro-lon' %>
                    
                    <input type="text"  class="controls parsley-error" id="pac-input" placeholder="Search Box" >
                    <div id="map_client" class="content" style="height: 350px;"></div>
                  </div>
                </div>
              </div>
            </div>
            <% ProInformation::DAYS.each do |key| %>
              <div class="form-group row">
                <label class="col-3 col-lg-2 col-form-label text-right"></label>
                <div class="col-12 col-sm-8 col-lg-6 mt-1">
                  <label class="custom-control custom-checkbox">
                    <input class="custom-control-input" name="[user_service_man][<%= key%>]" type="checkbox" ><span class="custom-control-label"><%= key %></span>
                  </label>
                  <select class="select2 select2-lg" name="[user_service_man][<%= key %>_start]">
                    <% ProInformation::HOURS.each do |hour| %>
                      <option value="<%= hour %>"><%= hour %></option>
                    <% end %>
                  </select>
                  <select class="select2 select2-lg" name="[user_service_man][<%= key %>_end]">
                    <% ProInformation::HOURS.each do |hour| %>
                      <option value="<%= hour %>"><%= hour %></option>
                    <% end %>
                  </select>
                </div>
              </div>
            <% end %>
            <div class="row pt-3 mt-1">
              <div class="col-sm-6 col-lg-6 pb-4 pb-lg-0">
                <label class="be-checkbox custom-control custom-checkbox">
                </label>
              </div>
              <div class="col-sm-6">
                <p class="text-right">
                  <button class="btn btn-space btn-primary" type="submit">Add Pro</button>
                </p>
              </div>
            </div>
          <%end %>
        </div>
      </div>
    </div>
  </div>
  <%= render partial: 'admin/panel/partials/navigation_bar' %>
</div>
<%= content_for :javascript do %>
<script type="text/javascript">
  App.init();
  App.formElements();

  radius = "<%= User::ServiceMan.radius %>";
  

  var myLatlng = initCoords();
  setCoordsOnInputs(myLatlng)

  function initMapClient() {
      // Create a map object and specify the DOM element for display.
      var map = new google.maps.Map(document.getElementById('map_client'), {
        center: myLatlng,
        scrollwheel: true,
        zoom: 16,
        mapTypeId:google.maps.MapTypeId.ROADMAP,
        disableDefaultUI: true,
        zoomControl: true,
        scaleControl: true,
      });

      var marker = new google.maps.Marker({
        position: myLatlng,
        map: map
      });

      // Add the circle for this city to the map.
      var circle = new google.maps.Circle({
        strokeColor: '#FF0000',
        strokeOpacity: 0.8,
        strokeWeight: 2,
        fillColor: '#FF0000',
        clickable: false,
        fillOpacity: 0.35,
        map: map,
        center: myLatlng,
        radius: radius*1000
      });

      var geocoder  = new google.maps.Geocoder();
      var searchBox = new google.maps.places.SearchBox(document.getElementById('pac-input'));

      map.controls[google.maps.ControlPosition.TOP_CENTER].push(document.getElementById('pac-input'));
      google.maps.event.addListener(searchBox, 'places_changed', function() {
        searchBox.set('map', null);

        var places = searchBox.getPlaces(),
            bounds = new google.maps.LatLngBounds(),
            i, place;

        for (i = 0; place = places[i]; i++) {
          (function(place) {
            var location = place.geometry.location;

            marker.setPosition(location);
            setCoordsOnInputs(location)
            circle.setCenter(location)
            setAddressToSearchBox(place)
            bounds.extend(location);
          }(place));

        }
        map.fitBounds(bounds);
        searchBox.set('map', map);
        map.setZoom(Math.min(map.getZoom(),12));
      });

      google.maps.event.addListener(map, 'click', function(e) {
        positions = { lat: e.latLng.lat(), lng: e.latLng.lng() }
        geocoder.geocode({'location': positions}, function(results, status) {
            if (status === google.maps.GeocoderStatus.OK) {
              if (results[1]) {
                setAddressToSearchBox(results[1])
              } else {
                window.alert('No results found');
              }
            } else {
              window.alert('Geocoder failed due to: ' + status);
            }
          });
        marker.setPosition(positions);
        circle.setCenter(positions)
        setCoordsOnInputs(positions);
      });
    }
    initMapClient();

    function initCoords() {
      lat = $('.create_pro-lat').val();
      lon = $('.create_pro-lon').val();
    
      if(lat && lon){
        if (lat.length != 0 && lon.length != 0) {
          return { lat: parseFloat(lat), lng: parseFloat(lon) };
        }
      } else {
        return { lat: 53.347974, lng: -6.271571 };
      }    
    }

    function setCoordsOnInputs(positions) {
      $('.create_pro-lon').val(positions.lng)
      $('.create_pro-lat').val(positions.lat)
    }

    function setAddressToSearchBox(place) {
      $('#pac-input').val(place.formatted_address)
    }

  $('.show_password').on('change', function(){
    if(this.checked){
      $('#inputPassword').attr('type', 'text');
      $('#inputPasswordConfirmation').attr('type', 'text');
    }else{
      $('#inputPassword').attr('type', 'password');
      $('#inputPasswordConfirmation').attr('type', 'password');
    }
  });

  stop_preloader();
  $('#user_service_man_district_id').val(null).trigger('change');
  <%= render partial: 'admin/panel/partials/flash_msg' %>
</script>
<% end %>