<div class="be-wrapper be-fixed-sidebar">
  <%= render partial: 'admin/panel/partials/header' %>

  <%= render partial: 'admin/panel/partials/sidebar' %>

  <div class="be-content">
    <div class="page-head">
      <h2 class="page-head-title">Stationary</h2>
    </div>
    <div class="main-content container-fluid">
      <div class="user-profile">
        <div class="row">
          <div class="col-lg-10">
            <div class="user-info-list card">
              <div class="card-header card-header-divider">About Valefyer
                <span class="card-subtitle">
                  <div class="icon-container">
                    <a href="<%= edit_admin_panel_pro_path(@pro)%>">
                      <div class="icon"><span class="mdi mdi-edit"></span></div>
                      <span class="icon-class">Edit</span>
                    </a>
                  </div>
                  <% if @pro.use_bank_details? %>
                    <% if @pro.stripe_account.present? %>
                      <div class="icon-container">
                        <a href="<%= edit_admin_panel_pro_stripe_account_path(pro_id: @pro, id: @pro.stripe_account) %>">
                          <div class="icon"><span class="mdi mdi-file"></span></div>
                          <span class="icon-class">Edit Bank account</span>
                        </a>
                      </div>
                    <% else %>
                      <div class="icon-container">
                        <a href="<%= new_admin_panel_pro_stripe_account_path(@pro) %>">
                          <div class="icon"><span class="mdi mdi-file"></span></div>
                          <span class="icon-class">Add Bank account</span>
                        </a>
                      </div>
                    <% end %>
                  <% end %>
                </span>
              </div>
              <div class="card-body">
                <table class="no-border no-strip skills">
                  <tbody class="no-border-x no-border-y">
                    <tr>
                      <td class="icon"><span class="mdi mdi-case"></span></td>
                      <td class="item">Valefyer<span class="icon s7-portfolio"></span></td>
                      <td><%= @pro.name%></td>
                    </tr>
                    <tr>
                      <td class="icon"><span class="mdi mdi-cake"></span></td>
                      <td class="item">Avatar<span class="icon s7-gift"></span></td>
                      <td>
                        <% if @pro.image.present? %>
                          <%= image_tag @pro.image, size: '320x270' %>
                        <% else %>
                          <%= image_tag 'admin/panel/profiledefault.png', size: '320x270' %>
                        <% end %>
                      </td>
                    </tr>
                    <tr>
                      <td class="icon"><span class="mdi mdi-cake"></span></td>
                      <td class="item">Email<span class="icon s7-gift"></span></td>
                      <td><%= @pro.email%></td>
                    </tr>
                    <tr>
                      <td class="icon"><span class="mdi mdi-globe-alt"></span></td>
                      <td class="item">Phone Number<span class="icon s7-map-marker"></span></td>
                      <td><%= @pro.phone_number%></td>
                    </tr>
                    <tr>
                      <td class="icon"><span class="mdi mdi-globe-alt"></span></td>
                      <td class="item">Stripe account<span class="icon s7-map-marker"></span></td>
                      <td><%= @pro.stripe_account_status%></td>
                    </tr>
                    <tr>
                      <td class="icon"><span class="mdi mdi-globe-alt"></span></td>
                      <td class="item">Transports<span class="icon s7-map-marker"></span></td>
                      <td>
                        <ul>
                          <% @pro.transports.each do |tr| %>
                            <li><%= tr.car %></li>
                          <% end %>
                        </ul>
                      </td>
                    </tr>
                    <tr>
                      <td class="icon"><span class="mdi mdi-globe-alt"></span></td>
                      <td class="item">Mobile<span class="icon s7-map-marker"></span></td>
                      <td><%= @pro.mobile ? 'Yes' : 'No' %></td>
                    </tr>
                    <tr>
                      <td class="icon"><span class="mdi mdi-globe-alt"></span></td>
                      <td class="item">Use Bank Details<span class="icon s7-map-marker"></span></td>
                      <td><%= @pro.use_bank_details ? 'Yes' : 'No' %></td>
                    </tr>
                    <% if @pro.district.present? %>
                      <tr>
                        <td class="icon"><span class="mdi mdi-cake"></span></td>
                        <td class="item">District<span class="icon s7-gift"></span></td>
                        <td><%= link_to @pro.district.name, admin_panel_district_path(@pro.district) %></td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="card">
              <div class="card-header card-header-divider">Latest Activity
                <span class="card-subtitle">This is a timeline of completed orders</span></div>
              <div class="card-body">
                <ul class="user-timeline">
                  <% @pro.order_items.history.last(10).each do |order| %>
                    <li class="latest">
                      <div class="user-timeline-date"><%= get_custom_date(order.end_work_time) %></div>
                      <div class="user-timeline-title"><a href=""><%= "##{order.id}"%></a></div>
                      <div class="user-timeline-description"><%= order.address%></div>
                      <div class="user-timeline-description"><a href="<%= admin_panel_pro_payment_path(pro_id: @pro.id, order_id: order.id)%>">Payment details</a></div>
                    </li>
                  <% end %>
                </ul>
              </div>
            </div>
            <div class="card">
              <div class="card-header card-header-divider">Show tips of valevyer
                <span class="card-subtitle">Tips for chosen order</span>
              </div>
              <div class="card-body">
                <span class="card-subtitle" style="font-size: 14px;">Select order</span><br>
                <select class="select2 select2-lg order_tip">
                    <option value=""></option>
                    <% @pro.order_items.history.each do |order| %>
                      <option value="<%= order.id %>"><%= order.id %></option>
                    <% end %>
                  </select>
                  <br><br>
                  <div style="font-size: 14px;">
                    <span class="orders_tip_msg"></span> <span class="orders_tip" style="color: #009933"></span>
                  </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="card">
              <div class="card-header card-header-divider">Week schedule<span class="card-subtitle">This is a timeline of pro schedule</span></div>
              <div class="card-body">
                <ul class="timeline">
                  <% if @pro.pro_information.present? %>
                    <% ["sunday", "monday", "tuesday", "wednesday", "thursday", "friday", "saturday"].each do |item| %>
                      <li class="timeline-item">
                        <div class="timeline-date"><span><%= item %></span></div>
                        <div class="timeline-content">
                          <div class="timeline-header">
                            <span class="timeline-time"><%= "#{@pro.pro_information.work_schedule[item]['schedule']['start']} - #{@pro.pro_information.work_schedule[item]['schedule']['end']}"%></span>
                            <% if @pro.pro_information.work_schedule[item]['available'] %>
                              <input type="checkbox" checked disabled>
                            <% else %>
                              <input type="checkbox" disabled>
                            <%end%>
                          </div>
                        </div>
                      </li>
                    <% end %>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="row full-calendar">
          <div class="col-lg-9">
            <div class="card card-fullcalendar">
              <div class="card-body">
                <div id="calendar"></div>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="card fullcalendar-external-events">
              <div class="card-header card-header-divider">Hours by period:
                <br />
                <span class="font-weight count-hours-by-period_title"></span>
              </div>
              <div class="card-body">
                <div id="external-events">
                  <p class="count-hours-by-period_value"></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= render partial: 'admin/panel/partials/navigation_bar' %>
</div>
<a class='btn btn-space btn-primary md-trigger event-click' data-modal='event-click' style="color: white; display: block;"></a>
<%= content_for :javascript do %>
<script type="text/javascript">
  $('select.order_tip').val(null).trigger('change');
  $("select.order_tip").attr("data-placeholder","Select order");

  $(document).ready(function () {
    $.fn.niftyModal('setDefaults',{
      overlaySelector: '.modal-overlay',
      contentSelector: '.modal-content',
      closeSelector: '.modal-close',
      classAddAfterOpen: 'modal-show'
    });
    App.init();
    App.formElements();
    var events_json_path = "/admin/panel/pros/<%= params[:id] %>.json"

    $('#calendar').fullCalendar({
      header: {
        left: 'today prev,next',
        center: 'title',
        right: 'agendaWeek,month'
      },
      defaultView: 'agendaWeek',
      editable: false,
      minTime: "06:00", // <%#= ProInformation::BEGIN_DAY %>",
      maxTime: "21:00", // <%#= ProInformation::END_DAY %>",
      eventSources: [events_json_path],

      viewRender: function(view, element) {
        window.count = 0

        $('.count-hours-by-period_title').text(view.title)
        $('.count-hours-by-period_value').text(`${window.count} hours`)
      },
      eventRender: function(event, element, view) {
        var date1 = new Date(event.start)
        var date2 = new Date(event.end)
        var hours = 0

        hours = Math.abs(date1 - date2) / 36e5;
        window.count = hours + window.count

        $('.count-hours-by-period_value').text(`${window.count} hours`)
      },
      eventDrop: function(event, delta, revertFunc) {
        alert(event.title + " was dropped on " + event.start.format());
        start_preloader();
        if (!confirm("Are you sure about this change?")) { revertFunc(); }
        else {
          $.ajax({
            url:  event.edit_url,
            type : 'PUT',
            data : {
              'start_day': event.start.format(),
              'end_day': event.end.format()
            },
            dataType:'json',
            success : function(data) {
              stop_preloader();
            },
            error: function(error) {
              revertFunc();
              alert(error.statusText)
              stop_preloader();
            }
          })
        }
      }
    })

    $('.order_tip').on('change', function(){
      orderId = Number.parseInt(this.value);  
      $.ajax({
        url: "<%= get_tips_admin_panel_pros_path %>",
        method: 'POST',
        data: {
          'order_id': orderId 
        },
        success: function(data){
          if(data != null && data['tips'] != null){
            $('.orders_tip_msg').text('Tips amount for chosen order is -');
            $('.orders_tip').text(data['tips'] + ' €');
          }
        },
        error: function(jqXHR, data){
          alert(data['tips'])
        }
      });
    })

    stop_preloader();
  });
</script>
<% end %>
<!-- <%#= render partial: 'admin/panel/partials/flash_msg' %> -->
<%= render partial: 'admin/panel/partials/edit_event_form' %>