<%= render 'admin/shared/map' %>
<div class="be-wrapper  navbar-fixed-right <%= be_aside_css_class(@client)%>">
  <%= render partial: 'admin/panel/partials/header' %>
  <%= render partial: 'admin/panel/partials/sidebar' %>
  <div class="be-content">

    <% if @client %>
      <aside class="page-aside">
        <div class="be-scroller nano">
          <div class="nano-content">
            <div class="content">
              <h2 class='create-order_client-id' data-id='<%= @client.id%>'>ID: <b><%= @client.id%></b></h2>
              <p class='create-order_client-email'>Email: <b><%= @client.email%></b></p>
              <p class='create-order_client-name'>Name: <b><%= @client.name%></b></p>
              <p class='create-order_client-phone_number'>Phone Number: <b><%= get_phone_number(@client.phone_number) %></b></p>
              <% if @card_list.present? %>
              <p class='create-order_client-card'>
                <span class="info">Cards: <b>present</b>  </span>
              </p>
              <p>
                <select class="form-control creat-order_cards-list">
                  <% @card_list.data.each do |card| %>
                    <option value="<%= card.id%>"><%= "**** **** **** #{card.last4}" %></option>
                  <% end %>
                </select>
              </p>
              <p>
                <a class='btn btn-space btn-primary md-trigger create-order_add-card' data-modal='colored-primary'>Add Card</a>
              </p>
              <% else %>
                <p class='create-order_client-card'>
                  <span class="info">Cards: <b>not present</b>  </span>
                </p>
                <p>
                  <a class='btn btn-space btn-primary md-trigger create-order_add-card' data-modal='colored-primary'>Add Card</a>
                </p>
              <% end %>
              <h2 class='create-order_client-email'>Last orders:</h2>
              <p>
                <ul>
                  <% @client.order_items.last(5).each do |item| %>
                    <li><%= human_order_time_by_zone(item, nil) %> - <%= item.status%></li>
                  <% end %>
                </ul>
              </p>
            </div>
          </div>
        </div>
      </aside>
    <% end %>

    <div class="main-content container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card card-border-color card-border-color-primary">
            <div class="card-header card-header-divider">Create Order
              <span class="card-subtitle">Form for create order</span>
            </div>
            <div class="card-body">
              <%= form_for @order, url: admin_panel_order_item_path, method: :put do |f| %>
                  <div class="form-group row">
                    <label class="col-12 col-sm-3 col-form-label text-sm-right" for="inputText3">Client</label>
                    <div class="col-12 col-sm-8 col-lg-6">
                      <table class="table">
                        <thead>
                          <tr>
                            <th>ID</th>
                            <th style="width:10%;">Name</th>
                            <th>Email</th>
                            <th>Phone Number</th>
                            <th>Info</th>
                          </tr>
                        </thead>
                        <tbody class='tbody_clients'>
                          <%if @client.present? %>
                            <tr data-id="<%= @client.id %>" class='tr-result'>
                              <td><%= @client.id %></td>
                              <td><%= @client.name %></td>
                              <td><%= @client.email %></td>
                              <td><%= @client.phone_number %></td>
                              <td>
                                <a data-client-id="<%= @client.id %>" href="#" id="client_info" data-modal='client-info-modal' class='md-trigger'>Show</a>
                              </td>
                            </tr>
                          <% end %>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <% if @client.present? %>
                    <div class="form-group row">
                      <label class="col-12 col-sm-3 col-form-label text-sm-right">Category</label>
                      <div class="col-12 col-sm-8 col-lg-6">
                        <select class="select2 select2-lg category">
                          <% @categories.each do |category| %>
                            <% @order.services.each do |service| %>
                              <% if service.category.id == category.id %>
                                <option value="<%= category.id %>" selected><%= category.title %></option>
                              <% else %>
                                <option value="<%= category.id %>"><%= category.title %></option>
                              <% end %>    
                            <% end %>
                          <% end %>
                        </select>
                      </div>
                    </div>
                    <div class="form-group row mt-2">
                      <label class="col-12 col-sm-3 col-form-label text-sm-right">Sub categories</label>
                      <div class="col-12 col-sm-8 col-lg-6">
                        <select class="select2 select2-lg subcategory">
                          <% Subcategory.visible.each do |subcategory| %>
                            <% @order.services.each do |service| %>
                              <% if service.subcategory.id == subcategory.id %>
                                <option value="<%= subcategory.id %>" selected disabled><%= subcategory.title %></option>
                              <% end %>
                            <% end %>
                          <% end %>
                        </select>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-12 col-sm-3 col-form-label text-sm-right">Service</label>
                      <div class="col-12 col-sm-8 col-lg-6">
                        <select name="order_item[service_ids][]" class="select2 select2-lg service" id="order_item_service_ids">
                            <% @order.services.each do |service| %>
                              <option value="<%= service.id %>" selected disabled><%= service.short_title %></option>
                            <% end %>
                        </select>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-12 col-sm-3 col-form-label text-sm-right">Order Time</label>
                        <div class="col-12 col-sm-7 col-md-5 col-lg-4 col-xl-3">
                          <div class="input-group">
                            <%= f.text_field :order_time, class: 'form-control', size: 16, required: true %>
                          </div>
                        </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-12 col-sm-3 col-form-label text-sm-right"></label>
                        <div class="col-12 col-sm-7 col-md-5 col-lg-4 col-xl-3">
                          <a class='btn btn-space btn-primary md-trigger create-order_add-card' data-modal='orders_calendar' style="color: white">Choose date and time</a>
                        </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-12">
                        <div class="card">
                          <div class="card-header card-header-divider">Client Address
                            <span class="card-subtitle">Choose an address for client</span>
                          </div>

                          <div class="card-body">
                            <%= f.text_field :address, class: 'controls', id: 'pac-input', placeholder: 'Search Box' %>
                            <%= f.hidden_field :lat, class: 'create_order-lat' %>
                            <%= f.hidden_field :lon, class: 'create_order-lon' %>
                            <div id="map_client" class="content" style="height: 350px;"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-12 col-sm-3 col-form-label text-sm-right" for="inputText3">Model auto</label>
                      <div class="col-12 col-sm-8 col-lg-6">
                        <%= f.select :description, get_auto_models.map { |model| [model, model] }, {}, { class: "select2" } %>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-12 col-sm-3 col-form-label text-sm-right" for="inputText4">Saloon count</label>
                      <div class="col-12 col-sm-8 col-lg-6">
                        <%= f.number_field :car_count, class: 'form-control', required: true %>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-12 col-sm-3 col-form-label text-sm-right" for="inputText4">SUV count</label>
                      <div class="col-12 col-sm-8 col-lg-6">
                        <%= f.number_field :suv_count, class: 'form-control', required: true %>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-12 col-sm-3 col-form-label text-sm-right" for="inputText4">MINIVAN count</label>
                      <div class="col-12 col-sm-8 col-lg-6">
                        <%= f.number_field :minivan_count, class: 'form-control', required: true %>
                      </div>
                    </div>
                    <% if @client.corp? %>
                      <div class="form-group row">
                        <label class="col-12 col-sm-3 col-form-label text-sm-right" for="inputText5">Registration numbers</label>
                        <div class="col-12 col-sm-8 col-lg-6">
                          <%= f.text_field :reg_numbers, class: 'form-control', placeholder: 'Write addresses separated by commas' %>
                        </div>
                      </div>
                    <% end %>
                  <% end %>
                  <div class="row pt-3">
                    <div class="col-lg-6 pb-4 pb-lg-0">
                      <label class="be-checkbox custom-control custom-checkbox">
                      </label>
                    </div>
                    <div class="col-sm-6">
                      <p class="text-right">
                        <%= f.submit class: 'btn btn-space btn-primary btn-lg' %>
                        <% if ['created', 'searching', 'accepted', 'in_progress_unconfirmed', 'in_progress_confirmed'].include?(@order.status)  %>
                          <button class="btn btn-space btn-secondary">Cancel</button>
                        <% end %>
                      </p>
                    </div>
                  </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= render partial: 'admin/panel/partials/navigation_bar' %>
</div>

<%= content_for :javascript do %>
  <script type="text/javascript">

  

  $.fn.niftyModal('setDefaults',{
    overlaySelector: '.modal-overlay',
    contentSelector: '.modal-content',
    closeSelector: '.modal-close',
    classAddAfterOpen: 'modal-show'
  });
    //-initialize the javascript
    App.init();
    App.formElements();
    App.uiNotifications();

    window.categories = []
    window.subcategories = []
    window.clients = []
    var client;

    $.ajax({ 
      type: "GET",
      dataType: "json",
      async: false,
      url: "<%= api_v2_categories_path %>",
      success: function(data){ window.categories = data }
    });

    $('.category').on('change', function(){
      category_id = parseInt($(this).val());
      $.each(window.categories, function(id, category){
        if(category.id == category_id) {
//          $('.subcategory').removeAttr('disabled')
//          $('.service').removeAttr('disabled')
          $('.subcategory').html('');
          $('.service').html('');

          window.subcategories = category.subcategories;
          $.each(window.subcategories, function(id, subcategory){
            $('.subcategory').append($('<option>', {value: subcategory.id,text : subcategory.title}))

            if($('.subcategory').val() == subcategory.id){
              $.each(subcategory.services, function(id, service){
                $('.service').append($('<option>', { value: service.id, text : service.short_title }))
              })
            }
          })
        }
        else {}
      })
    });

    $('.subcategory').on('change', function(){
      subcategory_id = parseInt($(this).val());

      $.each(window.subcategories, function(id, subcategory){
        if(subcategory.id == subcategory_id) {
          $('.service').removeAttr('disabled');
          $('.service').html('');

          $.each(subcategory.services, function(id, service){
            $('.service').append($('<option>', {
              value: service.id,
              text : service.short_title
            }))
          })
        }
        else {}
      })
    });

    var myLatlng = initCoords();
    var marker;
    var map;
    function initMapClient() {
      // Create a map object and specify the DOM element for display.
      map = new google.maps.Map(document.getElementById('map_client'), {
        center: { lat: 53.347974, lng: -6.271571 },
        scrollwheel: true,
        zoom: 14,
        mapTypeId:google.maps.MapTypeId.ROADMAP,
        disableDefaultUI: true,
        zoomControl: true,
        scaleControl: true,
      });

      marker = new google.maps.Marker({
        position: { lat: 53.347974, lng: -6.271571 },
        map: map
      });

      var options = {
        componentRestrictions: {country: 'ie'}
      };

      var geocoder = new google.maps.Geocoder();

      var searchBox = new google.maps.places.Autocomplete(document.getElementById('pac-input'), options);

      map.controls[google.maps.ControlPosition.TOP_CENTER].push(document.getElementById('pac-input'));
      google.maps.event.addListener(searchBox, 'place_changed', function() {
        searchBox.set('map', null);
        var place = searchBox.getPlace();
        var location = place.geometry.location;
        marker.setPosition({ lat:  location.lat(), lng: location.lng()});
        setCoordsOnInputs({ lat:  location.lat(), lng: location.lng()});
        setAddressToSearchBox(place);
        marker.setMap(map)
        map.setCenter({ lat:  location.lat(), lng: location.lng()});
        map.setZoom(Math.min(map.getZoom(),14));
      });

      google.maps.event.addListener(map, 'click', function(e) {
        positions = { lat: e.latLng.lat(), lng: e.latLng.lng() }
        geocoder.geocode({'location': positions}, function(results, status) {
            if (status === google.maps.GeocoderStatus.OK) {
              if (results[1]) {
                setAddressToSearchBox(results[1])
              } else {
                window.alert('No results found');
              }
            } else {
              window.alert('Geocoder failed due to: ' + status);
            }
          });
        marker.setPosition(positions);
        setCoordsOnInputs(positions);
      });
    }

    if (gon.client) { 
      initMapClient();
      setCoordsOnInputs(initCoords())
    }
    
    stop_preloader();

    function initCoords() {
      lat = $('.create_order-lat').val();
      lon = $('.create_order-lon').val();
    
      if(lat && lon){
        if (lat.length != 0 && lon.length != 0) {
          return { lat: parseFloat(lat), lng: parseFloat(lon) };
        } else {
          
        }
      } else {
        return { lat: 53.347974, lng: -6.271571 };
      }    
    }

    function setCoordsOnInputs(positions) {
      $('.create_order-lon').val(positions.lng)
      $('.create_order-lat').val(positions.lat)
    }

    function setAddressToSearchBox(place) {
      $('#pac-input').val(place.formatted_address)
    }

    $('#order_item_description').val('').trigger('change');
  <%= render partial: 'admin/panel/partials/flash_msg' %>
  </script>
<% end %>
<%= render partial: 'admin/panel/partials/add_card_modal' %>
<%= render partial: 'admin/panel/partials/add_client_modal' %>
<%= render partial: 'admin/panel/partials/order_calendar' %>
<%= render partial: 'admin/panel/partials/client_info' %>