<div class="be-wrapper be-fixed-sidebar">
  <%= render partial: 'admin/panel/partials/header' %>

  <%= render partial: 'admin/panel/partials/sidebar' %>

  <div class="be-content">
    <div class="page-head">
      <h2 class="page-head-title">Orders</h2>
      <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb page-head-nav">
          <li class="breadcrumb-item"><a href="<%= admin_panel_path %>">Home</a></li>
          <li class="breadcrumb-item"><a href="<%= admin_panel_order_items_path %>">Orders</a></li>
          <li class="breadcrumb-item active">List</li>
        </ol>
      </nav>
    </div>
    <div class="main-content container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card card-table">
            <div style="padding: 20px;">
              <button class="btn btn-space btn-secondary order_status" data-status="All">All (<%= @orders_count[:all] %>)</button>
              <button class="btn btn-space btn-secondary order_status" data-status="Created">Created and not paid (<%= @orders_count[:created] %>)</button>
              <button class="btn btn-space btn-secondary active order_status" data-status="Pending">Pending (<%= @orders_count[:searching] %>)</button>
              <button class="btn btn-space btn-secondary order_status" data-status="Active">In progress (<%= @orders_count[:busy] %>)</button>
              <button class="btn btn-space btn-secondary order_status" data-status="Cancelled">Cancelled (<%= @orders_count[:canceled] %>)</button>
              <button class="btn btn-space btn-secondary order_status" data-status="History">Completed (<%= @orders_count[:history] %>)</button>
            </div>
            <%= form_tag admin_panel_order_items_path, method: :get, id: 'orders_filters_form' do%>
              <div class="row table-filters-container">
                <div class="col-4 col-lg-4 table-filters pb-0 pb-xl-4 filter_blocks">
                  <div class="row">
                    <div class="col-12 col-lg-12 table-filters pb-0 pb-xl-4" style="padding-top: 0; padding-bottom: 0 !important;"><span class="table-filter-title title_filter">Scopes</span>
                      <div class="filter-container">
                        <label class="control-label">Find by scope:</label>
                        <select class="select2 orders_scope" id="orders_scope" name="orders_scope">
                          <% @orders_status.each do |status| %>
                            <option value="<%= status[0] %>"><%= status[1] %></option>
                          <% end %>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-4 col-lg-4 table-filters pb-0 pb-xl-4 filter_blocks">
                  <div class="row">
                    <div class="col-12 col-lg-12 table-filters pb-0 pb-xl-4" style="padding-top: 0; padding-bottom: 0 !important;"><span class="table-filter-title title_filter">Client</span>
                      <div class="filter-container">
                        <label class="control-label">Find by Client:</label>
                        <%= select_tag :client_id, options_for_select(@clients.map { |client| [ "#{ client.name} #{ client.email } #{client.phone_number}", client.id ] }, params[:client_id]), { class: 'select2 client_company', id: 'client_id' } %>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-4 col-lg-4 table-filters pb-0 pb-xl-4 filter_blocks">
                  <div class="row">
                    <div class="col-12 col-lg-12 table-filters pb-0 pb-xl-4" style="padding-top: 0; padding-bottom: 0 !important;"><span class="table-filter-title title_filter">VALEFYER</span>
                      <div class="filter-container">
                        <label class="control-label">Find by VALEFYER:</label>
                        <%= select_tag :pro_id, options_for_select(@pros.map { |pro| [ "#{ pro.name} #{ pro.email } #{pro.phone_number}", pro.id ] }, params[:pro_id]), { class: 'select2 pro_id', id: 'pro_id' } %>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-4 col-lg-4 table-filters pb-0 pb-xl-4 filter_blocks">
                  <div class="row">
                    <div class="col-12 col-lg-12 table-filters pb-0 pb-xl-4" style="padding-top: 0; padding-bottom: 0 !important;"><span class="table-filter-title title_filter">Category</span>
                      <div class="filter-container">
                        <label class="control-label">Find by category:</label>
                        <%= select_tag :category_id, options_for_select( Category.all.map { |category| [category.title, category.id] }, params[:category_id]), { class: 'select2 category_id', id: 'category_id' } %>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-4 col-lg-4 table-filters pb-0 pb-xl-4 filter_blocks">
                  <div class="row">
                    <div class="col-12 col-lg-12 table-filters pb-0 pb-xl-4" style="padding-top: 0; padding-bottom: 0 !important;"><span class="table-filter-title title_filter">Service</span>
                      <div class="filter-container">
                        <label class="control-label">Find by service:</label>
                        <%= select_tag :service_id, options_for_select(@services.map { |service| [ service.short_title, service.id ] }, params[:service_id]), { class: 'select2 service_id', id: 'service_id' } %>
                      </div>
                    </div>
                  </div>
                </div>
                <% if current_admin_user.admin? %>
                  <div class="col-4 col-lg-4 table-filters pb-0 pb-xl-4 filter_blocks">
                    <div class="row">
                      <div class="col-12 col-lg-12 table-filters pb-0 pb-xl-4" style="padding-top: 0; padding-bottom: 0 !important;"><span class="table-filter-title title_filter">Company</span>
                        <div class="filter-container">
                          <label class="control-label">Company:</label>
                          <%= select_tag :company_id, options_for_select(get_companies_for_clients_filter(Company.all), params[:company_id]), { class: 'select2 client_company', id: 'company_id' } %>
                        </div>
                      </div>
                    </div>
                  </div>
                <% end %>
                <div class="col-4 col-lg-4 table-filters pb-0 pb-xl-4 filter_blocks">
                  <div class="row">
                    <div class="col-12 col-lg-12 table-filters pb-0 pb-xl-5" style="padding-top: 0; padding-bottom: 0 !important;"><span class="table-filter-title title_filter">Count vehicles</span>
                      <div class="filter-container">
                        <label class="control-label">Count vehicles:</label>
                        <div class="row">
                          <div class="col-6">
                            <%= select_tag :count_vehicle_filters, options_for_select(get_number_filter_options, params[:count_vehicle_filters]), { class: 'select2 select2-hidden-accessible count_vehicle_filter' } %>
                          </div>
                          <div class="col-6">
                            <%= number_field_tag :count_vehicles, params[:count_vehicles], class: 'form-control form-control-sm client_email' %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-4 col-lg-4 table-filters pb-0 pb-xl-4 filter_blocks">
                  <div class="row">
                    <div class="col-12 col-lg-12 table-filters pb-0 pb-xl-5" style="padding-top: 0; padding-bottom: 0 !important;"><span class="table-filter-title title_filter">Clients type</span>
                      <div class="filter-container">
                        <label class="control-label">Clients type:</label>
                        <div class="row">
                          <div class="col-12">
                            <%= select_tag :client_type, options_for_select([['Corporative', 'corp'], ['Individual', 'individual'] ], params[:client_type]), { class: 'select2 select2-hidden-accessible client_type' } %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-lg-12 table-filters pb-0 pb-xl-4 filter_buttons">
                  <div class="row">
                    <div class="col-12 col-lg-12 table-filters filter_blocks">
                      <div class="filter-container">
                        <%= submit_tag('Filter', type: 'submit', class: 'btn btn-space btn-primary submit_filter') %>
                        <%= submit_tag('Reset', type: 'cancel', class: 'btn btn-space btn-secondary reset_order_filters') %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
            <div class="card-body">
              <div class="noSwipe">
                <table class="table table-striped table-hover be-table-responsive" id="table1">
                  <thead>
                  <tr>
                    <th>
                      <label class="custom-control custom-control-sm custom-checkbox">
                        <input class="custom-control-input" type="checkbox"><span class="custom-control-label"></span>
                      </label>
                    </th>
                    <th>ID</th>
                    <th>Client</th>
                    <th>Valefyer</th>
                    <th>Category</th>
                    <th>Price</th>
                    <th>Status</th>
                    <th>Order time</th>
                    <th>End work time</th>
                    <th>Created at</th>
                    <th>Model Auto</th>
                  </tr>
                  </thead>
                  <tbody class="orders_list_body">
                    <%= render(partial: 'admin/panel/order_items/shared/orders_list', locals: { orders: @orders }) %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5"></div>
        <div class="col-md-7">
          <div class="card" style="float: right">
            <div class="card-header"></div>
            <div class="card-body">
              <%= paginate @orders %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= render partial: 'admin/panel/partials/navigation_bar' %>
</div>
<%= content_for :javascript do %>
<script type="text/javascript">
  App.init();
  App.formElements();
  // App.tableFilters();
  stop_preloader();

  <% unless params[:client_id].present? %>
    $('#client_id').val('').trigger('change');
  <% end %>

  <% unless params[:pro_id].present? %>
    $('#pro_id').val('').trigger('change');
  <% end %>

  <% unless params[:service_id].present? %>
    $('#service_id').val('').trigger('change');
  <% end %>

  <% unless params[:category_id].present? %>
    $('#category_id').val('').trigger('change');
  <% end %>

  <% unless params[:company_id].present? %>
    $('#company_id').val('all').trigger('change');
  <% end %>

  <% unless params[:client_type].present? %>
    $('#client_type').val('all').trigger('change');
  <% end %>

//  $("#client_id").attr("data-placeholder","Select client").select2();
//  $("#pro_id").attr("data-placeholder","Select pro").select2();
//  $("#service_id").attr("data-placeholder","Select service").select2();
//  $("#parking").attr("data-placeholder","Select parking").select2();


  $('.reset_order_filters').on('click', function(){
    $('#orders_filters_form')[0].reset();
    window.location.href = '/admin/panel/order_items'
  });

  if(gon.orders_scope){
    $('#orders_scope').val(gon.orders_scope).trigger("change");
  }

  $('.order_status').on('click', function(){
    $(this).toggleClass('active').siblings().removeClass('active');
    order_status = $(this).data('status');
    $('#orders_scope').val(order_status).trigger("change");
    $('#orders_filters_form').submit();
  });

  $('.order_status').removeClass("active");
  $('.order_status').each(function(){
    if(gon.orders_scope == $(this).data('status')){
      $(this).toggleClass('active').siblings().removeClass('active');
    }
  });

  <%= render partial: 'admin/panel/partials/flash_msg' %>

//  $('#orders_scope').on('change', function(){
//    orders_scope = $(this).find(":selected").val();
//    window.location.href = 'order_items?orders_scope=' + orders_scope;
//  });
</script>
<% end %>