<%= render 'admin/shared/map' %>
<div class="be-wrapper  navbar-fixed-right <%= be_aside_css_class(@client)%>">
  <%= render partial: 'admin/panel/partials/header' %>
  <%= render partial: 'admin/panel/partials/sidebar' %>
  <div class="be-content">

    <% if @client %>
      <aside class="page-aside">
        <div class="be-scroller nano">
          <div class="nano-content">
            <div class="content">
              <h2 class='create-order_client-id' data-id='<%= @client.id%>'>ID: <b><%= @client.id%></b></h2>
              <p class='create-order_client-email'>Email: <b><%= @client.email%></b></p>
              <p class='create-order_client-name'>Name: <b><%= @client.name%></b></p>
              <p class='create-order_client-phone_number'>Phone Number: <b><%= get_phone_number(@client.phone_number) %></b></p>
              <% if @card_list.present? %>
              <p class='create-order_client-card'>
                <span class="info">Cards: <b>present</b>  </span>
              </p>
              <p>
                <select class="form-control creat-order_cards-list">
                  <% @card_list.data.each do |card| %>
                    <option value="<%= card.id%>"><%= "**** **** **** #{card.last4}" %></option>
                  <% end %>
                </select>
              </p>
              <p>
                <a class='btn btn-space btn-primary md-trigger create-order_add-card' data-modal='colored-primary'>Add Card</a>
              </p>
              <% else %>
                <p class='create-order_client-card'>
                  <span class="info">Cards: <b>not present</b>  </span>
                </p>
                <p>
                  <a class='btn btn-space btn-primary md-trigger create-order_add-card' data-modal='colored-primary'>Add Card</a>
                </p>
              <% end %>
              <h2 class='create-order_client-email'>Last orders:</h2>
              <p>
                <ul>
                  <% @client.order_items.last(5).each do |item| %>
                    <li><%= human_order_time_by_zone(item, nil) %> - <%= item.status%></li>
                  <% end %>
                </ul>
              </p>
            </div>
          </div>
        </div>
      </aside>
    <% end %>

    <div class="main-content container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card card-border-color card-border-color-primary">
            <div class="card-header card-header-divider">Create Order
              <span class="card-subtitle">Form for create order</span>
            </div>
            <div class="card-body">
              <%= form_for @order, url: admin_panel_order_items_path, method: :post do |f| %>
                  <div class="form-group row">
                    <label class="col-12 col-sm-3 col-form-label text-sm-right" for="inputText3">Client Search</label>
                    <div class="col-12 col-sm-8 col-lg-6">
                      <input class="form-control client" id="inputText3" type="text" placeholder="Type: ID, Email, Name or Phone Number">
                      <% if @client.present? %>
                        <%= f.hidden_field :client_id, class: 'create_order-client_id', value: @client.id %>
                      <% end %>
                      <br>
                      <a class='btn btn-space btn-primary md-trigger' data-modal='add-client-modal'>Add Client</a>
                    </div>
                    
                  </div>
                  <div class="form-group row">
                    <label class="col-12 col-sm-3 col-form-label text-sm-right" for="inputText3">Search results</label>
                    <div class="col-12 col-sm-8 col-lg-6">
                      <table class="table">
                        <thead>
                          <tr>
                            <th>ID</th>
                            <th style="width:10%;">Name</th>
                            <th>Email</th>
                            <th>Phone Number</th>
                            <th>Action</th>
                            <th>Info</th>
                          </tr>
                        </thead>
                        <tbody class='tbody_clients'>
                          <%if @client.present? %>
                            <tr data-id="<%= @client.id %>" class='tr-result'>
                              <td><%= @client.id %></td>
                              <td><%= @client.name %></td>
                              <td><%= @client.email %></td>
                              <td><%= @client.phone_number %></td>
                              <td>
                                <a data-client-id="<%= @client.id %>" href="<%= new_admin_panel_order_item_path(client_id: @client.id) %>" class='create-order_choose-client'>Choose</a>
                              </td>
                              <td>
                                <a data-client-id="<%= @client.id %>" href="#" id="client_info" data-modal='client-info-modal' class='md-trigger'>Show</a>
                              </td>
                            </tr>
                          <% end %>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <% if @client.present? %>
                    <div class="form-group row">
                      <label class="col-12 col-sm-3 col-form-label text-sm-right">Category</label>
                      <div class="col-12 col-sm-8 col-lg-6">
                        <select class="select2 select2-lg category">
                          <option value=""></option>
                          <% @categories.each do |category| %>
                            <option value="<%= category.id %>"><%= category.title %></option>
                          <% end %>
                        </select>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-12 col-sm-3 col-form-label text-sm-right">Sub category</label>
                      <div class="col-12 col-sm-8 col-lg-6">
                        <select class="select2 select2-lg subcategory" disabled>
                        </select>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-12 col-sm-3 col-form-label text-sm-right">Service</label>
                      <div class="col-12 col-sm-8 col-lg-6">
                        <select class="select2 select2-lg service" required name="order_item[service_ids][]" disabled>
                        </select>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-12 col-sm-3 col-form-label text-sm-right">Order Time</label>
                        <div class="col-12 col-sm-7 col-md-5 col-lg-4 col-xl-3">
                          <div class="input-group">
                            <!-- <input class="form-control" size="16" type="text" value=""> -->
                            <%= f.text_field :order_time, class: 'form-control', size: 16, required: true %>
                          </div>
                        </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-12 col-sm-3 col-form-label text-sm-right"></label>
                        <div class="col-12 col-sm-7 col-md-5 col-lg-4 col-xl-3">
                          <a class='btn btn-space btn-primary md-trigger create-order_add-card' data-modal='orders_calendar' style="color: white">Choose date and time</a>
                        </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-12">
                        <div class="card">
                          <div class="card-header card-header-divider">Client Address
                            <span class="card-subtitle">Choose an address for client</span>
                          </div>

                          <div class="card-body">
                            <% if @client.order_items.present?  %>
                              <%= f.text_field :address, class: 'controls', id: 'pac-input', placeholder: 'Search Box', value: @client.order_items.last.address %>
                              <%= f.hidden_field :lat, class: 'create_order-lat', value: @client.order_items.last.lat %>
                              <%= f.hidden_field :lon, class: 'create_order-lon', value: @client.order_items.last.lon %>
                            <% else  %>
                              <%= f.text_field :address, class: 'controls', id: 'pac-input', placeholder: 'Search Box' %>
                              <%= f.hidden_field :lat, class: 'create_order-lat' %>
                              <%= f.hidden_field :lon, class: 'create_order-lon' %>
                            <% end  %>
                            
                            <div id="map_client" class="content" style="height: 350px;"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-12 col-sm-3 col-form-label text-sm-right" for="inputText3">Model auto</label>
                      <div class="col-12 col-sm-8 col-lg-6">
                        <% if @client.order_items.present?  %>
                          <%= f.select :description, get_auto_models.map { |model| [model, model] }, {}, { class: "select2" } %>
                        <% else %>
                          <%= f.select :description, get_auto_models.map { |model| [model, model] }, {}, { class: "select2" } %>
                        <% end %>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-12 col-sm-3 col-form-label text-sm-right" for="inputText4">Count vehicles</label>
                      <div class="col-12 col-sm-8 col-lg-6">
                        <%= f.number_field :count_vehicles, class: 'form-control', required: true %>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-12 col-sm-3 col-form-label text-sm-right" for="inputText4">Baby seat count</label>
                      <div class="col-12 col-sm-8 col-lg-6">
                        <%= f.number_field :baby_seat, class: 'form-control', required: true %>
                      </div>
                    </div>
                    <% if @client.corp? %>
                      <div class="form-group row">
                        <label class="col-12 col-sm-3 col-form-label text-sm-right" for="inputText5">Registration numbers</label>
                        <div class="col-12 col-sm-8 col-lg-6">
                          <%= f.text_field :reg_numbers, class: 'form-control', placeholder: 'Write addresses separated by commas' %>
                        </div>
                      </div>
                    <% end %>
                  <% end %>
                  <div class="form-group row">
                    <label class="col-12 col-sm-3 col-form-label text-sm-right" for="inputText3">Is station</label>
                    <div class="col-12 col-sm-8 col-lg-6">
                      <label class="be-checkbox custom-control custom-checkbox">
                        <input class="col-12 col-sm-3 col-form-label text-sm-right custom-control-input is_station" type="checkbox"><span class="custom-control-label"></span>
                      </label>
                    </div>
                  </div>
                  <div class="form-group row stationBlock" style="display:none;">
                    <label class="col-12 col-sm-3 col-form-label text-sm-right" for="inputText3">Choose station</label>
                    <div class="col-12 col-sm-8 col-lg-6">
                      <%= f.select :stationary_id, CompanyLocation.all.map{ |location| [location.title, location.id] }, {}, { class: "select2" } %>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-12 col-sm-3 col-form-label text-sm-right" for="inputText3">Choose car type</label>
                    <div class="col-12 col-sm-8 col-lg-6">
                      <select class="form-control carType select2">
                        <option value="1">Saloon</option>
                        <option value="2">4x4</option>
                        <option value="3">Estate</option>
                        <option value="4">Hatchback</option>
                        <option value="5">Mpv</option>
                        <option value="6">Suv</option>
                      </select>
                    </div>
                  </div>
                <div class="form-group row vehiclesCount" style="display: none">
                  <label class="col-12 col-sm-3 col-form-label text-sm-right" for="inputText3">Vehicle's count</label>
                  <div class="col-12 col-sm-8 col-lg-6">
                    <input type="number" class="form-control vehicleCount">
                  </div>
                </div>
                <div class="form-group row carsCountBlock" style="display:none;">
                  <label class="col-12 col-sm-3 col-form-label text-sm-right" for="inputText3"></label>
                  <div class="col-12 col-sm-8 col-lg-6">
                    <%= f.number_field :car_count, class: 'form-control' %>
                    <%= f.number_field :suv_count, class: 'form-control' %>
                    <%= f.number_field :minivan_count, class: 'form-control' %>
                  </div>
                </div>
                  <div class="row pt-3">
                    <div class="col-lg-6 pb-4 pb-lg-0">
                      <label class="be-checkbox custom-control custom-checkbox">
                        <!-- <input class="custom-control-input" type="checkbox"><span class="custom-control-label">Remember me</span> -->
                      </label>
                    </div>
                    <div class="col-sm-6">
                      <p class="text-right">
                        <!-- <button class="btn btn-space btn-primary" type="submit">Submit</button> -->
                        <%= f.submit class: 'btn btn-space btn-primary btn-lg' %>
                        <% if ['created', 'searching', 'accepted', 'in_progress_unconfirmed', 'in_progress_confirmed'].include?(@order.status)  %>
                          <button class="btn btn-space btn-secondary">Cancel</button>
                        <% end %>
                      </p>
                    </div>
                  </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= render partial: 'admin/panel/partials/navigation_bar' %>
</div>

<%= content_for :javascript do %>
  <script type="text/javascript">

  

  $.fn.niftyModal('setDefaults',{
    overlaySelector: '.modal-overlay',
    contentSelector: '.modal-content',
    closeSelector: '.modal-close',
    classAddAfterOpen: 'modal-show'
  });
    //-initialize the javascript
    App.init();
    App.formElements();
    App.uiNotifications();

    window.categories = []
    window.subcategories = []
    window.clients = []
    var client;

    $('#order_item_stationary_id').val('').trigger('change');
    $('.carType').val('').trigger('change');

    $.ajax({ 
      type: "GET",
      dataType: "json",
      async: false,
      url: "<%= api_v2_categories_path %>",
      success: function(data){ window.categories = data }
    });

    $('.category').on('change', function(){
      category_id = parseInt($(this).val());

      $.each(window.categories, function(id, category){
        if(category.id == category_id) {
          $('.subcategory').removeAttr('disabled')
          $('.service').removeAttr('disabled')
          $('.subcategory').html('') 
          $('.service').html('')

          window.subcategories = category.subcategories

          $.each(window.subcategories, function(id, subcategory){
            $('.subcategory').append($('<option>', {value: subcategory.id,text : subcategory.title}))
            
            if($('.subcategory').val() == subcategory.id){
              $.each(subcategory.services, function(id, service){
                $('.service').append($('<option>', { value: service.id, text : service.short_title }))
              })
            }
          })
        }
        else {}
      })
    })


    $('.subcategory').on('change', function(){
      subcategory_id = parseInt($(this).val())

      $.each(window.subcategories, function(id, subcategory){
        if(subcategory.id == subcategory_id) {
          $('.service').removeAttr('disabled')
          $('.service').html('')

          $.each(subcategory.services, function(id, service){
            $('.service').append($('<option>', {
              value: service.id,
              text : service.short_title
            }))
          })
        }
        else {}
      })
    });

    $('.is_station').on('change', function(){
      if(this.checked){
        $('.stationBlock').css('display', '');
      }else{
        $('.stationBlock').css('display', 'none');
      }
    });

    $('.carType').on('change', function(){
      $('.vehiclesCount').css('display', '');
    });

    $('.vehicleCount').on('keyup', function(){
      carType = Number.parseInt($('.carType').val());
      carsCount = Number.parseInt($('.vehicleCount').val());
      if(carType <= 4){
        $('#order_item_car_count').val(carsCount);
      }else if(carType == 5){
        $('#order_item_minivan_count').val(carsCount);
      }else{
        $('#order_item_suv_count').val(carsCount);
      }
    });

    $(".client").bind("input", function(e) {
      if($(this).val().length >= 3){
        $.ajax({
          url: "<%= admin_panel_search_clients_path %>",
          data: { q: $(this).val() },
          method: 'get',
          success: function(data){
            window.clients = data

            $('.tbody_clients').html('')
            $.each(data, function(id, client){
              $('.tbody_clients').append("<tr data-id="+ id +" class='tr-result'><td>" + client.id + "</td><td>" + client.name + "</td><td>" + client.email + "</td><td>" + client.phone_number + "</td><td><a data-client-id="+ id +" href='/admin/panel/order_items/new?client_id=" + client.id + "' class='create-order_choose-client'>Choose</a></td></tr>")
            })
          }
        })
      }
    })

    var myLatlng = initCoords();
    var marker;
    var map;
    function initMapClient() {
      // Create a map object and specify the DOM element for display.
      map = new google.maps.Map(document.getElementById('map_client'), {
        center: { lat: 53.347974, lng: -6.271571 },
        scrollwheel: true,
        zoom: 14,
        mapTypeId:google.maps.MapTypeId.ROADMAP,
        disableDefaultUI: true,
        zoomControl: true,
        scaleControl: true,
      });

      marker = new google.maps.Marker({
        position: { lat: 53.347974, lng: -6.271571 },
        map: map
      });

      var options = {
        componentRestrictions: {country: 'ie'}
      };

      var geocoder = new google.maps.Geocoder();

      var searchBox = new google.maps.places.Autocomplete(document.getElementById('pac-input'), options);

      map.controls[google.maps.ControlPosition.TOP_CENTER].push(document.getElementById('pac-input'));
      google.maps.event.addListener(searchBox, 'place_changed', function() {
        searchBox.set('map', null);
        var place = searchBox.getPlace();
        var location = place.geometry.location;
        marker.setPosition({ lat:  location.lat(), lng: location.lng()});
        setCoordsOnInputs({ lat:  location.lat(), lng: location.lng()});
        setAddressToSearchBox(place);
        marker.setMap(map)
        map.setCenter({ lat:  location.lat(), lng: location.lng()});
        map.setZoom(Math.min(map.getZoom(),14));
      });

      google.maps.event.addListener(map, 'click', function(e) {
        positions = { lat: e.latLng.lat(), lng: e.latLng.lng() }
        geocoder.geocode({'location': positions}, function(results, status) {
            if (status === google.maps.GeocoderStatus.OK) {
              if (results[1]) {
                setAddressToSearchBox(results[1])
              } else {
                window.alert('No results found');
              }
            } else {
              window.alert('Geocoder failed due to: ' + status);
            }
          });
        marker.setPosition(positions);
        setCoordsOnInputs(positions);
      });
    }

    if (gon.client) { 
      initMapClient();
      setCoordsOnInputs(initCoords())
    }
    
    stop_preloader();

    function initCoords() {
      lat = $('.create_order-lat').val();
      lon = $('.create_order-lon').val();
    
      if(lat && lon){
        if (lat.length != 0 && lon.length != 0) {
          return { lat: parseFloat(lat), lng: parseFloat(lon) };
        } else {
          
        }
      } else {
        return { lat: 53.347974, lng: -6.271571 };
      }    
    }

    function setCoordsOnInputs(positions) {
      $('.create_order-lon').val(positions.lng)
      $('.create_order-lat').val(positions.lat)
    }

    function setAddressToSearchBox(place) {
      $('#pac-input').val(place.formatted_address)
    }

    $('#order_item_description').val('').trigger('change');
  <%= render partial: 'admin/panel/partials/flash_msg' %>
  </script>
<% end %>
<%= render partial: 'admin/panel/partials/add_card_modal' %>
<%= render partial: 'admin/panel/partials/add_client_modal' %>
<%= render partial: 'admin/panel/partials/order_calendar' %>
<%= render partial: 'admin/panel/partials/client_info' %>