<%= render 'admin/shared/map' %>
<div class="be-wrapper be-fixed-sidebar">
  <%= render partial: 'admin/panel/partials/header' %>

  <%= render partial: 'admin/panel/partials/sidebar' %>

  <div class="be-content">
    <div class="page-head">
      <h2 class="page-head-title">Order</h2>
      <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb page-head-nav">
          <li class="breadcrumb-item"><a href="<%= admin_panel_path %>">Home</a></li>
          <li class="breadcrumb-item"><a href="<%= admin_panel_order_items_path %>">Orders</a></li>
          <li class="breadcrumb-item active">Show</li>
        </ol>
      </nav>
    </div>
  <div class="main-content container-fluid">
  <div class="user-profile">
    <div class="col-lg-12">
      <div class="user-info-list card">
        <% unless @order.canceled? || @order.completed_paid? %>
          <div class="card-header" style="float: right">
            <div class="custom-controls-stacked">
                <a class="btn btn-space btn-primary md-trigger" data-modal="reassign-master" style="color: white">Reassign pro</a>
                <a href="<%= cancel_admin_panel_order_items_path(id: @order.id) %>" class="btn btn-space btn-secondary" data-method="post">Cancel order</a>
            </div>
          </div>
        <% end %>
        <div class="card-header card-header-divider">Order<span class="card-subtitle">
          <div class="icon-container">
            <a href="<%= edit_admin_panel_order_item_path(@order)%>">
              <div class="icon"><span class="mdi mdi-edit"></span></div>
              <span class="icon-class">Edit</span>
            </a>
          </div>
        </span></div>
        <div class="card-body">
          <table class="no-border no-strip skills">
            <tbody class="no-border-x no-border-y">
              <tr>
                <td class="icon"><span class="mdi mdi-account"></span></td>
                <td class="item">Client<span class="icon s7-portfolio"></span></td>
                <td><%= @order.client.name if @order.client.present? %></td>
              </tr>
              <tr>
                <td class="icon"><span class="mdi mdi-account"></span></td>
                <td class="item">Client's Avatar<span class="icon s7-portfolio"></span></td>
                <td>
                  <% if @order.client.present? %>
                    <% if @order.client.image.present? %>
                      <%= image_tag @order.client.image, class: 'img_size' %>
                    <% else %>
                      <%= image_tag 'admin/panel/profiledefault.png', size: '250x200' %>
                    <% end %>
                  <% end %>
                </td>
              </tr>
              <tr>
                <td class="icon"><span class="mdi mdi-account"></span></td>
                <td class="item">Valefyer<span class="icon s7-portfolio"></span></td>
                <td><%= @order.master.name if @order.master.present? %></td>
              </tr>
              <tr>
                <td class="icon"><span class="mdi mdi-account"></span></td>
                <td class="item">Valefyer's Avatar<span class="icon s7-portfolio"></span></td>
                <td>
                  <% if @order.master.present? %>
                    <% if @order.master.image.present? %>
                      <%= image_tag @order.master.image, class: 'img_size' %>
                    <% else %>
                      <%= image_tag 'admin/panel/profiledefault.png', size: '250x200' %>
                    <% end %>
                  <% end %>
                </td>
              </tr>
              <tr>
                <td class="icon"><span class="mdi mdi-directions-car"></span></td>
                <td class="item">Anything we should know<span class="icon s7-gift"></span></td>
                <td><%= @order.description %></td>
              </tr>
              <tr>
                <td class="icon"><span class="mdi mdi-home"></span></td>
                <td class="item">Address<span class="icon s7-gift"></span></td>
                <td><%= @order.address %></td>
              </tr>
              <tr>
                <td class="icon"><span class="mdi mdi-calendar"></span></td>
                <td class="item">Order time<span class="icon s7-gift"></span></td>
                <td style="color: green"><%= get_custom_date(@order.order_time) if @order.order_time.present? %></td>
              </tr>
              <tr>
                <td class="icon"><span class="mdi mdi-time-interval"></span></td>
                <td class="item">Completed time<span class="icon s7-gift"></span></td>
                <td><%= get_custom_date(@order.duration_date) if @order.duration_date.present? %></td>
              </tr>
              <tr>
                <td class="icon"><span class="mdi mdi-time-interval"></span></td>
                <td class="item">Duration<span class="icon s7-gift"></span></td>
                <td><%= Time.at((@order.duration_date - @order.order_time)).utc.strftime("%H hour %M minutes") if @order.duration_date.present? and @order.order_time.present? %></td>
              </tr>
              <tr>
                <td class="icon"><span class="mdi mdi-view-headline"></span></td>
                <td class="item">Category<span class="icon s7-gift"></span></td>
                <td><%= @order.category.title if @order.category.present? %></td>
              </tr>
              <tr>
                <td class="icon"><span class="mdi mdi-view-headline"></span></td>
                <td class="item">Car type<span class="icon s7-gift"></span></td>
                <td><%= @order.subcategory.title if @order.subcategory.present? %></td>
              </tr>
              <tr>
                <td class="icon"><span class="mdi mdi-local-laundry-service"></span></td>
                <td class="item">Service<span class="icon s7-gift"></span></td>
                <td><%= @order.services.map{ |service| service.title }.join(',') %></td>
              </tr>
              <tr>
                <td class="icon"><span class="mdi mdi-check"></span></td>
                <td class="item">Price<span class="icon s7-gift"></span></td>
                <td><%= "€ #{@order.total_price.to_i}" %></td>
              </tr>
              <tr>
                <td class="icon"><span class="mdi mdi-caret-right"></span></td>
                <td class="item">Status<span class="icon s7-gift"></span></td>
                <td style="color: green"><%= @order.status_name %></td>
              </tr>
              <tr>
                <td class="icon"><span class="mdi mdi-calendar"></span></td>
                <td class="item">Created at<span class="icon s7-gift"></span></td>
                <td><%= get_custom_date(@order.created_at) %></td>
              </tr>
              <tr>
                <td class="icon"><span class="mdi mdi-time-interval"></span></td>
                <td class="item">Accepted time<span class="icon s7-gift"></span></td>
                <td><%= get_custom_date(@order.accepted_time) %></td>
              </tr>
              <tr>
                <td class="icon"><span class="mdi mdi-time-interval"></span></td>
                <td class="item">Start work time<span class="icon s7-gift"></span></td>
                <td><%= get_custom_date(@order.start_work) %></td>
              </tr>
              <tr>
                <td class="icon"><span class="mdi mdi-time-interval"></span></td>
                <td class="item">End work time<span class="icon s7-gift"></span></td>
                <td><%= get_custom_date(@order.end_work_time) %></td>
              </tr>
              <tr>
              <tr>
                <td class="icon"><span class="mdi mdi-calendar"></span></td>
                <td class="item">Registration numbers<span class="icon s7-gift"></span></td>
                <td><%= @order.reg_numbers %></td>
              </tr>
              <% if @order.promo_code.present? %>
                <tr>
                  <td class="icon"><span class="mdi mdi-calendar"></span></td>
                  <td class="item">Promocode ID<span class="icon s7-gift"></span></td>
                  <td><%= @order.promo_code.promo_code_id %></td>
                </tr>
                <tr>
                  <td class="icon"><span class="mdi mdi-calendar"></span></td>
                  <td class="item">Promocode discount<span class="icon s7-gift"></span></td>
                  <td><%= @order.promo_code.discount %>€</td>
                </tr>
              <% end %>

              <tr class="card-header-divider">
                <td class="icon"><span class="mdi mdi-format-list-numbered"></span></td>
                <td class="item">Images<span class="icon s7-gift"></span></td>
                <td><%= @order.images.inject("") {|links, data| links += image_tag(image_path(data), size: "359x135", class: 'order_images_click') }.html_safe + tag(:br) %></td>
              </tr>
              <tr class="card-header-divider">
                <td class="icon"><span class="mdi mdi-format-list-numbered"></span></td>
                <td class="item">After work images<span class="icon s7-gift"></span></td>
                <td><%= @order.after_work_images.inject("") {|links, data| links += image_tag(image_path(data), size: "359x135", class: 'after_work order_after_images_click') }.html_safe  + tag(:br)%></td>
              </tr>
              <a class='btn btn-space btn-primary md-trigger order_images' data-toggle="modal" data-target="#order_images" data-modal='' style="color: white; display: none;"></a>
              <a class='btn btn-space btn-primary md-trigger order_after_images' data-toggle="modal" data-target="#order_after_images" data-modal='' style="color: white; display: none;"></a>
              <tr>
                <td class="icon"><span class="mdi mdi-format-list-numbered"></span></td>
                <td class="item">Additional Payment<span class="icon s7-gift"></span></td>
                <% if @order.additional_payment.present? %>
                  <% if @order.additional_payment.client_confirm? %>
                    <td><%= "€ #{@order.additional_payment.additional_price.to_i} - Client confirmed" %></td>
                  <% else %>
                    <td><%= "€ #{@order.additional_payment.additional_price.to_i} - Client not confirm" %></td>
                  <% end %>
                <% else %>
                  <td><%= "No" %></td>
                <% end %>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>
    
  </div>
  <div class="row">
    <div class="col-lg-10">
      <div class="user-info-list card">
        <div class="card-header card-header-divider">Feedback from client<span class="card-subtitle"></span></div>
        <div class="card-body">
          <table class="no-border no-strip skills">
            <tbody class="no-border-x no-border-y">
            <% if @order.feedbacks.present? %>
              <% feedback = @order.feedbacks.first %>
              <tr>
                <td class="icon"><span class="mdi mdi-format-list-numbered"></span></td>
                <td class="item">Comment<span class="icon s7-gift"></span></td>
                <td><%= feedback.comment %></td>
              </tr>
              <tr>
                <td class="icon"><span class="mdi mdi-format-list-numbered"></span></td>
                <td class="item">Polite<span class="icon s7-gift"></span></td>
                <% stars = '' %>
                <% feedback.polite.times { stars += '<span class="fa fa-star checked_span"></span>' } if feedback.polite.present? %>
                <td><%= raw stars %></td>
              </tr>
              <tr>
                <td class="icon"><span class="mdi mdi-format-list-numbered"></span></td>
                <td class="item">Arrived on time<span class="icon s7-gift"></span></td>
                <% stars = '' %>
                <% feedback.orderly.times { stars += '<span class="fa fa-star checked_span"></span>' } if feedback.orderly.present? %>
                <td><%= raw stars %></td>
              </tr>
              <tr>
                <td class="icon"><span class="mdi mdi-format-list-numbered"></span></td>
                <td class="item">Quality of work<span class="icon s7-gift"></span></td>
                <% stars = '' %>
                <% feedback.friendly.times { stars += '<span class="fa fa-star checked_span"></span>' } if feedback.friendly.present? %>
                <td><%= raw stars %></td>
              </tr>
              <tr>
                <td class="icon"><span class="mdi mdi-format-list-numbered"></span></td>
                <% if feedback.tip.to_i > 0 %>
                  <td class="item">Tips:<span class="icon s7-gift"></span></td>
                  <td><%= feedback.tip.to_i %></td>
                <% else %>
                  <td class="item">Tips:<span class="icon s7-gift"></span></td>
                  <td><%= 0 %></td>
                <% end %>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>

      </div>
    </div>

  </div>
  <div class="row">
    <div class="col-lg-10">
      <div class="user-info-list card">
        <div class="card-header card-header-divider">VALEFYER's location<span class="card-subtitle"></span></div>
        <div class="card-body">
          <div id="map_client" class="content" style="height: 350px;"></div>
        </div>
      </div>
    </div>
  </div>
  
</div>
    </div>
  </div>
  <%= render partial: 'admin/panel/partials/navigation_bar' %>
</div>
<%= content_for :javascript do %>
<script type="text/javascript">
  $.fn.niftyModal('setDefaults',{
    overlaySelector: '.modal-overlay',
    contentSelector: '.modal-content',
    closeSelector: '.modal-close',
    classAddAfterOpen: 'modal-show'
  });

  App.init();
  App.formElements();
  // App.tableFilters();
  stop_preloader();

  var mastersLatLng = initCoords();
  initMapClient();
  createReassignProForm();

  $('.order_after_images_click').on('click', function(){
    $('.order_after_images').click();
  });

  $('.order_images_click').on('click', function(){
    $('.order_images').click();
  });

  function initMapClient() {
    // Create a map object and specify the DOM element for display.
    var map = new google.maps.Map(document.getElementById('map_client'), {
      center: mastersLatLng ? mastersLatLng : { lat: 53.3374107, lng: -6.3122344 },
      scrollwheel: true,
      zoom: 16,
      mapTypeId:google.maps.MapTypeId.ROADMAP,
      disableDefaultUI: true,
      zoomControl: true,
      scaleControl: true
    });

    if(mastersLatLng){
      var marker = new google.maps.Marker({
        position: mastersLatLng,
        map: map
      });
    }

    if(gon.master){
      infoWindowText = gon.master.name ? gon.master.name : gon.master.email;
      var infoWindow = new google.maps.InfoWindow({
        content: infoWindowText
      });

      google.maps.event.addListener(marker, 'click', function () {
        infoWindow.open(map, marker);
      });
    }

  }

  function initCoords() {
    if(gon.latLng){
      lat = Number.parseFloat(gon.latLng[0]);
      lon = Number.parseFloat(gon.latLng[1]);
      return { lat: lat, lng: lon };
    }
  }

  function createReassignProForm(){
    order = gon.order;
    $("#master_id").attr("data-placeholder","Reassign pro");
    var proOptions = '';
    $.each(gon.pros, function(id, pro){
      proOptions += '<option value=' + pro.id + '>' + pro.name + ' ' + pro.email +  '</option>';
    });
    $('.master_id').append(proOptions);
    $('.master_id').select2().val(order.master_id).trigger('change');
    $('#clientName').val(gon.client.name);
    $('#address').val(order.address);
    $('#order_time').val(order.order_time);
    $('#status').val(order.status);
    $('#order_id').val(order.id);
    $('.reassign-master').click();
  }

  <%= render partial: 'admin/panel/partials/flash_msg' %>
</script>
<% end %>
<%= render partial: 'admin/panel/partials/reassign_master' %>
<%= render partial: 'admin/panel/partials/order_images' %>
<%= render partial: 'admin/panel/partials/order_after_images' %>