<%= render 'admin/shared/map' %>
<div class="be-wrapper be-fixed-sidebar">
  <%= render partial: 'admin/panel/partials/header' %>

  <%= render partial: 'admin/panel/partials/sidebar' %>

  <div class="be-content">
    <div class="page-head">
      <h2 class="page-head-title">Districts</h2>
      <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb page-head-nav">
          <li class="breadcrumb-item"><a href="<%= admin_panel_path %>">Home</a></li>
          <li class="breadcrumb-item"><a href="<%= admin_panel_districts_path %>">Districts</a></li>
          <li class="breadcrumb-item active">Edit</li>
        </ol>
      </nav>
    </div>
    <div class="main-content container-fluid">
      <div class="card card-border-color card-border-color-primary">
        <div class="card-header card-header-divider">District form<span class="card-subtitle"></span></div>
        <div class="card-body">
          <%= form_for @district, url: admin_panel_district_path, method: :put do |f| %>
            <div class="form-group row mt-2">
              <label class="col-3 col-lg-2 col-form-label text-right" for="inputEmail">Name</label>
              <div class="col-9 col-lg-10">
                <%= f.text_field :name, class: 'form-control', required: true, id: 'inputTitle', placeholder: 'name' %>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-3 col-lg-2 col-form-label text-right">Content</label>
              <div class="col-9 col-lg-10">
                <%= f.text_area :description, class: 'form-control', id: 'inputTitle', placeholder: 'content' %>
              </div>
            </div>
            <div class="form-group row mt-2">
              <label class="col-3 col-lg-2 col-form-label text-right" for="inputEmail">Image</label>
              <div class="col-9 col-lg-10">
                <%= f.file_field :image, class: 'form-control', id: 'inputContent', placeholder: 'file' %>
              </div>
            </div>
            <div class="form-group row mt-2">
              <label class="col-3 col-lg-2 col-form-label text-right" for="inputEmail">Country</label>
              <div class="col-9 col-lg-10">
                <select class="select2 country_id" id="country_id" name="country_id">
                  <% @countries.each do |country| %>
                    <option value="<%= country.id %>"><%= country.name %></option>
                  <% end %>
                </select>
              </div>
            </div>
            <div class="form-group row mt-2">
              <label class="col-3 col-lg-2 col-form-label text-right" for="inputEmail">City</label>
              <div class="col-9 col-lg-10">
                <select class="select2 cities" id="city_id district_city_id" name="district[city_id]">
                </select>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-3"><label class="col-form-label text-right" for="inputEmail">Draw area of the district</label></div>
              <div class="col-lg-8">
                <div class="user-info-list card">
                  <div class="card-body">
                    <div id="map_districts" class="content" style="height: 350px;"></div>
                    <%= f.hidden_field :coords, class: 'form-control', id: 'district_coords' %>
                  </div>
                </div>
              </div>
            </div>
            <div class="row pt-3 mt-1">
              <div class="col-sm-6 col-lg-6 pb-4 pb-lg-0">
                <label class="be-checkbox custom-control custom-checkbox">
                </label>
              </div>
              <div class="col-sm-6">
                <p class="text-right">
                  <button class="btn btn-space btn-primary" type="submit">Update</button>
                </p>
              </div>
            </div>
          <%end %>
        </div>
      </div>
    </div>
  </div>
  <%= render partial: 'admin/panel/partials/navigation_bar' %>
</div>
<%= content_for :javascript do %>
  <script type="text/javascript">
    App.init();
    App.formElements();

    $('select#city_id').val(null);
    $('select#country_id').val(null);
    $("#country_id").attr("data-placeholder","Select county");
    $("#city_id").attr("data-placeholder","Select city");

    if(gon.district){
      currentCity = gon.cities.find(function(city){ return city.id == gon.district.city_id });
      if(currentCity){
        createCitySelects(Number.parseInt(currentCity.country_id));
        $('#country_id').val(currentCity.country_id).trigger("change");
        $('#city_id').val(currentCity.id).trigger("change");
      }
    }

    $('#country_id').on('change', function(){
      country_id = $(this).find(":selected").val();
      createCitySelects(Number.parseInt(country_id));
    });

    var map;

    function initialize() {
      map = new google.maps.Map(document.getElementById('map_districts'), {
        center: {
          lat: 53.3374107,
          lng: -6.3122344
        },
        zoom: 12,
        gestureHandling: 'greedy'
      });

      google.maps.Polygon.prototype.my_getBounds = function(){
        var bounds;
        if(this.getPath()){
          bounds = new google.maps.LatLngBounds();
          this.getPath().forEach(function(element,index){bounds.extend(element)});
        }
        return bounds;
      };

      var polygonCoords = [];

      var polygon = new google.maps.Polygon({
        paths: polygonCoords,
        strokeWeight: 2,
        fillOpacity: 0.2,
        zIndex: 1,
        content: gon.district.name,
        draggable: true,
        editable:true
      });

      polygon.setMap(map);

      var infoWindow = new google.maps.InfoWindow;
      polygon.addListener('click', function(event) {
        polygon.setEditable(true);
        infoWindow.setContent(this.content);
        infoWindow.setPosition(event.latLng);
        infoWindow.open(map);
      });

      polygon.addListener('drag', function(){
        buildPolygonCoords(polygon.getPath().getArray());
      });

      polygon.addListener('dragend', function(){
        buildPolygonCoords(polygon.getPath().getArray());
      });

      google.maps.event.addListener(map, 'click', function(event) {
        polygonCoords.push(new google.maps.LatLng(parseFloat(event.latLng.lat()), parseFloat(event.latLng.lng())));
        polygon.setPaths(polygonCoords);
        buildPolygonCoords(polygon.getPath().getArray());
      });

      buildCoordsForPolygon(gon.district.coords, polygonCoords, polygon);
      setCenterOfPolygon(map, polygon);
      $('#remove_polygon').on('click', function () {
        polygonCoords = [];
        polygon.setPaths(polygonCoords);
      })
    }

    function buildPolygonCoords(coords){
      var c = "";
      coords.forEach(function (coord, index, array) {
        index == (Number.parseInt(coords.length )- 1) ?  c += coord.lat() + ':' + coord.lng() : c += coord.lat() + ':' + coord.lng() + ';'
      });
      $('#district_coords').val(c);
    }

    function buildCoordsForPolygon(coords, polygonCoords, polygon){
      if(coords){
        coords.split(';').forEach(function(coord){
          item = coord.split(':');
          polygonCoords.push(new google.maps.LatLng(parseFloat(item[0]), parseFloat(item[1])));
        });
        polygon.setPaths(polygonCoords);
      }
    }

    function setCenterOfPolygon(map, polygon){
      if(polygon.my_getBounds()){
        map.setCenter({lat: polygon.my_getBounds().getCenter().lat(), lng: polygon.my_getBounds().getCenter().lng() });
      }
    }

    function createCitySelects(countryId){
      cities = gon.cities.filter(function(city){ return city.country_id == countryId });
      $("#city_id").attr("data-placeholder","Select city");
      var cityOptions = '';
      $.each(cities, function(id, city){
        $('.cities').removeAttr('disabled');
        $('.cities').html('');
        cityOptions += '<option value=' + city.id + '>' + city.name + '</option>';
      });
      $('.cities').append(cityOptions);
      $('#city_id').trigger('change');
    }

    stop_preloader();

    <%= render partial: 'admin/panel/partials/flash_msg' %>

    google.maps.event.addDomListener(window, "load", initialize);

  </script>
<% end %>