<div class="be-wrapper be-fixed-sidebar">
  <%= render partial: 'admin/panel/partials/header' %>

  <%= render partial: 'admin/panel/partials/sidebar' %>

  <div class="be-content">
    <div class="page-head">
      <h2 class="page-head-title">Districts</h2>
      <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb page-head-nav">
          <li class="breadcrumb-item"><a href="<%= admin_panel_path %>">Home</a></li>
          <li class="breadcrumb-item"><a href="<%= admin_panel_districts_path %>">Districts</a></li>
          <li class="breadcrumb-item active">List</li>
        </ol>
      </nav>
    </div>
    <div class="main-content container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card card-table">
            <%= form_tag admin_panel_districts_path, method: :get, id: 'district_filters_form' do%>
              <div class="row table-filters-container">
                <div class="col-4 col-lg-4 table-filters pb-0 pb-xl-4 filter_blocks">
                  <div class="row">
                    <div class="col-12 col-lg-12 table-filters pb-0 pb-xl-5" style="padding-top: 0; padding-bottom: 0 !important;"><span class="table-filter-title title_filter">Name</span>
                      <div class="filter-container">
                        <label class="control-label">Find by name:</label>
                        <div class="row">
                          <div class="col-6">
                            <%= select_tag :name_filter, options_for_select(get_filter_options, params[:name_filter]), { class: 'select2 select2-hidden-accessible name_filter' } %>
                          </div>
                          <div class="col-6">
                            <%= text_field_tag :name, params[:name], class: 'form-control form-control-sm name' %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-4 col-lg-4 table-filters pb-0 pb-xl-4 filter_blocks">
                  <div class="row">
                    <div class="col-12 col-lg-12 table-filters pb-0 pb-xl-5" style="padding-top: 0; padding-bottom: 0 !important;"><span class="table-filter-title title_filter">Description</span>
                      <div class="filter-container">
                        <label class="control-label">Find by description:</label>
                        <div class="row">
                          <div class="col-6">
                            <%= select_tag :description_filter, options_for_select(get_filter_options, params[:description_filter]), { class: 'select2 select2-hidden-accessible description_filter' } %>
                          </div>
                          <div class="col-6">
                            <%= text_field_tag :description, params[:description], class: 'form-control form-control-sm description' %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 col-lg-12 table-filters pb-0 pb-xl-5">
                    <div class="filter-container">
                      <div class="row">
                        <div class="col-7" style="padding-right: 0 !important;">
                        </div>
                        <div class="col-4" style="padding-right: 0 !important;">
                          <div class="custom-controls-stacked">
                            <a href="<%= new_admin_panel_district_path %>" class="btn btn-space btn-secondary">New district</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-4 col-lg-4 table-filters pb-0 pb-xl-4 filter_blocks">
                  <div class="row">
                    <div class="col-12 col-lg-12 table-filters pb-0 pb-xl-5" style="padding-top: 0; padding-bottom: 0 !important;"><span class="table-filter-title title_filter">Country</span>
                      <div class="filter-container">
                        <label class="control-label">Find by country:</label>
                        <div class="row">
                          <div class="col-12">
                            <%= select_tag :country_id, options_for_select(Country.all.map{ |country| [country.name, country.id] }, params[:country_id]), { class: 'select2 select2-hidden-accessible country_id', id: 'country_id' } %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-4 col-lg-4 table-filters pb-0 pb-xl-4 filter_blocks">
                  <div class="row">
                    <div class="col-12 col-lg-12 table-filters pb-0 pb-xl-5" style="padding-top: 0; padding-bottom: 0 !important;"><span class="table-filter-title title_filter">City</span>
                      <div class="filter-container">
                        <label class="control-label">Find by city:</label>
                        <div class="row">
                          <div class="col-12">
                            <%= select_tag :city_id, options_for_select(City.all.map{ |city| [city.name, city.id] }, params[:city_id]), { class: 'select2 select2-hidden-accessible city_id', id: 'city_id' } %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-lg-12 table-filters pb-0 pb-xl-4 filter_buttons">
                  <div class="row">
                    <div class="col-12 col-lg-12 table-filters filter_blocks">
                      <div class="filter-container">
                        <%= submit_tag('Filter', type: 'submit', class: 'btn btn-space btn-primary') %>
                        <%= submit_tag('Reset', type: 'cancel', class: 'btn btn-space btn-secondary reset_district_filters') %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
            <div class="card-body">
              <div class="noSwipe">
                <table class="table table-striped table-hover be-table-responsive" id="table1">
                  <thead>
                  <tr>
                    <th>
                      <label class="custom-control custom-control-sm custom-checkbox">
                        <input class="custom-control-input" type="checkbox"><span class="custom-control-label"></span>
                      </label>
                    </th>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>City</th>
                  </tr>
                  </thead>
                  <tbody>
                  <% @districts.each do |district| %>
                    <tr class="success done">
                      <td>
                        <label class="custom-control custom-control-sm custom-checkbox">
                          <input class="custom-control-input" type="checkbox"><span class="custom-control-label"></span>
                        </label>
                      </td>
                      <td class="cell-detail"><span><a href="<%= admin_panel_district_path(district.id) %>"><%= district.id %></a></span></td>
                      <td class="cell-detail"><span><%= district.name %></span></td>
                      <td class="cell-detail"><span><%= district.description %></span></td>
                      <td class="cell-detail"><span><%= link_to district.city.name, admin_panel_city_path(district.city) if district.city.present? %></span></td>
                      <td class="text-right">
                        <div class="btn-group btn-hspace">
                          <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">Actions
                            <span class="icon-dropdown mdi mdi-chevron-down"></span></button>
                          <div class="dropdown-menu" role="menu">
                            <a class="dropdown-item" href="<%= admin_panel_district_path(district) %>">Show</a>
                            <a class="dropdown-item" href="<%= edit_admin_panel_district_path(district) %>">Edit</a>
                            <a class="dropdown-item" href="<%= admin_panel_district_path(district) %>" data-method="delete" data-confirm="Are you sure?">Delete</a>
                          </div>
                        </div>
                      </td>
                    </tr>
                  <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= render partial: 'admin/panel/partials/navigation_bar' %>
</div>
<%= content_for :javascript do %>
  <script type="text/javascript">
    App.init();
    App.formElements();
    stop_preloader();

    $('.reset_district_filters').on('click', function(){
      $('#district_filters_form')[0].reset();
      window.location.href = '/admin/panel/districts'
    });

    <% unless params[:country_id].present? %>
      $('#country_id').val('').trigger('change');
    <% end %>

    <% unless params[:city].present? %>
      $('#city_id').val('').trigger('change');
    <% end %>

    <%= render partial: 'admin/panel/partials/flash_msg' %>
  </script>
<% end %>