<%= render 'admin/shared/map' %>
<div class="be-wrapper be-fixed-sidebar">
  <%= render partial: 'admin/panel/partials/header' %>

  <%= render partial: 'admin/panel/partials/sidebar' %>

  <div class="be-content">
    <div class="page-head">
      <h2 class="page-head-title">Districts</h2>
      <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb page-head-nav">
          <li class="breadcrumb-item"><a href="<%= admin_panel_path %>">Home</a></li>
          <li class="breadcrumb-item"><a href="<%= admin_panel_districts_path %>">Districts</a></li>
          <li class="breadcrumb-item active">Show</li>
        </ol>
      </nav>
    </div>
    <div class="main-content container-fluid">
      <div class="user-profile">
        <div class="row">
          <div class="col-lg-10">
            <div class="user-info-list card">
              <div class="card-header card-header-divider">District
                <span class="card-subtitle">
                  <div class="icon-container">
                    <a href="<%= edit_admin_panel_district_path(@district)%>">
                      <div class="icon"><span class="mdi mdi-edit"></span></div>
                      <span class="icon-class">Edit</span>
                    </a>
                  </div>
                </span>
              </div>
              <div class="card-body">
                <table class="no-border no-strip skills">
                  <tbody class="no-border-x no-border-y">
                  <tr>
                    <td class="icon"><span class="mdi mdi-case"></span></td>
                    <td class="item">Name<span class="icon s7-portfolio"></span></td>
                    <td><%= @district.name %></td>
                  </tr>
                  <tr>
                    <td class="icon"><span class="mdi mdi-case"></span></td>
                    <td class="item">Description<span class="icon s7-portfolio"></span></td>
                    <td><%= @district.description %></td>
                  </tr>
                  <tr>
                    <td class="icon"><span class="mdi mdi-case"></span></td>
                    <td class="item">Image<span class="icon s7-portfolio"></span></td>
                    <td><%= image_tag @district.image %></td>
                  </tr>
                  <tr>
                    <td class="icon"><span class="mdi mdi-case"></span></td>
                    <td class="item">City<span class="icon s7-portfolio"></span></td>
                    <td><%= link_to @district.city.name, admin_panel_city_path(@district.city) if @district.city.present? %></td>
                  </tr>
                  <tr>
                  <td class="icon"><span class="mdi mdi-case"></span></td>
                  <td class="item">Map<span class="icon s7-portfolio"></span></td>
                  <td colspan="3">
                    <div id="map_districts" class="content" style="height: 350px;"></div>
                  <td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
  <%= render partial: 'admin/panel/partials/navigation_bar' %>
</div>
<%= content_for :javascript do %>
  <script type="text/javascript">
    App.init();
    App.formElements();

    <% if flash['error'].present? %>
      $.gritter.add({
        title: 'Error',
        text: "<%= flash['error']%>",
        class_name: 'color danger'
      });
    <% end %>

    <% if flash['success'].present? %>
      $.gritter.add({
        title: 'Success',
        text: "<%= flash['success']%>",
        class_name: 'color success'
      });
    <% end %>

    <% if flash['notice'].present? %>
      $.gritter.add({
        title: 'Success',
        text: "<%= flash['notice']%>",
        class_name: 'color success'
      });
    <% end %>
    // App.tableFilters();
    var map;

    function initialize() {
      map = new google.maps.Map(document.getElementById('map_districts'), {
        center: {
          lat: 53.3374107,
          lng: -6.3122344
        },
        zoom: 12,
        gestureHandling: 'greedy'
      });

      google.maps.Polygon.prototype.my_getBounds = function(){
        var bounds = new google.maps.LatLngBounds();
        this.getPath().forEach(function(element,index){bounds.extend(element)});
        return bounds
      };

      var polygonCoords = [];

      var polygon = new google.maps.Polygon({
        paths: polygonCoords,
        strokeWeight: 2,
        fillOpacity: 0.2,
        zIndex: 1,
        content: gon.district.name,
        draggable: false,
        editable:false
      });

      polygon.setMap(map);

      var infoWindow = new google.maps.InfoWindow;
      polygon.addListener('click', function(event) {
        // toggle editable state
        polygon.setEditable(true);
        infoWindow.setContent(this.content);
        infoWindow.setPosition(event.latLng);
        infoWindow.open(map);
      });

      buildCoordsForPolygon(gon.district.coords, polygonCoords, polygon);
      setCenterOfPolygon(map, polygon);
    }

    function buildCoordsForPolygon(coords, polygonCoords, polygon){
      if(coords){
        coords.split(';').forEach(function(coord){
        item = coord.split(':');
        polygonCoords.push(new google.maps.LatLng(parseFloat(item[0]), parseFloat(item[1])));
      });
        polygon.setPaths(polygonCoords);
      }
    }

    function setCenterOfPolygon(map, polygon){
      if(polygon.my_getBounds()){
        map.setCenter({lat: polygon.my_getBounds().getCenter().lat(), lng: polygon.my_getBounds().getCenter().lng() });
      }
    }

    google.maps.event.addDomListener(window, "load", initialize);

    stop_preloader();
    <%= render partial: 'admin/panel/partials/flash_msg' %>
  </script>
<% end %>