<div class="be-wrapper be-fixed-sidebar">
  <%= render partial: 'admin/panel/partials/header' %>

  <%= render partial: 'admin/panel/partials/sidebar' %>

  <div class="be-content">
    <div class="page-head">
      <h2 class="page-head-title">Referals</h2>
      <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb page-head-nav">
          <li class="breadcrumb-item"><a href="<%= admin_panel_path %>">Home</a></li>
          <li class="breadcrumb-item"><a href="<%= admin_panel_promo_codes_path %>">List</a></li>
          <li class="breadcrumb-item active">List</li>
        </ol>
      </nav>
    </div>
    <div class="main-content container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card card-table">
            <%= form_tag admin_panel_referals_path, method: :get, id: 'referals_filters_form' do%>
              <div class="row table-filters-container">
                <div class="col-4 col-lg-4 table-filters pb-0 pb-xl-4 filter_blocks">
                  <div class="row">
                    <div class="col-12 col-lg-12 table-filters pb-0 pb-xl-5" style="padding-top: 0; padding-bottom: 0 !important;"><span class="table-filter-title title_filter">Promo code id</span>
                      <div class="filter-container">
                        <label class="control-label">Find by promo_code:</label>
                        <div class="row">
                          <div class="col-12">
                            <%= select_tag :promo_code_id, options_for_select(PromoCode.all.map{ |promo_code| [promo_code.id, promo_code.id] }, params[:promo_code_id]), { class: 'select2 select2-hidden-accessible promo_code_id', id: 'promo_code_id' } %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-4 col-lg-4 table-filters pb-0 pb-xl-4 filter_blocks">
                  <div class="row">
                    <div class="col-12 col-lg-12 table-filters pb-0 pb-xl-5" style="padding-top: 0; padding-bottom: 0 !important;"><span class="table-filter-title title_filter">Client</span>
                      <div class="filter-container">
                        <label class="control-label">Find by client:</label>
                        <div class="row">
                          <div class="col-12">
                            <%= select_tag :client_id, options_for_select(User::Client.all.map{ |client| [client.name, client.id] }, params[:client_id]), { class: 'select2 select2-hidden-accessible client_id', id: 'client_id' } %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-4 col-lg-4 table-filters pb-0 pb-xl-4 filter_blocks">
                  <div class="row">
                    <div class="col-12 col-lg-12 table-filters pb-0 pb-xl-5" style="padding-top: 0; padding-bottom: 0 !important;"><span class="table-filter-title title_filter">Client recieved promocode</span>
                      <div class="filter-container">
                        <label class="control-label">Find by client recieved promocode:</label>
                        <div class="row">
                          <div class="col-12">
                            <%= select_tag :recieved_promocode_client_id, options_for_select(User::Client.all.map{ |client| [client.name, client.id] }, params[:recieved_promocode_client_id]), { class: 'select2 select2-hidden-accessible recieved_promocode_client_id', id: 'recieved_promocode_client_id' } %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-3 col-lg-3 table-filters pb-0 pb-xl-4 filter_blocks">
                  <div class="row">
                    <div class="col-12 col-lg-12 table-filters pb-0 pb-xl-5" style="padding-top: 0; padding-bottom: 0 !important;"><span class="table-filter-title title_filter">Order time</span>
                      <div class="filter-container">
                        <label class="control-label">From date:</label>
                        <div class="row">
                          <div class="col-12">
                            <div class="input-group date datetimepicker" data-min-view="2" data-date-format="yyyy-mm-dd">
                              <%= text_field_tag :date_from, params[:date_from], class: 'form-control', size: 16 %>
                              <div class="input-group-append">
                                <button class="btn btn-primary"><i class="icon-th mdi mdi-calendar"></i></button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-3 col-lg-3 table-filters pb-0 pb-xl-4 filter_blocks">
                  <div class="row">
                    <div class="col-12 col-lg-12 table-filters pb-0 pb-xl-5" style="padding-top: 0; padding-bottom: 0 !important;"><span class="table-filter-title title_filter" style="display: none"></span><br>
                      <div class="filter-container">
                        <label class="control-label">To date:</label>
                        <div class="row">
                          <div class="col-12">
                            <div class="input-group date datetimepicker" data-min-view="2" data-date-format="yyyy-mm-dd">
                              <%= text_field_tag :date_to, params[:date_to], class: 'form-control', size: 16 %>
                              <div class="input-group-append">
                                <button class="btn btn-primary"><i class="icon-th mdi mdi-calendar"></i></button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-lg-12 table-filters pb-0 pb-xl-4 filter_buttons">
                  <div class="row">
                    <div class="col-12 col-lg-12 table-filters filter_blocks">
                      <div class="filter-container">
                        <%= submit_tag('Filter', type: 'submit', class: 'btn btn-space btn-primary') %>
                        <%= submit_tag('Reset', type: 'cancel', class: 'btn btn-space btn-secondary reset_referals_filters') %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
            <div class="card-body">
              <div class="noSwipe">
                <table class="table table-striped table-hover be-table-responsive" id="table1">
                  <thead>
                    <tr>
                      <th>
                        <label class="custom-control custom-control-sm custom-checkbox">
                          <input class="custom-control-input" type="checkbox"><span class="custom-control-label"></span>
                        </label>
                      </th>
                      <th>ID</th>
                      <th>Promo code</th>
                      <th>Client</th>
                      <th>Client recieved promo code</th>
                      <th>Order time of Client's first order</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @referals.each do |referal| %>
                    <tr class="success done">
                      <td>
                        <label class="custom-control custom-control-sm custom-checkbox">
                          <input class="custom-control-input" type="checkbox"><span class="custom-control-label"></span>
                        </label>
                      </td>
                      <td class="cell-detail">
                        <span><a href="<%= admin_panel_referal_path(referal.id) %>"><%= referal.id %></a></span>
                      </td>
                      <td class="cell-detail">
                        <% if  referal.promo_code.present? %>
                          <span>
                            <a href="<%= admin_panel_promo_code_path(referal.promo_code.id) %>"><%= referal.promo_code.id %></a>
                          </span>
                        <% end %>    
                      </td>
                      <td class="cell-detail">
                        <span>
                          <% if referal.client.present? %>
                            <a href="<%= admin_panel_client_path(referal.client.try(:id))%>"><%= referal.client.name %></a>
                          <% end %>
                        </span>
                      </td>
                      <td class="cell-detail">
                        <span>
                          <% if referal.shared_client.present? %>
                            <a href="<%= admin_panel_client_path(referal.shared_client.try(:id))%>"><%= referal.shared_client.name %></a>
                          <% end %>
                        </span>
                      </td>
                      <td class="cell-detail">
                        <span><%= get_custom_date(referal.created_at) %></span>
                      </td>
                      <td class="text-right">
                        <div class="btn-group btn-hspace">
                          <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">Actions <span
                          class="icon-dropdown mdi mdi-chevron-down"></span></button>
                          <div class="dropdown-menu" role="menu">
                            <a class="dropdown-item" href="<%= admin_panel_referal_path(referal) %>">Show</a>
                          </div>
                        </div>
                      </td>
                    </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5"></div>
        <div class="col-md-7">
          <div class="card" style="float: right">
            <div class="card-header"></div>
            <div class="card-body">
              <%= paginate @referals %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= render partial: 'admin/panel/partials/navigation_bar' %>
</div>
<%= content_for :javascript do %>
<script type="text/javascript">
  App.init();
  App.formElements();
  stop_preloader();

  $('.reset_referals_filters').on('click', function(){
    $('#referals_filters_form')[0].reset();
    window.location.href = '/admin/panel/referals'
  });

  <% unless params[:promo_code_id].present? %>
    $('#promo_code_id').val('').trigger('change');
  <% end %>

  <% unless params[:client_id].present? %>
    $('#client_id').val('').trigger('change');
  <% end %>

  <% unless params[:recieved_promocode_client_id].present? %>
    $('#recieved_promocode_client_id').val('').trigger('change');
  <% end %>

  <% if flash['error'].present? %>
      $.gritter.add({
        title: 'Error',
        text: "<%= flash['error']%>",
        class_name: 'color danger'
      });
    <% end %>
    
    <% if flash['success'].present? %>
      $.gritter.add({
        title: 'Success',
        text: "<%= flash['success']%>",
        class_name: 'color success'
      });
    <% end %>

    <% if flash['notice'].present? %>
      $.gritter.add({
        title: 'Success',
        text: "<%= flash['notice']%>",
        class_name: 'color success'
      });
    <% end %>
</script>
<% end %>