<div class="be-wrapper be-fixed-sidebar">
  <%= render partial: 'admin/panel/partials/header' %>

  <%= render partial: 'admin/panel/partials/sidebar' %>

  <div class="be-content">
    <div class="page-head">
      <h2 class="page-head-title">Referals</h2>
      <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb page-head-nav">
          <li class="breadcrumb-item"><a href="<%= admin_panel_path %>">Home</a></li>
          <li class="breadcrumb-item"><a href="<%= admin_panel_promo_codes_path %>">List</a></li>
          <li class="breadcrumb-item active">Show</li>
        </ol>
      </nav>
    </div>
    <div class="main-content container-fluid">
      <div class="user-profile">
        <div class="row">
          <div class="col-lg-10">
            <div class="user-info-list card">
              <div class="card-header card-header-divider">Referal
              </div>
              <div class="card-body">
                <table class="no-border no-strip skills">
                  <tbody class="no-border-x no-border-y">
                  <tr>
                    <td class="icon"><span class="mdi mdi-case"></span></td>
                    <td class="item">ID<span class="icon s7-portfolio"></span></td>
                    <td><%= @referal.id%></td>
                  </tr>
                  <tr>
                    <td class="icon"><span class="mdi mdi-cake"></span></td>
                    <td class="item">Promo code<span class="icon s7-gift"></span></td>
                    <td>
                      <% if  @referal.promo_code.present? %>
                        <a href="<%= admin_panel_promo_code_path(@referal.promo_code.id) %>"><%= @referal.promo_code.id %></a>
                      <% end %>
                    </td>
                  </tr>
                  <tr>
                    <td class="icon"><span class="mdi mdi-cake"></span></td>
                    <td class="item">Client<span class="icon s7-gift"></span></td>
                    <td>
                      <% if @referal.client.present? %>
                        <a href="<%= admin_panel_client_path(@referal.client.try(:id))%>"><%= @referal.client.name %></a>
                      <% end %>
                    </td>
                  </tr>
                  <tr>
                    <td class="icon"><span class="mdi mdi-cake"></span></td>
                    <td class="item">Client recieved promo code<span class="icon s7-gift"></span></td>
                    <td>
                      <% if @referal.shared_client.present? %>
                        <a href="<%= admin_panel_client_path(@referal.shared_client.try(:id))%>"><%= @referal.shared_client.name %></a>
                      <% end %>
                    </td>
                  </tr>
                  <tr>
                    <td class="icon"><span class="mdi mdi-cake"></span></td>
                    <td class="item">Order time of Client's first order<span class="icon s7-gift"></span></td>
                    <td><%= get_custom_date(@referal.created_at) %></td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <%= render partial: 'admin/panel/partials/navigation_bar' %>
</div>
<%= content_for :javascript do %>
  <script type="text/javascript">
    App.init();
    App.formElements();
    // App.tableFilters();
    stop_preloader();

    <%= render partial: 'admin/panel/partials/flash_msg' %>
  </script>
<% end %>