<%= render 'admin/shared/map' %>
<br>
<p style="color: #8494a8;font-size: 1.0em;font-weight: bold;margin-left:0.6%">Select borders of the district</p>
<div style='width: 700px; margin: 0 auto;'>
  <div style="margin: 0 auto; width: 20%; margin-bottom: 10px;">
    <button id="remove_polygon" type="button">Remove polygon</button>
  </div>
  <div id="map_serviceman" style='width: 700px; height: 400px;'></div>
</div>
<br>
<script type="text/javascript">
  var map;

  function initialize() {
    map = new google.maps.Map(document.getElementById('map_serviceman'), {
      center: {
          lat: 53.3374107,
          lng: -6.3122344
      },
      zoom: 12,
      gestureHandling: 'greedy'
    });

    google.maps.Polygon.prototype.my_getBounds = function(){
      var bounds;
      if(this.getPath()){
          bounds = new google.maps.LatLngBounds();
          this.getPath().forEach(function(element,index){bounds.extend(element)});
      }
      return bounds;
    };

    var polygonCoords = [];

    var polygon = new google.maps.Polygon({
      paths: polygonCoords,
      strokeWeight: 2,
      fillOpacity: 0.2,
      zIndex: 1,
      content: '<%= district_name.to_s %>',
      draggable: true,
      editable:true
    });

    polygon.setMap(map);

    var infoWindow = new google.maps.InfoWindow;
    polygon.addListener('click', function(event) {
      polygon.setEditable(true);
      infoWindow.setContent(this.content);
      infoWindow.setPosition(event.latLng);
      infoWindow.open(map);
    });

    polygon.addListener('drag', function(){
      buildPolygonCoords(polygon.getPath().getArray());
    });

    polygon.addListener('dragend', function(){
      buildPolygonCoords(polygon.getPath().getArray());
    });

    google.maps.event.addListener(map, 'click', function(event) {
      polygonCoords.push(new google.maps.LatLng(parseFloat(event.latLng.lat()), parseFloat(event.latLng.lng())));
      polygon.setPaths(polygonCoords);
      buildPolygonCoords(polygon.getPath().getArray());
    });

    buildCoordsForPolygon($('#district_coords').val(), polygonCoords, polygon);
    setCenterOfPolygon(map, polygon);
    $('#remove_polygon').on('click', function () {
      polygonCoords = [];
      polygon.setPaths(polygonCoords);
    })
  }

  function buildPolygonCoords(coords){
    var c = "";
    coords.forEach(function (coord, index, array) {
      index == (Number.parseInt(coords.length )- 1) ?  c += coord.lat() + ':' + coord.lng() : c += coord.lat() + ':' + coord.lng() + ';' 
    });
    $('#district_coords').val(c);
  }

  function buildCoordsForPolygon(coords, polygonCoords, polygon){
    if(coords){
      coords.split(';').forEach(function(coord){
      item = coord.split(':');
      polygonCoords.push(new google.maps.LatLng(parseFloat(item[0]), parseFloat(item[1])));
    });
      polygon.setPaths(polygonCoords);
    }
  }

  function setCenterOfPolygon(map, polygon){
    if(polygon.my_getBounds()){
      map.setCenter({lat: polygon.my_getBounds().getCenter().lat(), lng: polygon.my_getBounds().getCenter().lng() });
    }
  }

  google.maps.event.addDomListener(window, "load", initialize);

</script>
