<%= render 'admin/shared/map' %>
<br>
<p style="color: #8494a8;font-size: 1.0em;font-weight: bold;margin-left:0.6%">Select borders of the district</p>
<div style='width: 700px; margin: 0 auto;'>
  <div id="map_serviceman" style='width: 700px; height: 400px;'></div>
  <input id="district_coords" value="<%= coords %>">
</div>
<br>
<script type="text/javascript">
  var map;

  function initialize() {

    map = new google.maps.Map(document.getElementById('map_serviceman'), {
      center: {
        lat: 53.3374107,
        lng: -6.3122344
      },
      zoom: 12,
      gestureHandling: 'greedy'
    });

    google.maps.Polygon.prototype.my_getBounds = function(){
      var bounds = new google.maps.LatLngBounds();
      this.getPath().forEach(function(element,index){bounds.extend(element)});
      return bounds
  };

    var polygonCoords = [];

    var polygon = new google.maps.Polygon({
      paths: polygonCoords,
      strokeWeight: 2,
      fillOpacity: 0.2,
      zIndex: 1,
      content: '<%= district_name.to_s %>',
      draggable: false,
      editable:false
    });

    polygon.setMap(map);

    var infoWindow = new google.maps.InfoWindow;
    polygon.addListener('click', function(event) {
      // toggle editable state
      polygon.setEditable(true);
      infoWindow.setContent(this.content);
      infoWindow.setPosition(event.latLng);
      infoWindow.open(map);
    });

    buildCoordsForPolygon($('#district_coords').val(), polygonCoords, polygon);
    setCenterOfPolygon(map, polygon);
  }

  function buildCoordsForPolygon(coords, polygonCoords, polygon){
    if(coords){
      coords.split(';').forEach(function(coord){
      item = coord.split(':');
      polygonCoords.push(new google.maps.LatLng(parseFloat(item[0]), parseFloat(item[1])));
    });
      polygon.setPaths(polygonCoords);
    }
  }

  function setCenterOfPolygon(map, polygon){
    if(polygon.my_getBounds()){
      map.setCenter({lat: polygon.my_getBounds().getCenter().lat(), lng: polygon.my_getBounds().getCenter().lng() });
    }
  }

  google.maps.event.addDomListener(window, "load", initialize);

</script>
