<%= content_for :javascript do %>
  <%= javascript_include_tag 'panel/stripe_form' %>
<% end %>
<div class="modal-container colored-header colored-header-primary modal-effect-10" id="colored-primary">
  <div class="modal-content">
    <div class="modal-header modal-header-colored">
      <h3 class="modal-title">Custom Header Color</h3>
      <button class="close modal-close" type="button" data-dismiss="modal" aria-hidden="true">
        <span class="mdi mdi-close"> </span>
      </button>
    </div>
    <div class="modal-body">
      <%= render partial: 'admin/panel/partials/stripe_form'%>
    </div>
    <div class="modal-footer">
      <button class="btn btn-secondary modal-close" type="button" data-dismiss="modal">Cancel</button>
    </div>
  </div>
</div>