<div class="modal-container colored-header colored-header-primary modal-effect-10" id="add-client-modal">
  <div class="modal-content">
    <div class="modal-header modal-header-colored">
      <h3 class="modal-title">Add Client Form</h3>
      <button class="close modal-close" type="button" data-dismiss="modal" aria-hidden="true">
        <span class="mdi mdi-close"> </span>
      </button>
    </div>
    <div class="modal-body">
      <%= render partial: 'admin/panel/partials/client_form'%>
    </div>
  </div>
</div>