<%= form_tag api_v2_user_client_registration_path(format: :html), method: :post do %>
<div class="row">
  <div class="col-md-12">
    <div class="card card-border-color card-border-color-primary">
      <div class="card-header card-header-divider">Add Client Form
        <span class="card-subtitle">You can create client here</span>
      </div>
      <div class="card-body">
        <form>
          <div class="form-group pt-2">
            <label for="inputFirstName">First Name</label>
            <input class="form-control" name="name" id="inputFirstName" type="text" placeholder="Enter First Name">
          </div>
          <div class="form-group pt-2">
            <label for="inputLastName">Last Name</label>
            <input class="form-control" name="last_name" id="inputLastName" type="text" placeholder="Enter Last Name">
          </div>
          <div class="form-group pt-2">
            <label for="inputEmail">Email address</label>
            <input class="form-control" name="email" id="inputEmail" type="email" placeholder="Enter email">
          </div>
          <div class="form-group pt-2">
            <label for="inputPhoneNumber">Phone number</label>
            <input class="form-control" name="phone_number" id="inputPhoneNumber" type="text" placeholder="Enter Phone Number">
            <input type="hidden" name="platform" value="ADMIN"> <!-- TODO platform ADMIN вынести как ностанту-->
          </div>
          <div class="row pt-3">
            <div class="col-lg-6 pb-4 pb-lg-0">
              <label class="be-checkbox custom-control custom-checkbox">
                <!-- <input class="custom-control-input" type="checkbox"><span class="custom-control-label"></span> -->
              </label>
            </div>
            <div class="col-sm-6">
              <p class="text-right">
                <button class="btn btn-space btn-primary " type="submit">Submit</button>
                <button class="btn btn-space modal-close" type="button" data-dismiss="modal">Cancel</button>
              </p>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<%end%>