<div class="modal-container colored-header colored-header-primary modal-effect-10" id="client-info-modal">
  <div class="modal-content">
    <div class="modal-header modal-header-colored">
      <h3 class="modal-title">Client information</h3>
      <button class="close modal-close" type="button" data-dismiss="modal" aria-hidden="true">
        <span class="mdi mdi-close"> </span>
      </button>
    </div>
    <div class="modal-body">
      <div class="user-profile">
        <div class="row">
          <div class="col-lg-10">
            <div class="user-info-list card">
              <div class="card-body">
                <% if @client.present? %>
                  <table class="no-border no-strip skills">
                    <tbody class="no-border-x no-border-y">
                    <tr>
                      <td class="icon"><span class="mdi mdi-case"></span></td>
                      <td class="item">Email<span class="icon s7-portfolio"></span></td>
                      <td><%= @client.email%></td>
                    </tr>
                    <tr>
                      <td class="icon"><span class="mdi mdi-cake"></span></td>
                      <td class="item">Name<span class="icon s7-gift"></span></td>
                      <td><%= @client.name%></td>
                    </tr>
                    <tr>
                      <td class="icon"><span class="mdi mdi-cake"></span></td>
                      <td class="item">Birthday<span class="icon s7-gift"></span></td>
                      <td><%= @client.b_day%></td>
                    </tr>
                    <tr>
                      <td class="icon"><span class="mdi mdi-cake"></span></td>
                      <td class="item">Phone number<span class="icon s7-gift"></span></td>
                      <td><%= @client.phone_number%></td>
                    </tr>
                    <tr>
                      <td class="icon"><span class="mdi mdi-cake"></span></td>
                      <td class="item">Type<span class="icon s7-gift"></span></td>
                      <td><%= @client.corp ? 'Corporative' : 'Individual' %></td>
                    </tr>
                    <tr>
                      <td class="icon"><span class="mdi mdi-cake"></span></td>
                      <td class="item">Address<span class="icon s7-gift"></span></td>
                      <td><%= @client.address %></td>
                    </tr>
                    <% if @client.corp? %>
                      <tr>
                        <td class="icon"><span class="mdi mdi-cake"></span></td>
                        <td class="item">Corp discount<span class="icon s7-gift"></span></td>
                        <td><%= "-#{@client.corp_discount}%" %></td>
                      </tr>
                      <% if @client.corp_information.present?%>
                        <tr>
                          <td class="icon"><span class="mdi mdi-cake"></span></td>
                          <td class="item">Company position<span class="icon s7-gift"></span></td>
                          <td><%= @client.corp_information.position_in_company %></td>
                        </tr>
                        <tr>
                          <td class="icon"><span class="mdi mdi-cake"></span></td>
                          <td class="item">Company name<span class="icon s7-gift"></span></td>
                          <td><%= @client.corp_information.name_in_company %></td>
                      <% end%>
                      </tr>
                    <% end %>
                    <tr>
                      <td class="item" colspan="2"><a href="<%= admin_panel_client_path(@client) %>" target="_blank">More info</a></td>
                      <td class="item"></td>
                    </tr>
                    <!--TODO добавить Feedback from Client, Orders see the History, List of cards -->
                    </tbody>
                  </table>
                <% end %>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>