<div class="modal-container colored-header colored-header-primary modal-effect-10" id="event-click">
  <div class="modal-content">
    <div class="modal-header modal-header-colored">
      <h3 class="modal-title">Work day</h3>
      <button class="close modal-close" type="button" data-dismiss="modal" aria-hidden="true">
        <span class="mdi mdi-close"> </span>
      </button>
    </div>
    <div class="modal-body">
      <%= form_tag admin_panel_pro_work_hours_path(@pro.id), method: :post, remote: true do %>
        <div class="row">
          <div class="col-md-12">
            <div class="card card-border-color card-border-color-primary">
              <div class="card-header card-header-divider">Add work day</div>
              <div class="card-body">
                <form>
                  <div class="form-group pt-2">
                    <div class="form-group pt-2">
                      <label for="inputEmail">Start day</label>
                      <select class="select2" name="start_day">
                        <% ProInformation::HOURS.each do |item| %>
                          <option value="<%= item %>"><%= item %></option>
                        <% end %>
                      </select>
                    </div>
                  </div>
                  <div class="form-group pt-2">
                    <div class="form-group pt-2">
                      <label for="inputEmail">End day</label>
                      <select class="select2" name="end_day">
                        <% ProInformation::HOURS.each do |item| %>
                          <option value="<%= item %>"><%= item %></option>
                        <% end %>
                      </select>
                    </div>
                  </div>
                  <div class="form-group pt-2">
                    <div class="form-group pt-2">
                      <label for="inputEmail">Days of week</label>
                      <select class="select2" name="day">
                        <option value="0">Monday</option>
                        <option value="1">Tuesday</option>
                        <option value="2">Wednesday</option>
                        <option value="3">Thursday</option>
                        <option value="4">Friday</option>
                        <option value="5">Saturday</option>
                        <option value="6">Sunday</option>
                      </select>
                    </div>
                  </div>
                  <div class="row pt-3">
                    <div class="col-lg-6 pb-4 pb-lg-0">
                      <label class="be-checkbox custom-control custom-checkbox">
                      </label>
                    </div>
                    <div class="col-sm-6">
                      <p class="text-right">
                        <button class="btn btn-space btn-primary " type="submit">Submit</button>
                        <button class="btn btn-space modal-close" type="button" data-dismiss="modal">Cancel</button>
                      </p>
                    </div>
                  </div>
                  <input class="form-control" name="order_id" id="order_id" type="hidden">
                </form>
              </div>
            </div>
          </div>
        </div>
      <%end%>
    </div>
  </div>
</div>