<% if flash['error'].present? %>
  $.gritter.add({
    title: 'Error',
    text: "<%= flash['error']%>",
    class_name: 'color danger'
  });
<% end %>

<% if flash['success'].present? %>
  $.gritter.add({
    title: 'Success',
    text: "<%= flash['success']%>",
    class_name: 'color success'
  });
<% end %>

<% if flash['notice'].present? %>
  $.gritter.add({
    title: 'Success',
    text: "<%= flash['notice']%>",
    class_name: 'color success'
  });
<% end %>