<div class="modal-container colored-header colored-header-primary modal-effect-10" id="orders_calendar">
  <div class="modal-content">
    <div class="modal-header modal-header-colored">
      <h3 class="modal-title">Choose date and time</h3>
      <button class="close modal-close" type="button" data-dismiss="modal" aria-hidden="true" id="close_modal">
        <span class="mdi mdi-close"> </span>
      </button>
    </div>
    <div class="modal-body">
      <div class="card-body">
        <table class="table table-sm table-hover table-bordered table-striped date_table" cellspacing="0" cellpadding="0">
          <thead>
            <th colspan="2" style="text-align: center; cursor: pointer;" class="previous_month"><</th>
            <th colspan="3" class="calendar_title" style="text-align: center; cursor: pointer;"></th>
            <th colspan="2" style="text-align: center; cursor: pointer;" class="next_month">></th>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<%= content_for :javascript do %>
  <script type="text/javascript">
    $(document).on('click', '.previous_month', function(){
      previousMonth();
    });

    $(document).on('click', '.next_month', function(){
      nextMonth();
    });

    $(document).on('click', '.previous_day', function(){
      previousDay();
    });

    $(document).on('click', '.next_day', function(){
      nextDay();
    });

    $(document).on('click', '.day', function(){
      dayNumber = $(this).text();
      drawHoursForDay(dayNumber);
    });

    $(document).on('click', '.hour', function(){
      timeNumber = $(this).text();
      saveTimeNumber(timeNumber);
      $('#close_modal').click();
//      drawMinsForHour(timeNumber);
    });

    $(document).on('click', '.min', function(){
      timeNumber = $(this).text();
      saveTimeNumber(timeNumber);
      $('#close_modal').click();
    });

    $(document).on('click', '.title_mins', function(){
      dayNumber = currentDay.format('D');
      drawHoursForDay(dayNumber);
    });

    $(document).on('click', '.title_hours', function(){
      currentDate = currentDay;
      $('.date_table > thead').empty();
      emptyTable();
      $tableHead = $('.date_table').find('thead');
      headStr = '<th colspan="2" style="text-align: center; cursor: pointer;" class="previous_month"><</th>' +
        '<th colspan="3" class="calendar_title" style="text-align: center; cursor: pointer;"></th>' +
        '<th colspan="2" style="text-align: center; cursor: pointer;" class="next_month">></th>';
      $tableHead.append(headStr);
      drawWeekDays();
      drawMonthDays(generateSheet(generateDaysList()));
    });

    var currentDate = moment();
    var currentDay;
    var timetables;
    var schedule;
    var hours;
    drawWeekDays();
    drawMonthDays(generateSheet(generateDaysList()));

    function nextMonth(){
      currentDate = currentDate.add(1, 'months');
      $('.calendar_title').text(moment(currentDate).format('MMMM') + ' ' + moment(currentDate).format('YYYY'));
      emptyTable();
      drawMonthDays(generateSheet(generateDaysList()));
    }

    function previousMonth(){
      currentDate = currentDate.subtract(1, 'months');
      $('.calendar_title').text(moment(currentDate).format('MMMM') + ' ' + moment(currentDate).format('YYYY'));
      emptyTable();
      drawMonthDays(generateSheet(generateDaysList()));
    }

    function nextDay(){
      currentDay = currentDay.add(1, 'days');
      currentDate = currentDay;
      drawHoursForDay(currentDay.format('D'));
    }

    function previousDay(){
      currentDay = currentDay.subtract(1, 'days');
      currentDate = currentDay;
      drawHoursForDay(currentDay.format('D'));
    }

    function drawWeekDays(){
      var weekDays = ['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa'];
      str = '<tr>';
      weekDays.forEach(function(day){
        str += '<th style="text-align:center">' + day + '</th>'
      });
      str += '</tr>';
      $('.date_table').find('thead').append(str);
      $('.calendar_title').text(moment(currentDate).format('MMMM') + ' ' + moment(currentDate).format('YYYY'))
    }

    function generateSheet(daysList){
      var weekDays = 'sun mon tue wed thu fri sat'.split(' ');
      match = weekDays.indexOf(daysList[0].format('ddd').toLowerCase());
      var start = 0;
      var end = 27;
      var list = [];
      for (start; start <= end; start++) {
        if (start === match) {
          list = list.concat(daysList);
          start = (daysList.length - 1) + match;
        } else {
          list.push(undefined);
        }
      }
      return list;
    }

    function generateDaysList(){
      var currentDay = 1;
      var lastDay = currentDate.daysInMonth();
      var list = [];
      while (currentDay <= lastDay) {
        var date = moment(currentDate).date(currentDay);
        list.push(date);
        currentDay++;
      }
      return list;
    }

    function drawMonthDays(daysList){
      var i = 1;
      var list = '<tr>';
      $table_body = $('.date_table').find('tbody');
      daysList.forEach(function(day){
        day == undefined ? list += '<td class="day"></td>' : list += '<td class="day">' + moment(day).format('D') + '</td>'
        if(i % 7 == 0){
          list += '</tr>';
          if(daysList.indexOf(day) != (daysList.length - 1)) list += '<tr>';
        }else{
          if(daysList.indexOf(day) == (daysList.length - 1)) list += '</tr>';
        }
        i++;
      }); 
      $table_body.append(list);
    }

    function emptyTable(){
      $('.date_table > tbody').empty();
    }

    function drawHoursForDay(day){
      currentDay = moment(currentDate).date(day);
      if((currentDay >= moment()) ){
        $('.date_table > thead').empty();
        emptyTable();
        getDaysSchedule(currentDay.format('DD-MM-YYYY'), '12:00');
      }
    }

    function drawHours(hours){
      $tableHead = $('.date_table').find('thead');
      headStr = '<th colspan="2" style="text-align: center; cursor: pointer;" class="previous_day"><</th>' +
        '<th colspan="3" class="calendar_title title_hours" style="text-align: center; cursor: pointer;">' + currentDay.format("DD MMMM YYYY") +  '</th>' +
        '<th colspan="2" style="text-align: center; cursor: pointer;" class="next_day">></th>';
      $tableBody = $('.date_table').find('tbody');
      $tableHead.append(headStr);
      var i = 1;
      var hoursList = '<tr>';
      if(hours){
        if(hours.length > 0){
          hours.forEach(function(hour){
            hour.available == false ? hoursList += '<td class="hour disabled_time">' + hour.time + '</td>' : hoursList += '<td class="hour" data-dismiss="modal">' + hour.time + '</td>';
            if(i % 7 == 0){
              hoursList += '</tr>';
              if(hours.indexOf(hour) != (hours.length - 1)) hoursList += '<tr>';
            }else{
              if(hours.indexOf(hour) == (hours.length - 1)) hoursList += '</tr>';
            }
            i++;
          });
        }else{
          hoursList += '<td class="hour disabled_time" style="color: red; text-align: center" colspan="7">This day is not available for service</td></tr>'
        }
      }

      $tableBody.append(hoursList);
    }

    function drawMinsForHour(hourNumber){
      $('.date_table > thead').empty();
      emptyTable();
      var i = 1;
      hour = hourNumber.split(':')[0];
      $tableBody = $('.date_table').find('tbody');
      $tableHead = $('.date_table').find('thead');
      minsList = '<tr>';
      headStr = '<th style="text-align: center; cursor: pointer;" class="previous_day"><</th>' +
        '<th class="calendar_title title_mins" style="text-align: center; cursor: pointer;">' + currentDay.format('DD MMMM YYYY') +  '</th>' +
        '<th style="text-align: center; cursor: pointer;" class="next_day">></th>';
      if(timetables){
        schedule = timetables.data[currentDay.format('dddd')];
        if(schedule.length > 0){
          mins = schedule.filter(function(item){ return item.time.split(':')[0] == hour.trim() });
          mins.forEach(function(min){
            min.available == false ? minsList += '<td class="min disabled_time">' + min.time + '</td>' : minsList += '<td class="min modal-close" data-dismiss="modal">' + min.time + '</td>';
            if(i % 7 == 0){
              minsList += '</tr>';
              if(mins.indexOf(min) != (mins.length - 1)) minsList += '<tr>';
            }else{
              if(mins.indexOf(min) == (mins.length - 1)) minsList += '</tr>';
            }
            i++;
          });
        }else{
          mins = [ { time: hour + ':00', available: false}, { time: hour + ':30', available: false }];
          minsList += '<td></td><td class="min disabled_time" style="color: red">This day is not available for service</td><td></td></tr>'
        }
      }
      $tableHead.append(headStr);
      $tableBody.append(minsList);
    }

    function saveTimeNumber(timeNumber){
      hour   = Number.parseInt(timeNumber.split(':')[0]);
      minute = Number.parseInt(timeNumber.split(':')[1]);
      currentDay.set({hour: hour, minute: minute});
      $('#order_item_order_time').val(currentDay.format('DD-MM-YYYY - HH:mm'));
    }

    function getDaysSchedule(day, hourMinutes){
      $.ajax({
        url: '/api/v3/timetables',
        type: 'GET',
        dataType: 'json',
        data: {
          'date': day,
          'hour_minutes': hourMinutes
        },
        success: function(data){
          drawHours(data.data[currentDay.format('dddd')])
        },
        error: function(request, error){
          console.log(error);
        }
      })
    }
  </script>
<% end %>
