<div class="modal fade" id="order_images" tabindex="-1" role="dialog">
  <div class="modal-dialog full-width">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" type="button" data-dismiss="modal" aria-hidden="true"><span class="mdi mdi-close"></span></button>
      </div>
      <div class="modal-body">
        <div class="text-center">
          <div class="mt-8">
            <%= @order.images.inject("") {|links, data| links += image_tag(image_path(data), class: 'after_work') }.html_safe  + tag(:br)%>
            <br>
            <button class="btn btn-space btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <button class="btn btn-space btn-primary" type="button" data-dismiss="modal">Proceed</button>
          </div>
        </div>
      </div>
      <div class="modal-footer"></div>
    </div>
  </div>
</div>