<div class="modal-container colored-header colored-header-primary modal-effect-10" id="reassign-master">
  <div class="modal-content">
    <div class="modal-header modal-header-colored">
      <h3 class="modal-title">Reassign valefyer</h3>
      <button class="close modal-close" type="button" data-dismiss="modal" aria-hidden="true">
        <span class="mdi mdi-close"> </span>
      </button>
    </div>
    <div class="modal-body">
      <%= form_tag admin_panel_reassing_pro_path, method: :post do %>
        <div class="row">
          <div class="col-md-12">
            <div class="card card-border-color card-border-color-primary">
              <div class="card-header card-header-divider">Reassign valefyer</div>
              <div class="card-body">
                <form>
                  <div class="form-group pt-2">
                    <label for="inputFirstName">Client</label>
                    <input class="form-control" name="clientName" id="clientName" type="text" disabled>
                  </div>
                  <div class="form-group pt-2">
                    <label for="inputFirstName">Address</label>
                    <input class="form-control" name="address" id="address" type="text" disabled>
                  </div>
                  <div class="form-group pt-2">
                    <label for="inputFirstName">Order time</label>
                    <input class="form-control" name="order_time" id="order_time" type="text" disabled>
                  </div>
                  <div class="form-group pt-2">
                    <label for="inputFirstName">Status</label>
                    <input class="form-control" name="status" id="status" type="text" disabled>
                  </div>
                  <div class="form-group pt-2">
                    <div class="form-group pt-2">
                      <select class="select2 master_id" id="master_id" name="master_id">
                      </select>
                    </div>
                  </div>
                  <div class="user-profile">
                    <div class="row">
                      <div class="col-lg-12">
                        <div class="user-info-list card">
                          <div class="card-header card-header-divider">Selected valefyers info
                            <span class="card-subtitle"></span>
                          </div>
                          <div class="card-body">
                            <table class="no-border no-strip skills" id="pro_info">
                              <tbody class="no-border-x no-border-y">
                                <tr>
                                  <td class="icon"><span class="mdi mdi-account-box"></span></td>
                                  <td class="item">Email<span class="icon s7-portfolio"></span></td>
                                  <td id="pro_info_email"></td>
                                </tr>
                                <tr>
                                  <td class="icon"><span class="mdi mdi-account-box"></span></td>
                                  <td class="item">Phone number<span class="icon s7-gift"></span></td>
                                  <td id="pro_info_phone_number"></td>
                                </tr>
                                <tr>
                                  <td class="icon"><span class="mdi mdi-check"></span></td>
                                  <td class="item">Profile<span class="icon s7-gift"></span></td>
                                  <td class="pro_info_profile">
                                    <a href="#" id="pro_info_profile" target="_blank">Ссылка</a>
                                  </td>
                                </tr>
                                <tr>
                                  <td class="icon"><span class="mdi mdi-check"></span></td>
                                  <td class="item">Current busy orders count<span class="icon s7-gift"></span></td>
                                  <td id="pro_info_busy_order_count"></td>
                                </tr>
                                <tr>
                                  <td class="icon"><span class="mdi mdi-check"></span></td>
                                  <td class="item">The time of the nearest order<span class="icon s7-gift"></span></td>
                                  <td id="pro_info_order_time"></td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>

                    </div>

                  </div>
                  <div class="row pt-3">
                    <div class="col-lg-6 pb-4 pb-lg-0">
                      <a href='#' class="reassign_order_info">More info about order</a>
                      <label class="be-checkbox custom-control custom-checkbox">
                      </label>
                    </div>
                    <div class="col-sm-6">
                      <p class="text-right">
                        <button class="btn btn-space btn-primary " type="submit">Submit</button>
                        <button class="btn btn-space modal-close" type="button" data-dismiss="modal">Cancel</button>
                      </p>
                    </div>
                  </div>
                  <input class="form-control" name="order_id" id="order_id" type="hidden">
                </form>
              </div>
            </div>
          </div>
        </div>
      <%end%>
    </div>
  </div>
</div>