<div class="be-left-sidebar">
  <div class="left-sidebar-wrapper">
    <a class="left-sidebar-toggle" href="#">Dashboard</a>
    <div class="left-sidebar-spacer">
      <div class="left-sidebar-scroll">
        <div class="left-sidebar-content">
          <ul class="sidebar-elements">
            <li class="divider">Menu</li>
            <li class="<%= sidebar_item_active(admin_panel_path) %>">
              <a href="<%= admin_panel_path %>">
                <i class="icon mdi mdi-home"></i>
                <span>Dashboard</span>
              </a>
            </li>
            <% if current_admin_user.access_items.include?('OrderItem') %>
              <li class="parent">
                <a href="index.html">
                  <i class="icon mdi mdi-layers"></i>
                  <span>Orders</span>
                </a>
                <ul class="sub-menu">
                  <li class="<%= sidebar_item_active(admin_panel_order_items_path) %>">
                    <a href="<%= admin_panel_order_items_path %>">List</a>
                  </li>
                  <li class="<%= sidebar_item_active(new_admin_panel_order_item_path) %>">
                    <a href="<%= new_admin_panel_order_item_path %>">Create</a>
                  </li>
                </ul>
              </li>
            <% end %>
            <% if current_admin_user.access_items.include?('Team') %>
              <li class="parent">
                <a href="index.html">
                  <i class="icon mdi mdi-layers"></i>
                  <span>Teams</span>
                </a>
                <ul class="sub-menu">
                  <li class="<%=sidebar_item_active(admin_panel_teams_path)%>" >
                    <a href="<%= admin_panel_teams_path %>">List</a>
                  </li>
                  <li class="<%=sidebar_item_active(new_admin_panel_team_path)%>">
                    <a href="<%= new_admin_panel_team_path %>">Create</a>
                  </li>
                </ul>
              </li>
            <% end %>

            <% if current_admin_user.access_items.include?('Company') %>
              <% if current_admin_user.admin? %>
                <li class="parent">
                  <a href="#">
                    <i class="icon mdi mdi-layers"></i>
                    <span>Companies</span>
                  </a>
                  <ul class="sub-menu">
                    <li class="<%= sidebar_item_active(admin_panel_companies_path)%>">
                      <a href="<%= admin_panel_companies_path %>">List</a>
                    </li>
                    <li class="<%=sidebar_item_active(new_admin_panel_company_path)%>">
                      <a href="<%= new_admin_panel_company_path %>">Create</a>
                    </li>
                  </ul>
                </li>
              <% end %>
              <% if current_admin_user.company? %>
                <li class="child">
                  <a href="<%= admin_panel_company_path(current_admin_user.company.id) %>">
                    <i class="icon mdi mdi-layers"></i>
                    <span>My company</span>
                  </a>
                </li>
              <% end %>
            <% end %>
            <% if current_admin_user.access_items.include?('User') %>
              <li class="parent">
                <a href="#">
                  <i class="icon mdi mdi-layers"></i>
                  <span>Valefyers</span>
                </a>
                <ul class="sub-menu">
                  <li class="<%=sidebar_item_active(admin_panel_pros_path)%>">
                    <a href="<%= admin_panel_pros_path %>">All</a>
                  </li>
                  <li class="<%=sidebar_item_active(admin_panel_pros_path(is_mobile: true))%>">
                    <a href="<%= admin_panel_pros_path(is_mobile: true) %>">Mobile</a>
                  </li>
                  <li class="<%=sidebar_item_active(admin_panel_pros_path(is_mobile: false))%>">
                    <a href="<%= admin_panel_pros_path(is_mobile: false) %>">Static</a>
                  </li>
                  <li class="<%=sidebar_item_active(new_admin_panel_pro_path)%>">
                    <a href="<%= new_admin_panel_pro_path %>">Create</a>
                  </li>
                </ul>
              </li>
            <% end %>
            <% if current_admin_user.access_items.include?('Transport') %>
              <li class="parent">
                <a href="#">
                  <i class="icon mdi mdi-layers"></i>
                  <span>Transports</span>
                </a>
                <ul class="sub-menu">
                  <li class="<%=sidebar_item_active(admin_panel_transports_path)%>">
                    <a href="<%= admin_panel_transports_path %>">All</a>
                  </li>
                  <li class="<%=sidebar_item_active(new_admin_panel_transport_path)%>">
                    <a href="<%= new_admin_panel_transport_path %>">Create</a>
                  </li>
                </ul>
              </li>
            <% end %>
            <% if current_admin_user.access_items.include?('CompanyLocation') %>
              <li class="parent">
                <a href="#">
                  <i class="icon mdi mdi-layers"></i>
                  <span>Stations</span>
                </a>
                <ul class="sub-menu">
                  <li class="<%=sidebar_item_active(admin_panel_stations_path)%>">
                    <a href="<%= admin_panel_stations_path %>">List</a>
                  </li>
                  <li class="<%=sidebar_item_active(new_admin_panel_station_path)%>">
                    <a href="<%= new_admin_panel_station_path %>">Create</a>
                  </li>
                  <li class="<%=sidebar_item_active(new_admin_panel_station_path)%>">
                    <a href="<%= dashboard_admin_panel_stations_path %>">Dashboard</a>
                  </li>
                </ul>
              </li>
            <% end %>
            <% if current_admin_user.access_items.include?('GiftCard') %>
              <li class="parent">
                <a href="#">
                  <i class="icon mdi mdi-layers"></i>
                  <span>Gift vouchers</span>
                </a>
                <ul class="sub-menu">
                  <li class="<%=sidebar_item_active(admin_panel_gift_cards_path)%>">
                    <a href="<%= admin_panel_gift_cards_path %>">List</a>
                  </li>
                </ul>
              </li>
            <% end %>

            <% if current_admin_user.access_items.include?('User') %>
              <li class="parent">
                <a href="#">
                  <i class="icon mdi mdi-layers"></i>
                  <span>Clients</span>
                </a>
                <ul class="sub-menu">
                  <li class="<%=sidebar_item_active(admin_panel_clients_path)%>">
                    <a href="<%= admin_panel_clients_path %>">List</a>
                  </li>
                  <li class="<%=sidebar_item_active(new_admin_panel_client_path(form: :business))%>">
                    <a href="<%= new_admin_panel_client_path(form: :business) %>">Create business client</a>
                  </li>
                  <li class="<%=sidebar_item_active(new_admin_panel_client_path)%>">
                    <a href="<%= new_admin_panel_client_path %>">Create client</a>
                  </li>
                </ul>
              </li>
            <% end %>
            <% if current_admin_user.access_items.include?('PromoCode') %>
              <li class="parent">
                <a href="#">
                  <i class="icon mdi mdi-layers"></i>
                  <span>Promo codes</span>
                </a>
                <ul class="sub-menu">
                  <li class="<%=sidebar_item_active(admin_panel_promo_codes_path)%>">
                    <a href="<%= admin_panel_promo_codes_path %>">List</a>
                  </li>
                  <li class="<%=sidebar_item_active(new_admin_panel_promo_code_path)%>">
                    <a href="<%= new_admin_panel_promo_code_path %>">Create</a>
                  </li>
                </ul>
              </li>
            <% end %>
            <li class="parent">
                <a href="#">
                  <i class="icon mdi mdi-layers"></i>
                  <span>Referals</span>
                </a>
                <ul class="sub-menu">
                  <li class="<%=sidebar_item_active(admin_panel_referals_path)%>">
                    <a href="<%= admin_panel_referals_path %>">List</a>
                  </li>
                </ul>
              </li>
            <% if current_admin_user.access_items.include?('Faq') %>
              <li class="parent"><a href="#"><i class="icon mdi mdi-layers"></i><span>Client FAQ</span></a>
                <ul class="sub-menu">
                  <li class="<%=sidebar_item_active(admin_panel_faq_clients_path)%>">
                    <a href="<%= admin_panel_faq_clients_path %>">List</a>
                  </li>
                  <li class="<%=sidebar_item_active(new_admin_panel_faq_client_path)%>">
                    <a href="<%= new_admin_panel_faq_client_path %>">Create</a>
                  </li>
                </ul>
              </li>
              <li class="parent"><a href="#"><i class="icon mdi mdi-layers"></i><span>Valefyer FAQ</span></a>
                <ul class="sub-menu">
                  <li class="<%=sidebar_item_active(admin_panel_faq_pros_path)%>">
                    <a href="<%= admin_panel_faq_pros_path %>">List</a>
                  </li>
                  <li class="<%=sidebar_item_active(new_admin_panel_faq_pro_path)%>">
                    <a href="<%= new_admin_panel_faq_pro_path %>">Create</a>
                  </li>
                </ul>
              </li>
            <% end %>

            <% if current_admin_user.access_items.include?('Category') %>
              <li class="parent"><a href="#"><i class="icon mdi mdi-layers"></i><span>Category</span></a>
                <ul class="sub-menu">
                  <li class="<%=sidebar_item_active(admin_panel_categories_path)%>">
                    <a href="<%= admin_panel_categories_path %>">List</a>
                  </li>
                  <li class="<%=sidebar_item_active(new_admin_panel_category_path)%>">
                    <a href="<%= new_admin_panel_category_path %>">Create</a>
                  </li>
                </ul>
              </li>
            <% end %>
            <% if current_admin_user.access_items.include?('Subcategory') %>
              <li class="parent"><a href="#"><i class="icon mdi mdi-layers"></i><span>Subcategory</span></a>
                <ul class="sub-menu">
                  <li class="<%=sidebar_item_active(admin_panel_subcategories_path)%>">
                    <a href="<%= admin_panel_subcategories_path %>">List</a>
                  </li>
                  <li class="<%=sidebar_item_active(new_admin_panel_subcategory_path)%>">
                    <a href="<%= new_admin_panel_subcategory_path %>">Create</a>
                  </li>
                </ul>
              </li>
            <% end %>
            <% if current_admin_user.access_items.include?('Service') %>
              <li class="parent"><a href="#"><i class="icon mdi mdi-layers"></i><span>Services</span></a>
                <ul class="sub-menu">
                  <li class="<%=sidebar_item_active(admin_panel_services_path)%>">
                    <a href="<%= admin_panel_services_path %>">List</a>
                  </li>
                  <li class="<%=sidebar_item_active(new_admin_panel_service_path)%>">
                    <a href="<%= new_admin_panel_service_path %>">Create</a>
                  </li>
                </ul>
              </li>
            <% end %>
            <% if current_admin_user.access_items.include?('Country') %>
              <li class="parent">
                <a href="#">
                  <i class="icon mdi mdi-layers"></i>
                  <span>Countries</span>
                </a>
                <ul class="sub-menu">
                  <li class="<%=sidebar_item_active(admin_panel_countries_path)%>">
                    <a href="<%= admin_panel_countries_path %>">List</a>
                  </li>
                  <li class="<%=sidebar_item_active(new_admin_panel_country_path)%>">
                    <a href="<%= new_admin_panel_country_path %>">New</a>
                  </li>
                </ul>
              </li>
            <% end %>
            <% if current_admin_user.access_items.include?('City') %>
              <li class="parent">
                <a href="#">
                  <i class="icon mdi mdi-layers"></i>
                  <span>Cities</span>
                </a>
                <ul class="sub-menu">
                  <li class="<%=sidebar_item_active(admin_panel_cities_path)%>">
                    <a href="<%= admin_panel_cities_path %>">List</a>
                  </li>
                  <li class="<%=sidebar_item_active(new_admin_panel_city_path)%>">
                    <a href="<%= new_admin_panel_city_path %>">New</a>
                  </li>
                </ul>
              </li>
            <% end %>
            <% if current_admin_user.access_items.include?('District') %>
              <li class="parent">
                <a href="#">
                  <i class="icon mdi mdi-layers"></i>
                  <span>Districts</span>
                </a>
                <ul class="sub-menu">
                  <li class="<%=sidebar_item_active(admin_panel_districts_path)%>">
                    <a href="<%= admin_panel_districts_path %>">List</a>
                  </li>
                  <li class="<%=sidebar_item_active(new_admin_panel_district_path)%>">
                    <a href="<%= new_admin_panel_district_path %>">New</a>
                  </li>
                </ul>
              </li>
            <% end %>
            <% if current_admin_user.access_items.include?('Office') %>
              <li class="parent">
                <a href="#">
                  <i class="icon mdi mdi-layers"></i>
                  <span>Offices</span>
                </a>
                <ul class="sub-menu">
                  <li class="<%=sidebar_item_active(admin_panel_offices_path)%>">
                    <a href="<%= admin_panel_offices_path %>">List</a>
                  </li>
                  <li class="<%=sidebar_item_active(new_admin_panel_office_path)%>">
                    <a href="<%= new_admin_panel_office_path %>">New</a>
                  </li>
                </ul>
              </li>
            <% end %>
            <% #if current_admin_user.access_items.include?('DemoRequest') %>
              <li class="parent">
                <a href="#">
                  <i class="icon mdi mdi-layers"></i>
                  <span>Demo requests</span>
                </a>
                <ul class="sub-menu">
                  <li class="<%=sidebar_item_active(admin_panel_demo_requests_path)%>">
                    <a href="<%= admin_panel_demo_requests_path %>">List</a>
                  </li>
                </ul>
              </li>
            <% #end %>
            <% if current_admin_user.access_items.include?('CallMe') %>
              <li class="parent">
                <a href="#">
                  <i class="icon mdi mdi-layers"></i>
                  <span>Call me</span>
                </a>
                <ul class="sub-menu">
                  <li class="<%=sidebar_item_active(admin_panel_call_mes_path)%>">
                    <a href="<%= admin_panel_call_mes_path %>">List</a>
                  </li>
                </ul>
              </li>
            <% end %>
            <% if current_admin_user.access_items.include?('DraftMaster') %>
              <li class="parent">
                <a href="#">
                  <i class="icon mdi mdi-layers"></i>
                  <span>Join Pros</span>
                </a>
                <ul class="sub-menu">
                  <li class="<%=sidebar_item_active(admin_panel_join_pros_path)%>">
                    <a href="<%= admin_panel_join_pros_path %>">List</a>
                  </li>
                </ul>
              </li>
            <% end %>
            <% if current_admin_user.access_items.include?('Device') %>
              <li class="parent">
                <a href="#">
                  <i class="icon mdi mdi-layers"></i>
                  <span>Devices</span>
                </a>
                <ul class="sub-menu">
                  <li class="<%=sidebar_item_active(admin_panel_devices_path)%>">
                    <a href="<%= admin_panel_devices_path %>">List</a>
                  </li>
                </ul>
              </li>
            <% end %>
            <% if current_admin_user.access_items.include?('ClientFeedback') %>
              <li class="parent"><a href="#"><i class="icon mdi mdi-layers"></i><span>Client feedbacks</span></a>
                <ul class="sub-menu">
                  <li class="<%=sidebar_item_active(admin_panel_client_feedbacks_path)%>">
                    <a href="<%= admin_panel_client_feedbacks_path %>">List</a>
                  </li>
                </ul>
              </li>
            <% end %>
            <!--<#% if current_admin_user.access_items.include?('MasterFeedback') %>-->
              <!--<li class="parent"><a href="#"><i class="icon mdi mdi-layers"></i><span>Valefyer feedbacks</span></a>-->
                <!--<ul class="sub-menu">-->
                  <!--<li class="<%#=sidebar_item_active(admin_panel_pro_feedbacks_path)%>">-->
                    <!--<a href="<%#= admin_panel_pro_feedbacks_path %>">List</a>-->
                  <!--</li>-->
                <!--</ul>-->
              <!--</li>-->
            <!--<%# end %>-->
            <% if current_admin_user.access_items.include?('SmsHistory') %>
              <li class="parent">
                <a href="#">
                  <i class="icon mdi mdi-layers"></i>
                  <span>SmsHistory</span>
                </a>
                <ul class="sub-menu">
                  <li>
                    <a href="<%= admin_panel_sms_histories_path %>">List</a>
                    <a href="<%= new_admin_panel_sms_history_path %>">Create</a>
                  </li>
                </ul>
              </li>
            <% end %>
            <% if current_admin_user.access_items.include?('TariffPlan') %>
              <li class="parent">
                <a href="#">
                  <i class="icon mdi mdi-layers"></i>
                  <span>Tariff plans</span>
                </a>
                <ul class="sub-menu">
                  <li>
                    <a href="<%= admin_panel_tariff_plans_path %>">List</a>
                  </li>
                  <li>
                    <a href="<%= new_admin_panel_tariff_plan_path %>">New</a>
                  </li>
                </ul>
              </li>
            <% end %>
            <% if current_admin_user.access_items.include?('TermCondition') %>
              <li class="parent">
                <a href="#">
                  <i class="icon mdi mdi-layers"></i>
                  <span>Term conditions</span>
                </a>
                <ul class="sub-menu">
                  <li>
                    <a href="<%= admin_panel_term_conditions_path %>">List</a>
                  </li>
                </ul>
              </li>
            <% end %>
            <li class="parent">
              <a href="#">
                <i class="icon mdi mdi-layers"></i>
                <span>Metrics</span>
              </a>
              <ul class="sub-menu">
                <li class="<%=sidebar_item_active(bussiness_admin_metrics_clients_path)%>">
                  <a href="<%= bussiness_admin_metrics_clients_path %>">Corporative clients</a>
                </li>
                <li class="<%=sidebar_item_active(not_bussiness_admin_metrics_clients_path)%>">
                  <a href="<%= not_bussiness_admin_metrics_clients_path %>">Private clients</a>
                </li>
                <li class="<%=sidebar_item_active(admin_metrics_pros_path)%>">
                  <a href="<%= admin_metrics_pros_path %>">Valefyers</a>
                </li>
                <li class="<%=sidebar_item_active(admin_metrics_districts_path)%>">
                  <a href="<%= admin_metrics_districts_path %>">Districts</a>
                </li>
              </ul>
            </li>
            <li class="divider">Features</li>
            <% if current_admin_user.admin? %>
              <li class="parent">
                <a href="#">
                  <i class="icon mdi mdi-layers"></i>
                  <span>Admin Users</span>
                </a>
                <ul class="sub-menu">
                  <li class="<%=sidebar_item_active(admin_panel_admin_users_path)%>">
                    <a href="<%= admin_panel_admin_users_path %>">List</a>
                  </li>
                  <li class="<%=sidebar_item_active(new_admin_panel_admin_user_path)%>">
                    <a href="<%= new_admin_panel_admin_user_path %>">Create</a>
                  </li>
                </ul>
              </li>
              <li class="parent">
                <a href="#">
                  <i class="icon mdi mdi-inbox"></i>
                  <span>Settings</span>
                </a>
                <ul class="sub-menu">
                  <li class="<%=sidebar_item_active(admin_panel_settings_path)%>">
                    <a href="<%= admin_panel_settings_path %>">App</a>
                  </li>
                </ul>
              </li>
              <li class="parent">
                <a href="#">
                  <i class="icon mdi mdi-layers"></i>
                  <span>Email texts</span>
                </a>
                <ul class="sub-menu">
                  <li class="<%=sidebar_item_active(admin_panel_email_texts_path)%>">
                    <a href="<%= admin_panel_email_texts_path %>">List</a>
                  </li>
                  <li class="<%=sidebar_item_active(new_admin_panel_email_text_path)%>">
                    <a href="<%= new_admin_panel_email_text_path %>">Create</a>
                  </li>
                </ul>
              </li>
              <li class="parent">
                <a href="#">
                  <i class="icon mdi mdi-layers"></i>
                  <span>Banners</span>
                </a>
                <ul class="sub-menu">
                  <li class="<%=sidebar_item_active(admin_panel_banners_path)%>">
                    <a href="<%= admin_panel_banners_path %>">List</a>
                  </li>
                  <li class="<%=sidebar_item_active(new_admin_panel_banner_path)%>">
                    <a href="<%= new_admin_panel_banner_path %>">New</a>
                  </li>
                </ul>
              </li>
            <% end %>

          </ul>
        </div>
      </div>
    </div>
    <div class="progress-widget">
      <div class="progress-data">
        <span class="progress-value">60%</span>
        <span class="name">Current Project</span>
      </div>
      <div class="progress">
        <div class="progress-bar progress-bar-primary" style="width: 60%;"></div>
      </div>
    </div>
  </div>
</div>