<style>
  .my-input {
    padding: 10px;
    border: 1px solid #ccc;
  }
</style>

<form action="<%= admin_panel_add_cards_path%>" method="post" id="add-card-form">
  <div>
    <label>Card</label>
    <!-- Using the same "my-input" class on the -->
    <!-- regular input above and on this container. -->
    <div class="my-input" id="card-element"></div>
  </div>
  <input type="hidden" id="stripe_token">
  <br>
  <input type="submit" class="btn btn-primary modal-close" value="Submit Card">
</form>