<div class="be-wrapper be-fixed-sidebar">
  <%= render partial: 'admin/panel/partials/header' %>

  <%= render partial: 'admin/panel/partials/sidebar' %>

  <div class="be-content">
    <div class="page-head">
      <h2 class="page-head-title">Faqs Pro</h2>
      <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb page-head-nav">
          <li class="breadcrumb-item"><a href="<%= admin_panel_path %>">Home</a></li>
          <li class="breadcrumb-item"><a href="<%= admin_panel_path %>">Faqs</a></li>
          <li class="breadcrumb-item"><a href="<%= admin_panel_faq_pros_path %>">Pro</a></li>
          <li class="breadcrumb-item active">List</li>
        </ol>
      </nav>
    </div>
    <div class="main-content container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card card-table">
            <%= form_tag admin_panel_faq_pros_path, method: :get, id: 'faq_pro_filters_form' do %>
              <div class="row table-filters-container">
                <div class="col-4 col-lg-4 table-filters pb-0 pb-xl-4 filter_blocks">
                  <div class="row">
                    <div class="col-12 col-lg-12 table-filters pb-0 pb-xl-5" style="padding-top: 0; padding-bottom: 0 !important;"><span class="table-filter-title title_filter">Question</span>
                      <div class="filter-container">
                        <label class="control-label">Find by question:</label>
                        <div class="row">
                          <div class="col-6">
                            <%= select_tag :question_filter, options_for_select(get_filter_options, params[:question_filter]), { class: 'select2 select2-hidden-accessible question_filter' } %>
                          </div>
                          <div class="col-6">
                            <%= text_field_tag :question, params[:question], class: 'form-control form-control-sm question' %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-4 col-lg-4 table-filters pb-0 pb-xl-4 filter_blocks">
                  <div class="row">
                    <div class="col-12 col-lg-12 table-filters pb-0 pb-xl-5" style="padding-top: 0; padding-bottom: 0 !important;"><span class="table-filter-title title_filter">Answer</span>
                      <div class="filter-container">
                        <label class="control-label">Find by answer:</label>
                        <div class="row">
                          <div class="col-6">
                            <%= select_tag :answer_filter, options_for_select(get_filter_options, params[:answer_filter]), { class: 'select2 select2-hidden-accessible answer_filter' } %>
                          </div>
                          <div class="col-6">
                            <%= text_field_tag(:answer, params[:answer], class: 'form-control form-control-sm content answer') %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-lg-12 table-filters pb-0 pb-xl-4 filter_buttons">
                  <div class="row">
                    <div class="col-12 col-lg-12 table-filters filter_blocks">
                      <div class="filter-container">
                        <%= submit_tag('Filter', type: 'submit', class: 'btn btn-space btn-primary') %>
                        <%= submit_tag('Reset', type: 'cancel', class: 'btn btn-space btn-secondary reset_faq_pro_filters') %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
            <div class="card-body">
              <div class="noSwipe">
                <table class="table table-striped table-hover be-table-responsive" id="table1">
                  <thead>
                  <tr>
                    <th>
                      <label class="custom-control custom-control-sm custom-checkbox">
                        <input class="custom-control-input" type="checkbox"><span class="custom-control-label"></span>
                      </label>
                    </th>
                    <th>Id</th>
                    <th>Question</th>
                    <th>Answer</th>
                  </tr>
                  </thead>
                  <tbody>
                  <% @faq_pros.each do |faq_client| %>
                    <tr class="success done">
                      <td>
                        <label class="custom-control custom-control-sm custom-checkbox">
                          <input class="custom-control-input" type="checkbox"><span class="custom-control-label"></span>
                        </label>
                      </td>
                      <td class="cell-detail">
                        <span><a href="<%= admin_panel_faq_pro_path(faq_client.id) %>"><%= faq_client.id %></a></span>
                      </td>
                      <td class="cell-detail">
                        <span><%= faq_client.question %></span>
                      </td>
                      <td class="cell-detail">
                        <span><%= faq_client.answer %></span>
                      </td>
                      <td class="text-right">
                        <div class="btn-group btn-hspace">
                          <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">Actions
                            <span class="icon-dropdown mdi mdi-chevron-down"></span></button>
                          <div class="dropdown-menu" role="menu">
                            <a class="dropdown-item" href="<%= admin_panel_faq_pro_path(faq_client) %>">Show</a>
                            <a class="dropdown-item" href="<%= edit_admin_panel_faq_pro_path(faq_client) %>">Edit</a>
                            <a class="dropdown-item" href="<%= admin_panel_faq_pro_path(faq_client) %>" data-method="delete" data-confirm="Are you sure?">Delete</a>
                          </div>
                        </div>
                      </td>
                    </tr>
                  <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= render partial: 'admin/panel/partials/navigation_bar' %>
</div>
<%= content_for :javascript do %>
  <script type="text/javascript">
    App.init();
    App.formElements();
    stop_preloader();

    $('.reset_faq_pro_filters').on('click', function(){
      $('#faq_pro_filters_form')[0].reset();
      window.location.href = '/admin/panel/faq_pros'
    });
    <%= render partial: 'admin/panel/partials/flash_msg' %>
  </script>
<% end %>