//= require activeadmin_addons/all
// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!

@import "active_admin/mixins";
@import "active_admin/base";
@import "wigu/active_admin_theme";
//= require activeadmin-sortable

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//

.index_table tr.late_green {
  td {
    background: #98e28a !important;
  }
}

.index_table tr.late_yellow {
  td {
    background: #dde83b !important;
  }
}

.index_table tr.late_red {
  td {
    background: #f9e2e2 !important;
  }
}

.size_icon {
  height: 10px;
  width: 10px;
}

.color_green {
  color: green;
}

.color_red {
  color: red;
}

.clicked {
  background: #926565;
  color: #f7dede;
}

.chart_title {
  text-align: center;
  font-size: 25px;
}

.timetable_active_orders {
  background-color: #469f49;
  text-align: center;
  font-size: 15px;
}

.timetable_completed_orders {
  background-color: #808080;
  text-align: center;
  font-size: 15px;
}

.timetable_available_orders {
  background-color: #6ca5c2;
  text-align: center;
  font-size: 15px;
}

.hide {
  display: none;
}

.after_work {
  width: 200px;
  height: 300px;
}

.margin_bottom {
  margin-bottom: 15px;
}

// body {
//   overflow: hidden;
// }


/* Preloader */
//
// #preloader {
//   position: fixed;
//   top: 0;
//   left: 0;
//   right: 0;
//   bottom: 0;
//   background-color: #fff;
//   /* change if the mask should have another color then white */
//   z-index: 99;
//   /* makes sure it stays on top */
// }
//
// #status {
//   width: 200px;
//   height: 200px;
//   position: absolute;
//   left: 50%;
//   /* centers the loading animation horizontally one the screen */
//   top: 50%;
//   /* centers the loading animation vertically one the screen */
//   background-image: url(https://raw.githubusercontent.com/niklausgerber/PreLoadMe/master/img/status.gif);
//   /* path to your loading animation */
//   background-repeat: no-repeat;
//   background-position: center;
//   margin: -100px 0 0 -100px;
//   /* is width and height divided by two */
// }
