<table class="index_table index">
  <header>
    <tr>
      <th>Card</th>
      <th>Actions</th>
    </tr>
  </header>
   <% @cards.each_with_index do |e, index| %>
     <% if index%2 == 0 %>
       <tr class="odd">
         <% if index.zero? %>
          <td><strong><%= "#{e.brand}: #{e.last4} - default" %></strong></td>
         <% else %>
          <td><%= "#{e.brand}: #{e.last4}" %></td>
         <% end %>
         <td class="col col-actions">
           <div class="table_actions">
             <a class="delete_link member_link" data-confirm="Are you sure you want to delete this?" rel="nofollow" data-method="delete" href="<%= remove_card_admin_user_clients_path("#{@client.id},#{e.id}") %>">Delete</a>
           </div>
         </td>
       </tr>
     <% else %>
       <tr class="even">
         <td><%= "#{e.brand}: #{e.last4}" %></td>
       </tr>
     <% end %>
   <% end %>
</table>
