<div class="be-wrapper be-fixed-sidebar">
  <%= render partial: 'admin/panel/partials/header' %>

  <%= render partial: 'admin/panel/partials/sidebar' %>

  <div class="be-content">
    <div class="page-head">
      <h2 class="page-head-title">Corporative clients</h2>
    </div>
    <div class="main-content container-fluid">
      <div class="row">
        <div class="col-12 col-lg-6 col-xl-3">
          <div class="widget widget-tile">
            <div class="chart sparkline" id="spark1"></div>
            <div class="data-info">
              <div class="desc">New Users <br> for the last month</div>
              <div class="value">
                <span class="indicator indicator-equal mdi mdi-chevron-right"></span>
                <span class="number" data-toggle="counter" data-end="<%= @users_count %>">0</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-6 col-xl-3">
          <div class="widget widget-tile">
            <div class="chart sparkline" id="spark2"></div>
            <div class="data-info">
              <div class="desc">New orders <br> for the last month</div>
              <div class="value">
                <span class="indicator indicator-positive mdi mdi-chevron-up"></span>
                <span class="number" data-toggle="counter" data-end="<%= @orders_count %>" data-suffix="">0</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="widget widget-fullwidth be-loading">
            <div class="widget-head">
              <div class="tools">
                <div class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown">
                    <span class="icon mdi mdi-more-vert d-inline-block d-md-none"></span>
                  </a>
                  <div class="dropdown-menu" role="menu">
                    <a class="dropdown-item range" href="#">Yesterday</a>
                    <a class="dropdown-item range" href="#">Last 7 Days</a>
                    <a class="dropdown-item range" href="#">Last 30 Days</a>
                    <a class="dropdown-item range" href="#">All time</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item range" href="#">Today</a>
                  </div>
                </div>
                <span class="icon mdi mdi-chevron-down"></span>
                <span class="icon toggle-loading mdi mdi-refresh-sync"></span>
                <span class="icon mdi mdi-close"></span>
              </div>
              <div class="button-toolbar d-none d-md-block">
                <div class="btn-group">
                  <button class="btn btn-secondary range" type="button">Yesterday</button>
                  <button class="btn btn-secondary range" type="button">Today</button>
                  <button class="btn btn-secondary active range" type="button">Last 7 Days</button>
                  <button class="btn btn-secondary range" type="button">Last 30 Days</button>
                </div>
              </div>
              <span class="title">Orders</span>
            </div>
            <div class="widget-chart-container">
              <div id="grid-1-1" class="last_n_days">
                <canvas id="lineChart"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
      <input type="hidden" name="range" id="range_hidden">
      <div class="row">
        <div class="col-md-6">
          <div class="widget widget-fullwidth be-loading">
            <div class="widget-head">
              <div class="tools">
                <span class="icon mdi mdi-chevron-down"></span>
                <span class="icon mdi mdi-refresh-sync"></span>
                <span class="icon mdi mdi-close"></span>
              </div>
              <div class="button-toolbar d-none d-md-block" style="margin-bottom: 10px;">
                <div class="btn-group">
                  <button class="btn btn-secondary orders_by_platform_range" type="button">Yesterday</button>
                  <button class="btn btn-secondary orders_by_platform_range" type="button">Today</button>
                  <button class="btn btn-secondary active orders_by_platform_range" type="button">Last 7 Days</button>
                  <button class="btn btn-secondary orders_by_platform_range" type="button">Last 30 Days</button>
                  <button class="btn btn-secondary orders_by_platform_range" type="button">All time</button>
                </div>
              </div>
              <span class="title">Created order by platform %</span>
            </div>
            <div class="widget-chart-container">
              <div id="grid-1-1" class="last_n_days">
                <canvas id="barOrderByPlatform"></canvas>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="widget widget-fullwidth be-loading">
            <div class="widget-head">
              <div class="tools">
                <span class="icon mdi mdi-chevron-down"></span>
                <span class="icon mdi mdi-refresh-sync"></span>
                <span class="icon mdi mdi-close"></span>
              </div>
              <div class="button-toolbar d-none d-md-block" style="margin-bottom: 10px;">
                <div class="btn-group">
                  <button class="btn btn-secondary clients_by_type_range" type="button">Yesterday</button>
                  <button class="btn btn-secondary clients_by_type_range" type="button">Today</button>
                  <button class="btn btn-secondary active clients_by_type_range" type="button">Last 7 Days</button>
                  <button class="btn btn-secondary clients_by_type_range" type="button">Last 30 Days</button>
                  <button class="btn btn-secondary clients_by_type_range" type="button">All time</button>
                </div>
              </div>
              <span class="title">Number of clients grouped by type</span>
            </div>
            <div class="widget-chart-container">
              <div id="grid-1-1" class="last_n_days">
                <canvas id="barClientsByType"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="card">
            <div class="card-header card-header-divider">
              <div class="tools">
                <span class="icon mdi mdi-chevron-down"></span>
                <span class="icon mdi mdi-refresh-sync"></span>
                <span class="icon mdi mdi-close"></span>
              </div>
              <div class="button-toolbar d-none d-md-block" style="margin-bottom: 10px;">
                <div class="btn-group">
                  <button class="btn btn-secondary category_range" type="button">Yesterday</button>
                  <button class="btn btn-secondary category_range" type="button">Today</button>
                  <button class="btn btn-secondary active category_range" type="button">Last 7 Days</button>
                  <button class="btn btn-secondary category_range" type="button">Last 30 Days</button>
                  <button class="btn btn-secondary category_range" type="button">All time</button>
                </div>
              </div>
              <span class="title">What % of  shares each category</span>
            </div>
            <div class="card-body">
              <canvas id="pieChartCategory" height="70%" width="100%"></canvas>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card">
            <div class="card-header card-header-divider">
              <div class="tools">
                <span class="icon mdi mdi-chevron-down"></span>
                <span class="icon mdi mdi-refresh-sync"></span>
                <span class="icon mdi mdi-close"></span>
              </div>
              <div class="button-toolbar d-none d-md-block" style="margin-bottom: 10px;">
                <div class="btn-group">
                  <button class="btn btn-secondary average_cheque_range" type="button">Yesterday</button>
                  <button class="btn btn-secondary average_cheque_range" type="button">Today</button>
                  <button class="btn btn-secondary active average_cheque_range" type="button">Last 7 Days</button>
                  <button class="btn btn-secondary average_cheque_range" type="button">Last 30 Days</button>
                  <button class="btn btn-secondary average_cheque_range" type="button">All time</button>
                </div>
              </div>
              <span class="title">Average € cheque per category</span>
            </div>
            <div class="card-body">
              <canvas id="pieChartCheque" height="70%" width="100%"></canvas>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card">
            <div class="card-header card-header-divider">
              <div class="tools">
                <span class="icon mdi mdi-chevron-down"></span>
                <span class="icon mdi mdi-refresh-sync"></span>
                <span class="icon mdi mdi-close"></span>
              </div>
              <div class="button-toolbar d-none d-md-block" style="margin-bottom: 10px;">
                <div class="btn-group">
                  <button class="btn btn-secondary orders_number_range" type="button">Yesterday</button>
                  <button class="btn btn-secondary orders_number_range" type="button">Today</button>
                  <button class="btn btn-secondary active orders_number_range" type="button">Last 7 Days</button>
                  <button class="btn btn-secondary orders_number_range" type="button">Last 30 Days</button>
                  <button class="btn btn-secondary orders_number_range" type="button">All time</button>
                </div>
              </div>
              <span class="title">Number of orders made by clients grouped by their type</span>
            </div>
            <div class="card-body">
              <canvas id="numberOrdersByClientsType" height="70%" width="100%"></canvas>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card">
            <div class="card-header card-header-divider">
              <div class="tools">
                <span class="icon mdi mdi-chevron-down"></span>
                <span class="icon mdi mdi-refresh-sync"></span>
                <span class="icon mdi mdi-close"></span>
              </div>
              <div class="button-toolbar d-none d-md-block" style="margin-bottom: 10px;">
                <div class="btn-group">
                  <button class="btn btn-secondary client_retention_range" type="button">Yesterday</button>
                  <button class="btn btn-secondary client_retention_range" type="button">Today</button>
                  <button class="btn btn-secondary active client_retention_range" type="button">Last 7 Days</button>
                  <button class="btn btn-secondary client_retention_range" type="button">Last 30 Days</button>
                  <button class="btn btn-secondary client_retention_range" type="button">All time</button>
                </div>
              </div>
              <span class="title">Client retention value %</span>
            </div>
            <div class="card-body">
              <canvas id="pieChartClientRetention" height="70%" width="100%"></canvas>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card">
            <div class="card-header card-header-divider">
              <div class="tools">
                <span class="icon mdi mdi-chevron-down"></span>
                <span class="icon mdi mdi-refresh-sync"></span>
                <span class="icon mdi mdi-close"></span>
              </div>
              <div class="button-toolbar d-none d-md-block" style="margin-bottom: 10px;">
                <div class="btn-group">
                  <button class="btn btn-secondary orders_period_range" type="button">Yesterday</button>
                  <button class="btn btn-secondary orders_period_range" type="button">Today</button>
                  <button class="btn btn-secondary active orders_period_range" type="button">Last 7 Days</button>
                  <button class="btn btn-secondary orders_period_range" type="button">Last 30 Days</button>
                  <button class="btn btn-secondary orders_period_range" type="button">All time</button>
                </div>
              </div>
              <span class="title">Orders by dayly period %</span>
            </div>
            <div class="card-body">
              <canvas id="pieChartOrderPeriods" height="70%" width="100%"></canvas>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card">
            <div class="card-header card-header-divider">
              <div class="tools">
                <span class="icon mdi mdi-chevron-down"></span>
                <span class="icon mdi mdi-refresh-sync"></span>
                <span class="icon mdi mdi-close"></span>
              </div>
              <div class="button-toolbar d-none d-md-block" style="margin-bottom: 10px;">
                <div class="btn-group">
                  <button class="btn btn-secondary orders_frequency_range" type="button">Yesterday</button>
                  <button class="btn btn-secondary orders_frequency_range" type="button">Today</button>
                  <button class="btn btn-secondary active orders_frequency_range" type="button">Last 7 Days</button>
                  <button class="btn btn-secondary orders_frequency_range" type="button">Last 30 Days</button>
                  <button class="btn btn-secondary orders_frequency_range" type="button">All time</button>
                </div>
              </div>
              <span class="title">Order's frequency</span>
            </div>
            <div class="card-body">
              <canvas id="pieChartOrdersFrequency" height="70%" width="100%"></canvas>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card">
            <div class="card-header card-header-divider">
              <div class="tools">
                <span class="icon mdi mdi-chevron-down"></span>
                <span class="icon mdi mdi-refresh-sync"></span>
                <span class="icon mdi mdi-close"></span>
              </div>
              <div class="button-toolbar d-none d-md-block" style="margin-bottom: 10px;">
                <div class="btn-group">
                  <button class="btn btn-secondary small_large_cars_range" type="button">Yesterday</button>
                  <button class="btn btn-secondary small_large_cars_range" type="button">Today</button>
                  <button class="btn btn-secondary active small_large_cars_range" type="button">Last 7 Days</button>
                  <button class="btn btn-secondary small_large_cars_range" type="button">Last 30 Days</button>
                  <button class="btn btn-secondary small_large_cars_range" type="button">All time</button>
                </div>
              </div>
              <span class="title">Orders for small cars, large cars and PRAM %</span>
            </div>
            <div class="card-body">
              <canvas id="pieChartSmallLargeCars" height="70%" width="100%"></canvas>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card">
            <div class="card-header card-header-divider">
              <div class="tools">
                <span class="icon mdi mdi-chevron-down"></span>
                <span class="icon mdi mdi-refresh-sync"></span>
                <span class="icon mdi mdi-close"></span>
              </div>
              <div class="button-toolbar d-none d-md-block" style="margin-bottom: 10px;">
                <div class="btn-group">
                  <button class="btn btn-secondary profit_by_services_range" type="button">Yesterday</button>
                  <button class="btn btn-secondary profit_by_services_range" type="button">Today</button>
                  <button class="btn btn-secondary active profit_by_services_range" type="button">Last 7 Days</button>
                  <button class="btn btn-secondary profit_by_services_range" type="button">Last 30 Days</button>
                  <button class="btn btn-secondary profit_by_services_range" type="button">All time</button>
                </div>
              </div>
              <span class="title">Profit by services</span>
            </div>
            <div class="card-body">
              <canvas id="pieChartProfitByServices" height="100%" width="100%"></canvas>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card">
            <div class="card-header card-header-divider">
              <div class="tools">
                <span class="icon mdi mdi-chevron-down"></span>
                <span class="icon mdi mdi-refresh-sync"></span>
                <span class="icon mdi mdi-close"></span>
              </div>
              <div class="button-toolbar d-none d-md-block" style="margin-bottom: 10px;">
                <div class="btn-group">
                  <button class="btn btn-secondary most_ordered_service_range" type="button">Yesterday</button>
                  <button class="btn btn-secondary most_ordered_service_range" type="button">Today</button>
                  <button class="btn btn-secondary active most_ordered_service_range" type="button">Last 7 Days</button>
                  <button class="btn btn-secondary most_ordered_service_range" type="button">Last 30 Days</button>
                  <button class="btn btn-secondary most_ordered_service_range" type="button">All time</button>
                </div>
              </div>
              <span class="title">Order's count by services</span>
            </div>
            <div class="card-body">
              <canvas id="pieChartMostOrderedService" height="100%" width="100%"></canvas>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
      </div>
    </div>
  </div>
  <nav class="be-right-sidebar">
    <div class="sb-content">
      <div class="tab-navigation">
        <ul class="nav nav-tabs nav-justified" role="tablist">
          <li class="nav-item" role="presentation">
            <a class="nav-link active" href="#tab1" aria-controls="tab1" role="tab" data-toggle="tab">Chat</a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link" href="#tab2" aria-controls="tab2" role="tab" data-toggle="tab">Todo</a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link" href="#tab3" aria-controls="tab3" role="tab" data-toggle="tab">Settings</a>
          </li>
        </ul>
      </div>
      <div class="tab-panel">
        <div class="tab-content">
          <div class="tab-pane tab-chat active" id="tab1" role="tabpanel">
            <div class="chat-contacts">
              <div class="chat-sections">
                <div class="be-scroller-chat">
                  <div class="content">
                    <h2>Recent</h2>
                    <div class="contact-list contact-list-recent">
                      <div class="user">
                        <a href="#">
                          <img src="<%= image_path 'admin/panel/avatar1.png'%>" alt="Avatar">
                          <div class="user-data">
                            <span class="status away"></span>
                            <span class="name">Claire Sassu</span>
                            <span class="message">Can you share the...</span>
                          </div>
                        </a>
                      </div>
                      <div class="user">
                        <a href="#">
                          <img src="<%= image_path 'admin/panel/avatar2.png'%>" alt="Avatar">
                          <div class="user-data">
                            <span class="status"></span>
                            <span class="name">Maggie jackson</span>
                            <span class="message">I confirmed the info.</span>
                          </div>
                        </a>
                      </div>
                      <div class="user">
                        <a href="#">
                          <img src="<%= image_path 'admin/panel/avatar3.png'%>" alt="Avatar">
                          <div class="user-data">
                            <span class="status offline"></span>
                            <span class="name">Joel King </span>
                            <span class="message">Ready for the meeti...</span>
                          </div>
                        </a>
                      </div>
                    </div>
                    <h2>Contacts</h2>
                    <div class="contact-list">
                      <div class="user">
                        <a href="#">
                          <img src="<%= image_path 'admin/panel/avatar4.png'%>" alt="Avatar">
                          <div class="user-data2">
                            <span class="status"></span>
                            <span class="name">Mike Bolthort</span>
                          </div>
                        </a>
                      </div>
                      <div class="user">
                        <a href="#">
                          <img src="<%= image_path 'admin/panel/avatar5.png'%>" alt="Avatar">
                          <div class="user-data2">
                            <span class="status"></span>
                            <span class="name">Maggie jackson</span>
                          </div>
                        </a>
                      </div>
                      <div class="user">
                        <a href="#">
                          <img src="<%= image_path 'admin/panel/avatar6.png'%>" alt="Avatar">
                          <div class="user-data2">
                            <span class="status offline"></span>
                            <span class="name">Jhon Voltemar</span>
                          </div>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="bottom-input">
                <input type="text" placeholder="Search..." name="q">
                <span class="mdi mdi-search"></span>
              </div>
            </div>
            <div class="chat-window">
              <div class="title">
                <div class="user">
                  <img src="<%= image_path 'admin/panel/avatar2.png'%>" alt="Avatar">
                  <h2>Maggie jackson</h2>
                  <span>Active 1h ago</span>
                </div>
                <span class="icon return mdi mdi-chevron-left"></span>
              </div>
              <div class="chat-messages">
                <div class="be-scroller-messages">
                  <div class="content">
                    <ul>
                      <li class="friend">
                        <div class="msg">Hello</div>
                      </li>
                      <li class="self">
                        <div class="msg">Hi, how are you?</div>
                      </li>
                      <li class="friend">
                        <div class="msg">Good, I'll need support with my pc</div>
                      </li>
                      <li class="self">
                        <div class="msg">Sure, just tell me what is going on with your computer?</div>
                      </li>
                      <li class="friend">
                        <div class="msg">I don't know it just turns off suddenly</div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="chat-input">
                <div class="input-wrapper">
                  <span class="photo mdi mdi-camera"></span>
                  <input type="text" placeholder="Message..." name="q" autocomplete="off">
                  <span class="send-msg mdi mdi-mail-send"></span>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane tab-todo" id="tab2" role="tabpanel">
            <div class="todo-container">
              <div class="todo-wrapper">
                <div class="be-scroller-todo">
                  <div class="todo-content">
                    <span class="category-title">Today</span>
                    <ul class="todo-list">
                      <li>
                        <label class="custom-checkbox custom-control custom-control-sm">
                          <span class="delete mdi mdi-delete"></span>
                          <input class="custom-control-input" type="checkbox" checked="">
                          <span class="custom-control-label">Initialize the project</span>
                        </label>
                      </li>
                      <li>
                        <label class="custom-checkbox custom-control custom-control-sm">
                          <span class="delete mdi mdi-delete"></span>
                          <input class="custom-control-input" type="checkbox">
                          <span class="custom-control-label">Create the main structure </span>
                        </label>
                      </li>
                      <li>
                        <label class="custom-checkbox custom-control custom-control-sm">
                          <span class="delete mdi mdi-delete"></span>
                          <input class="custom-control-input" type="checkbox">
                          <span class="custom-control-label">Updates changes to GitHub </span>
                        </label>
                      </li>
                    </ul>
                    <span class="category-title">Tomorrow</span>
                    <ul class="todo-list">
                      <li>
                        <label class="custom-checkbox custom-control custom-control-sm">
                          <span class="delete mdi mdi-delete"></span>
                          <input class="custom-control-input" type="checkbox">
                          <span class="custom-control-label">Initialize the project </span>
                        </label>
                      </li>
                      <li>
                        <label class="custom-checkbox custom-control custom-control-sm">
                          <span class="delete mdi mdi-delete"></span>
                          <input class="custom-control-input" type="checkbox">
                          <span class="custom-control-label">Create the main structure </span>
                        </label>
                      </li>
                      <li>
                        <label class="custom-checkbox custom-control custom-control-sm">
                          <span class="delete mdi mdi-delete"></span>
                          <input class="custom-control-input" type="checkbox">
                          <span class="custom-control-label">Updates changes to GitHub </span>
                        </label>
                      </li>
                      <li>
                        <label class="custom-checkbox custom-control custom-control-sm">
                          <span class="delete mdi mdi-delete"></span>
                          <input class="custom-control-input" type="checkbox">
                          <span class="custom-control-label" title="This task is too long to be displayed in a normal space!">This task is too long to be displayed in a normal space! </span>
                        </label>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="bottom-input">
                <input type="text" placeholder="Create new task..." name="q">
                <span class="mdi mdi-plus"></span>
              </div>
            </div>
          </div>
          <div class="tab-pane tab-settings" id="tab3" role="tabpanel">
            <div class="settings-wrapper">
              <div class="be-scroller-settings">
                <span class="category-title">General</span>
                <ul class="settings-list">
                  <li>
                    <div class="switch-button switch-button-sm">
                      <input type="checkbox" checked="" name="st1" id="st1">
                      <span>
                        <label for="st1"></label>
                      </span>
                    </div>
                    <span class="name">Available</span>
                  </li>
                  <li>
                    <div class="switch-button switch-button-sm">
                      <input type="checkbox" checked="" name="st2" id="st2">
                      <span>
                        <label for="st2"></label>
                      </span>
                    </div>
                    <span class="name">Enable notifications</span>
                  </li>
                  <li>
                    <div class="switch-button switch-button-sm">
                      <input type="checkbox" checked="" name="st3" id="st3">
                      <span>
                        <label for="st3"></label>
                      </span>
                    </div>
                    <span class="name">Login with Facebook</span>
                  </li>
                </ul>
                <span class="category-title">Notifications</span>
                <ul class="settings-list">
                  <li>
                    <div class="switch-button switch-button-sm">
                      <input type="checkbox" name="st4" id="st4">
                      <span>
                        <label for="st4"></label>
                      </span>
                    </div>
                    <span class="name">Email notifications</span>
                  </li>
                  <li>
                    <div class="switch-button switch-button-sm">
                      <input type="checkbox" checked="" name="st5" id="st5">
                      <span>
                        <label for="st5"></label>
                      </span>
                    </div>
                    <span class="name">Project updates</span>
                  </li>
                  <li>
                    <div class="switch-button switch-button-sm">
                      <input type="checkbox" checked="" name="st6" id="st6">
                      <span>
                        <label for="st6"></label>
                      </span>
                    </div>
                    <span class="name">New comments</span>
                  </li>
                  <li>
                    <div class="switch-button switch-button-sm">
                      <input type="checkbox" name="st7" id="st7">
                      <span>
                        <label for="st7"></label>
                      </span>
                    </div>
                    <span class="name">Chat messages</span>
                  </li>
                </ul>
                <span class="category-title">Workflow</span>
                <ul class="settings-list">
                  <li>
                    <div class="switch-button switch-button-sm">
                      <input type="checkbox" name="st8" id="st8">
                      <span>
                        <label for="st8"></label>
                      </span>
                    </div>
                    <span class="name">Deploy on commit</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</div>
<%= content_for :javascript do %>
    <script type="text/javascript">
        $(function() {
            $('.range').on('click', function(){
                range_key = $(this).text();
                $(this).toggleClass('active').siblings().removeClass('active');
                $.ajax({
                    url : "<%= last_n_days_path %>",
                    type : 'GET',
                    data : {
                        'range' : range_key,
                        'is_corp': true
                    },
                    dataType:'json',
                    success : function(data) {
                        createLineChart(data, "lineChart");
                    },
                    error : function(request,error)
                    {
                        console.log(error);
                    }
                });
            });

            $('.category_range').on('click', function(){
                range_key = $(this).text();
                $(this).toggleClass('active').siblings().removeClass('active');
                $.ajax({
                    url : "<%= percentage_orders_and_categories_path %>",
                    type : 'GET',
                    data : {
                        'range' : range_key,
                        'is_corp': true
                    },
                    dataType:'json',
                    success : function(data) {
                        createPieChart(data, "pieChartCategory");
                    },
                    error : function(request,error)
                    {
                        console.log(error);
                    }
                });
            });

            $('.average_cheque_range').on('click', function(){
                range_key = $(this).text();
                $(this).toggleClass('active').siblings().removeClass('active');
                $.ajax({
                    url : "<%= average_price_category_path %>",
                    type : 'GET',
                    data : {
                        'range' : range_key,
                        'is_corp': true
                    },
                    dataType:'json',
                    success : function(data) {
                        createPieChart(data, "pieChartCheque");
                    },
                    error : function(request,error)
                    {
                        console.log(error);
                    }
                });
            });

            $('.orders_number_range').on('click', function(){
                range_key = $(this).text();
                $(this).toggleClass('active').siblings().removeClass('active');
                $.ajax({
                    url : "<%= orders_by_clients_path %>",
                    type : 'GET',
                    data : {
                        'range' : range_key,
                        'is_corp': true
                    },
                    dataType:'json',
                    success : function(data) {
                        createPieChart(data, "numberOrdersByClientsType");
                    },
                    error : function(request,error)
                    {
                        console.log(error);
                    }
                });
            });

            $('.orders_by_platform_range').on('click', function(){
                range_key = $(this).text();
                $(this).toggleClass('active').siblings().removeClass('active');
                $.ajax({
                    url : "<%= created_order_by_platform_path %>",
                    type : 'GET',
                    data : {
                        'range' : range_key,
                        'is_corp': true
                    },
                    dataType:'json',
                    success : function(data) {
                        createBarChart(data, "barOrderByPlatform");
                    },
                    error : function(request,error)
                    {
                        console.log(error);
                    }
                });
            });

            $('.clients_by_type_range').on('click', function(){
                range_key = $(this).text();
                $(this).toggleClass('active').siblings().removeClass('active');
                $.ajax({
                    url : "<%= clients_by_type_path %>",
                    type : 'GET',
                    data : {
                        'range' : range_key,
                        'is_corp': true
                    },
                    dataType:'json',
                    success : function(data) {
                        createBarChart(data, "barClientsByType");
                    },
                    error : function(request,error)
                    {
                        console.log(error);
                    }
                });
            });

            $('.orders_period_range').on('click', function(){
                range_key = $(this).text();
                $(this).toggleClass('active').siblings().removeClass('active');
                $.ajax({
                    url : "<%= order_period_values_path %>",
                    type : 'GET',
                    data : {
                        'range' : range_key,
                        'is_corp': true
                    },
                    dataType:'json',
                    success : function(data) {
                        createPieChart(data, "pieChartOrderPeriods");
                    },
                    error : function(request,error)
                    {
                        console.log(error);
                    }
                });
            });

            $('.orders_frequency_range').on('click', function(){
                range_key = $(this).text();
                $(this).toggleClass('active').siblings().removeClass('active');
                $.ajax({
                    url : "<%= orders_frequency_path %>",
                    type : 'GET',
                    data : {
                        'range' : range_key,
                        'is_corp': true
                    },
                    dataType:'json',
                    success : function(data) {
                        createPieChart(data, "pieChartOrdersFrequency");
                    },
                    error : function(request,error)
                    {
                        console.log(error);
                    }
                });
            });

            $('.client_retention_range').on('click', function(){
                range_key = $(this).text();
                $(this).toggleClass('active').siblings().removeClass('active');
                $.ajax({
                    url : "<%= clients_retention_path %>",
                    type : 'GET',
                    data : {
                        'range' : range_key,
                        'is_corp': true
                    },
                    dataType:'json',
                    success : function(data) {
                        createPieChart(data, "pieChartClientRetention");
                    },
                    error : function(request,error)
                    {
                        console.log(error);
                    }
                });
            });

            $('.small_large_cars_range').on('click', function(){
                range_key = $(this).text();
                $(this).toggleClass('active').siblings().removeClass('active');
                $.ajax({
                    url : "<%= small_large_cars_percent_path %>",
                    type : 'GET',
                    data : {
                        'range' : range_key,
                        'is_corp': true
                    },
                    dataType:'json',
                    success : function(data) {
                        createPieChart(data, "pieChartSmallLargeCars");
                    },
                    error : function(request,error)
                    {
                        console.log(error);
                    }
                });
            });

            $('.profit_by_services_range').on('click', function(){
                range_key = $(this).text();
                $(this).toggleClass('active').siblings().removeClass('active');
                $.ajax({
                    url : "<%= profit_on_services_path %>",
                    type : 'GET',
                    data : {
                        'range' : range_key,
                        'is_corp': true
                    },
                    dataType:'json',
                    success : function(data) {
                        createPieChart(data, "pieChartProfitByServices");
                    },
                    error : function(request,error)
                    {
                        console.log(error);
                    }
                });
            });

            $('.most_ordered_service_range').on('click', function(){
                range_key = $(this).text();
                $(this).toggleClass('active').siblings().removeClass('active');
                $.ajax({
                    url : "<%= most_ordered_service_path %>",
                    type : 'GET',
                    data : {
                        'range' : range_key,
                        'is_corp': true
                    },
                    dataType:'json',
                    success : function(data) {
                        createPieChart(data, "pieChartMostOrderedService");
                    },
                    error : function(request,error)
                    {
                        console.log(error);
                    }
                });
            });

            createPieChart(gon.categories, "pieChartCategory");
            createPieChart(gon.average_cheque, "pieChartCheque");
            createPieChart(gon.number_of_orders_client_type, "numberOrdersByClientsType");
            createPieChart(gon.ios_android_retentions, "pieChartClientRetention");
            createPieChart(gon.order_periods, "pieChartOrderPeriods");
            createPieChart(gon.orders_frequency, "pieChartOrdersFrequency");
            createPieChart(gon.small_large_cars, "pieChartSmallLargeCars");
            createPieChart(gon.profit_on_services, "pieChartProfitByServices");
            createPieChart(gon.most_ordered_service, "pieChartMostOrderedService");
            createBarChart(gon.orders_by_platform, "barOrderByPlatform");
            createBarChart(gon.number_of_client_by_type, "barClientsByType");
            createLineChart(gon.last_n_days_order, "lineChart");
        });

        function createLineChart(lastNDaysOrder, elementId){
            var lineLabels = [];
            var lineValues = [];
            if(lastNDaysOrder){
                Object.keys(lastNDaysOrder).map(function(key, index) {
                    this.range_key == 'Today' ? lineLabels.push(moment(key).format('hh:mm A')) : lineLabels.push(moment(key).format('MMM DD'));
                    lineValues.push(lastNDaysOrder[key])
                });
            }
            var data = {
                labels: lineLabels,
                datasets: [
                    {
                        borderColor: "#0256A2",
                        pointBorderColor: "#0256A2",
                        pointBackgroundColor: "#0256A2",
                        pointHoverBackgroundColor: "#0256A2",
                        pointHoverBorderColor: "#0256A2",
                        pointBorderWidth: 5,
                        pointHoverRadius: 5,
                        pointHoverBorderWidth: 1,
                        pointRadius: 1,
                        fill: false,
                        borderWidth: 2,
                        data: lineValues
                    }
                ]
            };
            var ctx = document.getElementById(elementId).getContext("2d");
            var options = { };
            new Chart(ctx, {
                type: 'line',
                data: data,
                options: {
                    elements: {
                        line: {
                            tension: 0
                        }
                    },
                    scales: {
                        xAxes: [{
                            display: true,
                            ticks: {
                                autoSkip: true,
                                maxTicksLimit: 10,
                                stepSize: .2
                            }
                        }],
                        yAxes: [{
                            ticks: {
                                beginAtZero:true,
                                stepSize: Math.max.apply(null, lineValues) == 0 || lineValues.length == 0 ? 0.5 : ''
                            }
                        }]
                    }
                }
            });
        }

        function createPieChart(data, elementId){
            var categoryLabels = [];
            var categoryValues = [];
            data.forEach(function(category){
                categoryLabels.push(category[0]);
                categoryValues.push(category[1]);
            });

            var chartData = {
                labels: categoryLabels,
                datasets: [{
                    label: "Status",
                    data: categoryValues,
                    backgroundColor: ["#097C1E", "#DE3814", "#F6B21F", "#7A069C", "#110EC2", "#0691EB", "#FEFA00", "#0E0E0C", "#263300", "#ef8a8c", "#3B0B39", "#A9E2F3", "#FF0000", "#787372", "#05C135"]
                }]
            };

            var ctx = document.getElementById(elementId);
            var chartInstance = new Chart(ctx, {
                type: 'pie',
                data: chartData,
                options: {
                    title: {
                        display: true,
                        fontsize: 14
                    },
                    legend: {
                        display: true,
                        position: 'bottom',
                        labels: {
                            generateLabels: function(chart) {
                                var data = chart.data;
                                if (data.labels.length && data.datasets.length) {
                                    return data.labels.map(function(label, i) {
                                        var meta = chart.getDatasetMeta(0);
                                        var ds = data.datasets[0];
                                        var arc = meta.data[i];
                                        var custom = arc && arc.custom || {};
                                        var getValueAtIndexOrDefault = Chart.helpers.getValueAtIndexOrDefault;
                                        var arcOpts = chart.options.elements.arc;
                                        var fill = custom.backgroundColor ? custom.backgroundColor : getValueAtIndexOrDefault(ds.backgroundColor, i, arcOpts.backgroundColor);
                                        var stroke = custom.borderColor ? custom.borderColor : getValueAtIndexOrDefault(ds.borderColor, i, arcOpts.borderColor);
                                        var bw = custom.borderWidth ? custom.borderWidth : getValueAtIndexOrDefault(ds.borderWidth, i, arcOpts.borderWidth);
                                        // We get the value of the current label
                                        var value = chart.config.data.datasets[arc._datasetIndex].data[arc._index];
                                        return {
                                            // Instead of `text: label,`
                                            // We add the value to the string
                                            text: label + " : " + value,
                                            fillStyle: fill,
                                            strokeStyle: stroke,
                                            lineWidth: bw,
                                            hidden: isNaN(ds.data[i]) || meta.data[i].hidden,
                                            index: i
                                        };
                                    });
                                } else {
                                    return [];
                                }
                            }
                        }
                    }
                }
            });
        }

        function createBarChart(data, elementId){
            var ctx = document.getElementById(elementId);
            var barLabels = [];
            var barValues = [];
            data.forEach(function(item){
                barLabels.push(item[0]);
                barValues.push(item[1]);
            });
            var barData = {
                labels: barLabels,
                datasets: [
                    {
                        label: "Value",
                        data: barValues,
                        backgroundColor: [
                            "rgba(121,150,232,0.5)",
                            "rgba(121,150,232,0.5)",
                            "rgba(121,150,232,0.5)",
                            "rgba(121,150,232,0.5)",
                            "rgba(121,150,232,0.5)"
                        ],
                        borderColor: [
                            "rgba(7,82,182,0.5)",
                            "rgba(7,82,182,0.5)",
                            "rgba(7,82,182,0.5)",
                            "rgba(7,82,182,0.5)",
                            "rgba(7,82,182,0.5)"
                        ],
                        borderWidth: 2
                    }
                ]
            };

            //options
            var options = {
                title: {
                    display: false
                },
                responsive: true,
                scales: {
                    yAxes: [{
                        ticks: {
                            min: 0,
                            display: true
                        },
                        xAxes: [{
                            ticks: {
                                display: true //this will remove only the label
                            }
                        }]
                    }]
                }
            };

            //create Chart class object
            var chart = new Chart(ctx, {
                type: "bar",
                data: barData,
                options: options
            });
        }

        $(document).ready(function () {
            App.init();
            App.dashboard();
        });
        stop_preloader();
    </script>
<% end %>