<div class="be-wrapper be-fixed-sidebar">
  <%= render partial: 'admin/panel/partials/header' %>

  <%= render partial: 'admin/panel/partials/sidebar' %>

  <div class="be-content">
    <div class="page-head">
      <h2 class="page-head-title">Clients</h2>
      <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb page-head-nav">
          <li class="breadcrumb-item"><a href="<%= admin_panel_path %>">Home</a></li>
          <li class="breadcrumb-item"><a href="">Calls</a></li>
          <li class="breadcrumb-item active">List</li>
        </ol>
      </nav>
    </div>
    <div class="main-content container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card card-table">
            <div class="card-body">
              <div class="noSwipe">
                <table class="table table-striped table-hover be-table-responsive" id="table1">
                  <thead>
                    <tr>
                      <th>
                        <label class="custom-control custom-control-sm custom-checkbox">
                          <input class="custom-control-input" type="checkbox"><span class="custom-control-label"></span>
                        </label>
                      </th>
                      <th>Id</th>
                      <th>Client</th>
                      <th>Feedback</th>
                      <th>Date</th>
                      <th>Phone number</th>
                      <th>Order's ID</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @calls.each do |call| %>
                      <tr class="success done">
                        <td>
                          <label class="custom-control custom-control-sm custom-checkbox">
                            <input class="custom-control-input" type="checkbox"><span class="custom-control-label"></span>
                          </label>
                        </td>
                        <td class="cell-detail"><span><a href="<%= admin_panel_call_me_path(call.id) %>">
                              <%= call.id %></a></span><span class="cell-detail-description"></span></td>
                        <td class="cell-detail"><span>
                            <%= call.try(:client_feedback).try(:client).try(:name) %></span><span class="cell-detail-description"></span></td>
                        <td class="cell-detail" data-project="Bootstrap"><span>
                            <%= call.try(:client_feedback).try(:comment) %></span><span class="cell-detail-description"></span></td>
                        <td class="cell-detail" data-project="Bootstrap"><span>
                            <%= call.created_at %></span><span class="cell-detail-description"></span></td>
                        <td class="cell-detail" data-project="Bootstrap">
                          <span>
                            <% if call.client_feedback.present? %>
                              <% if call.client_feedback.client.present? %>
                                <%= call.client_feedback.client.phone_number %>
                              <% end %>
                            <% end %>
                          </span><span class="cell-detail-description"></span>
                        </td>
                        <td class="cell-detail" data-project="Bootstrap"><span>
                            <%= call.try(:client_feedback).try(:order_item).try(:id) %></span><span class="cell-detail-description"></span></td>
                        <td class="text-right">
                          <div class="btn-group btn-hspace">
                            <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">Actions
                              <span class="icon-dropdown mdi mdi-chevron-down"></span></button>
                            <div class="dropdown-menu" role="menu">
                              <a class="dropdown-item" href="<%= admin_panel_call_me_path(call.id) %>">Show</a>
                            </div>
                          </div>
                        </td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5"></div>
        <div class="col-md-7">
          <div class="card" style="float: right">
            <div class="card-header"></div>
            <div class="card-body">
              <%= paginate @calls %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= render partial: 'admin/panel/partials/navigation_bar' %>
</div>
<%= content_for :javascript do %>
<script type="text/javascript">
  App.init();
  App.formElements();
  // App.tableFilters();
  stop_preloader();
</script>
<% end %>