<div class="be-wrapper be-fixed-sidebar">
  <%= render partial: 'admin/panel/partials/header' %>

  <%= render partial: 'admin/panel/partials/sidebar' %>

  <div class="be-content">
    <div class="page-head">
      <h2 class="page-head-title">Clients</h2>
      <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb page-head-nav">
          <li class="breadcrumb-item"><a href="<%= admin_panel_path %>">Home</a></li>
          <li class="breadcrumb-item"><a href="<%= admin_panel_call_mes_path %>">Callmes</a></li>
          <li class="breadcrumb-item active">Show</li>
        </ol>
      </nav>
    </div>
    <div class="main-content container-fluid">
      <div class="user-profile">
        <div class="row">
          <div class="col-lg-10">
            <div class="user-info-list card">
              <div class="card-header card-header-divider">Callme
                <span class="card-subtitle"></span>
              </div>
              <div class="card-body">
                <table class="no-border no-strip skills">
                  <tbody class="no-border-x no-border-y">
                    <tr>
                      <td class="icon"><span class="mdi mdi-case"></span></td>
                      <td class="item">ID<span class="icon s7-portfolio"></span></td>
                      <td>
                        <%= @call.id %>
                      </td>
                    </tr>
                    <tr>
                      <td class="icon"><span class="mdi mdi-cake"></span></td>
                      <td class="item">Feedback<span class="icon s7-gift"></span></td>
                      <td>
                        <%= @call.try(:client_feedback).try(:comment)%>
                      </td>
                    </tr>
                    <tr>
                      <td class="icon"><span class="mdi mdi-cake"></span></td>
                      <td class="item">Phone number<span class="icon s7-gift"></span></td>
                      <td>
                        <%= @call.try(:client_feedback).try(:client).try(:phone_number)  %>
                      </td>
                    </tr>
                    <tr>
                      <td class="icon"><span class="mdi mdi-cake"></span></td>
                      <td class="item">Client<span class="icon s7-gift"></span></td>
                      <td>
                        <%= link_to @call.try(:client_feedback).try(:client).try(:name), admin_panel_client_path(id: @call.try(:client_feedback).try(:client).try(:id)) if @call.try(:client_feedback).try(:client).present? %>
                      </td>
                    </tr>
                    <tr>
                      <td class="icon"><span class="mdi mdi-cake"></span></td>
                      <td class="item">Order<span class="icon s7-gift"></span></td>
                      <td>
                        <%= link_to @call.try(:client_feedback).try(:order_item).try(:id), admin_panel_order_item_path(id: @call.try(:client_feedback).try(:order_item).try(:id)) if @call.try(:client_feedback).try(:order_item).present? %>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
  <%= render partial: 'admin/panel/partials/navigation_bar' %>
</div>
<%= content_for :javascript do %>
<script type="text/javascript">
  App.init();
  App.formElements();
  // App.tableFilters();
  stop_preloader();
</script>
<% end %>