<div class=""><a href="<%= admin_dashboard_path(q: :last_7_days) %>">Last 7 days</a></div>
<div class=""><a href="<%= admin_dashboard_path(q: :month) %>">Month</a></div>
<div class=""><a href="<%= admin_dashboard_path(q: :last_one_hour) %>">Last one hour</a></div>
<div class=""><a href="<%= admin_dashboard_path(q: :year) %>">Year</a></div>
<div class=""><a href="<%= admin_dashboard_path(q: :week) %>">Week</a></div>

<% if params[:q].eql?('last_7_days') %>
  <%= render 'admin/dashboard/last_7_days' %>
<% elsif params[:q].eql?('month') %>
  <%= render 'admin/dashboard/month' %>
<% elsif params[:q].eql?('last_one_hour') %>
  <%= render 'admin/dashboard/last_one_hour' %>
<% elsif params[:q].eql?('year') %>
  <%= render 'admin/dashboard/year' %>
<% elsif params[:q].eql?('week') %>
  <%= render 'admin/dashboard/week' %>
<% end %>
