<div class="be-wrapper be-fixed-sidebar">
  <%= render partial: 'admin/panel/partials/header' %>

  <%= render partial: 'admin/panel/partials/sidebar' %>

  <div class="be-content">
    <div class="page-head">
      <h2 class="page-head-title">Teams</h2>
      <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb page-head-nav">
          <li class="breadcrumb-item"><a href="<%= admin_panel_path %>">Home</a></li>
          <li class="breadcrumb-item"><a href="<%= admin_panel_teams_path %>">Teams</a></li>
          <li class="breadcrumb-item active">Edit</li>
        </ol>
      </nav>
    </div>
    <div class="main-content container-fluid">
      <div class="card card-border-color card-border-color-primary">
        <div class="card-header card-header-divider">Contract form<span class="card-subtitle">Form for create contract</span></div>
        <div class="card-body">
          <%= form_for @team, url: admin_panel_team_path, method: :put do |f| %>

          <div class="form-group row">
            <label class="col-12 col-sm-3 col-form-label text-sm-right" for="inputEmail">Count vehicles</label>
            <div class="col-12 col-sm-7 col-md-5 col-lg-4 col-xl-3">
              <%= f.text_field :title, class: 'form-control' %>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-12 col-sm-3 col-form-label text-sm-right">Masters</label>
            <div class="col-12 col-sm-7 col-md-5 col-lg-4 col-xl-3">
              <input type="hidden" name="team[master_ids][]">
              <% User::ServiceMan.all.each do |master| %>
                <% if @team.master_ids.include?(master.id) %>
                  <label class="custom-control custom-checkbox">
                    <input class="custom-control-input" name="team[master_ids][]" value="<%= master.id%>" type="checkbox" checked><span class="custom-control-label"><%= master.name%></span>
                  </label>
                <% else %>
                  <label class="custom-control custom-checkbox">
                    <input class="custom-control-input" name="team[master_ids][]" value="<%= master.id%>" type="checkbox"><span class="custom-control-label"><%= master.name%></span>
                  </label>
                <% end %>
              <% end %>
            </div>
          </div>

          <div class="row pt-3 mt-1">
            <div class="col-12 col-sm-7 col-md-5 col-lg-4 col-xl-3">
              <label class="be-checkbox custom-control custom-checkbox">
              </label>
            </div>
            <div class="col-sm-6">
              <p class="text-right">
                <button class="btn btn-space btn-primary" type="submit">Save</button>
              </p>
            </div>
          </div>
          <%end %>
        </div>
      </div>
    </div>
  </div>
  <%= render partial: 'admin/panel/partials/navigation_bar' %>
</div>
<%= content_for :javascript do %>
<script type="text/javascript">
  App.init();
  App.formElements();

  $(document).on('click', '.remove_record', function (event) {
    $(this).prev('input[type=hidden]').val('1');
    $(this).closest('.office_block').hide();
    return event.preventDefault();
  });

  $(document).on('click', '.add_fields', function (event) {
    var regexp, time;
    time = new Date().getTime();
    regexp = new RegExp($(this).data('id'), 'g');
    $('#contract_dates').append($(this).data('fields').replace(regexp, time));
    return event.preventDefault();
  });

  stop_preloader();

  <%= render partial: 'admin/panel/partials/flash_msg' %>
</script>
<% end %>