<div class="be-wrapper be-fixed-sidebar">
  <%= render partial: 'admin/panel/partials/header' %>

  <%= render partial: 'admin/panel/partials/sidebar' %>

  <div class="be-content">
    <div class="page-head">
      <h2 class="page-head-title">Contract</h2>
      <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb page-head-nav">
          <li class="breadcrumb-item"><a href="<%= admin_panel_path %>">Home</a></li>
          <li class="breadcrumb-item"><a href="<%= admin_panel_teams_path %>">Teams</a></li>
          <li class="breadcrumb-item active">Create</li>
        </ol>
      </nav>
    </div>
    <div class="main-content container-fluid">
      <div class="card card-border-color card-border-color-primary">
        <div class="card-header card-header-divider">Contract form<span class="card-subtitle">Form for create contract</span></div>
        <div class="card-body">
          <%= form_for @team, url: admin_panel_teams_path, method: :post do |f| %>

          <div class="form-group row">
            <label class="col-12 col-sm-3 col-form-label text-sm-right" for="inputEmail">Count vehicles</label>
            <div class="col-12 col-sm-7 col-md-5 col-lg-4 col-xl-3">
              <%= f.text_field :title, class: 'form-control' %>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-12 col-sm-3 col-form-label text-sm-right">Masters</label>
            <div class="col-12 col-sm-7 col-md-5 col-lg-4 col-xl-3">
              <input type="hidden" name="team[master_ids][]">
                <% User::ServiceMan.all.each do |master| %>
                  <label class="custom-control custom-checkbox">
                    <input class="custom-control-input" name="team[master_ids][]" value="<%= master.id%>" type="checkbox"><span
                      class="custom-control-label">
                      <%= master.name%></span>
                  </label>
                <% end %>
            </div>
          </div>

          <div class="row pt-3 mt-1">
            <div class="col-12 col-sm-7 col-md-5 col-lg-4 col-xl-3">
              <label class="be-checkbox custom-control custom-checkbox">
              </label>
            </div>
            <div class="col-sm-6">
              <p class="text-right">
                <button class="btn btn-space btn-primary" type="submit">Save</button>
              </p>
            </div>
          </div>
          <%end %>
        </div>
      </div>
    </div>
  </div>
  <%= render partial: 'admin/panel/partials/navigation_bar' %>
</div>
<%= content_for :javascript do %>
<script type="text/javascript">
  App.init();
  App.formElements();

  stop_preloader();

  <%= render partial: 'admin/panel/partials/flash_msg' %>
</script>
<% end %>