<%= form_tag dayly_rate_last_n_days_path, method: :get, id: 'dayly_rate_last_n_days', remote: true do %>
  <div>
    <div class="chart_title">Number of completed orders in (%)</div>
    <div class="dayly_rate_last_n_days">
      <%= line_chart dayly_rate_last_n_days_path(master_id: master.id), id: 'dayly_rate_chart', xtitle: "Date", ytitle: "Dayly rate in %" %>
    </div>
    <div>
      <button type="button" class="range">Today</button>
      <button type="button" class="range clicked">Last 7 Days</button>
      <button type="button" class="range">Last 30 Days</button>
    </div>
  </div>
  <input type="hidden" name="range" id="range_hidden">
  <input type="hidden" name="master_id" value="<%= master.id %>">
<% end %>

<script type="text/javascript">

  $(function() {

    $('.range').on('click', function(){
      $('button.range').removeClass('clicked')

      range_key = $(this).text();
      $('#range_hidden').val(range_key);
      $('#dayly_rate_last_n_days').submit();
      $(this).addClass('clicked')
    })
  });

</script>
