<%= render 'admin/shared/map' %>

<div style='width: 800px;margin:0 auto;'>
  <div id="map_client" style='width: 800px; height: 400px;'></div>
</div>

<script>

	var lat_coords = parseFloat("<%= master.locations.last.lat %>"),
			lng_coords = parseFloat("<%= master.locations.last.lon %>"),
      order_id = "<%= master.order_items.do_order.first.id %>";

      console.log(<%= raw master.locations.last.to_json %>)

	var myLatlng = { lat: lat_coords, lng: lng_coords };

	function initMapClient() {
	  // Create a map object and specify the DOM element for display.
	  var map = new google.maps.Map(document.getElementById('map_client'), {
	    center: myLatlng,
	    scrollwheel: false,
	    zoom: 16,
	    mapTypeId:google.maps.MapTypeId.ROADMAP
	  });

	  var marker = new google.maps.Marker({
	    position: myLatlng,
	    map: map
	  });

	  google.maps.event.addListener(map, 'click', function(e) {
	  	positions = { lat: e.latLng.lat(), lng: e.latLng.lng() }
	  	marker.setPosition(positions);
	  	setClientPosition(positions);
	  });

	  var infowindow = new google.maps.InfoWindow({
	    content: '<a href="/admin/order_items/'+ order_id +'">Current order id:' + order_id +'</a>'
	  });

	  google.maps.event.addListener(marker, 'click', function() {
	  	infowindow.open(map, marker);
	  });
	}

	initMapClient();
</script>
