<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="">
    <% if protect_against_forgery? %>
      <meta name="authenticity-token" id="authenticity-token" content="<%= form_authenticity_token %>" />
    <% end %>
    <title>Sortd</title>
    <%= csrf_meta_tag %>
    <%= Gon::Base.render_data %>
    <%= stylesheet_link_tag 'panel', media: 'all' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <%= yield :header %>
    <script src="https://js.stripe.com/v3/"></script>
    <%= javascript_include_tag 'metrics' %>
  </head>
  <body>
    <div class="preloader"><div class="preloader-status">&nbsp;</div></div>
    <%= yield %>
    <%= javascript_include_tag 'panel' %>
    <%= yield :javascript %>
  </body>
</html>
